openapi: 3.0.3
info:
  title: 5centsCDN - Ad Manager
  description: >
    Server-side ad insertion (SSAI) campaign management for the 5centsCDN platform.
    Covers Ad Manager projects, advertisers, campaigns, targeting, creatives, the
    ad-pod request/decision log, reports, and the lookup helpers and reference
    data used to build the other requests. All monetary fields are expressed in
    micros (divide by 1,000,000 for the currency unit). All endpoints return
    HTTP 200 regardless of outcome; inspect the `result` field (`success` or
    `error`) in the response body to determine success.
  version: "2.0.0"
  contact:
    email: help@5centscdn.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'

servers:
- url: https://api.5centscdn.com/v2
  description: 5centsCDN API Server - Production
security:
- ApiKeyAuth: []

tags:
- name: Projects
  description: Ad Manager project management, service-wide usage stats
- name: Dashboard
  description: Per-project performance summary and manual advertiser/campaign/creative sync
- name: Skip Policy
  description: Project-level ad-skip rule configuration
- name: Advertisers
  description: Advertiser management within a project
- name: Campaigns
  description: Campaign management, delivery status, and linked creatives
- name: Targeting
  description: Campaign audience and content targeting rules
- name: Creatives
  description: Creative asset management and upload
- name: Ad Pods
  description: Ad-pod request/decision log
- name: Reports
  description: Aggregate and time-series delivery reports
- name: Helpers
  description: Typeahead/autocomplete lookups used to build targeting, report, and ad-pod filters
- name: Reference Data
  description: Static reference data - currencies, timezones, IAB content taxonomy, content search

paths:

  /ad-manager:
    get:
      summary: List Projects
      description: List all Ad Manager projects on the service.
      operationId: listProjects
      tags:
      - Projects
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Operation outcome.
                    enum: [success, error]
                    example: success
                  projects:
                    type: array
                    description: Ad Manager projects on the service.
                    items:
                      $ref: '#/components/schemas/Project'
                  projects_limit:
                    type: integer
                    description: Plan-driven limit on the number of Ad Manager projects on the service.
                    example: 10
                  projects_available:
                    type: integer
                    description: Number of additional projects that may still be created before reaching `projects_limit`.
                    example: 3
    post:
      summary: Create Project
      description: Create a new Ad Manager project.
      operationId: createProject
      tags:
      - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectInput'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    project:
                      $ref: '#/components/schemas/Project'

  /ad-manager/stats:
    get:
      summary: Ad Manager Stats
      description: Service-wide project, advertiser, campaign, and creative counters plus the shared billing tenant's monthly hits, hourly throughput, and usage-this-month allowances. Backs the projects landing page stat tiles.
      operationId: getAdManagerStats
      tags:
      - Projects
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - $ref: '#/components/schemas/AdManagerStats'
                - type: object
                  properties:
                    generated_at:
                      type: string
                      format: date-time
                      example: "2026-09-21T07:41:31+00:00"

  /ad-manager/currencies:
    get:
      summary: List Currencies
      description: List selectable currencies for Ad Manager project settings.
      operationId: listCurrencies
      tags:
      - Reference Data
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    currencies:
                      type: array
                      items:
                        $ref: '#/components/schemas/CurrencyItem'

  /ad-manager/timezones:
    get:
      summary: List Timezones
      description: List selectable timezones for Ad Manager project settings, grouped by region.
      operationId: listTimezones
      tags:
      - Reference Data
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    timezones:
                      type: object
                      description: Map of region name to the list of timezone identifiers in that region.
                      additionalProperties:
                        type: array
                        items:
                          type: string
                      example:
                        America: ["America/New_York", "America/Chicago", "America/Los_Angeles"]
                        Europe: ["Europe/London", "Europe/Paris"]

  /ad-manager/iab-taxonomy:
    get:
      summary: List IAB Content Taxonomy
      description: List the IAB content category taxonomy used for campaign category, competitive category exclusion, and targeting. Returned as a flat list; use `parent_id` and `depth` to reconstruct the hierarchy.
      operationId: getIabTaxonomy
      tags:
      - Reference Data
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    taxonomy:
                      type: array
                      items:
                        $ref: '#/components/schemas/IabTaxonomyItem'

  /ad-manager/streams/search:
    get:
      summary: Search Content
      description: Search the service's streams/zones for use as Ad Manager content IDs (VAST/VMAP `content_id`, campaign content targeting).
      operationId: searchStreams
      tags:
      - Reference Data
      parameters:
      - in: query
        name: q
        schema:
          type: string
          description: Free-text search term matched against content name.
          example: sports-channel
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    streams:
                      type: array
                      items:
                        $ref: '#/components/schemas/StreamSearchItem'

  /ad-manager/{pid}:
    get:
      summary: Show Project
      description: Get a single Ad Manager project, including its settings and the saved skip policy (`settings.skip_policy`). This is the only read path for the skip policy - the skip-policy endpoint itself is write-only.
      operationId: getProject
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/pidParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    project:
                      allOf:
                      - $ref: '#/components/schemas/Project'
                      - type: object
                        properties:
                          serviceid:
                            type: integer
                            example: 103

  /ad-manager/{pid}/update:
    post:
      summary: Update Project
      description: Update an Ad Manager project's name and settings.
      operationId: updateProject
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/pidParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectInput'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    project:
                      allOf:
                      - $ref: '#/components/schemas/Project'
                      - type: object
                        properties:
                          serviceid:
                            type: integer
                            example: 103

  /ad-manager/{pid}/delete:
    post:
      summary: Delete Project
      description: Permanently delete an Ad Manager project and all of its advertisers, campaigns, and creatives.
      operationId: deleteProject
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/pidParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdManagerBaseResponse'

  /ad-manager/{pid}/skip-policy:
    post:
      summary: Save Skip Policy
      description: >
        Replace the project's ad-skip policy wholesale with the given `SkipPolicy`.
        The save is a full replace, so `rules` must always be sent - an empty
        array clears any saved rules. There is no GET counterpart; read the saved
        policy back from Show Project's `project.settings.skip_policy`.
      operationId: saveSkipPolicy
      tags:
      - Skip Policy
      parameters:
      - $ref: '#/components/parameters/pidParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - skip_policy
              properties:
                skip_policy:
                  $ref: '#/components/schemas/SkipPolicy'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    skip_policy:
                      $ref: '#/components/schemas/SkipPolicy'

  /ad-manager/{pid}/summary:
    post:
      summary: Project Summary
      description: Get the performance summary shown on the project dashboard for the given date range.
      operationId: getProjectSummary
      tags:
      - Dashboard
      parameters:
      - $ref: '#/components/parameters/pidParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  description: Start of the date range (YYYY-MM-DD).
                  example: "2026-01-01"
                to:
                  type: string
                  description: End of the date range (YYYY-MM-DD).
                  example: "2026-01-31"
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    summary:
                      type: object
                      description: Aggregate delivery metrics for the requested range. Shape mirrors the Reports `summary` object.
                      properties:
                        summary:
                          allOf:
                          - $ref: '#/components/schemas/ReportSummary'
                          - type: object
                            properties:
                              from:
                                type: string
                                format: date-time
                                example: "2026-01-01T00:00:00"
                              to:
                                type: string
                                format: date-time
                                example: "2026-01-31T00:00:00"

  /ad-manager/{pid}/sync:
    post:
      summary: Sync Project
      description: Manually re-sync the project's advertisers, campaigns, and creatives counters.
      operationId: syncProject
      tags:
      - Dashboard
      parameters:
      - $ref: '#/components/parameters/pidParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    synced:
                      type: object
                      description: Counts of records re-synced by type.
                      properties:
                        advertisers:
                          type: integer
                          example: 12
                        campaigns:
                          type: integer
                          example: 34
                        creatives:
                          type: integer
                          example: 56

  /ad-manager/{pid}/advertisers:
    get:
      summary: List Advertisers
      description: List advertisers in a project.
      operationId: listAdvertisers
      tags:
      - Advertisers
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - in: query
        name: page
        schema:
          type: integer
          description: 1-based page number.
          example: 1
      - in: query
        name: limit
        schema:
          type: integer
          description: Number of results per page.
          example: 20
      - in: query
        name: q
        schema:
          type: string
          description: Free-text search matched against advertiser name.
          example: acme
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    advertisers:
                      type: array
                      items:
                        allOf:
                        - $ref: '#/components/schemas/Advertiser'
                        - type: object
                          properties:
                            admanager_id:
                              type: integer
                              example: 1
                            metadata:
                              type: string
                              example: "[]"
                            created_at:
                              type: string
                              format: date-time
                              nullable: true
                              example: "2026-01-15T10:30:00Z"
                            updated_at:
                              type: string
                              format: date-time
                              example: "2026-09-22 04:20:46"
                            synced_at:
                              type: string
                              format: date-time
                              example: "2026-09-22 04:20:46"
                    total:
                      type: integer
                      description: Total number of advertisers matching the query, across all pages.
                      example: 42
                    page:
                      type: integer
                      example: 1
                    pages:
                      type: integer
                      example: 1
    post:
      summary: Create Advertiser
      description: Create a new advertiser in a project.
      operationId: createAdvertiser
      tags:
      - Advertisers
      parameters:
      - $ref: '#/components/parameters/pidParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvertiserInput'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    advertiser:
                      allOf:
                      - $ref: '#/components/schemas/Advertiser'
                      - type: object
                        properties:
                          metadata:
                            type: array
                            items: {}
                            example: []
                          updated_at:
                            type: string
                            format: date-time
                            example: "2026-01-15T10:30:00Z"

  /ad-manager/{pid}/advertisers/{advId}:
    get:
      summary: Show Advertiser
      description: Get a single advertiser.
      operationId: getAdvertiser
      tags:
      - Advertisers
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/advIdParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    advertiser:
                      allOf:
                      - $ref: '#/components/schemas/Advertiser'
                      - type: object
                        properties:
                          metadata:
                            type: array
                            items: {}
                            example: []
                          updated_at:
                            type: string
                            format: date-time
                            example: "2026-01-15T10:30:00Z"

  /ad-manager/{pid}/advertisers/{advId}/update:
    post:
      summary: Update Advertiser
      description: Update an advertiser's details.
      operationId: updateAdvertiser
      tags:
      - Advertisers
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/advIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvertiserInput'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    advertiser:
                      allOf:
                      - $ref: '#/components/schemas/Advertiser'
                      - type: object
                        properties:
                          metadata:
                            type: array
                            items: {}
                            example: []
                          updated_at:
                            type: string
                            format: date-time
                            example: "2026-01-15T10:30:00Z"

  /ad-manager/{pid}/advertisers/{advId}/activate:
    post:
      summary: Activate Advertiser
      description: Set an advertiser's status to active.
      operationId: activateAdvertiser
      tags:
      - Advertisers
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/advIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    advertiser:
                      allOf:
                      - $ref: '#/components/schemas/Advertiser'
                      - type: object
                        properties:
                          metadata:
                            type: array
                            items: {}
                            example: []
                          updated_at:
                            type: string
                            format: date-time
                            example: "2026-01-15T10:30:00Z"

  /ad-manager/{pid}/advertisers/{advId}/pause:
    post:
      summary: Pause Advertiser
      description: Set an advertiser's status to paused. Campaigns belonging to a paused advertiser stop delivering.
      operationId: pauseAdvertiser
      tags:
      - Advertisers
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/advIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    advertiser:
                      allOf:
                      - $ref: '#/components/schemas/Advertiser'
                      - type: object
                        properties:
                          metadata:
                            type: array
                            items: {}
                            example: []
                          updated_at:
                            type: string
                            format: date-time
                            example: "2026-01-15T10:30:00Z"

  /ad-manager/{pid}/campaigns:
    get:
      summary: List Campaigns
      description: List campaigns in a project.
      operationId: listCampaigns
      tags:
      - Campaigns
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - in: query
        name: page
        schema:
          type: integer
          example: 1
      - in: query
        name: limit
        schema:
          type: integer
          example: 20
      - in: query
        name: q
        schema:
          type: string
          description: Free-text search matched against campaign name.
          example: summer-promo
      - in: query
        name: status
        schema:
          $ref: '#/components/schemas/CampaignStatus'
      - in: query
        name: advertiser_id
        schema:
          type: string
          description: Filter to campaigns belonging to this advertiser.
          example: adv_8f2a
      - in: query
        name: campaign_type
        schema:
          $ref: '#/components/schemas/CampaignType'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    campaigns:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: cmp_4c19
                          admanager_id:
                            type: integer
                            example: 4019
                          advertiser_id:
                            type: string
                            example: adv_8f2a
                          advertiser_name:
                            type: string
                            example: Acme Corp
                          name:
                            type: string
                            example: Summer Promo 2026
                          category:
                            type: string
                            example: "3"
                          campaign_type:
                            $ref: '#/components/schemas/CampaignType'
                          status:
                            $ref: '#/components/schemas/CampaignStatus'
                          priority:
                            type: integer
                            example: 50
                          timezone:
                            type: string
                            example: America/New_York
                          start_at:
                            type: string
                            format: date-time
                            example: "2026-06-01T00:00:00-04:00"
                          end_at:
                            type: string
                            format: date-time
                            example: "2026-08-31T23:59:59-04:00"
                          pricing_model:
                            allOf:
                            - $ref: '#/components/schemas/PricingModel'
                            description: Flat copy of `budget.pricing_model`, present on the campaigns LIST endpoint. The detail endpoint nests this field under `budget` instead.
                          cpm_micros:
                            type: integer
                            format: int64
                            description: Flat copy of `budget.cpm_micros`, present on the campaigns LIST endpoint.
                            example: 5000000
                          total_budget_micros:
                            type: integer
                            format: int64
                            description: Flat copy of `budget.total_budget_micros`, present on the campaigns LIST endpoint.
                            example: 500000000
                          daily_budget_cap_micros:
                            type: integer
                            format: int64
                            example: 50000000
                          impression_goal:
                            type: integer
                            example: 1000000
                          daily_impression_cap:
                            type: integer
                            example: 100000
                          lifetime_impression_cap:
                            type: integer
                            example: 1000000
                          pacing_mode:
                            type: string
                            description: Convenience flat copy of `pacing.pacing_mode`.
                            example: even
                          share_of_voice_percent:
                            type: string
                            description: Percentage of eligible pod inventory reserved for this campaign. Only applicable to `share_of_voice` campaigns.
                            example: "25.00"
                          allow_in_pods:
                            type: integer
                            description: Whether this campaign's ads may share a break with ads from other campaigns (1/0).
                            example: 1
                          max_ads_per_pod:
                            type: integer
                            example: 1
                          max_seconds_per_pod:
                            type: integer
                            example: 30
                          allow_multiple_creatives_per_pod:
                            type: integer
                            example: 0
                          allow_same_creative_repeat:
                            type: integer
                            description: Whether the same creative may appear more than once in the same pod (1/0).
                            example: 0
                          preferred_pod_position:
                            $ref: '#/components/schemas/PodPosition'
                          competitive_category:
                            type: string
                            description: IAB taxonomy category IDs this campaign must not share a pod with, as returned by the service (may be a serialized list or the literal `Array`).
                            example: "[10,25]"
                          fallback_allowed:
                            type: integer
                            description: Whether this campaign may fill as a fallback when no other campaign matches (1/0).
                            example: 0
                          is_house:
                            type: integer
                            example: 0
                          created_at:
                            type: string
                            format: date-time
                            example: "2026-01-15T10:30:00Z"
                          updated_at:
                            type: string
                            format: date-time
                            example: "2026-02-01T08:00:00Z"
                          synced_at:
                            type: string
                            format: date-time
                            example: "2026-02-01T08:00:00Z"
                    total:
                      type: integer
                      example: 17
                    page:
                      type: integer
                      example: 1
                    pages:
                      type: integer
                      example: 1
                    stats:
                      type: object
                      description: Campaign counts keyed by status (e.g. `active`, `draft`, `paused`, `archived`), used for list banner tiles.
                      additionalProperties:
                        type: integer
                      example:
                        active: 5
                        draft: 2
                        paused: 1
                        archived: 9
    post:
      summary: Create Campaign
      description: Create a new campaign in a project.
      operationId: createCampaign
      tags:
      - Campaigns
      parameters:
      - $ref: '#/components/parameters/pidParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignInput'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    campaign:
                      $ref: '#/components/schemas/Campaign'

  /ad-manager/{pid}/campaigns/{cid}:
    get:
      summary: Show Campaign
      description: Get a single campaign along with its linked creatives.
      operationId: getCampaign
      tags:
      - Campaigns
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/cidParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    campaign:
                      allOf:
                      - $ref: '#/components/schemas/Campaign'
                      - type: object
                        properties:
                          delivery_status:
                            type: object
                            description: Current pacing/delivery snapshot for the campaign.
                            properties:
                              status:
                                type: string
                                example: ended
                              expected_delivery_percent:
                                type: number
                                format: float
                                example: 100
                              actual_delivery_percent:
                                type: number
                                format: float
                                example: 0
                              impression_goal:
                                type: integer
                                example: 50000
                              delivered_impressions:
                                type: integer
                                example: 0
                              remaining_impressions:
                                type: integer
                                example: 50000
                              today_impressions:
                                type: integer
                                example: 0
                              daily_impression_cap:
                                type: integer
                                example: 500
                              budget_spent_micros:
                                type: integer
                                format: int64
                                example: 0
                              budget_remaining_micros:
                                type: integer
                                format: int64
                                example: 0
                              pacing_mode:
                                type: string
                                example: asap
                    linked_creatives:
                      type: array
                      items:
                        $ref: '#/components/schemas/LinkedCreative'

  /ad-manager/{pid}/campaigns/{cid}/update:
    post:
      summary: Update Campaign
      description: Update a campaign's settings, budget, pacing, or pod rules. The full `CampaignInput` body is required - each manage tab (Settings, Budget, Pod Rules) merges its changes into the existing campaign client-side before saving.
      operationId: updateCampaign
      tags:
      - Campaigns
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/cidParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignInput'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    campaign:
                      allOf:
                      - $ref: '#/components/schemas/Campaign'
                      - type: object
                        properties:
                          delivery_status:
                            type: object
                            description: Current pacing/delivery snapshot for the campaign.
                            properties:
                              status:
                                type: string
                                example: ended
                              expected_delivery_percent:
                                type: number
                                format: float
                                example: 100
                              actual_delivery_percent:
                                type: number
                                format: float
                                example: 0
                              impression_goal:
                                type: integer
                                example: 50000
                              delivered_impressions:
                                type: integer
                                example: 0
                              remaining_impressions:
                                type: integer
                                example: 50000
                              today_impressions:
                                type: integer
                                example: 0
                              daily_impression_cap:
                                type: integer
                                example: 500
                              budget_spent_micros:
                                type: integer
                                format: int64
                                example: 0
                              budget_remaining_micros:
                                type: integer
                                format: int64
                                example: 0
                              pacing_mode:
                                type: string
                                example: asap

  /ad-manager/{pid}/campaigns/{cid}/archive:
    post:
      summary: Archive Campaign
      description: Archive a campaign. Archived campaigns stop delivering and are excluded from active-campaign counts.
      operationId: archiveCampaign
      tags:
      - Campaigns
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/cidParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    campaign:
                      allOf:
                      - $ref: '#/components/schemas/Campaign'
                      - type: object
                        properties:
                          delivery_status:
                            type: object
                            description: Current pacing/delivery snapshot for the campaign.
                            properties:
                              status:
                                type: string
                                example: ended
                              expected_delivery_percent:
                                type: number
                                format: float
                                example: 100
                              actual_delivery_percent:
                                type: number
                                format: float
                                example: 0
                              impression_goal:
                                type: integer
                                example: 50000
                              delivered_impressions:
                                type: integer
                                example: 0
                              remaining_impressions:
                                type: integer
                                example: 50000
                              today_impressions:
                                type: integer
                                example: 0
                              daily_impression_cap:
                                type: integer
                                example: 500
                              budget_spent_micros:
                                type: integer
                                format: int64
                                example: 0
                              budget_remaining_micros:
                                type: integer
                                format: int64
                                example: 0
                              pacing_mode:
                                type: string
                                example: asap

  /ad-manager/{pid}/campaigns/{cid}/activate:
    post:
      summary: Activate Campaign
      description: Set a campaign's status to active.
      operationId: activateCampaign
      tags:
      - Campaigns
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/cidParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    campaign:
                      allOf:
                      - $ref: '#/components/schemas/Campaign'
                      - type: object
                        properties:
                          delivery_status:
                            type: object
                            description: Current pacing/delivery snapshot for the campaign.
                            properties:
                              status:
                                type: string
                                example: ended
                              expected_delivery_percent:
                                type: number
                                format: float
                                example: 100
                              actual_delivery_percent:
                                type: number
                                format: float
                                example: 0
                              impression_goal:
                                type: integer
                                example: 50000
                              delivered_impressions:
                                type: integer
                                example: 0
                              remaining_impressions:
                                type: integer
                                example: 50000
                              today_impressions:
                                type: integer
                                example: 0
                              daily_impression_cap:
                                type: integer
                                example: 500
                              budget_spent_micros:
                                type: integer
                                format: int64
                                example: 0
                              budget_remaining_micros:
                                type: integer
                                format: int64
                                example: 0
                              pacing_mode:
                                type: string
                                example: asap

  /ad-manager/{pid}/campaigns/{cid}/pause:
    post:
      summary: Pause Campaign
      description: Set a campaign's status to paused.
      operationId: pauseCampaign
      tags:
      - Campaigns
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/cidParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    campaign:
                      allOf:
                      - $ref: '#/components/schemas/Campaign'
                      - type: object
                        properties:
                          delivery_status:
                            type: object
                            description: Current pacing/delivery snapshot for the campaign.
                            properties:
                              status:
                                type: string
                                example: ended
                              expected_delivery_percent:
                                type: number
                                format: float
                                example: 100
                              actual_delivery_percent:
                                type: number
                                format: float
                                example: 0
                              impression_goal:
                                type: integer
                                example: 50000
                              delivered_impressions:
                                type: integer
                                example: 0
                              remaining_impressions:
                                type: integer
                                example: 50000
                              today_impressions:
                                type: integer
                                example: 0
                              daily_impression_cap:
                                type: integer
                                example: 500
                              budget_spent_micros:
                                type: integer
                                format: int64
                                example: 0
                              budget_remaining_micros:
                                type: integer
                                format: int64
                                example: 0
                              pacing_mode:
                                type: string
                                example: asap

  /ad-manager/{pid}/campaigns/{cid}/delivery:
    get:
      summary: Campaign Delivery Status
      description: Get the current pacing/delivery status of a campaign (budget spent, impressions delivered vs. goal, pacing state).
      operationId: getCampaignDelivery
      tags:
      - Campaigns
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/cidParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    delivery:
                      type: object
                      description: Delivery/pacing status fields for the campaign. Varies by campaign type and pricing model.
                      properties:
                        status:
                          type: string
                          example: ended
                        expected_delivery_percent:
                          type: number
                          format: float
                          example: 100
                        actual_delivery_percent:
                          type: number
                          format: float
                          example: 0
                        impression_goal:
                          type: integer
                          example: 50000
                        delivered_impressions:
                          type: integer
                          example: 0
                        remaining_impressions:
                          type: integer
                          example: 50000
                        today_impressions:
                          type: integer
                          example: 0
                        daily_impression_cap:
                          type: integer
                          example: 500
                        budget_spent_micros:
                          type: integer
                          format: int64
                          example: 0
                        budget_remaining_micros:
                          type: integer
                          format: int64
                          example: 0
                        pacing_mode:
                          type: string
                          example: asap

  /ad-manager/{pid}/campaigns/{cid}/targeting:
    get:
      summary: Show Campaign Targeting
      description: Get a campaign's targeting rules.
      operationId: getCampaignTargeting
      tags:
      - Targeting
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/cidParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    targeting:
                      allOf:
                      - $ref: '#/components/schemas/Targeting'
                      - type: object
                        properties:
                          campaign_id:
                            type: string
                            example: cmp_4c19
                          created_at:
                            type: string
                            format: date-time
                            example: "2026-01-15T10:30:00Z"
                          updated_at:
                            type: string
                            format: date-time
                            example: "2026-01-15T10:30:00Z"
                    from_cache:
                      type: boolean
                      description: True when the targeting rules were served from cache rather than read fresh.
    post:
      summary: Set Campaign Targeting
      description: Replace a campaign's targeting rules wholesale.
      operationId: setCampaignTargeting
      tags:
      - Targeting
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/cidParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Targeting'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdManagerBaseResponse'

  /ad-manager/{pid}/campaigns/{cid}/creatives/{creativeId}/link:
    post:
      summary: Link Creative to Campaign
      description: Link a creative to a campaign with an optional rotation weight.
      operationId: linkCampaignCreative
      tags:
      - Campaigns
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/cidParam'
      - $ref: '#/components/parameters/creativeIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                weight:
                  type: integer
                  description: Rotation weight for this creative within the campaign. Higher values are served more often relative to other linked creatives.
                  example: 100
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdManagerBaseResponse'

  /ad-manager/{pid}/campaigns/{cid}/creatives/{creativeId}/unlink:
    post:
      summary: Unlink Creative from Campaign
      description: Remove a creative's link to a campaign.
      operationId: unlinkCampaignCreative
      tags:
      - Campaigns
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/cidParam'
      - $ref: '#/components/parameters/creativeIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdManagerBaseResponse'

  /ad-manager/{pid}/creatives/search:
    get:
      summary: Search Creatives
      description: Search creatives in a project by name, for use in the campaign creative-linking picker.
      operationId: searchCreatives
      tags:
      - Creatives
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - in: query
        name: q
        schema:
          type: string
          description: Free-text search matched against creative name.
          example: summer-30s
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    creatives:
                      type: array
                      items:
                        $ref: '#/components/schemas/CreativeSearchItem'

  /ad-manager/{pid}/creatives:
    get:
      summary: List Creatives
      description: List creatives in a project.
      operationId: listCreatives
      tags:
      - Creatives
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - in: query
        name: page
        schema:
          type: integer
          example: 1
      - in: query
        name: limit
        schema:
          type: integer
          example: 20
      - in: query
        name: q
        schema:
          type: string
          description: Free-text search matched against creative name.
          example: summer-30s
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    creatives:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: crv_9a71
                          admanager_id:
                            type: integer
                            example: 9071
                          name:
                            type: string
                            example: Summer 30s Spot
                          creative_type:
                            $ref: '#/components/schemas/CreativeType'
                          status:
                            $ref: '#/components/schemas/CreativeStatus'
                          duration_seconds:
                            type: number
                            example: 30
                          media_url:
                            type: string
                            example: https://cdn.5centscdn.com/ad-manager-uploads/abc123.mp4
                          vast_url:
                            type: string
                            example: https://ads.example.com/vast?id=123
                          click_url:
                            type: string
                            example: https://acmecorp.com/summer-sale
                          mime_type:
                            type: string
                            example: video/mp4
                          width:
                            type: integer
                            example: 1920
                          height:
                            type: integer
                            example: 1080
                          bitrate:
                            type: integer
                            example: 4000000
                          approval_status:
                            $ref: '#/components/schemas/ApprovalStatus'
                          metadata:
                            type: string
                            description: Free-form metadata, serialized as a JSON string. Used to store UI-only flags such as `allow_prefetch`.
                            example: "[]"
                          created_at:
                            type: string
                            format: date-time
                            nullable: true
                            example: "2026-01-15T10:30:00Z"
                          updated_at:
                            type: string
                            format: date-time
                            example: "2026-02-01T08:00:00Z"
                          synced_at:
                            type: string
                            format: date-time
                            example: "2026-02-01T08:00:00Z"
                          tracking_mode:
                            allOf:
                            - $ref: '#/components/schemas/TrackingMode'
                            nullable: true
                          allow_prefetch:
                            type: integer
                            description: UI-only flag (1/0) controlling creative prefetch behavior.
                            example: 0
                          vast_query_params:
                            type: string
                            nullable: true
                            description: Custom VAST query parameters, serialized as a JSON string.
                            example: '[{"name": "cachebuster", "type": "from-variable", "value": "${CACHE_BUSTER}"}]'
                          ad_origin:
                            allOf:
                            - $ref: '#/components/schemas/AdOrigin'
                            nullable: true
                          skip_override:
                            type: string
                            nullable: true
                            description: Per-creative ad-skip override, serialized as a JSON string. When set, wins over the project skip policy and any per-request `skipoffset`/`skip_policy` override.
                            example: '{"skippable": true, "offset_type": "seconds", "offset_value": 30}'
                    total:
                      type: integer
                      example: 28
                    page:
                      type: integer
                      example: 1
                    pages:
                      type: integer
                      example: 1
                    approval_stats:
                      type: object
                      description: Creative counts keyed by approval status (`pending`, `approved`, `rejected`).
                      additionalProperties:
                        type: integer
                      example:
                        pending: 3
                        approved: 24
                        rejected: 1
    post:
      summary: Create Creative
      description: Create a new creative. `creative_type` determines which fields apply - `media_file` creatives reference an uploaded video (see Get Creative Upload URL), `vast_url` creatives reference a third-party VAST tag.
      operationId: createCreative
      tags:
      - Creatives
      parameters:
      - $ref: '#/components/parameters/pidParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeInput'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    creative:
                      type: object
                      properties:
                        id:
                          type: string
                          example: crv_9a71
                        admanager_id:
                          type: integer
                          example: 9071
                        name:
                          type: string
                          example: Summer 30s Spot
                        creative_type:
                          $ref: '#/components/schemas/CreativeType'
                        status:
                          $ref: '#/components/schemas/CreativeStatus'
                        approval_status:
                          $ref: '#/components/schemas/ApprovalStatus'
                        duration_seconds:
                          type: number
                          example: 30
                        media_url:
                          type: string
                          example: https://cdn.5centscdn.com/ad-manager-uploads/abc123.mp4
                        vast_url:
                          type: string
                          example: https://ads.example.com/vast?id=123
                        click_url:
                          type: string
                          example: https://acmecorp.com/summer-sale
                        mime_type:
                          type: string
                          example: video/mp4
                        width:
                          type: integer
                          example: 1920
                        height:
                          type: integer
                          example: 1080
                        bitrate:
                          type: integer
                          description: Video bitrate, in bits per second.
                          example: 4000000
                        tracking_mode:
                          $ref: '#/components/schemas/TrackingMode'
                        vast_query_params:
                          type: array
                          items:
                            $ref: '#/components/schemas/VastQueryParam'
                        ad_origin:
                          $ref: '#/components/schemas/AdOrigin'
                        skip_override:
                          allOf:
                          - $ref: '#/components/schemas/SkipSpec'
                          nullable: true
                          description: Per-creative ad-skip override (`media_file` only). When set, wins over the project skip policy and any per-request `skipoffset`/`skip_policy` override.
                        metadata:
                          type: array
                          items: {}
                          description: Free-form metadata. Used to store UI-only flags such as `allow_prefetch`.
                          example: []
                        created_at:
                          type: string
                          format: date-time
                          example: "2026-01-15T10:30:00Z"
                        updated_at:
                          type: string
                          format: date-time
                          example: "2026-01-15T10:30:00Z"

  /ad-manager/{pid}/creatives/{rid}:
    get:
      summary: Show Creative
      description: Get a single creative.
      operationId: getCreative
      tags:
      - Creatives
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/ridParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    creative:
                      type: object
                      properties:
                        id:
                          type: string
                          example: crv_9a71
                        admanager_id:
                          type: integer
                          example: 9071
                        name:
                          type: string
                          example: Summer 30s Spot
                        creative_type:
                          $ref: '#/components/schemas/CreativeType'
                        status:
                          $ref: '#/components/schemas/CreativeStatus'
                        approval_status:
                          $ref: '#/components/schemas/ApprovalStatus'
                        duration_seconds:
                          type: number
                          example: 30
                        media_url:
                          type: string
                          example: https://cdn.5centscdn.com/ad-manager-uploads/abc123.mp4
                        vast_url:
                          type: string
                          example: https://ads.example.com/vast?id=123
                        click_url:
                          type: string
                          example: https://acmecorp.com/summer-sale
                        mime_type:
                          type: string
                          example: video/mp4
                        width:
                          type: integer
                          example: 1920
                        height:
                          type: integer
                          example: 1080
                        bitrate:
                          type: integer
                          description: Video bitrate, in bits per second.
                          example: 4000000
                        tracking_mode:
                          $ref: '#/components/schemas/TrackingMode'
                        vast_query_params:
                          type: array
                          items:
                            $ref: '#/components/schemas/VastQueryParam'
                        ad_origin:
                          $ref: '#/components/schemas/AdOrigin'
                        skip_override:
                          allOf:
                          - $ref: '#/components/schemas/SkipSpec'
                          nullable: true
                          description: Per-creative ad-skip override (`media_file` only). When set, wins over the project skip policy and any per-request `skipoffset`/`skip_policy` override.
                        metadata:
                          type: array
                          items: {}
                          description: Free-form metadata. Used to store UI-only flags such as `allow_prefetch`.
                          example: []
                        created_at:
                          type: string
                          format: date-time
                          example: "2026-01-15T10:30:00Z"
                        updated_at:
                          type: string
                          format: date-time
                          example: "2026-01-15T10:30:00Z"
                        linked_campaign_ids:
                          type: array
                          items:
                            type: string
                          description: IDs of campaigns this creative is linked to.
                          example: []

  /ad-manager/{pid}/creatives/{rid}/update:
    post:
      summary: Update Creative
      description: Update a creative's details.
      operationId: updateCreative
      tags:
      - Creatives
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/ridParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeInput'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    creative:
                      type: object
                      properties:
                        id:
                          type: string
                          example: crv_9a71
                        admanager_id:
                          type: integer
                          example: 9071
                        name:
                          type: string
                          example: Summer 30s Spot
                        creative_type:
                          $ref: '#/components/schemas/CreativeType'
                        status:
                          $ref: '#/components/schemas/CreativeStatus'
                        approval_status:
                          $ref: '#/components/schemas/ApprovalStatus'
                        duration_seconds:
                          type: number
                          example: 30
                        media_url:
                          type: string
                          example: https://cdn.5centscdn.com/ad-manager-uploads/abc123.mp4
                        vast_url:
                          type: string
                          example: https://ads.example.com/vast?id=123
                        click_url:
                          type: string
                          example: https://acmecorp.com/summer-sale
                        mime_type:
                          type: string
                          example: video/mp4
                        width:
                          type: integer
                          example: 1920
                        height:
                          type: integer
                          example: 1080
                        bitrate:
                          type: integer
                          description: Video bitrate, in bits per second.
                          example: 4000000
                        tracking_mode:
                          $ref: '#/components/schemas/TrackingMode'
                        vast_query_params:
                          type: array
                          items:
                            $ref: '#/components/schemas/VastQueryParam'
                        ad_origin:
                          $ref: '#/components/schemas/AdOrigin'
                        skip_override:
                          allOf:
                          - $ref: '#/components/schemas/SkipSpec'
                          nullable: true
                          description: Per-creative ad-skip override (`media_file` only). When set, wins over the project skip policy and any per-request `skipoffset`/`skip_policy` override.
                        metadata:
                          type: array
                          items: {}
                          description: Free-form metadata. Used to store UI-only flags such as `allow_prefetch`.
                          example: []
                        created_at:
                          type: string
                          format: date-time
                          example: "2026-01-15T10:30:00Z"
                        updated_at:
                          type: string
                          format: date-time
                          example: "2026-01-15T10:30:00Z"

  /ad-manager/{pid}/creatives/{rid}/activate:
    post:
      summary: Activate Creative
      description: Set a creative's status to active.
      operationId: activateCreative
      tags:
      - Creatives
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/ridParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    creative:
                      type: object
                      properties:
                        id:
                          type: string
                          example: crv_9a71
                        admanager_id:
                          type: integer
                          example: 9071
                        name:
                          type: string
                          example: Summer 30s Spot
                        creative_type:
                          $ref: '#/components/schemas/CreativeType'
                        status:
                          $ref: '#/components/schemas/CreativeStatus'
                        approval_status:
                          $ref: '#/components/schemas/ApprovalStatus'
                        duration_seconds:
                          type: number
                          example: 30
                        media_url:
                          type: string
                          example: https://cdn.5centscdn.com/ad-manager-uploads/abc123.mp4
                        vast_url:
                          type: string
                          example: https://ads.example.com/vast?id=123
                        click_url:
                          type: string
                          example: https://acmecorp.com/summer-sale
                        mime_type:
                          type: string
                          example: video/mp4
                        width:
                          type: integer
                          example: 1920
                        height:
                          type: integer
                          example: 1080
                        bitrate:
                          type: integer
                          description: Video bitrate, in bits per second.
                          example: 4000000
                        tracking_mode:
                          $ref: '#/components/schemas/TrackingMode'
                        vast_query_params:
                          type: array
                          items:
                            $ref: '#/components/schemas/VastQueryParam'
                        ad_origin:
                          $ref: '#/components/schemas/AdOrigin'
                        skip_override:
                          allOf:
                          - $ref: '#/components/schemas/SkipSpec'
                          nullable: true
                          description: Per-creative ad-skip override (`media_file` only). When set, wins over the project skip policy and any per-request `skipoffset`/`skip_policy` override.
                        metadata:
                          type: array
                          items: {}
                          description: Free-form metadata. Used to store UI-only flags such as `allow_prefetch`.
                          example: []
                        created_at:
                          type: string
                          format: date-time
                          example: "2026-01-15T10:30:00Z"
                        updated_at:
                          type: string
                          format: date-time
                          example: "2026-01-15T10:30:00Z"

  /ad-manager/{pid}/creatives/{rid}/pause:
    post:
      summary: Pause Creative
      description: Set a creative's status to paused. A paused creative is excluded from ad-pod decisioning even if linked to an active campaign.
      operationId: pauseCreative
      tags:
      - Creatives
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/ridParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    creative:
                      type: object
                      properties:
                        id:
                          type: string
                          example: crv_9a71
                        admanager_id:
                          type: integer
                          example: 9071
                        name:
                          type: string
                          example: Summer 30s Spot
                        creative_type:
                          $ref: '#/components/schemas/CreativeType'
                        status:
                          $ref: '#/components/schemas/CreativeStatus'
                        approval_status:
                          $ref: '#/components/schemas/ApprovalStatus'
                        duration_seconds:
                          type: number
                          example: 30
                        media_url:
                          type: string
                          example: https://cdn.5centscdn.com/ad-manager-uploads/abc123.mp4
                        vast_url:
                          type: string
                          example: https://ads.example.com/vast?id=123
                        click_url:
                          type: string
                          example: https://acmecorp.com/summer-sale
                        mime_type:
                          type: string
                          example: video/mp4
                        width:
                          type: integer
                          example: 1920
                        height:
                          type: integer
                          example: 1080
                        bitrate:
                          type: integer
                          description: Video bitrate, in bits per second.
                          example: 4000000
                        tracking_mode:
                          $ref: '#/components/schemas/TrackingMode'
                        vast_query_params:
                          type: array
                          items:
                            $ref: '#/components/schemas/VastQueryParam'
                        ad_origin:
                          $ref: '#/components/schemas/AdOrigin'
                        skip_override:
                          allOf:
                          - $ref: '#/components/schemas/SkipSpec'
                          nullable: true
                          description: Per-creative ad-skip override (`media_file` only). When set, wins over the project skip policy and any per-request `skipoffset`/`skip_policy` override.
                        metadata:
                          type: array
                          items: {}
                          description: Free-form metadata. Used to store UI-only flags such as `allow_prefetch`.
                          example: []
                        created_at:
                          type: string
                          format: date-time
                          example: "2026-01-15T10:30:00Z"
                        updated_at:
                          type: string
                          format: date-time
                          example: "2026-01-15T10:30:00Z"

  /ad-manager/{pid}/creatives/{rid}/approve:
    post:
      summary: Approve Creative
      description: Set a creative's approval status to approved, allowing it to serve.
      operationId: approveCreative
      tags:
      - Creatives
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/ridParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    creative:
                      type: object
                      properties:
                        id:
                          type: string
                          example: crv_9a71
                        admanager_id:
                          type: integer
                          example: 9071
                        name:
                          type: string
                          example: Summer 30s Spot
                        creative_type:
                          $ref: '#/components/schemas/CreativeType'
                        status:
                          $ref: '#/components/schemas/CreativeStatus'
                        approval_status:
                          $ref: '#/components/schemas/ApprovalStatus'
                        duration_seconds:
                          type: number
                          example: 30
                        media_url:
                          type: string
                          example: https://cdn.5centscdn.com/ad-manager-uploads/abc123.mp4
                        vast_url:
                          type: string
                          example: https://ads.example.com/vast?id=123
                        click_url:
                          type: string
                          example: https://acmecorp.com/summer-sale
                        mime_type:
                          type: string
                          example: video/mp4
                        width:
                          type: integer
                          example: 1920
                        height:
                          type: integer
                          example: 1080
                        bitrate:
                          type: integer
                          description: Video bitrate, in bits per second.
                          example: 4000000
                        tracking_mode:
                          $ref: '#/components/schemas/TrackingMode'
                        vast_query_params:
                          type: array
                          items:
                            $ref: '#/components/schemas/VastQueryParam'
                        ad_origin:
                          $ref: '#/components/schemas/AdOrigin'
                        skip_override:
                          allOf:
                          - $ref: '#/components/schemas/SkipSpec'
                          nullable: true
                          description: Per-creative ad-skip override (`media_file` only). When set, wins over the project skip policy and any per-request `skipoffset`/`skip_policy` override.
                        metadata:
                          type: array
                          items: {}
                          description: Free-form metadata. Used to store UI-only flags such as `allow_prefetch`.
                          example: []
                        created_at:
                          type: string
                          format: date-time
                          example: "2026-01-15T10:30:00Z"
                        updated_at:
                          type: string
                          format: date-time
                          example: "2026-01-15T10:30:00Z"

  /ad-manager/{pid}/creatives/upload-url:
    post:
      summary: Get Creative Upload URL
      description: Allocate a presigned S3 PUT URL for uploading a `media_file` creative's video asset. Upload the video directly to `presigned_url`, then create the creative with `media_url` set to `object_url`.
      operationId: getCreativeUploadUrl
      tags:
      - Creatives
      parameters:
      - $ref: '#/components/parameters/pidParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    presigned_url:
                      type: string
                      description: Presigned S3 URL to PUT the raw video file to.
                      example: https://s3.5centscdn.com/ad-manager-uploads/abc123.mp4?X-Amz-Signature=...
                    object_url:
                      type: string
                      description: Public URL of the uploaded object once the PUT completes. Use as `media_url` when creating the creative.
                      example: https://cdn.5centscdn.com/ad-manager-uploads/abc123.mp4
                    creative_uuid:
                      type: string
                      description: UUID assigned to the not-yet-created creative, for correlating the upload with the subsequent create request.
                      example: 8f2a1c3e-4b5d-4a6e-9f1a-2b3c4d5e6f7a

  /ad-manager/{pid}/creatives/direct-upload:
    post:
      summary: Direct Upload Creative
      description: CORS fallback for browsers that cannot PUT directly to the presigned S3 URL - proxies the raw video body through the API to storage.
      operationId: creativeDirectUpload
      tags:
      - Creatives
      parameters:
      - $ref: '#/components/parameters/pidParam'
      requestBody:
        required: true
        content:
          video/mp4:
            schema:
              type: string
              format: binary
              description: Raw MP4 video file bytes.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    creative_uuid:
                      type: string
                      example: 8f2a1c3e-4b5d-4a6e-9f1a-2b3c4d5e6f7a
                    object_url:
                      type: string
                      example: https://cdn.5centscdn.com/ad-manager-uploads/abc123.mp4

  /ad-manager/{pid}/requests:
    post:
      summary: List Ad Pod Requests
      description: List/search the ad-pod request and decision log for a date range, with optional filtering by content, advertiser, campaign, creative, targeting dimension, and IAB break fields.
      operationId: listAdPodRequests
      tags:
      - Ad Pods
      parameters:
      - $ref: '#/components/parameters/pidParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdPodRequestFilters'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    items:
                      type: array
                      description: Matching ad-pod requests.
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: pod_7e21c9
                          publisher_id:
                            type: string
                            example: "10042"
                          request_time:
                            type: string
                            format: date-time
                            example: "2026-01-15T10:30:00Z"
                          content_id:
                            type: string
                            example: "1024"
                          placement:
                            type: string
                            example: preroll
                          content_tags:
                            type: array
                            items:
                              type: string
                            example: [sports]
                          category:
                            type: integer
                            example: 3
                          continent_geoname_id:
                            type: integer
                            example: 6255149
                          country_geoname_id:
                            type: integer
                            example: 6252001
                          subdivision_1_geoname_id:
                            type: integer
                            example: 5332921
                          subdivision_2_geoname_id:
                            type: integer
                            example: 5391959
                          city_geoname_id:
                            type: integer
                            example: 5391811
                          device:
                            type: integer
                            description: IAB device-type ID.
                            example: 3
                          language:
                            type: string
                            example: en
                          user_key:
                            type: string
                            example: ""
                          ip:
                            type: string
                            example: "203.0.113.10"
                          user_agent:
                            type: string
                            example: Mozilla/5.0 (compatible; SSAI-Player/1.0)
                          os:
                            type: string
                            example: iOS
                          browser:
                            type: string
                            example: Chrome
                          max_duration:
                            type: integer
                            description: Requested break fill target, seconds (IAB BREAKMAXDURATION).
                            example: 30
                          min_ad_length:
                            type: integer
                            example: 5
                          max_ad_length:
                            type: integer
                            example: 30
                          decision_status:
                            type: string
                            example: decided
                          selected_duration_seconds:
                            type: number
                            description: Total duration actually filled, seconds.
                            example: 30
                          fill_status:
                            $ref: '#/components/schemas/FillStatus'
                          created_at:
                            type: string
                            format: date-time
                            example: "2026-01-15T10:30:00Z"
                    limit:
                      type: integer
                      example: 100
                    page:
                      type: integer
                      example: 1
                    pages:
                      type: integer
                      example: 4
                    total:
                      type: integer
                      example: 963

  /ad-manager/{pid}/requests/{podId}:
    get:
      summary: Show Ad Pod Request
      description: Get the full request, decision, and ad-break timeline detail for a single ad-pod request.
      operationId: getAdPodRequest
      tags:
      - Ad Pods
      parameters:
      - $ref: '#/components/parameters/pidParam'
      - $ref: '#/components/parameters/podIdParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AdManagerBaseResponse'
                - type: object
                  properties:
                    request:
                      type: object
                      properties:
                        id:
                          type: string
                          example: pod_7e21c9
                        publisher_id:
                          type: string
                          example: "10042"
                        request_time:
                          type: string
                          format: date-time
                          example: "2026-01-15T10:30:00Z"
                        content_id:
                          type: string
                          example: "1024"
                        placement:
                          type: string
                          example: preroll
                        content_tags:
                          type: array
                          items:
                            type: string
                          example: [sports]
                        category:
                          type: integer
                          example: 3
                        geolocation:
                          type: object
                          description: Resolved geographic hierarchy for the request's IP.
                          properties:
                            continent:
                              type: object
                              properties:
                                geoname_id:
                                  type: integer
                                  example: 6255149
                                name:
                                  type: string
                                  example: North America
                            country:
                              type: object
                              properties:
                                geoname_id:
                                  type: integer
                                  example: 6252001
                                name:
                                  type: string
                                  example: North America - United States
                            subdivision_1:
                              type: object
                              properties:
                                geoname_id:
                                  type: integer
                                  example: 4482348
                                name:
                                  type: string
                                  example: North America - United States - North Carolina
                            city:
                              type: object
                              properties:
                                geoname_id:
                                  type: integer
                                  example: 4460243
                                name:
                                  type: string
                                  example: North America - United States - North Carolina - Charlotte
                        device:
                          type: integer
                          description: IAB device-type ID.
                          example: 3
                        language:
                          type: string
                          example: en
                        user_key:
                          type: string
                          example: ""
                        ip:
                          type: string
                          example: "203.0.113.10"
                        user_agent:
                          type: string
                          example: Mozilla/5.0 (compatible; SSAI-Player/1.0)
                        os:
                          type: string
                          example: iOS
                        browser:
                          type: string
                          example: Chrome
                        max_duration:
                          type: integer
                          description: Requested break fill target, seconds (IAB BREAKMAXDURATION).
                          example: 30
                        min_ad_length:
                          type: integer
                          example: 5
                        max_ad_length:
                          type: integer
                          example: 30
                        decision_status:
                          type: string
                          example: decided
                        selected_duration_seconds:
                          type: number
                          description: Total duration actually filled, seconds.
                          example: 30
                        fill_status:
                          $ref: '#/components/schemas/FillStatus'
                        created_at:
                          type: string
                          format: date-time
                          example: "2026-01-15T10:30:00Z"
                        pod_decision:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 393a76ac-6c92-45f9-90c5-fa1e7b57e8d4
                            request_id:
                              type: string
                              example: pod_7e21c9
                            content_id:
                              type: string
                              example: "1024"
                            break_duration_seconds:
                              type: number
                              description: Requested break fill target, seconds.
                              example: 30
                            selected_duration_seconds:
                              type: number
                              example: 30
                            fill_status:
                              $ref: '#/components/schemas/FillStatus'
                            created_at:
                              type: string
                              format: date-time
                              example: "2026-01-15T10:30:00Z"
                            items:
                              type: array
                              items:
                                $ref: '#/components/schemas/AdPodDecisionItem'

  /ad-manager/{pid}/reports:
    post:
      summary: Run Report
      description: >
        Run an aggregate + time-series delivery report for a date range, with
        optional filtering by advertiser, campaign, creative, content, and
        targeting dimension. The response is capped at 1,440 time-series data
[...]
