openapi: 3.0.3
info:
  title: 5centsCDN - Analytics & Reports
  description: |
    Unified API for CDN analytics and reporting in 5centsCDN.

    **REST API** (server: `https://api.5centscdn.com/v2`): Unified traffic analytics
    (breakdown and time-series data by location, country, browser, OS, device, status code,
    referrer, file, visitor IP, and ASN). Authenticate with `X-API-Key` header.
  version: "2.0.0"
  contact:
    email: help@5centscdn.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'

servers:
- url: https://api.5centscdn.com/v2
  description: 5centsCDN REST API - Production
security:
- ApiKeyAuth: []

tags:
- name: traffic-analytics
  description: REST API unified traffic analytics (breakdown and time-series by dimension)
paths:

  /{serviceId}/analytics/traffic/resources:
    post:
      operationId: trafficResources
      summary: List available resources for filtering
      description: Returns a map of resource-hash → resource-ID for all CDN resources (streams, push zones, pull zones) on the account. Use the returned hashes in `resource_hashes` filter fields on all other analytics endpoints.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficResourcesRequest'
      responses:
        '200':
          description: Returns a map of resource-hash → resource-ID for all CDN resources (streams, push zones, pull zones) on the account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficResourcesResponse'

  /{serviceId}/analytics/traffic/summary:
    post:
      operationId: trafficSummary
      summary: Get traffic summary
      description: Returns aggregate traffic metrics for the selected date range.
      tags: [traffic-analytics]
      parameters:
        - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [r]
              description: |
                If `resource_type` is `all`, omit `resource_hashes`.
                If `resource_type` is a specific type, `resource_hashes` must be provided.
              properties:
                r:
                  type: string
                  description: Date range "YYYY-MM-DD - YYYY-MM-DD" (UTC)
                  example: "2024-04-01 - 2024-04-22"
                resource_type:
                  type: string
                  description: Resource category to filter by. Use `all` to include all resources (omit resource_hashes when using all).
                  enum: [push, pull, all, livestream]
                  example: push
                resource_hashes:
                  type: array
                  items:
                    type: string
                  description: |
                    Array of resource hashes to filter by (from /{serviceId}/analytics/traffic/resources).
                    Required when resource_type is push, pull, or livestream. Omit when resource_type is all.
                  example: ["exa8jekgpb63", "n4zpvl968j5o"]
                granularity:
                  type: string
                  description: Defines the time interval for data aggregation.
                  enum: ["1m", "5m", "15m", "30m", "1h", "3h", "6h", "12h", "24h"]
                  example: "1h"
      responses:
        '200':
          description: Returns aggregate traffic metrics for the selected date range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficSummaryResponse'

  /{serviceId}/analytics/traffic/summary/line:
    post:
      operationId: trafficSummaryLine
      summary: Get traffic summary time-series
      description: Returns per-time-bucket traffic metrics for the selected date range, along with period totals and granularity metadata.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficSummaryLineRequest'
      responses:
        '200':
          description: Returns per-time-bucket traffic metrics for the selected date range, along with period totals and granularity metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficSummaryLineResponse'

  /{serviceId}/analytics/traffic/summary/card:
    post:
      operationId: trafficSummaryCard
      summary: Get period-over-period traffic summary
      description: Returns current-period totals, equivalent previous-period totals, and percentage deviations for all core traffic metrics.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficSummaryCardRequest'
      responses:
        '200':
          description: Returns current-period totals, equivalent previous-period totals, and percentage deviations for all core traffic metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficCardResponse'

  /{serviceId}/analytics/traffic/cache:
    post:
      operationId: trafficCache
      summary: Get traffic breakdown by cache status
      description: Returns traffic metrics broken down by cache status for the selected date range.
      tags: [traffic-analytics]
      parameters:
        - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [r]
              description: |
                If `resource_type` is `all`, omit `resource_hashes`.
                If `resource_type` is a specific type, `resource_hashes` must be provided.
              properties:
                r:
                  type: string
                  description: Date range "YYYY-MM-DD - YYYY-MM-DD" (UTC)
                  example: "2024-04-01 - 2024-04-22"
                resource_type:
                  type: string
                  description: Resource category to filter by. Use `all` to include all resources (omit resource_hashes when using all).
                  enum: [push, pull, all, livestream]
                  example: push
                resource_hashes:
                  type: array
                  items:
                    type: string
                  description: |
                    Array of resource hashes to filter by (from /{serviceId}/analytics/traffic/resources).
                    Required when resource_type is push, pull, or livestream. Omit when resource_type is all.
                  example: ["exa8jekgpb63", "n4zpvl968j5o"]
                granularity:
                  type: string
                  description: Defines the time interval for data aggregation.
                  enum: ["1m", "5m", "15m", "30m", "1h", "3h", "6h", "12h", "24h"]
                  example: "1h"
      responses:
        '200':
          description: Returns traffic metrics broken down by cache status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficCacheResponse'

  /{serviceId}/analytics/traffic/cache/line:
    post:
      operationId: trafficCacheLine
      summary: Get traffic time-series for a cache status
      description: Returns per-time-bucket metrics for a specific cache status (HIT, MISS, etc.).
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficCacheLineRequest'
      responses:
        '200':
          description: Returns per-time-bucket metrics for a specific cache status (HIT, MISS, etc
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficLineResponse'

  /{serviceId}/analytics/traffic/cache/card:
    post:
      operationId: trafficCacheCard
      summary: Get period-over-period cache status comparison
      description: Returns current and previous period request counts per cache status (HIT, MISS, EXPIRED, BYPASS, -), plus percentage deviations.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficSummaryCardRequest'
      responses:
        '200':
          description: Returns current and previous period request counts per cache status (HIT, MISS, EXPIRED, BYPASS, -), plus percentage deviations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficCacheCardResponse'

  /{serviceId}/analytics/traffic/location:
    post:
      operationId: trafficLocation
      summary: Get traffic breakdown by PoP location
      description: Returns traffic metrics grouped by edge Point-of-Presence (PoP) location ID.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficFilterRequest'
      responses:
        '200':
          description: Returns traffic metrics grouped by edge Point-of-Presence (PoP) location ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficBreakdownResponse'

  /{serviceId}/analytics/traffic/location/line:
    post:
      operationId: trafficLocationLine
      summary: Get traffic time-series for a PoP location
      description: Returns per-time-bucket metrics for a specific PoP location.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficLocationLineRequest'
      responses:
        '200':
          description: Returns per-time-bucket metrics for a specific PoP location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficLineResponse'

  /{serviceId}/analytics/traffic/country:
    post:
      operationId: trafficCountry
      summary: Get traffic breakdown by country
      description: Returns traffic metrics grouped by visitor country name.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficFilterRequest'
      responses:
        '200':
          description: Returns traffic metrics grouped by visitor country name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficBreakdownResponse'

  /{serviceId}/analytics/traffic/country/line:
    post:
      operationId: trafficCountryLine
      summary: Get traffic time-series for a country
      description: Returns per-time-bucket metrics for a specific country.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficCountryLineRequest'
      responses:
        '200':
          description: Returns per-time-bucket metrics for a specific country
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficLineResponse'

  /{serviceId}/analytics/traffic/browser:
    post:
      operationId: trafficBrowser
      summary: Get traffic breakdown by browser
      description: Returns traffic metrics grouped by browser User-Agent string.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficFilterRequest'
      responses:
        '200':
          description: Returns traffic metrics grouped by browser User-Agent string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficBreakdownResponse'

  /{serviceId}/analytics/traffic/browser/line:
    post:
      operationId: trafficBrowserLine
      summary: Get traffic time-series for a browser
      description: Returns per-time-bucket metrics for a specific browser User-Agent.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficBrowserLineRequest'
      responses:
        '200':
          description: Returns per-time-bucket metrics for a specific browser User-Agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficLineResponse'

  /{serviceId}/analytics/traffic/os:
    post:
      operationId: trafficOS
      summary: Get traffic breakdown by operating system
      description: Returns traffic metrics grouped by client operating system.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficFilterRequest'
      responses:
        '200':
          description: Returns traffic metrics grouped by client operating system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficBreakdownResponse'

  /{serviceId}/analytics/traffic/os/line:
    post:
      operationId: trafficOSLine
      summary: Get traffic time-series for an operating system
      description: Returns per-time-bucket metrics for a specific OS.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficOSLineRequest'
      responses:
        '200':
          description: Returns per-time-bucket metrics for a specific OS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficLineResponse'

  /{serviceId}/analytics/traffic/device:
    post:
      operationId: trafficDevice
      summary: Get traffic breakdown by device type
      description: Returns traffic metrics grouped by device category (e.g. Generic Smartphone, Desktop).
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficFilterRequest'
      responses:
        '200':
          description: Returns traffic metrics grouped by device category (e
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficBreakdownResponse'

  /{serviceId}/analytics/traffic/device/line:
    post:
      operationId: trafficDeviceLine
      summary: Get traffic time-series for a device type
      description: Returns per-time-bucket metrics for a specific device type.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficDeviceLineRequest'
      responses:
        '200':
          description: Returns per-time-bucket metrics for a specific device type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficLineResponse'

  /{serviceId}/analytics/traffic/statuscode:
    post:
      operationId: trafficStatusCode
      summary: Get traffic breakdown by HTTP status code
      description: Returns traffic metrics grouped by HTTP response code (200, 206, 301, 404, etc.).
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficFilterRequest'
      responses:
        '200':
          description: Returns traffic metrics grouped by HTTP response code (200, 206, 301, 404, etc
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficBreakdownResponse'

  /{serviceId}/analytics/traffic/statuscode/line:
    post:
      operationId: trafficStatusCodeLine
      summary: Get traffic time-series for an HTTP status code
      description: Returns per-time-bucket metrics for a specific HTTP status code.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficStatusCodeLineRequest'
      responses:
        '200':
          description: Returns per-time-bucket metrics for a specific HTTP status code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficLineResponse'

  /{serviceId}/analytics/traffic/referrer:
    post:
      operationId: trafficReferrer
      summary: Get traffic breakdown by referrer
      description: Returns traffic metrics grouped by referrer domain/URL.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficFilterRequest'
      responses:
        '200':
          description: Returns traffic metrics grouped by referrer domain/URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficBreakdownResponse'

  /{serviceId}/analytics/traffic/referrer/line:
    post:
      operationId: trafficReferrerLine
      summary: Get traffic time-series for a referrer
      description: Returns per-time-bucket metrics for a specific referrer string.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficReferrerLineRequest'
      responses:
        '200':
          description: Returns per-time-bucket metrics for a specific referrer string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficLineResponse'

  /{serviceId}/analytics/traffic/file:
    post:
      operationId: trafficFile
      summary: Get traffic breakdown by file path
      description: Returns traffic metrics grouped by requested file path, sorted by traffic descending.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficFilterRequest'
      responses:
        '200':
          description: Returns traffic metrics grouped by requested file path, sorted by traffic descending
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficBreakdownResponse'

  /{serviceId}/analytics/traffic/file/line:
    post:
      operationId: trafficFileLine
      summary: Get traffic time-series for a file path
      description: Returns per-time-bucket metrics for a specific file path.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficFileLineRequest'
      responses:
        '200':
          description: Returns per-time-bucket metrics for a specific file path
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficLineResponse'

  /{serviceId}/analytics/traffic/visitor:
    post:
      operationId: trafficVisitor
      summary: Get traffic breakdown by unique visitor IP
      description: Returns traffic metrics grouped by client IP address (unique visitor), sorted by traffic descending.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficFilterRequest'
      responses:
        '200':
          description: Returns traffic metrics grouped by client IP address (unique visitor), sorted by traffic descending
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficBreakdownResponse'

  /{serviceId}/analytics/traffic/visitor/line:
    post:
      operationId: trafficVisitorLine
      summary: Get traffic time-series for a visitor IP
      description: Returns per-time-bucket metrics for a specific visitor IP address.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficVisitorLineRequest'
      responses:
        '200':
          description: Returns per-time-bucket metrics for a specific visitor IP address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficLineResponse'

  /{serviceId}/analytics/traffic/asn:
    post:
      operationId: trafficASN
      summary: Get traffic breakdown by ASN
      description: Returns traffic metrics grouped by Autonomous System (AS) name.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficFilterRequest'
      responses:
        '200':
          description: Returns traffic metrics grouped by Autonomous System (AS) name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficBreakdownResponse'

  /{serviceId}/analytics/traffic/asn/line:
    post:
      operationId: trafficASNLine
      summary: Get traffic time-series for an ASN
      description: Returns per-time-bucket metrics for a specific ASN.
      tags: [traffic-analytics]
      parameters:
      - $ref: '#/components/parameters/RestServiceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TrafficASNLineRequest'
      responses:
        '200':
          description: Returns per-time-bucket metrics for a specific ASN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficLineResponse'


components:
  parameters:
    RestServiceId:
      name: serviceId
      in: path
      required: true
      description: CDN service ID (integer)
      schema:
        type: integer
        minimum: 1

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
# ── Schemas from Dashboard Reports API (Claude) ───────────────────────────────
    # ------------------------------------------------------------------
    # MyCDN / ON filter schemas
    # ------------------------------------------------------------------
    StatsSummaryRangeParam:
      description: |
        Slash-delimited filter string for stats summary endpoints.
        Format: `{range}/{type}`
        - range: `last_24hrs` | `last_7days` | `last_30days` | `YYYY-MM` (month key)
        - type: `hourly` | `daily`
        Example: `last_7days/daily`
      type: string
      example: "last_7days/daily"

    CacheFilterParam:
      description: |
        Slash-delimited filter string for cache statistics endpoints.
        Format: `{frequency}/{filter_type}/{start_date}/{end_date}`
        - frequency: `0` (minute) | `1` (hour) | `2` (day)
        - filter_type: `0` (traffic) | `1` (HIT/MISS)
        - start_date: `YYYY-MM-DD`
        - end_date: `YYYY-MM-DD`
        Example: `2/0/2024-01-01/2024-01-31`
      type: string
      example: "2/0/2024-01-01/2024-01-31"

    TopFilesFilterParam:
      description: |
        Slash-delimited filter string for top-files endpoints.
        Format: `{start_date}/{end_date}/{type}`
        - start_date: `YYYY-MM-DD`
        - end_date: `YYYY-MM-DD`
        - type: `dynamic` | `static` | `notfound`
        Example: `2024-01-01/2024-01-31/dynamic`
      type: string
      example: "2024-01-01/2024-01-31/dynamic"

    DateRangeFilterParam:
      description: |
        Slash-delimited filter string for referrers, status-codes, countries,
        browsers, OS, and visitors endpoints.
        Format: `{frequency}/{start_date}/{end_date}`
        - frequency: `0` (minute) | `1` (hour) | `2` (day)
        - start_date: `YYYY-MM-DD`
        - end_date: `YYYY-MM-DD`
        Example: `2/2024-01-01/2024-01-31`
      type: string
      example: "2/2024-01-01/2024-01-31"

    TopReferrersFilterParam:
      description: |
        Slash-delimited filter string for top-referrers endpoint.
        Format: `{start_date}/{end_date}`
        - start_date: `YYYY-MM-DD`
        - end_date: `YYYY-MM-DD`
        Example: `2024-01-01/2024-01-31`
      type: string
      example: "2024-01-01/2024-01-31"

    # ------------------------------------------------------------------
    # Akamai range params
    # ------------------------------------------------------------------
    AkamaiRangeParam:
      description: |
        Date-time range for Akamai reports. Format: `YYYY-MM-DD HH:mm:ss - YYYY-MM-DD HH:mm:ss`
        Defaults to last 7 days ending yesterday.
      type: string
      example: "2024-01-01 00:00:00 - 2024-01-08 00:00:00"

    # ------------------------------------------------------------------
    # Minutes / DVR range param
    # ------------------------------------------------------------------
    MinutesRangeParam:
      description: |
        Date-time range for DVR/transcode stats. Format: `YYYY-MM-DD HH:00:00 - YYYY-MM-DD HH:00:00`
        Defaults to last 7 days.
      type: string
      example: "2024-01-01 00:00:00 - 2024-01-08 00:00:00"

    # ------------------------------------------------------------------
    # HTML page response (all dashboard pages return HTML)
    # ------------------------------------------------------------------
    TrafficBytesValue:
      type: object
      description: A bandwidth metric — raw bytes and human-readable string, with optional percentage of total.
      properties:
        bytes:
          type: integer
          format: int64
          description: Raw byte count
          example: 1262343731219
        formatted:
          type: string
          description: Human-readable value (e.g. "1.26 TB")
          example: "1.26 TB"
        percent:
          type: string
          description: Share of the total for this dimension value (only present in breakdown/line data items)
          example: "+35.67%"

    TrafficCountValue:
      type: object
      description: A count metric — raw count and human-readable string, with optional percentage of total.
      properties:
        count:
          type: integer
          format: int64
          description: Raw count
          example: 1172166
        formatted:
          type: string
          description: Human-readable value (e.g. "1.172M")
          example: "1.172M"
        percent:
          type: string
          description: Share of the total (only present in breakdown/line data items)
          example: "+51.24%"

    TrafficEfficiencyValue:
      type: object
      description: A cache-efficiency or traffic-efficiency ratio.
      properties:
        percent:
          type: number
          format: float
          description: Efficiency ratio as a decimal (0–1)
          example: 0.71
        formatted:
          type: string
          description: Human-readable formatted value (e.g. "+71%")
          example: "+71%"

    TrafficSummary:
      type: object
      description: Aggregate traffic metrics for a period or resource.
      properties:
        traffic:
          $ref: '#/components/schemas/TrafficBytesValue'
        traffic_cached:
          $ref: '#/components/schemas/TrafficBytesValue'
        hits:
          $ref: '#/components/schemas/TrafficCountValue'
        requests:
          $ref: '#/components/schemas/TrafficCountValue'
        unique_visitors:
          $ref: '#/components/schemas/TrafficCountValue'
        caching_efficiency:
          $ref: '#/components/schemas/TrafficEfficiencyValue'
        traffic_efficiency:
          $ref: '#/components/schemas/TrafficEfficiencyValue'

    TrafficDataItem:
      type: object
      description: |
        A single row in a traffic breakdown or time-series response.
        The `key` identifies the dimension value:
        - For breakdown endpoints: a string (country, browser, PoP ID, etc.) or integer (HTTP status code)
        - For /line time-series endpoints: a Unix timestamp integer
        Each metric includes a `percent` field showing share of the response-level total.
      properties:
        key:
          description: Dimension value or Unix timestamp (for /line endpoints)
          oneOf:
          - type: string
          - type: integer
        traffic:
          $ref: '#/components/schemas/TrafficBytesValue'
        traffic_cached:
          $ref: '#/components/schemas/TrafficBytesValue'
        hits:
          $ref: '#/components/schemas/TrafficCountValue'
        requests:
          $ref: '#/components/schemas/TrafficCountValue'
        unique_visitors:
          $ref: '#/components/schemas/TrafficCountValue'
        caching_efficiency:
          $ref: '#/components/schemas/TrafficEfficiencyValue'
        traffic_efficiency:
          $ref: '#/components/schemas/TrafficEfficiencyValue'

    TrafficLineInfo:
      type: object
      description: Time-series metadata returned alongside data by all /line endpoints.
      properties:
        granularity:
          type: string
          description: Time bucket granularity used for the data array (e.g. "1m", "5m", "1h", "1d")
          example: "1m"
        dateFormat:
          type: string
          description: PHP date() format string for rendering timestamps
          example: "Y-m-d H:i:00"

    # ── REST Analytics – request schemas ─────────────────────────────────────
    TrafficResourcesRequest:
      type: object
      properties:
        resource_type:
          type: string
          description: Filter to a specific resource type. Omit to return all resource types.
          enum: [push, pull, all, livestream]
          example: push
          x-enum-descriptions:
            push: HTTP Push zones
            pull: HTTP Pull zones
            livestream: Live stream resources
            all: All resource types (default when omitted)

    TrafficSummaryLineRequest:
      type: object
      required: [r]
      description: |
        Request body for the traffic summary time-series endpoint.
        If `resource_type` is `all`, omit `resource_hashes`.
        If `resource_type` is a specific type, `resource_hashes` must be provided.
      properties:
        r:
          type: string
          description: Date range "YYYY-MM-DD - YYYY-MM-DD" (UTC)
          example: "2024-04-01 - 2024-04-22"
        resource_type:
          type: string
          description: Resource category to filter by. Use `all` to include all resources (omit resource_hashes when using all).
          enum: [push, pull, all, livestream]
          example: push
        resource_hashes:
          type: array
          items:
            type: string
          description: |
            Array of resource hashes to filter by (from /{serviceId}/analytics/traffic/resources).
            Required when resource_type is push, pull, or livestream. Omit when resource_type is all.
          example: ["exa8jekgpb63", "n4zpvl968j5o", "3dayaam7yvnl"]
        granularity:
          type: string
          description: Defines the time interval for data aggregation.
          enum: ["1m", "5m", "15m", "30m", "1h", "3h", "6h", "12h", "24h"]
          example: "1h"

    TrafficLocationLineRequest:
      type: object
      required: [r, match]
      description: |
        If `resource_type` is `all`, omit `resource_hashes`.
        If `resource_type` is a specific type, `resource_hashes` must be provided.
      properties:
        r:
          type: string
          description: Date range "YYYY-MM-DD - YYYY-MM-DD" (UTC)
          example: "2024-04-01 - 2024-04-22"
        resource_type:
          type: string
          description: Resource category to filter by. Use `all` to include all resources (omit resource_hashes when using all).
          enum: [push, pull, all, livestream]
          example: push
        resource_hashes:
          type: array
          items:
            type: string
          description: |
            Array of resource hashes to filter by (from /{serviceId}/analytics/traffic/resources).
            Required when resource_type is push, pull, or livestream. Omit when resource_type is all.
          example: ["exa8jekgpb63", "n4zpvl968j5o", "3dayaam7yvnl"]
        granularity:
          type: string
          description: Defines the time interval for data aggregation.
          enum: ["1m", "5m", "15m", "30m", "1h", "3h", "6h", "12h", "24h"]
          example: "1h"
        match:
          type: string
          description: Identifies a specific edge location by its unique identifier. Typically follows a structured naming convention indicating region, country, city, and provider.
          example: edge-l1-us-dal-tp01

    TrafficCountryLineRequest:
      type: object
      required: [r, match]
      description: |
        If `resource_type` is `all`, omit `resource_hashes`.
        If `resource_type` is a specific type, `resource_hashes` must be provided.
      properties:
        r:
          type: string
          description: Date range "YYYY-MM-DD - YYYY-MM-DD" (UTC)
          example: "2024-04-01 - 2024-04-22"
        resource_type:
          type: string
          description: Resource category to filter by. Use `all` to include all resources (omit resource_hashes when using all).
          enum: [push, pull, all, livestream]
          example: push
        resource_hashes:
          type: array
          items:
            type: string
          description: |
            Array of resource hashes to filter by (from /{serviceId}/analytics/traffic/resources).
            Required when resource_type is push, pull, or livestream. Omit when resource_type is all.
          example: ["exa8jekgpb63", "n4zpvl968j5o", "3dayaam7yvnl"]
        granularity:
          type: string
          description: Defines the time interval for data aggregation.
          enum: ["1m", "5m", "15m", "30m", "1h", "3h", "6h", "12h", "24h"]
          example: "1h"
        match:
          type: string
          description: Specifies the country or region for which analytics data is being filtered. Helps narrow down insights to a specific location.
          example: India

    TrafficBrowserLineRequest:
      type: object
      required: [r, match]
      description: |
        If `resource_type` is `all`, omit `resource_hashes`.
        If `resource_type` is a specific type, `resource_hashes` must be provided.
      properties:
        r:
          type: string
          description: Date range "YYYY-MM-DD - YYYY-MM-DD" (UTC)
          example: "2024-04-01 - 2024-04-22"
        resource_type:
          type: string
          description: Resource category to filter by. Use `all` to include all resources (omit resource_hashes when using all).
          enum: [push, pull, all, livestream]
          example: push
        resource_hashes:
          type: array
          items:
            type: string
          description: |
            Array of resource hashes to filter by (from /{serviceId}/analytics/traffic/resources).
            Required when resource_type is push, pull, or livestream. Omit when resource_type is all.
          example: ["exa8jekgpb63", "n4zpvl968j5o", "3dayaam7yvnl"]
        granularity:
          type: string
          description: Defines the time interval for data aggregation.
          enum: ["1m", "5m", "15m", "30m", "1h", "3h", "6h", "12h", "24h"]
          example: "1h"
        match:
          type: string
          description: Defines a search pattern or query used for filtering data. Commonly used for matching user-agent strings or other metadata.
          example: '"Chrome/97.0"'

    TrafficOSLineRequest:
      type: object
      required: [r, match]
      description: |
        If `resource_type` is `all`, omit `resource_hashes`.
        If `resource_type` is a specific type, `resource_hashes` must be provided.
      properties:
        r:
          type: string
          description: Date range "YYYY-MM-DD - YYYY-MM-DD" (UTC)
          example: "2024-04-01 - 2024-04-22"
        resource_type:
          type: string
          description: Resource category to filter by. Use `all` to include all resources (omit resource_hashes when using all).
          enum: [push, pull, all, livestream]
          example: push
        resource_hashes:
          type: array
          items:
            type: string
          description: |
            Array of resource hashes to filter by (from /{serviceId}/analytics/traffic/resources).
            Required when resource_type is push, pull, or livestream. Omit when resource_type is all.
          example: ["exa8jekgpb63", "n4zpvl968j5o", "3dayaam7yvnl"]
        granularity:
          type: string
          description: Defines the time interval for data aggregation.
          enum: ["1m", "5m", "15m", "30m", "1h", "3h", "6h", "12h", "24h"]
          example: "1h"
        match:
          type: string
          description: Specifies the category or segment being analyzed. Represents grouping of data based on predefined criteria.
          example: Other

    TrafficDeviceLineRequest:
      type: object
      required: [r, match]
      description: |
        If `resource_type` is `all`, omit `resource_hashes`.
        If `resource_type` is a specific type, `resource_hashes` must be provided.
      properties:
        r:
          type: string
          description: Date range "YYYY-MM-DD - YYYY-MM-DD" (UTC)
          example: "2024-04-01 - 2024-04-22"
        resource_type:
          type: string
          description: Resource category to filter by. Use `all` to include all resources (omit resource_hashes when using all).
          enum: [push, pull, all, livestream]
          example: push
        resource_hashes:
          type: array
          items:
            type: string
          description: |
            Array of resource hashes to filter by (from /{serviceId}/analytics/traffic/resources).
            Required when resource_type is push, pull, or livestream. Omit when resource_type is all.
          example: ["exa8jekgpb63", "n4zpvl968j5o", "3dayaam7yvnl"]
        granularity:
          type: string
          description: Defines the time interval for data aggregation.
          enum: ["1m", "5m", "15m", "30m", "1h", "3h", "6h", "12h", "24h"]
          example: "1h"
        match:
          type: string
          description: Represents the device or category being analyzed. This could be a general device type or a specific model.
          example: Generic Smartphone

    TrafficStatusCodeLineRequest:
      type: object
      required: [r, match]
      description: |
        If `resource_type` is `all`, omit `resource_hashes`.
        If `resource_type` is a specific type, `resource_hashes` must be provided.
      properties:
        r:
          type: string
          description: Date range "YYYY-MM-DD - YYYY-MM-DD" (UTC)
          example: "2024-04-01 - 2024-04-22"
        resource_type:
          type: string
          description: Resource category to filter by. Use `all` to include all resources (omit resource_hashes when using all).
          enum: [push, pull, all, livestream]
          example: push
        resource_hashes:
          type: array
          items:
            type: string
          description: |
            Array of resource hashes to filter by (from /{serviceId}/analytics/traffic/resources).
            Required when resource_type is push, pull, or livestream. Omit when resource_type is all.
          example: ["exa8jekgpb63", "n4zpvl968j5o", "3dayaam7yvnl"]
        granularity:
          type: string
          description: Defines the time interval for data aggregation.
          enum: ["1m", "5m", "15m", "30m", "1h", "3h", "6h", "12h", "24h"]
          example: "1h"
        match:
          type: integer
          description: Represents an HTTP status code to filter analytics results. Typically used to track successful or failed requests.
          example: 200

    TrafficReferrerLineRequest:
      type: object
      required: [r, match]
      description: |
        If `resource_type` is `all`, omit `resource_hashes`.
        If `resource_type` is a specific type, `resource_hashes` must be provided.
      properties:
        r:
          type: string
          description: Date range "YYYY-MM-DD - YYYY-MM-DD" (UTC)
          example: "2024-04-01 - 2024-04-22"
        resource_type:
          type: string
          description: Resource category to filter by. Use `all` to include all resources (omit resource_hashes when using all).
          enum: [push, pull, all, livestream]
          example: push
        resource_hashes:
          type: array
          items:
            type: string
          description: |
            Array of resource hashes to filter by (from /{serviceId}/analytics/traffic/resources).
            Required when resource_type is push, pull, or livestream. Omit when resource_type is all.
          example: ["exa8jekgpb63", "n4zpvl968j5o", "3dayaam7yvnl"]
        granularity:
          type: string
          description: Defines the time interval for data aggregation.
          enum: ["1m", "5m", "15m", "30m", "1h", "3h", "6h", "12h", "24h"]
          example: "1h"
        match:
          type: string
          description: Represents a filtering or grouping criterion for analytics data. Can be a specific keyword, identifier, or wildcard ('-') for general data.
          example: "-"

    TrafficFileLineRequest:
      type: object
      required: [r, match]
      description: |
        If `resource_type` is `all`, omit `resource_hashes`.
        If `resource_type` is a specific type, `resource_hashes` must be provided.
      properties:
        r:
          type: string
          description: Date range "YYYY-MM-DD - YYYY-MM-DD" (UTC)
          example: "2024-04-01 - 2024-04-22"
        resource_type:
          type: string
          description: Resource category to filter by. Use `all` to include all resources (omit resource_hashes when using all).
          enum: [push, pull, all, livestream]
          example: push
        resource_hashes:
          type: array
          items:
            type: string
          description: |
            Array of resource hashes to filter by (from /{serviceId}/analytics/traffic/resources).
            Required when resource_type is push, pull, or livestream. Omit when resource_type is all.
          example: ["exa8jekgpb63", "n4zpvl968j5o", "3dayaam7yvnl"]
        granularity:
          type: string
          description: Defines the time interval for data aggregation.
          enum: ["1m", "5m", "15m", "30m", "1h", "3h", "6h", "12h", "24h"]
          example: "1h"
        match:
          type: string
          description: The specific file or resource being analyzed. Represents a file path or URL related to analytics tracking.
          example: /assets/images/banner-ad.png

    TrafficVisitorLineRequest:
      type: object
      required: [r, match]
      description: |
        If `resource_type` is `all`, omit `resource_hashes`.
        If `resource_type` is a specific type, `resource_hashes` must be provided.
      properties:
        r:
          type: string
          description: Date range "YYYY-MM-DD - YYYY-MM-DD" (UTC)
          example: "2024-04-01 - 2024-04-22"
        resource_type:
          type: string
          description: Resource category to filter by. Use `all` to include all resources (omit resource_hashes when using all).
          enum: [push, pull, all, livestream]
          example: push
        resource_hashes:
          type: array
          items:
            type: string
          description: |
            Array of resource hashes to filter by (from /{serviceId}/analytics/traffic/resources).
            Required when resource_type is push, pull, or livestream. Omit when resource_type is all.
          example: ["exa8jekgpb63", "n4zpvl968j5o", "3dayaam7yvnl"]
        granularity:
          type: string
          description: Defines the time interval for data aggregation.
          enum: ["1m", "5m", "15m", "30m", "1h", "3h", "6h", "12h", "24h"]
          example: "1h"
        match:
          type: string
          description: The IP address or identifier used to filter analytics data. Represents a specific user, device, or network.
          example: 198.144.159.121

    TrafficASNLineRequest:
      type: object
      required: [r, match]
      description: |
        If `resource_type` is `all`, omit `resource_hashes`.
        If `resource_type` is a specific type, `resource_hashes` must be provided.
      properties:
        r:
          type: string
          description: Date range "YYYY-MM-DD - YYYY-MM-DD" (UTC)
          example: "2024-04-01 - 2024-04-22"
        resource_type:
          type: string
          description: Resource category to filter by. Use `all` to include all resources (omit resource_hashes when using all).
          enum: [push, pull, all, livestream]
          example: push
        resource_hashes:
          type: array
          items:
            type: string
          description: |
            Array of resource hashes to filter by (from /{serviceId}/analytics/traffic/resources).
            Required when resource_type is push, pull, or livestream. Omit when resource_type is all.
          example: ["exa8jekgpb63", "n4zpvl968j5o", "3dayaam7yvnl"]
        granularity:
          type: string
          description: Defines the time interval for data aggregation.
          enum: ["1m", "5m", "15m", "30m", "1h", "3h", "6h", "12h", "24h"]
          example: "1h"
        match:
          type: string
          description: Represents the ASN (Autonomous System Name) being analyzed. This value must match the `key` field from the API response data.
          example: Megatel Networks Private Limited
          x-examples:
            - Megatel Networks Private Limited
            - TELUS Communications

    TrafficCacheLineRequest:
      type: object
      required: [r, match]
      description: |
        If `resource_type` is `all`, omit `resource_hashes`.
        If `resource_type` is a specific type, `resource_hashes` must be provided.
      properties:
        r:
          type: string
          description: Date range "YYYY-MM-DD - YYYY-MM-DD" (UTC)
          example: "2024-04-01 - 2024-04-22"
        resource_type:
          type: string
          description: Resource category to filter by. Use `all` to include all resources (omit resource_hashes when using all).
          enum: [push, pull, all, livestream]
          example: push
        resource_hashes:
          type: array
          items:
            type: string
          description: |
            Array of resource hashes to filter by (from /{serviceId}/analytics/traffic/resources).
            Required when resource_type is push, pull, or livestream. Omit when resource_type is all.
          example: ["exa8jekgpb63", "n4zpvl968j5o", "3dayaam7yvnl"]
        granularity:
          type: string
          description: Defines the time interval for data aggregation.
          enum: ["1m", "5m", "15m", "30m", "1h", "3h", "6h", "12h", "24h"]
          example: "1h"
        match:
          type: string
          description: Represents the cache status used to filter analytics data. This value must match the `key` field from the API response data.
          enum: [HIT, MISS, EXPIRED, BYPASS, STALE, UPDATING, "-"]
          example: MISS
          x-examples:
            - MISS
            - HIT

    TrafficFilterRequest:
      type: object
      required: [r]
      description: |
        If `resource_type` is `all`, omit `resource_hashes`.
        If `resource_type` is a specific type, `resource_hashes` must be provided.
      properties:
        r:
          type: string
          description: Date range "YYYY-MM-DD - YYYY-MM-DD" (UTC)
          example: "2024-04-01 - 2024-04-22"
        resource_type:
          type: string
          description: Resource category to filter by. Use `all` to include all resources (omit resource_hashes when using all).
          enum: [push, pull, all, livestream]
          example: push
        resource_hashes:
          type: array
          items:
            type: string
          description: |
            Array of resource hashes to filter by (from /{serviceId}/analytics/traffic/resources).
            Required when resource_type is push, pull, or livestream. Omit when resource_type is all.
          example: ["exa8jekgpb63", "n4zpvl968j5o", "3dayaam7yvnl"]
        granularity:
          type: string
          description: Defines the time interval for data aggregation.
          enum: ["1m", "5m", "15m", "30m", "1h", "3h", "6h", "12h", "24h"]
          example: "1h"

    TrafficSummaryCardRequest:
      type: object
      required: [r]
      description: |
        If `resource_type` is `all`, omit `resource_hashes`.
        If `resource_type` is a specific type, `resource_hashes` must be provided.
      properties:
        r:
          type: string
          description: Date range "YYYY-MM-DD - YYYY-MM-DD" (UTC)
          example: "2024-04-01 - 2024-04-22"
        resource_type:
          type: string
          description: Resource category to filter by. Use `all` to include all resources (omit resource_hashes when using all).
          enum: [push, pull, all, livestream]
          example: push
        resource_hashes:
          type: array
          items:
            type: string
          description: |
            Array of resource hashes to filter by (from /{serviceId}/analytics/traffic/resources).
            Required when resource_type is push, pull, or livestream. Omit when resource_type is all.
          example: ["exa8jekgpb63", "n4zpvl968j5o", "3dayaam7yvnl"]
        granularity:
          type: string
          description: Comparison granularity for period-over-period card
          enum: [hour, day, month]

    # ── REST Analytics – response schemas ─────────────────────────────────────
    TrafficResourcesResponse:
      type: object
      description: |
        Map of resource hash (string key) to resource database ID (integer value).
        Use these hashes in `resource_hashes` filter fields on all analytics endpoints.
        Push/pull zones use short alphanumeric hashes as keys. Livestream resources
        use path-style keys in the format `{stream_name}/{source_name}`.
      additionalProperties:
        type: integer
        description: Resource database ID
      example:
        "n4zpvl968j5o": 5157
        "exa8jekgpb63": 5156
        "3dayaam7yvnl": 5155
        "4jmpmx2a82ld": 5154
        "em2y9a6z86gk": 5153
        "v74pl3g9pjmk": 5152
        "w5a8xma3p47x": 5151
        "kd6879j9yjoa": 5144
        "95lyze4byn42": 5121
        "2ojyko9a8zk3": 5063
        "em2y9a3l86gk": 5005
        "n4zpvle28j5o": 4981
      examples:
        push_pull:
          summary: Push / Pull zones (resource_type=push or pull)
          value:
            "n4zpvl968j5o": 5157
            "exa8jekgpb63": 5156
            "3dayaam7yvnl": 5155
            "4jmpmx2a82ld": 5154
        livestream:
          summary: Livestream resources (resource_type=livestream)
          value:
            "103_push_6643_001/one": 71979
            "test_rec/jayasurya": 71847
            "test/jayasurya": 71846
            "arti_rec/7a5895cc5e0b182260d6e627f02f237f.sdp": 71525
            "arti_rec/test23": 71525
            "arti/7a5895cc5e0b182260d6e627f02f237f.sdp": 71524
            "arti/test23": 71524
            "ahm/582061961bd9663dd6e61fff44c37c94.sdp": 71507
            "ahm/test21": 71507
            "arti_rec/7638b661ff150229912bfb21fb404e58.sdp": 71356
            "arti_rec/test": 71356
            "arti/7638b661ff150229912bfb21fb404e58.sdp": 71355
            "arti/test": 71355

    TrafficSummaryResponse:
      type: object
      description: Aggregate traffic metrics for the selected date range.
      properties:
        summary:
          type: object
          properties:
            traffic:
              type: object
              properties:
                bytes:
                  type: integer
                  format: int64
                  example: 1262343731219
                formatted:
                  type: string
                  example: "1.26 TB"
            traffic_cached:
              type: object
              properties:
                bytes:
                  type: integer
                  format: int64
                  example: 864713098005
                formatted:
                  type: string
                  example: "864.71 GB"
            hits:
              type: object
              properties:
                count:
                  type: integer
                  format: int64
                  example: 1172166
                formatted:
                  type: string
                  example: "1.172M"
            requests:
              type: object
              properties:
                count:
                  type: integer
                  format: int64
                  example: 1646341
                formatted:
                  type: string
                  example: "1.646M"
            unique_visitors:
              type: object
              properties:
                count:
                  type: integer
                  format: int64
                  example: 27056
                formatted:
                  type: string
                  example: "27.06k"
            caching_efficiency:
              type: object
              properties:
                percent:
                  type: number
                  format: float
                  example: 0.71
                formatted:
                  type: string
                  example: "+71%"
            traffic_efficiency:
              type: object
              properties:
                percent:
                  type: number
                  format: float
                  example: 0.69
                formatted:
                  type: string
                  example: "+69%"

    TrafficCacheResponse:
      type: object
      description: Traffic metrics broken down by cache status.
      properties:
        summary:
          type: object
          properties:
            traffic:
              type: object
              properties:
                bytes:
                  type: integer
                  format: int64
                  example: 1262343731219
                formatted:
                  type: string
                  example: "1.26 TB"
            traffic_cached:
              type: object
              properties:
                bytes:
                  type: integer
                  format: int64
                  example: 864713098005
                formatted:
                  type: string
                  example: "864.71 GB"
            hits:
              type: object
              properties:
                count:
                  type: integer
                  format: int64
                  example: 1172166
                formatted:
                  type: string
                  example: "1.172M"
        data:
          type: array
          description: Per-cache-status breakdown rows.
          items:
            type: object
            properties:
              key:
                type: string
                description: Cache status label (e.g. HIT, MISS, BYPASS).
                example: HIT
              traffic:
                type: object
                properties:
                  bytes:
                    type: integer
                    format: int64
                    example: 864713098005
                  formatted:
                    type: string
                    example: "864.71 GB"
                  percent:
                    type: string
                    example: "+68.5%"

    TrafficBreakdownResponse:
      type: object
      description: |
        Traffic metrics broken down by a single dimension (country, browser, PoP, etc.).
        The `data` array is sorted by total traffic descending.
      properties:
        summary:
          $ref: '#/components/schemas/TrafficSummary'
        data:
          type: array
          description: Per-dimension breakdown rows
          items:
            $ref: '#/components/schemas/TrafficDataItem'

    TrafficLineResponse:
      type: object
      description: Time-series traffic data for a selected dimension value.
      properties:
        info:
          $ref: '#/components/schemas/TrafficLineInfo'
        summary:
          $ref: '#/components/schemas/TrafficSummary'
        data:
          type: array
          description: Time-series data points, one per granularity bucket. `key` is a Unix timestamp.
          items:
            $ref: '#/components/schemas/TrafficDataItem'

    TrafficCardResponse:
      type: object
      description: |
        Period-over-period comparison for summary metrics. The comparison period is
        equivalent to the selected range shifted backward by the same duration.
        Deviation values use the same TrafficSummary structure, where each metric's
        `percent` or `formatted` field encodes the relative change (e.g. "-4%").
      properties:
        current:
          $ref: '#/components/schemas/TrafficSummary'
        previous:
          $ref: '#/components/schemas/TrafficSummary'
        deviation:
          $ref: '#/components/schemas/TrafficSummary'

    TrafficSummaryLineResponse:
      type: object
      description: Period-over-period cache status comparison with date range metadata.
      properties:
        period:
          type: object
          description: Date ranges for the current and previous periods.
          properties:
            current:
              type: object
              properties:
                from:
                  type: string
                  format: date-time
                  example: "2026-04-01T00:00:00"
                to:
                  type: string
                  format: date-time
                  example: "2026-04-27T23:59:59"
            previous:
              type: object
              properties:
                from:
                  type: string
                  format: date-time
                  example: "2026-03-05T00:00:01"
                to:
                  type: string
                  format: date-time
                  example: "2026-04-01T00:00:00"
        current:
          $ref: '#/components/schemas/TrafficSummaryStatusMap'
        previous:
          $ref: '#/components/schemas/TrafficSummaryStatusMap'
        deviation:
          type: object
          description: Per-status period-over-period deviation values.
          properties:
            "-":
              $ref: '#/components/schemas/TrafficCacheDeviationValue'
            BYPASS:
              $ref: '#/components/schemas/TrafficCacheDeviationValue'
            MISS:
              $ref: '#/components/schemas/TrafficCacheDeviationValue'
            HIT:
              $ref: '#/components/schemas/TrafficCacheDeviationValue'
            STALE:
              $ref: '#/components/schemas/TrafficCacheDeviationValue'
            EXPIRED:
              $ref: '#/components/schemas/TrafficCacheDeviationValue'
            UPDATING:
              $ref: '#/components/schemas/TrafficCacheDeviationValue'

    TrafficSummaryStatusMap:
      type: object
      description: Request counts keyed by cache status. Known statuses include HIT, MISS, EXPIRED, BYPASS, STALE, UPDATING, "-".
      properties:
        "-":
          $ref: '#/components/schemas/TrafficCacheStatusValue'
        BYPASS:
          $ref: '#/components/schemas/TrafficCacheStatusValue'
        MISS:
          $ref: '#/components/schemas/TrafficCacheStatusValue'
        HIT:
          $ref: '#/components/schemas/TrafficCacheStatusValue'
        STALE:
          $ref: '#/components/schemas/TrafficCacheStatusValue'
        EXPIRED:
          $ref: '#/components/schemas/TrafficCacheStatusValue'
        UPDATING:
          $ref: '#/components/schemas/TrafficCacheStatusValue'

    TrafficCacheStatusValue:
      type: object
      description: Request count for a single cache status code.
      properties:
        count:
          type: integer
          format: int64
          description: Raw request count
          example: 1172166
        formatted:
          type: string
          description: Human-readable value
          example: "1.172M"

    TrafficCacheDeviationValue:
      type: object
      description: Period-over-period change for a cache status.
      properties:
        percent:
          type: number
          format: float
          description: Relative change as a decimal (negative = decrease)
          example: -0.08
        formatted:
          type: string
          description: Human-readable change string (e.g. "-8%")
          example: "-8%"

    TrafficCacheStatusMap:
      type: object
      description: |
        Request counts keyed by cache status. Known statuses: HIT, MISS, EXPIRED, BYPASS, "-".
      properties:
        HIT:
          $ref: '#/components/schemas/TrafficCacheStatusValue'
        MISS:
          $ref: '#/components/schemas/TrafficCacheStatusValue'
        EXPIRED:
          $ref: '#/components/schemas/TrafficCacheStatusValue'
        BYPASS:
          $ref: '#/components/schemas/TrafficCacheStatusValue'
        "-":
          $ref: '#/components/schemas/TrafficCacheStatusValue'

    TrafficCacheCardResponse:
      type: object
      description: |
        Period-over-period comparison for cache status request counts.
        Unlike the summary card, metrics are keyed by cache status rather than metric type.
      properties:
        current:
          $ref: '#/components/schemas/TrafficCacheStatusMap'
        previous:
          $ref: '#/components/schemas/TrafficCacheStatusMap'
        deviation:
          type: object
          description: Per-status deviation values
          properties:
            HIT:
              $ref: '#/components/schemas/TrafficCacheDeviationValue'
            MISS:
              $ref: '#/components/schemas/TrafficCacheDeviationValue'
            EXPIRED:
              $ref: '#/components/schemas/TrafficCacheDeviationValue'
            BYPASS:
              $ref: '#/components/schemas/TrafficCacheDeviationValue'
            "-":
              $ref: '#/components/schemas/TrafficCacheDeviationValue'
