openapi: 3.0.3
info:
  title: 5centsCDN Edge Rules API
  version: "1.0.0"
  description: >
    Endpoints for managing edge rules and default behaviors on CDN zones.
    Zones are segmented by protocol mode (http, vod) and delivery type (pull, push).
  contact:
    email: help@5centscdn.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'

servers:
  - url: https://api.5centscdn.com/v2
    description: 5centsCDN API Server - Production

security:
  - apikeyAuth: []

tags:
  - name: HTTP Pull
    description: Edge rules for HTTP Pull zones
  - name: HTTP Push
    description: Edge rules for HTTP Push zones
  - name: VOD Pull
    description: Edge rules for VOD Pull zones
  - name: VOD Push
    description: Edge rules for VOD Push zones
  - name: Default Behaviors
    description: Update zone-level default behavior settings
  - name: Validation
    description: Rule pattern validation helpers

paths:

  # ═══════════════════════════════════════════════════════════════
  # HTTP PULL
  # ═══════════════════════════════════════════════════════════════

  /zones/http/pull/{zoneId}/rules:
    get:
      tags: [HTTP Pull]
      operationId: listEdgeRulesHttpPull
      summary: List all edge rules and default behaviors for an HTTP Pull zone
      description: >
        Returns all configured edge rules for the given zone, together with
        the zone's default-behavior entries. The response `rules` array is used
        to populate the Edge Rules summary table; `behaviors` contains the
        single default-behavior object.
      parameters:
        - $ref: '#/components/parameters/zoneId'
      responses:
        '200':
          description: Rules and default behaviors loaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                    enum: [success]
                  rules:
                    type: array
                    description: List of edge rules configured for this zone.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Unique identifier of this edge rule or default behavior.
                          example: 12345
                        network:
                          type: string
                          description: CDN network provider associated with this rule or behavior.
                          example: sample-network
                        rule:
                          type: object
                          description: Rule configuration object containing the match pattern and behavior options.
                          properties:
                            name:
                              type: string
                              description: Human-readable label for the edge rule.
                              example: sample-edge-rule
                            rule:
                              type: string
                              description: URL pattern or glob applied to incoming requests.
                              example: /images/*
                            ruleType:
                              type: integer
                              description: Rule type identifier. 0 = standard path-based rule.
                              example: 0
                            originProtocol:
                              nullable: true
                              description: Origin protocol override. Null to inherit from zone settings.
                              example: null
                            isRegex:
                              type: boolean
                              description: When true, the rule pattern uses regular expression syntax.
                              example: true
                            network:
                              type: string
                              description: CDN network provider associated with this rule configuration.
                              example: sample-network
                            options:
                              type: object
                              description: Behavior options applied when this rule matches a request.
                              properties:
                                ignore_cookie:
                                  type: object
                                  description: Ignore Set-Cookie headers from origin so responses can be cached.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                honor_vary:
                                  type: object
                                  description: Respect the Vary header from origin when forming cache keys.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                xff:
                                  type: object
                                  description: Forward the client IP in the X-Forwarded-For header to origin.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                disposition:
                                  type: object
                                  description: Control the Content-Disposition header mode for responses.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: integer
                                      example: 0
                                redirect_http_to_https:
                                  type: object
                                  description: Automatically redirect HTTP requests to HTTPS.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                segmenter_cache_settings:
                                  type: object
                                  description: Override cache durations for HLS manifest and segment files.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    midgress_manifest:
                                      type: integer
                                      example: 2
                                    edge_manifest:
                                      type: integer
                                      example: 4
                                    midgress_segment:
                                      type: integer
                                      example: 1
                                    edge_segment:
                                      type: integer
                                      example: 3
                                follow_origin_redirect:
                                  type: object
                                  description: Follow 3xx redirects from origin instead of passing them to clients.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    codes:
                                      type: array
                                      items:
                                        type: integer
                                      example: []
                                host_redirect:
                                  type: object
                                  description: Redirect requests matching this rule to a different host.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: [cdn.example.com]
                                    to:
                                      type: string
                                      example: origin.example.com
                                gzipOn:
                                  type: object
                                  description: Enable gzip compression for responses.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                fetch_compressed:
                                  type: object
                                  description: Fetch and serve pre-compressed assets from origin.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                slice:
                                  type: object
                                  description: Enable range-request slice caching for large files.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                websockets:
                                  type: object
                                  description: Enable WebSocket proxying for matched requests.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                waf:
                                  type: object
                                  description: Enable Web Application Firewall protection.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                stale:
                                  type: object
                                  description: Serve stale cached content when specified error conditions occur.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: [error]
                                brotli_compression:
                                  type: object
                                  description: Enable Brotli compression for specified MIME content types.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: [application/wasm]
                                response_headers_hiding_policy:
                                  type: object
                                  description: Filter or suppress specific response headers before delivery.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    mode:
                                      type: string
                                      example: hide
                                    expected:
                                      type: array
                                      items:
                                        type: string
                                      example: [connection, server, content-type, content-length, date]
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                referrer_acl:
                                  type: object
                                  description: Allow or block requests based on the HTTP Referer header.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    policy_type:
                                      type: string
                                      example: allow
                                    excepted_values:
                                      type: array
                                      items:
                                        type: string
                                      example: [""]
                                    ip_whitelists:
                                      type: array
                                      items:
                                        type: string
                                      example: [203.0.113.1]
                                    noreferer:
                                      type: boolean
                                      example: true
                                country_acl:
                                  type: object
                                  description: Allow or block requests based on the visitor country.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    policy_type:
                                      type: string
                                      example: allow
                                    excepted_values:
                                      type: array
                                      items:
                                        type: string
                                      example: [""]
                                    ip_whitelists:
                                      type: array
                                      items:
                                        type: string
                                      example: [203.0.113.1, 203.0.113.2]
                                ip_address_acl:
                                  type: object
                                  description: Allow or block requests based on the client IP address.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    policy_type:
                                      type: string
                                      example: allow
                                    excepted_values:
                                      type: array
                                      items:
                                        type: string
                                      example: [203.0.113.1]
                                    ip_whitelists:
                                      type: array
                                      items:
                                        type: string
                                      example: [203.0.113.1]
                                user_agent_acl:
                                  type: object
                                  description: Allow or block requests based on the User-Agent header.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    policy_type:
                                      type: string
                                      example: allow
                                    excepted_values:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                    ip_whitelists:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                    casesensitive:
                                      type: boolean
                                      example: true
                                secure_key:
                                  type: object
                                  description: Protect content using time-limited signed URL tokens.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    policy_type:
                                      type: string
                                      example: "0"
                                    type:
                                      type: integer
                                      example: 2
                                    key:
                                      type: string
                                      example: ""
                                    ip_whitelists:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                    timeout:
                                      type: string
                                      example: "3600"
                                    session:
                                      type: integer
                                      example: 0
                                allowedHttpMethods:
                                  type: object
                                  description: Restrict which HTTP methods are accepted for requests.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: [GET, HEAD, POST, PUT, PATCH, DELETE, OPTIONS]
                                tls_versions:
                                  type: object
                                  description: Restrict TLS connections to specific protocol versions.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                edge_cache_settings:
                                  type: object
                                  description: Controls how long CDN edge nodes cache content.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    revalidate:
                                      type: boolean
                                      example: false
                                    default:
                                      type: string
                                      example: 345600s
                                midgress_cache_settings:
                                  type: object
                                  description: Controls how long CDN mid-tier nodes cache content.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    revalidate:
                                      type: boolean
                                      example: false
                                    default:
                                      type: string
                                      example: 345600s
                                browser_cache_settings:
                                  type: object
                                  description: Controls Cache-Control headers sent to the client browser.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                cors:
                                  type: object
                                  description: Set Cross-Origin Resource Sharing headers on responses.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    always:
                                      type: boolean
                                      example: false
                                    value:
                                      type: string
                                      example: ""
                                sni:
                                  type: object
                                  description: Enable Server Name Indication for TLS connections.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                force_return:
                                  type: object
                                  description: Return a fixed HTTP status code and optional body for matched requests.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    code:
                                      type: integer
                                      example: 200
                                    body:
                                      type: string
                                      example: www.example.com
                                rewrite:
                                  type: object
                                  description: Rewrite the request URL path using a pattern and replacement.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    flag:
                                      type: string
                                      example: break
                                    body:
                                      type: string
                                      example: /regex/(.*) /regex/$1
                                staticRequestHeaders:
                                  type: object
                                  description: Add static headers to requests forwarded to origin.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    value:
                                      type: object
                                      additionalProperties:
                                        type: string
                                      example:
                                        X-Custom-Header: sample-value
                                staticHeaders:
                                  type: object
                                  description: Add static headers to responses sent to clients.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    value:
                                      type: object
                                      additionalProperties:
                                        type: string
                                      example:
                                        X-Response-Header: sample-value
                                hostHeader:
                                  nullable: true
                                  description: Override the Host header sent to origin.
                                  example: null
                                forward_host_header:
                                  nullable: true
                                  description: Forward the original client Host header to origin.
                                  example: null
                                limit_bandwidth:
                                  type: object
                                  description: Throttle the response bandwidth for matched requests.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    limit_type:
                                      type: string
                                      example: static
                                    speed:
                                      type: string
                                      example: "128"
                                    buffer:
                                      type: string
                                      example: "1024"
                                limit_request:
                                  type: object
                                  description: Rate-limit requests from each client IP address.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    rate:
                                      type: string
                                      example: "0"
                                    burst:
                                      type: string
                                      example: "0"
                                    delay:
                                      type: string
                                      example: "0"
                                    ip_whitelists:
                                      type: array
                                      items:
                                        type: string
                                      example: [203.0.113.1]
                                hsts:
                                  type: object
                                  description: Set HTTP Strict Transport Security policy headers.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    referrerPolicy:
                                      type: string
                                      example: no-referrer-when-downgrade
                                    includeSubDomains:
                                      type: boolean
                                      example: true
                                    preload:
                                      type: boolean
                                      example: true
                                cms:
                                  type: object
                                  description: Apply caching optimizations for specific CMS platforms.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                image_stack:
                                  nullable: true
                                  description: Enable on-the-fly image optimization.
                                  example: null
                                asset_stack:
                                  nullable: true
                                  description: Enable web performance optimizations for CSS and JavaScript assets.
                                  example: null
                                ignoreQueryString:
                                  type: object
                                  description: Control how query strings are handled when forming cache keys.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                query_params_blacklist:
                                  type: object
                                  description: Exclude specific query parameters from the cache key.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                query_params_whitelist:
                                  type: object
                                  description: Include only specific query parameters in the cache key.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                  behaviors:
                    type: array
                    description: List of default behavior entries for this zone. Typically contains a single default behavior.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Unique identifier of this edge rule or default behavior.
                          example: 12346
                        network:
                          type: string
                          description: CDN network provider associated with this rule or behavior.
                          example: sample-network
                        rule:
                          type: object
                          description: Rule configuration object containing the match pattern and behavior options.
                          properties:
                            name:
                              type: string
                              description: Human-readable label for the edge rule.
                              example: default
                            rule:
                              type: string
                              description: URL pattern or glob applied to incoming requests.
                              example: /
                            ruleType:
                              type: integer
                              description: Rule type identifier. 0 = standard path-based rule.
                              example: 0
                            originProtocol:
                              nullable: true
                              description: Origin protocol override. Null to inherit from zone settings.
                              example: null
                            isRegex:
                              type: boolean
                              description: When true, the rule pattern uses regular expression syntax.
                              example: false
                            network:
                              type: string
                              description: CDN network provider associated with this rule configuration.
                              example: sample-network
                            options:
                              type: object
                              description: Behavior options applied when this rule matches a request.
                              properties:
                                ignore_cookie:
                                  type: object
                                  description: Ignore Set-Cookie headers from origin so responses can be cached.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    value:
                                      type: boolean
                                      example: true
                                honor_vary:
                                  type: object
                                  description: Respect the Vary header from origin when forming cache keys.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                xff:
                                  type: object
                                  description: Forward the client IP in the X-Forwarded-For header to origin.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                disposition:
                                  type: object
                                  description: Control the Content-Disposition header mode for responses.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: integer
                                      example: 0
                                redirect_http_to_https:
                                  type: object
                                  description: Automatically redirect HTTP requests to HTTPS.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                segmenter_cache_settings:
                                  type: object
                                  description: Override cache durations for HLS manifest and segment files.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    midgress_manifest:
                                      type: integer
                                      example: 2
                                    edge_manifest:
                                      type: integer
                                      example: 4
                                    midgress_segment:
                                      type: integer
                                      example: 1
                                    edge_segment:
                                      type: integer
                                      example: 3
                                follow_origin_redirect:
                                  type: object
                                  description: Follow 3xx redirects from origin instead of passing them to clients.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    codes:
                                      type: array
                                      items:
                                        type: integer
                                      example: []
                                host_redirect:
                                  type: object
                                  description: Redirect requests matching this rule to a different host.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                    to:
                                      type: string
                                      example: ""
                                gzipOn:
                                  type: object
                                  description: Enable gzip compression for responses.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                fetch_compressed:
                                  type: object
                                  description: Fetch and serve pre-compressed assets from origin.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                slice:
                                  type: object
                                  description: Enable range-request slice caching for large files.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                websockets:
                                  type: object
                                  description: Enable WebSocket proxying for matched requests.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                waf:
                                  type: object
                                  description: Enable Web Application Firewall protection.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                stale:
                                  type: object
                                  description: Serve stale cached content when specified error conditions occur.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                brotli_compression:
                                  type: object
                                  description: Enable Brotli compression for specified MIME content types.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                response_headers_hiding_policy:
                                  type: object
                                  description: Filter or suppress specific response headers before delivery.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    mode:
                                      type: string
                                      example: ""
                                    expected:
                                      nullable: true
                                      example: null
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                referrer_acl:
                                  type: object
                                  description: Allow or block requests based on the HTTP Referer header.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    policy_type:
                                      type: string
                                      example: allow
                                    excepted_values:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                    ip_whitelists:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                    noreferer:
                                      type: boolean
                                      example: false
                                country_acl:
                                  type: object
                                  description: Allow or block requests based on the visitor country.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    policy_type:
                                      type: string
                                      example: allow
                                    excepted_values:
                                      type: array
                                      items:
                                        type: string
                                      example: [""]
                                    ip_whitelists:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                ip_address_acl:
                                  type: object
                                  description: Allow or block requests based on the client IP address.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    policy_type:
                                      type: string
                                      example: allow
                                    excepted_values:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                    ip_whitelists:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                user_agent_acl:
                                  type: object
                                  description: Allow or block requests based on the User-Agent header.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    policy_type:
                                      type: string
                                      example: allow
                                    excepted_values:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                    ip_whitelists:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                    casesensitive:
                                      type: boolean
                                      example: false
                                secure_key:
                                  type: object
                                  description: Protect content using time-limited signed URL tokens.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    policy_type:
                                      nullable: true
                                      example: null
                                    type:
                                      type: integer
                                      example: 2
                                    key:
                                      type: string
                                      example: ""
                                    ip_whitelists:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                    timeout:
                                      type: integer
                                      example: 3600
                                    session:
                                      type: integer
                                      example: 0
                                allowedHttpMethods:
                                  type: object
                                  description: Restrict which HTTP methods are accepted for requests.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                tls_versions:
                                  type: object
                                  description: Restrict TLS connections to specific protocol versions.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                edge_cache_settings:
                                  type: object
                                  description: Controls how long CDN edge nodes cache content.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    revalidate:
                                      type: boolean
                                      example: false
                                    default:
                                      type: string
                                      example: 3600s
                                midgress_cache_settings:
                                  type: object
                                  description: Controls how long CDN mid-tier nodes cache content.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    revalidate:
                                      type: boolean
                                      example: false
                                    default:
                                      type: string
                                      example: 3600s
                                browser_cache_settings:
                                  type: object
                                  description: Controls Cache-Control headers sent to the client browser.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                cors:
                                  type: object
                                  description: Set Cross-Origin Resource Sharing headers on responses.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    always:
                                      type: boolean
                                      example: false
                                    value:
                                      type: string
                                      example: ""
                                sni:
                                  type: object
                                  description: Enable Server Name Indication for TLS connections.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                force_return:
                                  type: object
                                  description: Return a fixed HTTP status code and optional body for matched requests.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                rewrite:
                                  type: object
                                  description: Rewrite the request URL path using a pattern and replacement.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                staticRequestHeaders:
                                  type: object
                                  description: Add static headers to requests forwarded to origin.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                staticHeaders:
                                  type: object
                                  description: Add static headers to responses sent to clients.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                hostHeader:
                                  nullable: true
                                  description: Override the Host header sent to origin.
                                  example: null
                                forward_host_header:
                                  nullable: true
                                  description: Forward the original client Host header to origin.
                                  example: null
                                limit_bandwidth:
                                  type: object
                                  description: Throttle the response bandwidth for matched requests.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    limit_type:
                                      type: string
                                      example: dynamic
                                limit_request:
                                  type: object
                                  description: Rate-limit requests from each client IP address.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    rate:
                                      type: integer
                                      example: 0
                                    burst:
                                      type: integer
                                      example: 0
                                    delay:
                                      type: integer
                                      example: 0
                                    ip_whitelists:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                hsts:
                                  type: object
                                  description: Set HTTP Strict Transport Security policy headers.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    referrerPolicy:
                                      type: string
                                      example: no-referrer
                                    includeSubDomains:
                                      type: boolean
                                      example: false
                                    preload:
                                      type: boolean
                                      example: false
                                cms:
                                  type: object
                                  description: Apply caching optimizations for specific CMS platforms.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                image_stack:
                                  nullable: true
                                  description: Enable on-the-fly image optimization.
                                  example: null
                                asset_stack:
                                  nullable: true
                                  description: Enable web performance optimizations for CSS and JavaScript assets.
                                  example: null
                                ignoreQueryString:
                                  type: object
                                  description: Control how query strings are handled when forming cache keys.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    value:
                                      type: boolean
                                      example: true
              example:
                result: success
                rules:
                  - id: 12345
                    network: sample-network
                    rule:
                      name: sample-edge-rule
                      rule: /images/*
                      ruleType: 0
                      originProtocol: null
                      isRegex: true
                      network: sample-network
                      options:
                        ignore_cookie: { enabled: false, value: false }
                        honor_vary: { enabled: false, value: false }
                        xff: { enabled: false, value: false }
                        disposition: { enabled: false, value: 0 }
                        redirect_http_to_https: { enabled: false, value: false }
                        segmenter_cache_settings: { enabled: false, midgress_manifest: 2, edge_manifest: 4, midgress_segment: 1, edge_segment: 3 }
                        follow_origin_redirect: { enabled: false, codes: [] }
                        host_redirect: { enabled: true, value: [cdn.example.com], to: origin.example.com }
                        gzipOn: { enabled: false, value: false }
                        fetch_compressed: { enabled: false, value: false }
                        slice: { enabled: false, value: false }
                        websockets: { enabled: false, value: false }
                        waf: { enabled: false, value: false }
                        stale: { enabled: true, value: [error] }
                        brotli_compression: { enabled: true, value: [application/wasm] }
                        response_headers_hiding_policy: { enabled: false, mode: hide, expected: [connection, server, content-type, content-length, date], value: [] }
                        referrer_acl: { enabled: true, policy_type: allow, excepted_values: [""], ip_whitelists: [203.0.113.1], noreferer: true }
                        country_acl: { enabled: true, policy_type: allow, excepted_values: [""], ip_whitelists: [203.0.113.1, 203.0.113.2] }
                        ip_address_acl: { enabled: true, policy_type: allow, excepted_values: [203.0.113.1], ip_whitelists: [203.0.113.1] }
                        user_agent_acl: { enabled: false, policy_type: allow, excepted_values: [], ip_whitelists: [], casesensitive: true }
                        secure_key: { enabled: false, policy_type: "0", type: 2, key: "", ip_whitelists: [], timeout: "3600", session: 0 }
                        allowedHttpMethods: { enabled: true, value: [GET, HEAD, POST, PUT, PATCH, DELETE, OPTIONS] }
                        tls_versions: { enabled: false, value: [] }
                        edge_cache_settings: { enabled: true, revalidate: false, default: 345600s }
                        midgress_cache_settings: { enabled: true, revalidate: false, default: 345600s }
                        browser_cache_settings: { enabled: true }
                        cors: { enabled: false, always: false, value: "" }
                        sni: { enabled: false }
                        force_return: { enabled: true, code: 200, body: www.example.com }
                        rewrite: { enabled: true, flag: break, body: /regex/(.*) /regex/$1 }
                        staticRequestHeaders: { enabled: true, value: { X-Custom-Header: sample-value } }
                        staticHeaders: { enabled: true, value: { X-Response-Header: sample-value } }
                        hostHeader: null
                        forward_host_header: null
                        limit_bandwidth: { enabled: true, limit_type: static, speed: "128", buffer: "1024" }
                        limit_request: { enabled: true, rate: "0", burst: "0", delay: "0", ip_whitelists: [203.0.113.1] }
                        hsts: { enabled: false, referrerPolicy: no-referrer-when-downgrade, includeSubDomains: true, preload: true }
                        cms: { enabled: false, value: [] }
                        image_stack: null
                        asset_stack: null
                        ignoreQueryString: { enabled: false, value: false }
                        query_params_blacklist: { enabled: false, value: false }
                        query_params_whitelist: { enabled: false, value: false }
                behaviors:
                  - id: 12346
                    network: sample-network
                    rule:
                      name: default
                      rule: /
                      ruleType: 0
                      originProtocol: null
                      isRegex: false
                      network: sample-network
                      options:
                        ignore_cookie: { enabled: true, value: true }
                        honor_vary: { enabled: false, value: false }
                        xff: { enabled: false, value: false }
                        disposition: { enabled: false, value: 0 }
                        redirect_http_to_https: { enabled: false, value: false }
                        segmenter_cache_settings: { enabled: false, midgress_manifest: 2, edge_manifest: 4, midgress_segment: 1, edge_segment: 3 }
                        follow_origin_redirect: { enabled: false, codes: [] }
                        host_redirect: { enabled: false, value: [], to: "" }
                        gzipOn: { enabled: false, value: false }
                        fetch_compressed: { enabled: false, value: false }
                        slice: { enabled: false, value: false }
                        websockets: { enabled: false, value: false }
                        waf: { enabled: false, value: false }
                        stale: { enabled: false, value: [] }
                        brotli_compression: { enabled: false, value: [] }
                        response_headers_hiding_policy: { enabled: false, mode: "", expected: null, value: [] }
                        referrer_acl: { enabled: false, policy_type: allow, excepted_values: [], ip_whitelists: [], noreferer: false }
                        country_acl: { enabled: true, policy_type: allow, excepted_values: [""], ip_whitelists: [] }
                        ip_address_acl: { enabled: false, policy_type: allow, excepted_values: [], ip_whitelists: [] }
                        user_agent_acl: { enabled: false, policy_type: allow, excepted_values: [], ip_whitelists: [], casesensitive: false }
                        secure_key: { enabled: false, policy_type: null, type: 2, key: "", ip_whitelists: [], timeout: 3600, session: 0 }
                        allowedHttpMethods: { enabled: false, value: [] }
                        tls_versions: { enabled: false, value: [] }
                        edge_cache_settings: { enabled: true, revalidate: false, default: 3600s }
                        midgress_cache_settings: { enabled: true, revalidate: false, default: 3600s }
                        browser_cache_settings: { enabled: true }
                        cors: { enabled: false, always: false, value: "" }
                        sni: { enabled: false }
                        force_return: { enabled: false }
                        rewrite: { enabled: false }
                        staticRequestHeaders: { enabled: false }
                        staticHeaders: { enabled: false }
                        hostHeader: null
                        forward_host_header: null
                        limit_bandwidth: { enabled: false, limit_type: dynamic }
                        limit_request: { enabled: false, rate: 0, burst: 0, delay: 0, ip_whitelists: [] }
                        hsts: { enabled: false, referrerPolicy: no-referrer, includeSubDomains: false, preload: false }
                        cms: { enabled: false, value: [] }
                        image_stack: null
                        asset_stack: null
                        ignoreQueryString: { enabled: true, value: true }
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'

  /zones/http/pull/{zoneId}/rules/rule:
    post:
      tags: [HTTP Pull]
      operationId: createEdgeRuleHttpPull
      summary: Create a new edge rule for an HTTP Pull zone
      description: >
        Creates a new edge rule for the zone. The body must include
        `"_METHOD": "PUT"` alongside the standard rule payload. On success the
        server returns `result: "success"` with a human-readable message.
      parameters:
        - $ref: '#/components/parameters/zoneId'
      requestBody:
        $ref: '#/components/requestBodies/CreateRuleBody_httpPull'
      responses:
        '200':
          description: Edge rule created successfully
          content:
            application/json:
              schema:
                type: object
                required: [result, message, ruleid]
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: Zone EdgeRule Created. Please wait till the rules validation & deployment completes.
                  ruleid:
                    type: integer
                    description: The numeric ID of the newly created edge rule.
                    example: 8408
              example:
                result: success
                message: Zone EdgeRule Created. Please wait till the rules validation & deployment completes.
                ruleid: 8408
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'

  /zones/http/pull/{zoneId}/rules/rule/{ruleId}:
    post:
      tags: [HTTP Pull]
      operationId: updateOrDeleteEdgeRuleHttpPull
      summary: Update or delete a specific edge rule in an HTTP Pull zone
      description: >
        **Update** — omit `_METHOD` or do not send it; the full rule options
        object is sent as the body and the rule is updated in place.

        **Delete** — include `"_METHOD": "DELETE"` as the only body field.
        The rule identified by `ruleId` is permanently removed.
      parameters:
        - $ref: '#/components/parameters/zoneId'
        - $ref: '#/components/parameters/ruleId'
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrDeleteRuleBody_httpPull'
      responses:
        '200':
          description: Operation completed successfully (update or delete)
          content:
            application/json:
              schema:
                type: object
                required: [result, message]
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: Zone EdgeRule Updated. Please wait till the rules validation & deployment completes.
              examples:
                updated:
                  summary: Rule updated successfully
                  value:
                    result: success
                    message: Zone EdgeRule Updated. Please wait till the rules validation & deployment completes.
                deleted:
                  summary: Rule deleted successfully
                  value:
                    result: success
                    message: Zone EdgeRule Deleted. Please wait till the deployment completes.
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'

  /zones/http/pull/{zoneId}/rules/behavior/{behaviorId}:
    post:
      tags: [Default Behaviors]
      operationId: updateDefaultBehaviorHttpPull
      summary: Update the default behavior for an HTTP Pull zone
      description: >
        Saves changes to the zone's default behavior entry. The payload
        structure is identical to a rule update (`RulePayload`) but the
        `name` and `rule` fields are effectively ignored — only `options`
        is applied. `behaviorId` is the `id` from the behaviors array
        returned by GET rules.
      parameters:
        - $ref: '#/components/parameters/zoneId'
        - $ref: '#/components/parameters/behaviorId'
      requestBody:
        $ref: '#/components/requestBodies/UpdateBehaviorBody_httpPull'
      responses:
        '200':
          description: Default behavior updated successfully
          content:
            application/json:
              schema:
                type: object
                required: [result, message]
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: Zone Behavior Updated. Please wait till the rules validation & deployment completes.
              example:
                result: success
                message: Zone Behavior Updated. Please wait till the rules validation & deployment completes.
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'

  # ═══════════════════════════════════════════════════════════════
  # HTTP PUSH
  # ═══════════════════════════════════════════════════════════════

  /zones/http/push/{zoneId}/rules:
    get:
      tags: [HTTP Push]
      operationId: listEdgeRulesHttpPush
      summary: List all edge rules and default behaviors for an HTTP Push zone
      description: >
        Returns all configured edge rules for the given zone, together with
        the zone's default-behavior entries. The response `rules` array is used
        to populate the Edge Rules summary table; `behaviors` contains the
        single default-behavior object.
      parameters:
        - $ref: '#/components/parameters/zoneId'
      responses:
        '200':
          description: Rules and default behaviors loaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                    enum: [success]
                  rules:
                    type: array
                    description: List of edge rules configured for this zone.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Unique identifier of this edge rule or default behavior.
                          example: 12345
                        network:
                          type: string
                          description: CDN network provider associated with this rule or behavior.
                          example: sample-network
                        rule:
                          type: object
                          description: Rule configuration object containing the match pattern and behavior options.
                          properties:
                            name:
                              type: string
                              description: Human-readable label for the edge rule.
                              example: sample-edge-rule
                            rule:
                              type: string
                              description: URL pattern or glob applied to incoming requests.
                              example: /static/*
                            ruleType:
                              type: integer
                              description: Rule type identifier. 0 = standard path-based rule.
                              example: 0
                            originProtocol:
                              nullable: true
                              description: Origin protocol override. Null to inherit from zone settings.
                              example: null
                            isRegex:
                              type: boolean
                              description: When true, the rule pattern uses regular expression syntax.
                              example: true
                            network:
                              type: string
                              description: CDN network provider associated with this rule configuration.
                              example: sample-network
                            options:
                              type: object
                              description: Behavior options applied when this rule matches a request.
                              properties:
                                ignore_cookie:
                                  type: object
                                  description: Ignore Set-Cookie headers from origin so responses can be cached.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                honor_vary:
                                  type: object
                                  description: Respect the Vary header from origin when forming cache keys.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                xff:
                                  type: object
                                  description: Forward the client IP in the X-Forwarded-For header to origin.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                disposition:
                                  type: object
                                  description: Control the Content-Disposition header mode for responses.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: integer
                                      example: 0
                                redirect_http_to_https:
                                  type: object
                                  description: Automatically redirect HTTP requests to HTTPS.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                segmenter_cache_settings:
                                  type: object
                                  description: Override cache durations for HLS manifest and segment files.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    midgress_manifest:
                                      type: integer
                                      example: 2
                                    edge_manifest:
                                      type: integer
                                      example: 4
                                    midgress_segment:
                                      type: integer
                                      example: 1
                                    edge_segment:
                                      type: integer
                                      example: 3
                                follow_origin_redirect:
                                  type: object
                                  description: Follow 3xx redirects from origin instead of passing them to clients.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    codes:
                                      type: array
                                      items:
                                        type: integer
                                      example: []
                                host_redirect:
                                  type: object
                                  description: Redirect requests matching this rule to a different host.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      nullable: true
                                      example: null
                                    to:
                                      nullable: true
                                      example: null
                                gzipOn:
                                  type: object
                                  description: Enable gzip compression for responses.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                fetch_compressed:
                                  type: object
                                  description: Fetch and serve pre-compressed assets from origin.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                slice:
                                  type: object
                                  description: Enable range-request slice caching for large files.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                websockets:
                                  type: object
                                  description: Enable WebSocket proxying for matched requests.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                waf:
                                  type: object
                                  description: Enable Web Application Firewall protection.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: boolean
                                      example: false
                                stale:
                                  type: object
                                  description: Serve stale cached content when specified error conditions occur.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                brotli_compression:
                                  type: object
                                  description: Enable Brotli compression for specified MIME content types.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                response_headers_hiding_policy:
                                  type: object
                                  description: Filter or suppress specific response headers before delivery.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    mode:
                                      nullable: true
                                      example: null
                                    expected:
                                      nullable: true
                                      example: null
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                referrer_acl:
                                  type: object
                                  description: Allow or block requests based on the HTTP Referer header.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    policy_type:
                                      type: string
                                      example: allow
                                    excepted_values:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                    ip_whitelists:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                    noreferer:
                                      type: boolean
                                      example: false
                                country_acl:
                                  type: object
                                  description: Allow or block requests based on the visitor country.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    policy_type:
                                      type: string
                                      example: allow
                                    excepted_values:
                                      type: array
                                      items:
                                        type: string
                                      example: [""]
                                    ip_whitelists:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                ip_address_acl:
                                  type: object
                                  description: Allow or block requests based on the client IP address.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    policy_type:
                                      type: string
                                      example: allow
                                    excepted_values:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                    ip_whitelists:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                user_agent_acl:
                                  type: object
                                  description: Allow or block requests based on the User-Agent header.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    policy_type:
                                      type: string
                                      example: allow
                                    excepted_values:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                    ip_whitelists:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                    casesensitive:
                                      type: boolean
                                      example: false
                                secure_key:
                                  type: object
                                  description: Protect content using time-limited signed URL tokens.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    policy_type:
                                      type: integer
                                      example: 0
                                    type:
                                      type: integer
                                      example: 2
                                    key:
                                      type: string
                                      example: 7a6b169153bc6915
                                    ip_whitelists:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                    timeout:
                                      type: integer
                                      example: 3600
                                    session:
                                      type: integer
                                      example: 0
                                allowedHttpMethods:
                                  type: object
                                  description: Restrict which HTTP methods are accepted for requests.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                tls_versions:
                                  type: object
                                  description: Restrict TLS connections to specific protocol versions.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    value:
                                      type: array
                                      items:
                                        type: string
                                      example: []
                                edge_cache_settings:
                                  type: object
                                  description: Controls how long CDN edge nodes cache content.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: true
                                    revalidate:
                                      type: boolean
                                      example: false
                                    default:
                                      type: string
                                      example: 345600s
                                midgress_cache_settings:
                                  type: object
                                  description: Controls how long CDN mid-tier nodes cache content.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    revalidate:
                                      type: boolean
                                      example: false
                                    default:
                                      type: string
                                      example: 345600s
                                browser_cache_settings:
                                  type: object
                                  description: Controls Cache-Control headers sent to the client browser.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                cors:
                                  type: object
                                  description: Set Cross-Origin Resource Sharing headers on responses.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                    always:
                                      type: boolean
                                      example: false
                                    value:
                                      type: string
                                      example: ""
                                sni:
                                  type: object
                                  description: Enable Server Name Indication for TLS connections.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                force_return:
                                  type: object
                                  description: Return a fixed HTTP status code and optional body for matched requests.
                                  properties:
                                    enabled:
                                      type: boolean
                                      example: false
                                rewrite:
                                  type: object
[...]
