openapi: 3.0.0
info:
  title: 5centsCDN - Livestreams
  description: API for managing Live Streams in 5centsCDN (https://www.5centscdn.net)
  version: 2.0.0
  contact:
    email: help@5centscdn.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.5centscdn.com/v2
  description: 5centsCDN API Server - Production
security:
- ApiKeyAuth: []
tags:
- name: List Streams
  description: list all streams
- name: Push Streams
  description: endpoints related to Push streams
- name: Pull Streams
  description: endpoints related to Pull streams
- name: Multi Bitrate Push Streams
  description: endpoints related to MBR streams
- name: DVR Streams
  description: endpoints related to DVR streams
- name: Delayed Streams
  description: endpoints related to Delayed streams
- name: Scheduled Playlist Streams
  description: endpoints related to Scheduled Playlist streams & Playlist
- name: Multistream Streams
  description: endpoints related to Multistream Streams
- name: Global Settings
  description: Global Stream Settings
- name: Live Transcoding Profiles/Filters
  description: Live stream transcoding profile and filter management
paths:
  /streams:
    get:
      tags:
      - List Streams
      summary: List streams
      description: list streams
      operationId: streamsList
      responses:
        '200':
          description: streams list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
  /streams/push:
    get:
      tags:
      - Push Streams
      summary: List Streams
      description: push list
      operationId: streamsPushList
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          example: 1
          description: The page number of the result. One page contains 20 results.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
      deprecated: false
  /streams/push/new:
    post:
      tags:
      - Push Streams
      summary: Create Push
      description: Create a Push stream
      operationId: createPushStreams
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePushStream'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
      deprecated: false
  /streams/push/{streamid}:
    get:
      tags:
      - Push Streams
      summary: Stream
      description: Returns the details of a push stream
      operationId: getStreamsPush
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  stream:
                    type: object
                    description: Stream object containing configuration and status details.
                    properties:
                      monitoring_id:
                        nullable: true
                        description: Unique monitoring identifier for the stream.
                      type:
                        type: string
                        description: Type identifier for this stream or object.
                      id:
                        type: integer
                        description: Unique numeric identifier.
                      serviceid:
                        type: integer
                        description: Unique identifier of the service this stream belongs to.
                      name:
                        type: string
                        description: Name of the stream.
                      codec:
                        type: string
                        description: Video codec used for the stream.
                      ingests:
                        type: array
                        description: List of active ingest connection details for each server.
                        items:
                          nullable: true
                          type: array
                          items:
                            type: string
                        - []
                        - 
                      protocols:
                        type: array
                        description: Supported streaming protocols for each server.
                        items:
                          type: array
                          items:
                            type: string
                        - - DASH
                          - HLS
                          - RTMP
                          - RTSP
                        - - DASH
                          - HLS
                          - RTMP
                          - RTSP
                      parentid:
                        nullable: true
                        description: Identifier of the parent stream, if this is a child stream.
                      server:
                        type: string
                        description: Server ID or identifier assigned to the stream.
                      backup:
                        type: string
                        description: Backup server ID for failover.
                      dedicatedLTC:
                        type: string
                        description: Whether a dedicated live transcoding server is allocated for this stream.
                      hasAdvancedFeatures:
                        type: string
                        description: Whether advanced features are enabled for this stream.
                      monitoring_triggers:
                        nullable: true
                        description: Monitoring alert trigger configuration for the stream.
                      draft:
                        type: string
                        description: Draft status flag. 0 means published; 1 means unpublished draft.
                      disabled:
                        type: string
                        description: Disabled flag. 0 means active; 1 means disabled.
                      created_at:
                        type: string
                        description: Timestamp when the stream was created.
                      updated_at:
                        type: string
                        description: Timestamp when the stream was last updated.
                      lastseen_at:
                        type: boolean
                        description: Timestamp when the stream was last detected as active.
                      deleted:
                        nullable: true
                        description: Deletion timestamp, or null if the stream is not deleted.
                      ingestsLock:
                        type: integer
                        description: Whether the ingest endpoint list is locked from editing.
                      protocolsLock:
                        type: integer
                        description: Whether the supported protocol list is locked from editing.
                      status:
                        type: string
                        description: Current deployment or operational status of the stream.
                      has:
                        type: object
                        description: Flags indicating which streaming protocols are active.
                        properties:
                          rtmp:
                            type: integer
                            description: Whether RTMP streaming is enabled. 1 = enabled, 0 = disabled.
                          rtsp:
                            type: integer
                            description: Whether RTSP streaming is enabled. 1 = enabled, 0 = disabled.
                          hls:
                            type: integer
                            description: Whether HLS streaming is enabled. 1 = enabled, 0 = disabled.
                          dash:
                            type: integer
                            description: Whether DASH streaming is enabled. 1 = enabled, 0 = disabled.
                          rtmpauth:
                            type: boolean
                            description: Whether RTMP publish authentication is required.
                      fms:
                        type: object
                        description: Flash Media Server ingest configuration for the stream.
                        properties:
                          server:
                            type: object
                            description: Server ID or identifier assigned to the stream.
                            properties:
                              country:
                                type: string
                                description: Geographic region of the ingest server.
                              meta:
                                type: object
                                description: Metadata object for the server.
                                properties:
                                  fmsUrl:
                                    type: string
                                    description: RTMP ingest URL for the assigned FMS server.
                      parts:
                        type: object
                        description: Stream name components.
                        properties:
                          pp:
                            type: string
                            description: Stream name prefix (part 1, before the slash).
                          sn:
                            type: string
                            description: Stream name suffix (part 2, after the slash).
                          full:
                            type: string
                            description: Combined full stream name without the slash separator.
                      restream:
                        type: object
                        description: Restream platform configuration object.
                      playbackurls:
                        type: object
                        description: Playback URL set for all supported protocols and player types.
                        properties:
                          scheme:
                            type: string
                            description: URL scheme used for playback.
                          url_prefix:
                            type: string
                            description: Base CDN hostname URL used as a prefix for playback URLs.
                          rtmp:
                            type: string
                            description: RTMP playback or destination URL.
                          rtsp:
                            type: string
                            description: RTSP playback URL.
                          hlsManifest:
                            type: string
                            description: HLS manifest filename.
                          dashManifest:
                            type: string
                            description: DASH manifest filename.
                          hls:
                            type: string
                            description: HLS playback or player iframe URL.
                          dash:
                            type: string
                            description: DASH playback or player iframe URL.
                          players:
                            type: object
                            description: Embedded player iframe URL set for supported player types.
                            properties:
                              flowplayer:
                                type: object
                                description: Flowplayer iframe URL information.
                                properties:
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                              videojs:
                                type: object
                                description: Video.js player iframe URL information.
                                properties:
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                              own:
                                type: object
                                description: Native stream player iframe URL information.
                                properties:
                                  hashes:
                                    type: object
                                    description: Map of CDN hostname to stream hashes and playback URLs.
                                    properties:
                                      stream-abc12-hls-live.stream.example.com:
                                        type: object
                                        properties:
                                          hash:
                                            type: string
                                            description: Short hash or slug used in stream URLs.
                                          hls:
                                            type: string
                                            description: HLS playback or player iframe URL.
                                          base64:
                                            type: string
                                            description: Base64-encoded HLS playback URL for use with iframe players.
                                          dash:
                                            type: string
                                            description: DASH playback or player iframe URL.
                                          base64dash:
                                            type: string
                                            description: Base64-encoded DASH playback URL for use with iframe players.
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                  dash:
                                    type: string
                                    description: DASH playback or player iframe URL.
                          tokenized:
                            nullable: true
                            description: Tokenized playback URL configuration, or null if disabled.
                      platformsCount:
                        type: integer
                        description: Number of external restreaming platforms configured.
                      ssl_enabled:
                        type: boolean
                        description: Whether HTTPS/SSL is enabled for playback.
                      hash:
                        type: string
                        description: Short hash or slug used in stream URLs.
                      ndvr:
                        type: object
                        description: Network DVR (nDVR) rewind configuration for the stream.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          retention:
                            type: string
                            description: Retention period in days (record) or minutes (nDVR).
                      securetoken:
                        type: object
                        description: Secure token URL signing configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                          keyip:
                            type: string
                            description: Whether the token is bound to the viewer IP address.
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                          timeout:
                            type: integer
                            description: Token expiry time in seconds.
                          session:
                            type: string
                            description: Session-based token mode flag.
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                          dirs:
                            nullable: true
                            description: URL directory paths restricted by this policy.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                      record:
                        type: object
                        description: Recording (DVR) configuration for the stream.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          retention:
                            type: string
                            description: Retention period in days (record) or minutes (nDVR).
                          stream:
                            type: object
                            description: Stream object containing configuration and status details.
                            properties:
                              id:
                                type: integer
                                description: Unique numeric identifier.
                              type:
                                type: string
                                description: Type identifier for this stream or object.
                      domainlock:
                        type: object
                        description: Domain lock (hotlink protection) configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                          noreferer:
                            type: string
                            description: Whether to allow playback requests with no Referer header.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                      geoblock:
                        type: object
                        description: Geoblocking access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                          list:
                            type: array
                            description: Comma-separated list of allowed or blocked values.
                            items:
                              type: string
                            - ''
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                      ipaccess:
                        type: object
                        description: IP address access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                      useragent:
                        type: object
                        description: User-agent based access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                          casesensitive:
                            type: string
                            description: Whether user-agent pattern matching is case-sensitive.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                          listArr:
                            type: array
                            description: User-agent filter list as a parsed array.
                            items:
                              type: string
                            - ''
                      rtmpauth:
                        type: object
                        description: Whether RTMP publish authentication is required.
                        properties:
                          password:
                            type: string
                            description: Password for RTMP publish authentication.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                      transcode:
                        type: object
                        description: Live transcoding configuration for the stream.
                        properties:
                          ltc:
                            type: integer
                            description: Live transcoding server ID assigned to this stream.
                          type:
                            type: string
                            description: Type identifier for this stream or object.
                          enabled:
                            type: boolean
                            description: Enable or disable this feature.
                          isEditable:
                            type: boolean
                            description: Whether the transcoding configuration can be edited.
                          id:
                            type: integer
                            description: Unique numeric identifier.
                          autostop:
                            type: integer
                            description: Whether the stream auto-stops when no input is received.
                          vprofiles:
                            type: array
                            description: List of video transcoding profile IDs applied to this stream.
                            items:
                              type: string
                            - '12345'
                          aprofiles:
                            type: array
                            description: List of audio transcoding profile IDs applied to this stream.
                            items:
                              type: string
                            - '12346'
                          filters:
                            type: array
                            description: List of transcoding filter IDs applied to this stream.
                            items: {}
                          disabled:
                            type: string
                            description: Disabled flag. 0 means active; 1 means disabled.
                          count:
                            type: integer
                            description: Number of active transcoding profiles.
                          countRaw:
                            type: integer
                            description: Total number of transcoding profiles including inactive.
                          codec:
                            type: string
                            description: Video codec used for the stream.
                          isRunning:
                            type: boolean
                            description: Whether live transcoding is currently active on this stream.
                          profiles:
                            type: object
                            description: Transcoding profile count summary.
                            properties:
                              count:
                                type: object
                                description: Number of active transcoding profiles.
                                properties:
                                  total:
                                    type: integer
                                    description: Total number of transcoding profiles.
                                  uhd:
                                    type: integer
                                    description: Number of UHD (4K) transcoding profiles.
                      platforms:
                        type: array
                        description: List of configured external restreaming platform entries.
                        items: {}
                      messages:
                        type: object
                        description: Informational messages related to the stream state.
                      adInsertion:
                        nullable: true
                        description: Ad insertion configuration for the stream, or null if not configured.
      deprecated: false
    post:
      tags:
      - Push Streams
      summary: Update Info
      description: Update the information of push stream
      operationId: updateStreamspush
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                server:
                  type: string
                  description: Server ID(s) for the stream. Use comma-separated values for multiple servers.
                codec:
                  type: string
                  description: Video codec for the stream. Use h264 or h265.
                draft:
                  type: number
                  description: Set to 0 to publish the stream, or 1 to save it as a draft.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  message:
                    type: string
                    description: Human-readable message describing the result.
                  stream:
                    type: object
                    description: Stream object containing configuration and status details.
                    properties:
                      monitoring_id:
                        type: integer
                        description: Unique monitoring identifier for the stream.
                      type:
                        type: string
                        description: Type identifier for this stream or object.
                      id:
                        type: integer
                        description: Unique numeric identifier.
                      serviceid:
                        type: integer
                        description: Unique identifier of the service this stream belongs to.
                      name:
                        type: string
                        description: Name of the stream.
                      codec:
                        type: string
                        description: Video codec used for the stream.
                      ingests:
                        type: array
                        description: List of active ingest connection details for each server.
                        items:
                          nullable: true
                          type: array
                          items:
                            type: string
                        - 
                        - 
                      protocols:
                        type: array
                        description: Supported streaming protocols for each server.
                        items:
                          type: array
                          items:
                            type: string
                        - - HLS
                        - - HLS
                      parentid:
                        nullable: true
                        description: Identifier of the parent stream, if this is a child stream.
                      server:
                        type: string
                        description: Server ID or identifier assigned to the stream.
                      backup:
                        type: string
                        description: Backup server ID for failover.
                      dedicatedLTC:
                        type: string
                        description: Whether a dedicated live transcoding server is allocated for this stream.
                      hasAdvancedFeatures:
                        type: string
                        description: Whether advanced features are enabled for this stream.
                      monitoring_triggers:
                        type: string
                        description: Monitoring alert trigger configuration for the stream.
                      draft:
                        type: string
                        description: Draft status flag. 0 means published; 1 means unpublished draft.
                      disabled:
                        type: string
                        description: Disabled flag. 0 means active; 1 means disabled.
                      created_at:
                        type: string
                        description: Timestamp when the stream was created.
                      updated_at:
                        type: string
                        description: Timestamp when the stream was last updated.
                      lastseen_at:
                        type: boolean
                        description: Timestamp when the stream was last detected as active.
                      deleted:
                        nullable: true
                        description: Deletion timestamp, or null if the stream is not deleted.
                      ingestsLock:
                        type: integer
                        description: Whether the ingest endpoint list is locked from editing.
                      protocolsLock:
                        type: integer
                        description: Whether the supported protocol list is locked from editing.
                      status:
                        type: string
                        description: Current deployment or operational status of the stream.
                      has:
                        type: object
                        description: Flags indicating which streaming protocols are active.
                        properties:
                          rtmp:
                            type: integer
                            description: Whether RTMP streaming is enabled. 1 = enabled, 0 = disabled.
                          rtsp:
                            type: integer
                            description: Whether RTSP streaming is enabled. 1 = enabled, 0 = disabled.
                          hls:
                            type: integer
                            description: Whether HLS streaming is enabled. 1 = enabled, 0 = disabled.
                          dash:
                            type: integer
                            description: Whether DASH streaming is enabled. 1 = enabled, 0 = disabled.
                          rtmpauth:
                            type: boolean
                            description: Whether RTMP publish authentication is required.
                      fms:
                        type: object
                        description: Flash Media Server ingest configuration for the stream.
                        properties:
                          server:
                            type: object
                            description: Server ID or identifier assigned to the stream.
                            properties:
                              country:
                                type: string
                                description: Geographic region of the ingest server.
                              meta:
                                type: object
                                description: Metadata object for the server.
                                properties:
                                  fmsUrl:
                                    type: string
                                    description: RTMP ingest URL for the assigned FMS server.
                      parts:
                        type: object
                        description: Stream name components.
                        properties:
                          pp:
                            type: string
                            description: Stream name prefix (part 1, before the slash).
                          sn:
                            type: string
                            description: Stream name suffix (part 2, after the slash).
                          full:
                            type: string
                            description: Combined full stream name without the slash separator.
                      restream:
                        type: object
                        description: Restream platform configuration object.
                      playbackurls:
                        type: object
                        description: Playback URL set for all supported protocols and player types.
                        properties:
                          scheme:
                            type: string
                            description: URL scheme used for playback.
                          url_prefix:
                            type: string
                            description: Base CDN hostname URL used as a prefix for playback URLs.
                          rtmp:
                            type: string
                            description: RTMP playback or destination URL.
                          rtsp:
                            type: string
                            description: RTSP playback URL.
                          hlsManifest:
                            type: string
                            description: HLS manifest filename.
                          dashManifest:
                            type: string
                            description: DASH manifest filename.
                          hls:
                            type: string
                            description: HLS playback or player iframe URL.
                          dash:
                            type: string
                            description: DASH playback or player iframe URL.
                          players:
                            type: object
                            description: Embedded player iframe URL set for supported player types.
                            properties:
                              flowplayer:
                                type: object
                                description: Flowplayer iframe URL information.
                                properties:
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                              videojs:
                                type: object
                                description: Video.js player iframe URL information.
                                properties:
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                              own:
                                type: object
                                description: Native stream player iframe URL information.
                                properties:
                                  hashes:
                                    type: object
                                    description: Map of CDN hostname to stream hashes and playback URLs.
                                    properties:
                                      stream-abc12-hls-live.stream.example.com:
                                        type: object
                                        properties:
                                          hash:
                                            type: string
                                            description: Short hash or slug used in stream URLs.
                                          hls:
                                            type: string
                                            description: HLS playback or player iframe URL.
                                          base64:
                                            type: string
                                            description: Base64-encoded HLS playback URL for use with iframe players.
                                          dash:
                                            type: string
                                            description: DASH playback or player iframe URL.
                                          base64dash:
                                            type: string
                                            description: Base64-encoded DASH playback URL for use with iframe players.
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                  dash:
                                    type: string
                                    description: DASH playback or player iframe URL.
                          tokenized:
                            nullable: true
                            description: Tokenized playback URL configuration, or null if disabled.
                      platformsCount:
                        type: integer
                        description: Number of external restreaming platforms configured.
                      ssl_enabled:
                        type: boolean
                        description: Whether HTTPS/SSL is enabled for playback.
                      hash:
                        type: string
                        description: Short hash or slug used in stream URLs.
                      ndvr:
                        type: object
                        description: Network DVR (nDVR) rewind configuration for the stream.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          retention:
                            type: string
                            description: Retention period in days (record) or minutes (nDVR).
                      securetoken:
                        type: object
                        description: Secure token URL signing configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                          keyip:
                            type: string
                            description: Whether the token is bound to the viewer IP address.
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                          timeout:
                            type: integer
                            description: Token expiry time in seconds.
                          session:
                            type: string
                            description: Session-based token mode flag.
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                          dirs:
                            nullable: true
                            description: URL directory paths restricted by this policy.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                      record:
                        type: object
                        description: Recording (DVR) configuration for the stream.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          retention:
                            type: string
                            description: Retention period in days (record) or minutes (nDVR).
                          stream:
                            nullable: true
                            description: Stream object containing configuration and status details.
                      domainlock:
                        type: object
                        description: Domain lock (hotlink protection) configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                          noreferer:
                            type: string
                            description: Whether to allow playback requests with no Referer header.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                      geoblock:
                        type: object
                        description: Geoblocking access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                          list:
                            type: array
                            description: Comma-separated list of allowed or blocked values.
                            items:
                              type: string
                            - ''
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                      ipaccess:
                        type: object
                        description: IP address access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                      useragent:
                        type: object
                        description: User-agent based access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                          casesensitive:
                            type: string
                            description: Whether user-agent pattern matching is case-sensitive.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                          listArr:
                            type: array
                            description: User-agent filter list as a parsed array.
                            items:
                              type: string
                            - ''
                      rtmpauth:
                        type: object
                        description: Whether RTMP publish authentication is required.
                        properties:
                          password:
                            type: string
                            description: Password for RTMP publish authentication.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                      transcode:
                        type: object
                        description: Live transcoding configuration for the stream.
                        properties:
                          ltc:
                            type: integer
                            description: Live transcoding server ID assigned to this stream.
                          type:
                            type: string
                            description: Type identifier for this stream or object.
                          enabled:
                            type: boolean
                            description: Enable or disable this feature.
                          isEditable:
                            type: boolean
                            description: Whether the transcoding configuration can be edited.
                      platforms:
                        type: array
                        description: List of configured external restreaming platform entries.
                        items: {}
                      messages:
                        type: object
                        description: Informational messages related to the stream state.
                      adInsertion:
                        nullable: true
                        description: Ad insertion configuration for the stream, or null if not configured.
                  warnings:
                    nullable: true
                    description: Non-fatal warnings returned with the response.
                  errors:
                    nullable: true
                    description: Errors returned with the response.
      deprecated: false
    delete:
      tags:
      - Push Streams
      summary: Delete Info
      description: Delete the information of push stream. To cast request method POST and parameters _METHOD = DELETE
      operationId: deleteStreamspush
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - _METHOD
              properties:
                _METHOD:
                  type: string
                  description: HTTP method override for this request. This endpoint accepts POST, but set this to DELETE to perform a delete operation.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  message:
                    type: string
                    description: Human-readable message describing the result.
      deprecated: false
  /streams/push/{streamid}/statistics:
    get:
      tags:
      - Push Streams
      summary: Stream statistics
      description: Returns the details of a push stream statistics
      operationId: getStreamsPushStatistics
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    fs:
                      type: object
                      description: Live ingest stream statistics from the media server.
                      properties:
                        name:
                          type: string
                          description: Name of the stream.
                        status:
                          type: string
                          description: Current deployment or operational status of the stream.
                        bitrate:
                          type: string
                          description: Current bitrate of the stream.
                        primary:
                          type: boolean
                          description: Whether this is the primary ingest connection.
                        time:
                          type: string
                          description: Total uptime duration of the stream session.
                        publish_time:
                          type: string
                          description: Elapsed time since publishing started.
                        publisher_ip:
                          type: string
                          description: IP address of the stream publisher.
                        video:
                          type: object
                          description: Video track statistics.
                          properties:
                            size:
                              type: string
                              description: Video resolution in WxH format.
                            bitrate:
                              type: string
                              description: Current bitrate of the stream.
                            codec:
                              type: string
                              description: Video codec used for the stream.
                            profile:
                              type: string
                              description: Video codec profile name.
                            level:
                              type: string
                              description: Video codec level value.
                        audio:
                          type: object
                          description: Audio track statistics.
                          properties:
                            codec:
                              type: string
                              description: Video codec used for the stream.
                            bitrate:
                              type: string
                              description: Current bitrate of the stream.
                    status:
                      type: string
                      description: Current deployment or operational status of the stream.
                    lastseen:
                      type: string
                      description: Elapsed time since the stream was last detected as active.
  /streams/push/{streamid}/status:
    post:
      tags:
      - Push Streams
      summary: Update status of stream
      description: Update status of stream
      operationId: statusStreamsPush
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                disabled:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Set to 1 to disable the stream, 0 to enable it.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  message:
                    type: string
                    description: Human-readable message describing the result.
                  stream:
                    type: object
                    description: Stream object containing configuration and status details.
                    properties:
                      monitoring_id:
                        nullable: true
                        description: Unique monitoring identifier for the stream.
                      type:
                        type: string
                        description: Type identifier for this stream or object.
                      id:
                        type: integer
                        description: Unique numeric identifier.
                      serviceid:
                        type: integer
                        description: Unique identifier of the service this stream belongs to.
                      name:
                        type: string
                        description: Name of the stream.
                      codec:
                        type: string
                        description: Video codec used for the stream.
                      ingests:
                        type: array
                        description: List of active ingest connection details for each server.
                        items:
                          type: array
                          items:
                            type: string
                        - - RTMP
                        - - RTMP
                      protocols:
                        type: array
                        description: Supported streaming protocols for each server.
                        items:
                          type: array
                          items:
                            type: string
                        - - DASH
                          - HLS
                        - - DASH
                          - HLS
                      parentid:
                        nullable: true
                        description: Identifier of the parent stream, if this is a child stream.
                      server:
                        type: string
                        description: Server ID or identifier assigned to the stream.
                      backup:
                        type: string
                        description: Backup server ID for failover.
                      dedicatedLTC:
                        type: string
                        description: Whether a dedicated live transcoding server is allocated for this stream.
                      hasAdvancedFeatures:
                        type: string
                        description: Whether advanced features are enabled for this stream.
                      monitoring_triggers:
                        nullable: true
                        description: Monitoring alert trigger configuration for the stream.
                      draft:
                        type: string
                        description: Draft status flag. 0 means published; 1 means unpublished draft.
                      disabled:
                        type: string
                        description: Disabled flag. 0 means active; 1 means disabled.
                      created_at:
                        type: string
                        description: Timestamp when the stream was created.
                      updated_at:
                        type: string
                        description: Timestamp when the stream was last updated.
                      lastseen_at:
                        type: boolean
                        description: Timestamp when the stream was last detected as active.
                      deleted:
                        nullable: true
                        description: Deletion timestamp, or null if the stream is not deleted.
                      ingestsLock:
                        type: integer
                        description: Whether the ingest endpoint list is locked from editing.
                      protocolsLock:
                        type: integer
                        description: Whether the supported protocol list is locked from editing.
                      status:
                        type: string
                        description: Current deployment or operational status of the stream.
                      has:
                        type: object
                        description: Flags indicating which streaming protocols are active.
                        properties:
                          rtmp:
                            type: integer
                            description: Whether RTMP streaming is enabled. 1 = enabled, 0 = disabled.
                          rtsp:
                            type: integer
                            description: Whether RTSP streaming is enabled. 1 = enabled, 0 = disabled.
                          hls:
                            type: integer
                            description: Whether HLS streaming is enabled. 1 = enabled, 0 = disabled.
                          dash:
                            type: integer
                            description: Whether DASH streaming is enabled. 1 = enabled, 0 = disabled.
                          rtmpauth:
                            type: boolean
                            description: Whether RTMP publish authentication is required.
                      fms:
                        type: object
                        description: Flash Media Server ingest configuration for the stream.
                        properties:
                          server:
                            type: object
                            description: Server ID or identifier assigned to the stream.
                            properties:
                              country:
                                type: string
                                description: Geographic region of the ingest server.
                              meta:
                                type: object
                                description: Metadata object for the server.
                                properties:
                                  fmsUrl:
                                    type: string
                                    description: RTMP ingest URL for the assigned FMS server.
                      parts:
                        type: object
                        description: Stream name components.
                        properties:
                          pp:
                            type: string
                            description: Stream name prefix (part 1, before the slash).
                          sn:
                            type: string
                            description: Stream name suffix (part 2, after the slash).
                          full:
                            type: string
                            description: Combined full stream name without the slash separator.
                      restream:
                        type: object
                        description: Restream platform configuration object.
                      playbackurls:
                        type: object
                        description: Playback URL set for all supported protocols and player types.
                        properties:
                          scheme:
                            type: string
                            description: URL scheme used for playback.
                          url_prefix:
                            type: string
                            description: Base CDN hostname URL used as a prefix for playback URLs.
                          rtmp:
                            type: string
                            description: RTMP playback or destination URL.
                          rtsp:
                            type: string
                            description: RTSP playback URL.
                          hlsManifest:
                            type: string
                            description: HLS manifest filename.
                          dashManifest:
                            type: string
                            description: DASH manifest filename.
                          hls:
                            type: string
                            description: HLS playback or player iframe URL.
                          dash:
                            type: string
                            description: DASH playback or player iframe URL.
                          players:
                            type: object
                            description: Embedded player iframe URL set for supported player types.
                            properties:
                              flowplayer:
                                type: object
                                description: Flowplayer iframe URL information.
                                properties:
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                              videojs:
                                type: object
                                description: Video.js player iframe URL information.
                                properties:
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                              own:
                                type: object
                                description: Native stream player iframe URL information.
                                properties:
                                  hashes:
                                    type: object
                                    description: Map of CDN hostname to stream hashes and playback URLs.
                                    properties:
                                      stream-abc12-hls-live.stream.example.com:
                                        type: object
                                        properties:
                                          hash:
                                            type: string
                                            description: Short hash or slug used in stream URLs.
                                          hls:
                                            type: string
                                            description: HLS playback or player iframe URL.
                                          base64:
                                            type: string
                                            description: Base64-encoded HLS playback URL for use with iframe players.
                                          dash:
                                            type: string
                                            description: DASH playback or player iframe URL.
                                          base64dash:
                                            type: string
                                            description: Base64-encoded DASH playback URL for use with iframe players.
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                  dash:
                                    type: string
                                    description: DASH playback or player iframe URL.
                          tokenized:
                            nullable: true
                            description: Tokenized playback URL configuration, or null if disabled.
                      platformsCount:
                        type: integer
                        description: Number of external restreaming platforms configured.
                      ssl_enabled:
                        type: boolean
                        description: Whether HTTPS/SSL is enabled for playback.
                      hash:
                        type: string
                        description: Short hash or slug used in stream URLs.
                      ndvr:
                        type: object
                        description: Network DVR (nDVR) rewind configuration for the stream.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          retention:
                            type: string
                            description: Retention period in days (record) or minutes (nDVR).
                      securetoken:
                        type: object
                        description: Secure token URL signing configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                          keyip:
                            type: string
                            description: Whether the token is bound to the viewer IP address.
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                          timeout:
                            type: integer
                            description: Token expiry time in seconds.
                          session:
                            type: string
                            description: Session-based token mode flag.
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                          dirs:
                            nullable: true
                            description: URL directory paths restricted by this policy.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                      record:
                        type: object
                        description: Recording (DVR) configuration for the stream.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          retention:
                            type: string
                            description: Retention period in days (record) or minutes (nDVR).
                          stream:
                            nullable: true
                            description: Stream object containing configuration and status details.
                      domainlock:
                        type: object
                        description: Domain lock (hotlink protection) configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                          noreferer:
                            type: string
                            description: Whether to allow playback requests with no Referer header.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                      geoblock:
                        type: object
                        description: Geoblocking access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                          list:
                            type: array
                            description: Comma-separated list of allowed or blocked values.
                            items:
                              type: string
                            - ''
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                      ipaccess:
                        type: object
                        description: IP address access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                      useragent:
                        type: object
                        description: User-agent based access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                          casesensitive:
                            type: string
                            description: Whether user-agent pattern matching is case-sensitive.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                          listArr:
                            type: array
                            description: User-agent filter list as a parsed array.
                            items:
                              type: string
                            - ''
                      rtmpauth:
                        type: object
                        description: Whether RTMP publish authentication is required.
                        properties:
                          password:
                            type: string
                            description: Password for RTMP publish authentication.
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                      transcode:
                        type: object
                        description: Live transcoding configuration for the stream.
                        properties:
                          ltc:
                            type: integer
                            description: Live transcoding server ID assigned to this stream.
                          type:
                            type: string
                            description: Type identifier for this stream or object.
                          enabled:
                            type: boolean
                            description: Enable or disable this feature.
                          isEditable:
                            type: boolean
                            description: Whether the transcoding configuration can be edited.
                      platforms:
                        type: array
                        description: List of configured external restreaming platform entries.
                        items: {}
                      messages:
                        type: object
                        description: Informational messages related to the stream state.
                      adInsertion:
                        nullable: true
                        description: Ad insertion configuration for the stream, or null if not configured.
      deprecated: false
  /streams/push/{streamid}/source:
    post:
      tags:
      - Push Streams
      summary: Update Source
      description: Change the ingest source region for a Push stream. Use the server field to specify one or more source region server IDs. Multiple server IDs can be provided as comma-separated values.
      operationId: updatesourceStreamsPush
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                server:
                  type: string
                  description: Server ID(s) for the stream. Use comma-separated values for multiple servers.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  message:
                    type: string
                    description: Human-readable message describing the result.
                  stream:
                    type: object
                    description: Stream object containing configuration and status details.
                    properties:
                      monitoring_id:
                        nullable: true
                        description: Unique monitoring identifier for the stream.
                      type:
                        type: string
                        description: Type identifier for this stream or object.
                      id:
                        type: integer
                        description: Unique numeric identifier.
                      serviceid:
                        type: integer
                        description: Unique identifier of the service this stream belongs to.
                      name:
                        type: string
                        description: Name of the stream.
                      codec:
                        type: string
                        description: Video codec used for the stream.
                      ingests:
                        type: array
                        description: List of active ingest connection details for each server.
                        items:
                          nullable: true
                          type: array
                          items:
                            type: string
                        - []
                        - 
                      protocols:
                        type: array
                        description: Supported streaming protocols for each server.
                        items:
                          type: array
                          items:
                            type: string
                        - - HLS
                        - - HLS
                      parentid:
                        nullable: true
                        description: Identifier of the parent stream, if this is a child stream.
                      server:
                        type: string
                        description: Server ID or identifier assigned to the stream.
                      backup:
                        type: string
                        description: Backup server ID for failover.
                      dedicatedLTC:
                        type: string
                        description: Whether a dedicated live transcoding server is allocated for this stream.
                      hasAdvancedFeatures:
                        type: string
                        description: Whether advanced features are enabled for this stream.
                      monitoring_triggers:
                        nullable: true
                        description: Monitoring alert trigger configuration for the stream.
                      draft:
                        type: string
                        description: Draft status flag. 0 means published; 1 means unpublished draft.
                      disabled:
                        type: string
                        description: Disabled flag. 0 means active; 1 means disabled.
                      created_at:
                        type: string
                        description: Timestamp when the stream was created.
                      updated_at:
                        type: string
                        description: Timestamp when the stream was last updated.
                      lastseen_at:
                        type: boolean
                        description: Timestamp when the stream was last detected as active.
                      deleted:
                        nullable: true
                        description: Deletion timestamp, or null if the stream is not deleted.
                      ingestsLock:
                        type: integer
                        description: Whether the ingest endpoint list is locked from editing.
                      protocolsLock:
                        type: integer
                        description: Whether the supported protocol list is locked from editing.
                      status:
                        type: string
                        description: Current deployment or operational status of the stream.
                      has:
                        type: object
                        description: Flags indicating which streaming protocols are active.
                        properties:
                          rtmp:
                            type: integer
                            description: Whether RTMP streaming is enabled. 1 = enabled, 0 = disabled.
                          rtsp:
                            type: integer
                            description: Whether RTSP streaming is enabled. 1 = enabled, 0 = disabled.
                          hls:
                            type: integer
                            description: Whether HLS streaming is enabled. 1 = enabled, 0 = disabled.
                          dash:
                            type: integer
                            description: Whether DASH streaming is enabled. 1 = enabled, 0 = disabled.
                          rtmpauth:
                            type: boolean
                            description: Whether RTMP publish authentication is required.
                      fms:
                        type: object
                        description: Flash Media Server ingest configuration for the stream.
                        properties:
                          server:
                            type: object
                            description: Server ID or identifier assigned to the stream.
                            properties:
                              country:
                                type: string
                                description: Geographic region of the ingest server.
                              meta:
                                type: object
                                description: Metadata object for the server.
                                properties:
                                  fmsUrl:
                                    type: string
                                    description: RTMP ingest URL for the assigned FMS server.
                      parts:
                        type: object
                        description: Stream name components.
                        properties:
                          pp:
                            type: string
                            description: Stream name prefix (part 1, before the slash).
                          sn:
                            type: string
                            description: Stream name suffix (part 2, after the slash).
                          full:
                            type: string
                            description: Combined full stream name without the slash separator.
                      restream:
                        type: object
                        description: Restream platform configuration object.
                      playbackurls:
                        type: object
                        description: Playback URL set for all supported protocols and player types.
                        properties:
                          scheme:
                            type: string
                            description: URL scheme used for playback.
                          url_prefix:
                            type: string
                            description: Base CDN hostname URL used as a prefix for playback URLs.
                          rtmp:
                            type: string
                            description: RTMP playback or destination URL.
                          rtsp:
                            type: string
                            description: RTSP playback URL.
                          hlsManifest:
                            type: string
                            description: HLS manifest filename.
                          dashManifest:
                            type: string
                            description: DASH manifest filename.
                          hls:
                            type: string
                            description: HLS playback or player iframe URL.
                          dash:
                            type: string
                            description: DASH playback or player iframe URL.
                          players:
                            type: object
                            description: Embedded player iframe URL set for supported player types.
                            properties:
                              flowplayer:
                                type: object
                                description: Flowplayer iframe URL information.
                                properties:
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                              videojs:
                                type: object
                                description: Video.js player iframe URL information.
                                properties:
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                              own:
                                type: object
                                description: Native stream player iframe URL information.
                                properties:
                                  hashes:
                                    type: object
                                    description: Map of CDN hostname to stream hashes and playback URLs.
                                    properties:
                                      stream-abc12-hls-live.stream.example.com:
                                        type: object
                                        properties:
                                          hash:
                                            type: string
                                            description: Short hash or slug used in stream URLs.
                                          hls:
                                            type: string
                                            description: HLS playback or player iframe URL.
                                          base64:
                                            type: string
                                            description: Base64-encoded HLS playback URL for use with iframe players.
                                          dash:
                                            type: string
                                            description: DASH playback or player iframe URL.
                                          base64dash:
                                            type: string
                                            description: Base64-encoded DASH playback URL for use with iframe players.
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                  dash:
                                    type: string
                                    description: DASH playback or player iframe URL.
                          tokenized:
                            type: object
                            description: Tokenized playback URL configuration, or null if disabled.
                            properties:
                              scheme:
                                type: string
                                description: URL scheme used for playback.
                              url_prefix:
                                type: string
                                description: Base CDN hostname URL used as a prefix for playback URLs.
                              rtmp:
                                type: string
                                description: RTMP playback or destination URL.
                              rtsp:
                                type: string
                                description: RTSP playback URL.
                              hlsManifest:
                                type: string
                                description: HLS manifest filename.
                              dashManifest:
                                type: string
                                description: DASH manifest filename.
                              hls:
                                type: string
                                description: HLS playback or player iframe URL.
                              dash:
                                type: string
                                description: DASH playback or player iframe URL.
                              players:
                                type: object
                                description: Embedded player iframe URL set for supported player types.
                                properties:
                                  hostname:
                                    type: string
                                    description: CDN hostname used for playback.
                                  flowplayer:
                                    type: object
                                    description: Flowplayer iframe URL information.
                                    properties:
                                      baseQ:
                                        type: string
                                        description: Query string appended to the player iframe URL.
                                      base:
                                        type: string
                                        description: Base player iframe URL without the stream path.
                                      hls:
                                        type: string
                                        description: HLS playback or player iframe URL.
                                      dash:
                                        type: string
                                        description: DASH playback or player iframe URL.
                                  videojs:
                                    type: object
                                    description: Video.js player iframe URL information.
                                    properties:
                                      baseQ:
                                        type: string
                                        description: Query string appended to the player iframe URL.
                                      base:
                                        type: string
                                        description: Base player iframe URL without the stream path.
                                      hls:
                                        type: string
                                        description: HLS playback or player iframe URL.
                                      dash:
                                        type: string
                                        description: DASH playback or player iframe URL.
                                  own:
                                    type: object
                                    description: Native stream player iframe URL information.
                                    properties:
                                      hashes:
                                        type: object
                                        description: Map of CDN hostname to stream hashes and playback URLs.
                                        properties:
[...]
