openapi: 3.0.0
info:
  title: 5centsCDN - Pull Streams
  description: API for managing Live Streams in 5centsCDN (https://www.5centscdn.net)
  version: 2.0.0
  contact:
    email: help@5centscdn.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.5centscdn.com/v2
  description: 5centsCDN API Server - Production
security:
- ApiKeyAuth: []
tags:
- name: Stream Management
  description: Create, list, update, delete, and control Pull streams
- name: Playback
  description: Enable, disable, restart, and restore stream playback
- name: Transcoding
  description: Transcoding profile settings
- name: Statistics
  description: Stream health and performance statistics
- name: NDVR
  description: Network DVR settings
- name: DVR
  description: DVR recording settings
- name: Domain Lock
  description: Domain lock security settings
- name: Geo Block
  description: Geographic blocking security settings
- name: Secure Token
  description: Secure token authentication settings
- name: Platforms
  description: Multistream platform management
- name: Ad Insertion
  description: Ad insertion configuration and management
paths:
  /streams/restream:
    get:
      tags:
      - Stream Management
      summary: List Streams
      description: pull streams list
      operationId: listPullStreams
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          example: 1
          description: The page number of the result. One page contains 20 results.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  streams:
                    type: array
                    description: List of live streams.
                    items:
                      type: object
                      properties:
                        monitoring_id:
                          nullable: true
                          description: Unique monitoring identifier for the stream.
                          example:
                        type:
                          type: string
                          description: Type identifier for this stream or object.
                          example: restream
                        id:
                          type: integer
                          description: Unique numeric identifier.
                          example: 69971
                        serviceid:
                          type: integer
                          description: Unique identifier of the service this stream belongs to.
                          example: 103
                        name:
                          type: string
                          description: Name of the stream.
                          example: logotest/james
                        codec:
                          type: string
                          description: Video codec used for the stream.
                          example: h264
                        ingests:
                          type: array
                          description: List of active ingest connection details for each server.
                          items:
                            nullable: true
                            type: array
                            items:
                              type: string
                          example:
                          - []
                          - 
                        protocols:
                          type: array
                          description: Supported streaming protocols for each server.
                          items:
                            type: array
                            items:
                              type: string
                          example:
                          - - HLS
                            - RTSP
                          - - HLS
                            - RTSP
                        parentid:
                          nullable: true
                          description: Identifier of the parent stream, if this is a child stream.
                          example:
                        server:
                          type: string
                          description: Server ID or identifier assigned to the stream.
                          example: '20'
                        backup:
                          type: string
                          description: Backup server ID for failover.
                          example: ''
                        dedicatedLTC:
                          type: string
                          description: Whether a dedicated live transcoding server is allocated for this stream.
                          example: '1'
                        hasAdvancedFeatures:
                          type: string
                          description: Whether advanced features are enabled for this stream.
                          example: '1'
                        monitoring_triggers:
                          nullable: true
                          description: Monitoring alert trigger configuration for the stream.
                          example:
                        draft:
                          type: string
                          description: Draft status flag. 0 means published; 1 means unpublished draft.
                          example: '0'
                        disabled:
                          type: string
                          description: Disabled flag. 0 means active; 1 means disabled.
                          example: '0'
                        created_at:
                          type: string
                          description: Timestamp when the stream was created.
                          example: '2026-03-11 13:05:31'
                        updated_at:
                          type: string
                          description: Timestamp when the stream was last updated.
                          example: '2026-04-04 14:47:43'
                        lastseen_at:
                          type: string
                          description: Timestamp when the stream was last detected as active.
                          example: '2026-04-30 11:50:03'
                        deleted:
                          nullable: true
                          description: Deletion timestamp, or null if the stream is not deleted.
                          example:
                        ingestsLock:
                          type: integer
                          description: Whether the ingest endpoint list is locked from editing.
                          example: 0
                        protocolsLock:
                          type: integer
                          description: Whether the supported protocol list is locked from editing.
                          example: 0
                        status:
                          type: string
                          description: Current deployment or operational status of the stream.
                          example: Enabled
                        has:
                          type: object
                          description: Flags indicating which streaming protocols are active.
                          properties:
                            rtmp:
                              type: integer
                              description: Whether RTMP streaming is enabled. 1 = enabled, 0 = disabled.
                              example: 0
                            rtsp:
                              type: integer
                              description: Whether RTSP streaming is enabled. 1 = enabled, 0 = disabled.
                              example: 1
                            hls:
                              type: integer
                              description: Whether HLS streaming is enabled. 1 = enabled, 0 = disabled.
                              example: 1
                            dash:
                              type: integer
                              description: Whether DASH streaming is enabled. 1 = enabled, 0 = disabled.
                              example: 0
                            rtmpauth:
                              type: boolean
                              description: Whether RTMP publish authentication is required.
                              example: false
                        parts:
                          type: object
                          description: Stream name components.
                          properties:
                            pp:
                              type: string
                              description: Stream name prefix (part 1, before the slash).
                              example: logotest
                            sn:
                              type: string
                              description: Stream name suffix (part 2, after the slash).
                              example: james
                            full:
                              type: string
                              description: Combined full stream name without the slash separator.
                              example: logotestjames
                        restream:
                          type: object
                          description: Restream platform configuration object.
                          properties:
                            type:
                              type: string
                              description: Type identifier for this stream or object.
                              example: mediaserver
                            mode:
                              type: string
                              description: Operating mode for the configuration.
                              example: rtmp
                            urls:
                              type: array
                              items:
                                type: string
                              example:
                              - rtmp://fms-01-01.5centscdn.com
                            staticip:
                              type: string
                              description: Static IP address associated with this server.
                              example: N
                            audiofix:
                              type: string
                              example: N
                            server:
                              type: object
                              description: Server ID or identifier assigned to the stream.
                              properties:
                                country:
                                  type: string
                                  description: Geographic region of the ingest server.
                                  example: Singapore
                        playbackurls:
                          type: object
                          description: Playback URL set for all supported protocols and player types.
                          properties:
                            scheme:
                              type: string
                              description: URL scheme used for playback.
                              example: https
                            url_prefix:
                              type: string
                              description: Base CDN hostname URL used as a prefix for playback URLs.
                              example: https://stream-abc12-hls-live.stream.example.com
                            rtmp:
                              type: string
                              description: RTMP playback or destination URL.
                              example: rtmp://rtmp.5centscdn.com:1935/
                            rtsp:
                              type: string
                              description: RTSP playback URL.
                              example: rtsp://rtsp.5centscdn.com:554/
                            hlsManifest:
                              type: string
                              description: HLS manifest filename.
                              example: playlist.m3u8
                            dashManifest:
                              type: string
                              description: DASH manifest filename.
                              example: manifest.mpd
                            hls:
                              type: string
                              description: HLS playback or player iframe URL.
                              example: https://hash-hls-live.5centscdn.com
                            dash:
                              type: string
                              description: DASH playback or player iframe URL.
                              example: https://hash-hls-live.5centscdn.com
                            players:
                              type: object
                              description: Embedded player iframe URL set for supported player types.
                              properties:
                                flowplayer:
                                  type: object
                                  description: Flowplayer iframe URL information.
                                  properties:
                                    baseQ:
                                      type: string
                                      description: Query string appended to the player iframe URL.
                                      example: ''
                                    base:
                                      type: string
                                      description: Base player iframe URL without the stream path.
                                      example: https://cdn.example.com/flowplayer/hls/
                                    hls:
                                      type: string
                                      description: HLS playback or player iframe URL.
                                      example: https://cdn.example.com/flowplayer/hls/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                                videojs:
                                  type: object
                                  description: Video.js player iframe URL information.
                                  properties:
                                    baseQ:
                                      type: string
                                      description: Query string appended to the player iframe URL.
                                      example: ''
                                    base:
                                      type: string
                                      description: Base player iframe URL without the stream path.
                                      example: https://cdn.example.com/videojs/hls/
                                    hls:
                                      type: string
                                      description: HLS playback or player iframe URL.
                                      example: https://cdn.example.com/videojs/hls/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                                own:
                                  type: object
                                  description: Native stream player iframe URL information.
                                  properties:
                                    hashes:
                                      type: object
                                      description: Map of CDN hostname to stream hashes and playback URLs.
                                      properties:
                                        stream-abc12-hls-live.stream.example.com:
                                          type: object
                                          properties:
                                            hash:
                                              type: string
                                              description: Short hash or slug used in stream URLs.
                                              example: 48nujrim2v7hzm6y
                                            hls:
                                              type: string
                                              description: HLS playback or player iframe URL.
                                              example: https://hash-hls-live.5centscdn.com
                                            base64:
                                              type: string
                                              description: Base64-encoded HLS playback URL for use with iframe players.
                                              example: aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                                            dash:
                                              type: string
                                              description: DASH playback or player iframe URL.
                                              example: https://hash-hls-live.5centscdn.com
                                            base64dash:
                                              type: string
                                              description: Base64-encoded DASH playback URL for use with iframe players.
                                              example: aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                                    baseQ:
                                      type: string
                                      description: Query string appended to the player iframe URL.
                                      example: ?showcv=true&title=logotest/james
                                    base:
                                      type: string
                                      description: Base player iframe URL without the stream path.
                                      example: https://cdn.example.com/player/hls/skin1/48nujrim2v7hzm6y/
                                    hls:
                                      type: string
                                      description: HLS playback or player iframe URL.
                                      example: https://cdn.example.com/player/hls/skin1/48nujrim2v7hzm6y/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4?showcv=true&title=logotest/james
                                    dash:
                                      type: string
                                      description: DASH playback or player iframe URL.
                                      example: https://cdn.example.com/player/dash/skin1/48nujrim2v7hzm6y/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4?showcv=true&title=logotest/james
                            tokenized:
                              nullable: true
                              description: Tokenized playback URL configuration, or null if disabled.
                              example:
                        platformsCount:
                          type: integer
                          description: Number of external restreaming platforms configured.
                          example: 1
                        ssl_enabled:
                          type: boolean
                          description: Whether HTTPS/SSL is enabled for playback.
                          example: true
                        hash:
                          type: string
                          description: Short hash or slug used in stream URLs.
                          example: james.stream
                        ndvr:
                          type: object
                          description: Network DVR (nDVR) rewind configuration for the stream.
                          properties:
                            enabled:
                              type: string
                              description: Enable or disable this feature.
                              example: N
                            retention:
                              type: string
                              description: Retention period in days (record) or minutes (nDVR).
                              example: '5'
                        securetoken:
                          type: object
                          description: Secure token URL signing configuration.
                          properties:
                            enabled:
                              type: string
                              description: Enable or disable this feature.
                              example: N
                            policy:
                              type: string
                              description: Policy mode controlling allow/deny behavior.
                              example: D
                            keyip:
                              type: string
                              description: Whether the token is bound to the viewer IP address.
                              example: N
                            list:
                              type: string
                              description: Comma-separated list of allowed or blocked values.
                              example: ''
                            timeout:
                              type: integer
                              description: Token expiry time in seconds.
                              example: 3600
                            session:
                              type: string
                              description: Session-based token mode flag.
                              example: '0'
                            ips:
                              type: string
                              description: IP addresses associated with the access control policy.
                              example: ''
                            dirs:
                              nullable: true
                              description: URL directory paths restricted by this policy.
                              example:
                            active:
                              type: string
                              description: Whether this policy is currently enforced.
                              example: N
                        record:
                          nullable: true
                          description: Recording (DVR) configuration for the stream.
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: Enable or disable this feature.
                              example: Y
                            retention:
                              type: string
                              description: Retention period in days (record) or minutes (nDVR).
                              example: '3'
                            stream:
                              type: object
                              description: Stream object containing configuration and status details.
                              properties:
                                id:
                                  type: integer
                                  description: Unique numeric identifier.
                                  example: 55746
                                type:
                                  type: string
                                  description: Type identifier for this stream or object.
                                  example: record
                        domainlock:
                          type: object
                          description: Domain lock (hotlink protection) configuration.
                          properties:
                            enabled:
                              type: string
                              description: Enable or disable this feature.
                              example: N
                            policy:
                              type: string
                              description: Policy mode controlling allow/deny behavior.
                              example: Y
                            list:
                              type: string
                              description: Comma-separated list of allowed or blocked values.
                              example: example.com,docs.example.com
                            ips:
                              type: string
                              description: IP addresses associated with the access control policy.
                              example: ''
                            noreferer:
                              type: string
                              description: Whether to allow playback requests with no Referer header.
                              example: N
                            active:
                              type: string
                              description: Whether this policy is currently enforced.
                              example: N
                        geoblock:
                          type: object
                          description: Geoblocking access control configuration.
                          properties:
                            enabled:
                              type: string
                              description: Enable or disable this feature.
                              example: N
                            policy:
                              type: string
                              description: Policy mode controlling allow/deny behavior.
                              example: N
                            list:
                              type: array
                              description: Comma-separated list of allowed or blocked values.
                              items:
                                type: string
                              example:
                              - ''
                            ips:
                              type: string
                              description: IP addresses associated with the access control policy.
                              example: ''
                            active:
                              type: string
                              description: Whether this policy is currently enforced.
                              example: N
                        ipaccess:
                          type: object
                          description: IP address access control configuration.
                          properties:
                            enabled:
                              type: string
                              description: Enable or disable this feature.
                              example: N
                            policy:
                              type: string
                              description: Policy mode controlling allow/deny behavior.
                              example: N
                            list:
                              type: string
                              description: Comma-separated list of allowed or blocked values.
                              example: ''
                            ips:
                              type: string
                              description: IP addresses associated with the access control policy.
                              example: ''
                            active:
                              type: string
                              description: Whether this policy is currently enforced.
                              example: N
                        useragent:
                          type: object
                          description: User-agent based access control configuration.
                          properties:
                            enabled:
                              type: string
                              description: Enable or disable this feature.
                              example: N
                            policy:
                              type: string
                              description: Policy mode controlling allow/deny behavior.
                              example: Y
                            list:
                              type: string
                              description: Comma-separated list of allowed or blocked values.
                              example: ''
                            ips:
                              type: string
                              description: IP addresses associated with the access control policy.
                              example: ''
                            casesensitive:
                              type: string
                              description: Whether user-agent pattern matching is case-sensitive.
                              example: N
                            active:
                              type: string
                              description: Whether this policy is currently enforced.
                              example: N
                            listArr:
                              type: array
                              description: User-agent filter list as a parsed array.
                              items:
                                type: string
                              example:
                              - ''
                        rtmpauth:
                          type: object
                          description: Whether RTMP publish authentication is required.
                          properties:
                            password:
                              type: string
                              description: Password for RTMP publish authentication.
                              example: ''
                            active:
                              type: string
                              description: Whether this policy is currently enforced.
                              example: N
                        transcode:
                          type: object
                          description: Live transcoding configuration for the stream.
                          properties:
                            ltc:
                              type: integer
                              description: Live transcoding server ID assigned to this stream.
                              example: 3
                            type:
                              type: string
                              description: Type identifier for this stream or object.
                              example: mixed
                            enabled:
                              type: boolean
                              description: Enable or disable this feature.
                              example: true
                            isEditable:
                              type: boolean
                              description: Whether the transcoding configuration can be edited.
                              example: true
                            id:
                              type: integer
                              description: Unique numeric identifier.
                              example: 69971
                            autostop:
                              type: integer
                              description: Whether the stream auto-stops when no input is received.
                              example: 0
                            vprofiles:
                              type: array
                              description: List of video transcoding profile IDs applied to this stream.
                              items:
                                type: string
                              example:
                              - '12345'
                            aprofiles:
                              type: array
                              description: List of audio transcoding profile IDs applied to this stream.
                              items:
                                type: string
                              example:
                              - '12345'
                            filters:
                              type: array
                              description: List of transcoding filter IDs applied to this stream.
                              items: {}
                              example: []
                            disabled:
                              type: string
                              description: Disabled flag. 0 means active; 1 means disabled.
                              example: '0'
                            count:
                              type: integer
                              description: Number of active transcoding profiles.
                              example: 1
                            countRaw:
                              type: integer
                              description: Total number of transcoding profiles including inactive.
                              example: 1
                            codec:
                              type: string
                              description: Video codec used for the stream.
                              example: h264
                            isRunning:
                              type: boolean
                              description: Whether live transcoding is currently active on this stream.
                              example: false
                            profiles:
                              type: object
                              description: Transcoding profile count summary.
                              properties:
                                count:
                                  type: object
                                  description: Number of active transcoding profiles.
                                  properties:
                                    total:
                                      type: integer
                                      description: Total number of transcoding profiles.
                                      example: 1
                                    uhd:
                                      type: integer
                                      description: Number of UHD (4K) transcoding profiles.
                                      example: 1
                        platforms:
                          type: array
                          description: List of configured external restreaming platform entries.
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Unique numeric identifier.
                                example: 46770
                              rtmp:
                                type: string
                                description: RTMP playback or destination URL.
                                example: rtmp://live.us.picarto.tv/golive
                              auth:
                                type: string
                                description: Whether RTMP publish authentication is enabled.
                                example: N
                              username:
                                type: string
                                description: Username for RTMP authentication.
                                example: ''
                              password:
                                type: string
                                description: Password for RTMP publish authentication.
                                example: ''
                              isSRT:
                                type: boolean
                                example: false
                              key:
                                type: string
                                description: RTMP stream key for the restream platform.
                                example: lll
                              schedule:
                                type: string
                                description: Publishing schedule type.
                                example: instant
                              scheduletime:
                                nullable: true
                                example:
                              codec:
                                nullable: true
                                description: Video codec used for the stream.
                                example:
                              length:
                                type: string
                                description: Maximum stream length in hh:mm:ss format.
                                example: 00:00
                              relid:
                                type: integer
                                example: 69971
                              dedicatedLTC:
                                type: string
                                description: Whether a dedicated live transcoding server is allocated for this stream.
                                example: '0'
                              transcode:
                                type: object
                                description: Live transcoding configuration for the stream.
                                properties:
                                  ltc:
                                    type: integer
                                    description: Live transcoding server ID assigned to this stream.
                                    example: 0
                                  type:
                                    type: string
                                    description: Type identifier for this stream or object.
                                    example: mixed
                                  enabled:
                                    type: boolean
                                    description: Enable or disable this feature.
                                    example: false
                                  isEditable:
                                    type: boolean
                                    description: Whether the transcoding configuration can be edited.
                                    example: true
                              disabled:
                                type: string
                                description: Disabled flag. 0 means active; 1 means disabled.
                                example: '0'
                              name:
                                type: string
                                description: Name of the stream.
                                example: h
                              platform_id:
                                type: integer
                                example: 1
                              provider_id:
                                type: integer
                                description: Unique identifier of the ad insertion provider record.
                                example: 0
                              video_id:
                                type: string
                                example: ''
                        messages:
                          type: object
                          description: Informational messages related to the stream state.
                        adInsertion:
                          nullable: true
                          description: Ad insertion configuration for the stream, or null if not configured.
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Unique numeric identifier.
                              example: 9
                            relid:
                              type: integer
                              example: 69971
                            type:
                              type: string
                              description: Type identifier for this stream or object.
                              example: stream
                            enabled:
                              type: string
                              description: Enable or disable this feature.
                              example: Y
                            policy:
                              type: string
                              description: Policy mode controlling allow/deny behavior.
                              example: '1'
                            provider:
                              type: string
                              example: FreeWheel
                            meta:
                              type: object
                              description: Metadata object for the server.
                              properties:
                                adpreroll:
                                  type: object
                                  description: Pre-roll ad configuration object.
                                  properties:
                                    maxDuration:
                                      type: integer
                                      description: Maximum duration in seconds.
                                      example: 30
                                    offset:
                                      type: integer
                                      example: 0
                                adreplacement:
                                  type: object
                                  description: Ad replacement configuration object.
                                  properties:
                                    scte35:
                                      type: object
                                      description: SCTE-35 signalling configuration.
                                      properties:
                                        adBreakTriggers:
                                          type: array
                                          description: SCTE-35 splice command types that trigger an ad break.
                                          items:
                                            type: string
                                          example:
                                          - '0x22'
                                          - '0x30'
                                          - '0x32'
                                          - '0x34'
                                          - '0x36'
                                          - splice_insert
                                        markersToRemove:
                                          type: array
                                          description: SCTE-35 marker types to strip from the outgoing manifest.
                                          items:
                                            type: string
                                          example:
                                          - ALL
                                    onStartWithinAdBreak:
                                      type: string
                                      description: Behaviour when a viewer joins during an active ad break.
                                      example: replace
                            defaultDuration:
                              type: integer
                              example: 30
                            created_at:
                              type: string
                              description: Timestamp when the stream was created.
                              example: '2026-04-01 14:04:46'
                            schedules:
                              type: array
                              items: {}
                              example: []
                            active:
                              type: string
                              description: Whether this policy is currently enforced.
                              example: N
      deprecated: false
  /streams/restream/new:
    post:
      tags:
      - Stream Management
      summary: Create Restream
      description: Create a restream
      operationId: createStreamsPull
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - _METHOD
              - name
              properties:
                _METHOD:
                  type: string
                  description: HTTP method override for this request. This endpoint accepts POST, but set this to PUT to perform an update operation.
                  example: PUT
                name:
                  type: string
                  description: Friendly name for this resource.
                  example: otilor/dongooo
                codec:
                  type: string
                  description: Video codec for the stream. Use h264 or h265.
                  example: h264
                protocols:
                  type: array
                  description: List of output protocols. Values include HLS, RTMP, DASH, RTSP.
                  items:
                    type: string
                  example:
                  - HLS
                restreamtype:
                  type: string
                  description: The type of restreaming being applied. mediaserver indicates the stream is relayed through a media server.
                  example: mediaserver
                server[mediaserver]:
                  type: string
                  description: The unique identifier for the media server. Examples include 209 for Oceania or 11,211 for North America.
                  example: 11,211
                mode[mediaserver]:
                  type: string
                  description: The type of media server mode being used. hls indicates HTTP Live Streaming mode.
                  example: hls
                url[mediaserver][]:
                  type: string
                  description: A URL associated with the media server where the stream can be accessed.
                  example: https://test.co
                audiofix:
                  type: string
                  description: Fix audio sync issues in pull streams. Y means enabled, N means disabled.
                  example: N
                draft:
                  type: integer
                  description: Set to 0 to publish the stream, or 1 to save it as a draft.
                  example: 0
                domainlock[enabled]:
                  type: string
                  description: Whether domain locking is enabled. Y means enabled, N means disabled.
                  example: Y
                domainlock[policy]:
                  type: string
                  description: The domain locking policy. Y means a specific policy applies, N means no policy.
                  example: Y
                domainlock[list]:
                  type: string
                  description: A comma-separated list of allowed domains.
                  example: example.com,docs.example.com
                domainlock[noreferer]:
                  type: string
                  description: Block requests with no referrer header. Y means blocked (requests with empty referer are blocked); N means allowed.
                  example: N
                domainlock[ips]:
                  type: string
                  description: A list of IP addresses allowed for domain access.
                  example: ''
                geoblock[enabled]:
                  type: string
                  description: Whether Geo-blocking is enabled. Y means enabled, N means disabled.
                  example: Y
                geoblock[policy]:
                  type: string
                  description: The Geo-blocking policy. Y means a specific policy applies, N means no policy.
                  example: Y
                geoblock[list][]:
                  type: string
                  description: Country codes to block or allow access from. Examples include AF, GB, US.
                  example: ''
                geoblock[ips]:
                  type: string
                  description: A list of IP addresses involved in the geographic access control.
                  example: ''
                ipaccess[enabled]:
                  type: string
                  description: Whether IP access control is enabled. Y means enabled, N means disabled.
                  example: Y
                ipaccess[policy]:
                  type: string
                  description: The IP access policy. Y means a policy applies, N means no specific policy.
                  example: N
                ipaccess[list]:
                  type: string
                  description: A list of allowed or denied IP addresses.
                  example: ''
                ipaccess[ips]:
                  type: string
                  description: A list of specific IP addresses involved in the access control.
                  example: ''
                ndvr[enabled]:
                  type: string
                  description: Whether NDVR is enabled. Y means enabled, N means disabled.
                  example: Y
                ndvr[retention]:
                  type: integer
                  description: The number of days to retain the NDVR recorded data.
                  example: 5
                record[server]:
                  type: integer
                  description: The DVR server identifier.
                  example: 1
                record[enabled]:
                  type: string
                  description: Whether recording is enabled. Y means enabled, N means disabled.
                  example: Y
                record[retention]:
                  type: integer
                  description: The number of days to keep the recordings.
                  example: 3
                securetoken[enabled]:
                  type: string
                  description: Whether secure token authentication is enabled. Y means enabled, N means disabled.
                  example: Y
                securetoken[policy]:
                  type: string
                  description: The security policy for the tokens.
                  example: D
                securetoken[list]:
                  type: string
                  description: A token identifier used for access control.
                  example: 32862cdb6276e19a
                securetoken[ips]:
                  type: string
                  description: A list of IP addresses allowed for token access.
                  example: ''
                securetoken[keyip]:
                  type: string
                  description: Whether the token is restricted to a specific IP address. Y means restricted, N means not restricted.
                  example: N
                securetoken[session]:
                  type: string
                  description: Indicates whether a session is required for token validation. 0 means no session.
                  example: '0'
                securetoken[timeout]:
                  type: integer
                  description: The timeout duration in seconds for token validity.
                  example: 3600
                securetoken[active]:
                  type: string
                  description: Whether the secure token is currently active. Y means active, N means inactive.
                  example: Y
                useragent[enabled]:
                  type: string
                  description: Whether user-agent access control is enabled. Y means enabled, N means disabled.
                  example: Y
                useragent[policy]:
                  type: string
                  description: The user-agent policy. Y means a policy applies, N means no policy.
                  example: Y
                useragent[list]:
                  type: string
                  description: A list of acceptable or denied user-agent strings.
                  example: ''
                useragent[casesensitive]:
                  type: string
                  description: Whether user-agent matching is case-sensitive. Y means case-sensitive, N means case-insensitive.
                  example: N
                useragent[ips]:
                  type: string
                  description: A list of IP addresses associated with user-agent control.
                  example: ''
                vprofiles:
                  type: array
                  description: List of video transcoding profile IDs to apply.
                  items:
                    type: integer
                  example:
                  - 14931
                  - 14937
                aprofiles:
                  type: array
                  description: List of audio transcoding profile IDs to apply.
                  items:
                    type: integer
                  example:
                  - 14931
                filters:
                  type: array
                  description: List of transcoding filter IDs to apply.
                  items:
                    type: integer
                  example:
                  - 3
                  - 4
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: Human-readable message describing the result.
                    example: Stream Created
                  stream:
                    type: object
                    description: Stream object containing configuration and status details.
                    properties:
                      monitoring_id:
                        nullable: true
                        description: Unique monitoring identifier for the stream.
                        example:
                      type:
                        type: string
                        description: Type identifier for this stream or object.
                        example: restream
                      id:
                        type: integer
                        description: Unique numeric identifier.
                        example: 72224
                      serviceid:
                        type: integer
                        description: Unique identifier of the service this stream belongs to.
                        example: 103
                      name:
                        type: string
                        description: Name of the stream.
                        example: otilor/dongooo
                      codec:
                        type: string
                        description: Video codec used for the stream.
                        example: h264
                      ingests:
                        type: array
                        description: List of active ingest connection details for each server.
                        items:
                          nullable: true
                          type: array
                          items:
                            type: string
                        example:
                        - []
                        - 
                      protocols:
                        type: array
                        description: Supported streaming protocols for each server.
                        items:
                          type: array
                          items:
                            type: string
                        example:
                        - - HLS
                        - - HLS
                      parentid:
                        nullable: true
                        description: Identifier of the parent stream, if this is a child stream.
                        example:
                      server:
                        type: string
                        description: Server ID or identifier assigned to the stream.
                        example: '201'
                      backup:
                        type: string
                        description: Backup server ID for failover.
                        example: ''
                      dedicatedLTC:
                        type: string
                        description: Whether a dedicated live transcoding server is allocated for this stream.
                        example: '0'
                      hasAdvancedFeatures:
                        type: string
                        description: Whether advanced features are enabled for this stream.
                        example: '0'
                      monitoring_triggers:
                        nullable: true
                        description: Monitoring alert trigger configuration for the stream.
                        example:
                      draft:
                        type: string
                        description: Draft status flag. 0 means published; 1 means unpublished draft.
                        example: '0'
                      disabled:
                        type: string
                        description: Disabled flag. 0 means active; 1 means disabled.
                        example: '0'
                      created_at:
                        type: string
                        description: Timestamp when the stream was created.
                        example: '2026-04-30 12:07:41'
                      updated_at:
                        type: string
                        description: Timestamp when the stream was last updated.
                        example: '2026-04-30 12:07:41'
                      lastseen_at:
                        type: boolean
                        description: Timestamp when the stream was last detected as active.
                        example: false
                      deleted:
                        nullable: true
                        description: Deletion timestamp, or null if the stream is not deleted.
                        example:
                      ingestsLock:
                        type: integer
                        description: Whether the ingest endpoint list is locked from editing.
                        example: 0
                      protocolsLock:
                        type: integer
                        description: Whether the supported protocol list is locked from editing.
                        example: 1
                      status:
                        type: string
                        description: Current deployment or operational status of the stream.
                        example: Deploying
                      has:
                        type: object
                        description: Flags indicating which streaming protocols are active.
                        properties:
                          rtmp:
                            type: integer
                            description: Whether RTMP streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 0
                          rtsp:
                            type: integer
                            description: Whether RTSP streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 0
                          hls:
                            type: integer
                            description: Whether HLS streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 1
                          dash:
                            type: integer
                            description: Whether DASH streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 0
                          rtmpauth:
                            type: boolean
                            description: Whether RTMP publish authentication is required.
                            example: false
                      parts:
                        type: object
                        description: Stream name components.
                        properties:
                          pp:
                            type: string
                            description: Stream name prefix (part 1, before the slash).
                            example: otilor
                          sn:
                            type: string
                            description: Stream name suffix (part 2, after the slash).
                            example: dongooo
                          full:
                            type: string
                            description: Combined full stream name without the slash separator.
                            example: otilordongooo
                      restream:
                        type: object
                        description: Restream platform configuration object.
                        properties:
                          type:
                            type: string
                            description: Type identifier for this stream or object.
                            example: mediaserver
                          mode:
                            type: string
                            description: Operating mode for the configuration.
                            example: hls
                          urls:
                            type: array
                            items:
                              type: string
                            example:
                            - https://test.co
                          staticip:
                            type: string
                            description: Static IP address associated with this server.
                            example: N
                          audiofix:
                            type: string
                            example: N
                          server:
                            type: object
                            description: Server ID or identifier assigned to the stream.
                            properties:
                              country:
                                type: string
                                description: Geographic region of the ingest server.
                                example: North America
                      playbackurls:
                        type: object
                        description: Playback URL set for all supported protocols and player types.
                        properties:
                          scheme:
                            type: string
                            description: URL scheme used for playback.
                            example: https
                          url_prefix:
                            type: string
                            description: Base CDN hostname URL used as a prefix for playback URLs.
                            example: https://stream-abc12-hls-live.stream.example.com
                          rtmp:
                            type: string
                            description: RTMP playback or destination URL.
                            example: rtmp://rtmp.5centscdn.com:1935/
                          rtsp:
                            type: string
                            description: RTSP playback URL.
                            example: rtsp://rtsp.5centscdn.com:554/
                          hlsManifest:
                            type: string
                            description: HLS manifest filename.
                            example: playlist_dvr.m3u8
                          dashManifest:
                            type: string
                            description: DASH manifest filename.
                            example: manifest_dvr.mpd
                          hls:
                            type: string
                            description: HLS playback or player iframe URL.
                            example: https://hash-hls-live.5centscdn.com
                          dash:
                            type: string
                            description: DASH playback or player iframe URL.
                            example: https://hash-hls-live.5centscdn.com
                          players:
                            type: object
                            description: Embedded player iframe URL set for supported player types.
                            properties:
                              flowplayer:
                                type: object
                                description: Flowplayer iframe URL information.
                                properties:
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                    example: ''
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                    example: https://cdn.example.com/flowplayer/hls/
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                    example: https://cdn.example.com/flowplayer/hls/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                              videojs:
                                type: object
                                description: Video.js player iframe URL information.
                                properties:
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                    example: ''
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                    example: https://cdn.example.com/videojs/hls/
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                    example: https://cdn.example.com/videojs/hls/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                              own:
                                type: object
                                description: Native stream player iframe URL information.
                                properties:
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                    example: ?showcv=true&title=otilor/dongooo
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                    example: https://cdn.example.com/player/hls/skin1//
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                    example: https://cdn.example.com/player/hls/skin1//aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4?showcv=true&title=otilor/dongooo
                                  dash:
                                    type: string
                                    description: DASH playback or player iframe URL.
                                    example: https://cdn.example.com/player/dash/skin1//aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4?showcv=true&title=otilor/dongooo
                          tokenized:
                            type: object
                            description: Tokenized playback URL configuration, or null if disabled.
                            properties:
                              scheme:
                                type: string
                                description: URL scheme used for playback.
                                example: https
                              url_prefix:
                                type: string
                                description: Base CDN hostname URL used as a prefix for playback URLs.
                                example: https://stream-abc12-hls-live.stream.example.com
                              rtmp:
                                type: string
                                description: RTMP playback or destination URL.
                                example: rtmp://rtmp.5centscdn.com:1935/
                              rtsp:
                                type: string
                                description: RTSP playback URL.
                                example: rtsp://rtsp.5centscdn.com:554/
                              hlsManifest:
                                type: string
                                description: HLS manifest filename.
                                example: playlist_dvr.m3u8
                              dashManifest:
                                type: string
                                description: DASH manifest filename.
                                example: manifest_dvr.mpd
                              hls:
                                type: string
                                description: HLS playback or player iframe URL.
                                example: https://hash-hls-live.5centscdn.com
                              dash:
                                type: string
                                description: DASH playback or player iframe URL.
                                example: https://hash-hls-live.5centscdn.com
                              players:
                                type: object
                                description: Embedded player iframe URL set for supported player types.
                                properties:
                                  hostname:
                                    type: string
                                    description: CDN hostname used for playback.
                                    example: cdn.example.com
                                  flowplayer:
                                    type: object
                                    description: Flowplayer iframe URL information.
                                    properties:
                                      baseQ:
                                        type: string
                                        description: Query string appended to the player iframe URL.
                                        example: ''
                                      base:
                                        type: string
                                        description: Base player iframe URL without the stream path.
                                        example: https://cdn.example.com/flowplayer/hls/
                                      hls:
                                        type: string
                                        description: HLS playback or player iframe URL.
                                        example: https://cdn.example.com/flowplayer/hls/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                                      dash:
                                        type: string
                                        description: DASH playback or player iframe URL.
                                        example: https://cdn.example.com/flowplayer/dash/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                                  videojs:
                                    type: object
                                    description: Video.js player iframe URL information.
                                    properties:
                                      baseQ:
                                        type: string
                                        description: Query string appended to the player iframe URL.
                                        example: ''
                                      base:
                                        type: string
                                        description: Base player iframe URL without the stream path.
                                        example: https://cdn.example.com/videojs/hls/
                                      hls:
                                        type: string
                                        description: HLS playback or player iframe URL.
                                        example: https://cdn.example.com/videojs/hls/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                                      dash:
                                        type: string
                                        description: DASH playback or player iframe URL.
                                        example: https://cdn.example.com/videojs/dash/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                                  own:
                                    type: object
                                    description: Native stream player iframe URL information.
                                    properties:
                                      baseQ:
                                        type: string
                                        description: Query string appended to the player iframe URL.
                                        example: ?showcv=true&title=otilor/dongooo
                                      base:
                                        type: string
                                        description: Base player iframe URL without the stream path.
                                        example: https://cdn.example.com/player/hls/skin1//
                                      hls:
                                        type: string
                                        description: HLS playback or player iframe URL.
                                        example: https://cdn.example.com/player/hls/skin1//aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4?showcv=true&title=otilor/dongooo
                                      dash:
                                        type: string
                                        description: DASH playback or player iframe URL.
                                        example: https://cdn.example.com/player/dash/skin1//aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4?showcv=true&title=otilor/dongooo
                              path:
                                type: object
                                properties:
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                    example: /otilor/dongooo.stream/playlist_dvr.m3u8
                                  dash:
                                    type: string
                                    description: DASH playback or player iframe URL.
                                    example: /otilor/dongooo.stream/manifest_dvr.mpd
                              token:
                                type: object
                                properties:
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                    example: md5=OhWNamlkGVM10fMHSRFrPw&path=%2Fotilor%2Fdongooo.stream&expires=1777554474
                                  dash:
                                    type: string
                                    description: DASH playback or player iframe URL.
                                    example: md5=OhWNamlkGVM10fMHSRFrPw&path=%2Fotilor%2Fdongooo.stream&expires=1777554474
                      platformsCount:
                        type: integer
                        description: Number of external restreaming platforms configured.
                        example: 0
                      ssl_enabled:
                        type: boolean
                        description: Whether HTTPS/SSL is enabled for playback.
                        example: true
                      hash:
                        type: string
                        description: Short hash or slug used in stream URLs.
                        example: dongooo.stream
                      ndvr:
                        type: object
                        description: Network DVR (nDVR) rewind configuration for the stream.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: Y
                          retention:
                            type: string
                            description: Retention period in days (record) or minutes (nDVR).
                            example: '5'
                      securetoken:
                        type: object
                        description: Secure token URL signing configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: Y
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: D
                          keyip:
                            type: string
                            description: Whether the token is bound to the viewer IP address.
                            example: N
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                            example: 32862cdb6276e19a
                          timeout:
                            type: integer
                            description: Token expiry time in seconds.
                            example: 3600
                          session:
                            type: string
                            description: Session-based token mode flag.
                            example: '0'
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          dirs:
                            nullable: true
                            description: URL directory paths restricted by this policy.
                            example:
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: Y
                      transcode:
                        type: object
                        description: Live transcoding configuration for the stream.
                        properties:
                          ltc:
                            type: integer
                            description: Live transcoding server ID assigned to this stream.
                            example: 0
                          type:
                            type: string
                            description: Type identifier for this stream or object.
                            example: mixed
                          enabled:
                            type: boolean
                            description: Enable or disable this feature.
                            example: false
                          isEditable:
                            type: boolean
                            description: Whether the transcoding configuration can be edited.
                            example: true
                      domainlock:
                        type: object
                        description: Domain lock (hotlink protection) configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: Y
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: Y
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                            example: example.com,docs.example.com
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          noreferer:
                            type: string
                            description: Whether to allow playback requests with no Referer header.
                            example: N
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: Y
                      geoblock:
                        type: object
                        description: Geoblocking access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: Y
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: Y
                          list:
                            type: array
                            description: Comma-separated list of allowed or blocked values.
                            items:
                              type: string
                            example:
                            - ''
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: Y
                      ipaccess:
                        type: object
                        description: IP address access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: Y
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: N
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                            example: ''
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                      useragent:
                        type: object
                        description: User-agent based access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: Y
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: Y
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                            example: ''
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          casesensitive:
                            type: string
                            description: Whether user-agent pattern matching is case-sensitive.
                            example: N
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                          listArr:
                            type: array
                            description: User-agent filter list as a parsed array.
                            items:
                              type: string
                            example:
                            - ''
                      adInsertion:
                        nullable: true
                        description: Ad insertion configuration for the stream, or null if not configured.
                        example:
                      record:
                        type: object
                        description: Recording (DVR) configuration for the stream.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: Y
                          retention:
                            type: string
                            description: Retention period in days (record) or minutes (nDVR).
                            example: '3'
                          stream:
                            type: object
                            description: Stream object containing configuration and status details.
                            properties:
                              id:
                                type: integer
                                description: Unique numeric identifier.
                                example: 72225
                              type:
                                type: string
                                description: Type identifier for this stream or object.
                                example: record
                      rtmpauth:
                        type: object
                        description: Whether RTMP publish authentication is required.
                        properties:
                          password:
                            type: string
                            description: Password for RTMP publish authentication.
                            example: ''
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                      platforms:
                        type: array
                        description: List of configured external restreaming platform entries.
                        items: {}
                        example: []
                      messages:
                        type: object
                        description: Informational messages related to the stream state.
                  warnings:
                    nullable: true
                    description: Non-fatal warnings returned with the response.
                    example:
                  errors:
                    nullable: true
                    description: Errors returned with the response.
                    example:
      deprecated: false
  /streams/restream/{streamid}:
    get:
      tags:
      - Stream Management
      summary: Stream
      description: Return the details of a restream
      operationId: getDetailsStreamsPull
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  stream:
                    type: object
                    description: Stream object containing configuration and status details.
                    properties:
                      monitoring_id:
                        nullable: true
                        description: Unique monitoring identifier for the stream.
                        example:
                      type:
                        type: string
                        description: Type identifier for this stream or object.
                        example: restream
                      id:
                        type: integer
                        description: Unique numeric identifier.
                        example: 69971
                      serviceid:
                        type: integer
                        description: Unique identifier of the service this stream belongs to.
                        example: 103
                      name:
                        type: string
                        description: Name of the stream.
                        example: logotest/james
                      codec:
                        type: string
                        description: Video codec used for the stream.
                        example: h264
                      ingests:
                        type: array
                        description: List of active ingest connection details for each server.
                        items:
                          nullable: true
                          type: array
                          items:
                            type: string
                        example:
                        - []
                        - 
                      protocols:
                        type: array
                        description: Supported streaming protocols for each server.
                        items:
                          type: array
                          items:
                            type: string
                        example:
                        - - HLS
                          - RTSP
                        - - HLS
                          - RTSP
                      parentid:
                        nullable: true
                        description: Identifier of the parent stream, if this is a child stream.
                        example:
                      server:
                        type: string
                        description: Server ID or identifier assigned to the stream.
                        example: '201'
                      backup:
                        type: string
                        description: Backup server ID for failover.
                        example: ''
                      dedicatedLTC:
                        type: string
                        description: Whether a dedicated live transcoding server is allocated for this stream.
                        example: '1'
                      hasAdvancedFeatures:
                        type: string
                        description: Whether advanced features are enabled for this stream.
                        example: '1'
                      monitoring_triggers:
                        nullable: true
                        description: Monitoring alert trigger configuration for the stream.
                        example:
                      draft:
                        type: string
                        description: Draft status flag. 0 means published; 1 means unpublished draft.
                        example: '0'
                      disabled:
                        type: string
                        description: Disabled flag. 0 means active; 1 means disabled.
                        example: '0'
                      created_at:
                        type: string
                        description: Timestamp when the stream was created.
                        example: '2026-03-11 13:05:31'
                      updated_at:
                        type: string
                        description: Timestamp when the stream was last updated.
                        example: '2026-04-30 13:16:22'
                      lastseen_at:
                        type: string
                        description: Timestamp when the stream was last detected as active.
                        example: '2026-04-30 13:19:11'
                      deleted:
                        nullable: true
                        description: Deletion timestamp, or null if the stream is not deleted.
                        example:
                      ingestsLock:
                        type: integer
                        description: Whether the ingest endpoint list is locked from editing.
                        example: 0
                      protocolsLock:
                        type: integer
                        description: Whether the supported protocol list is locked from editing.
                        example: 0
                      status:
                        type: string
                        description: Current deployment or operational status of the stream.
                        example: Enabled
                      has:
                        type: object
                        description: Flags indicating which streaming protocols are active.
                        properties:
                          rtmp:
                            type: integer
                            description: Whether RTMP streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 0
                          rtsp:
                            type: integer
                            description: Whether RTSP streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 1
                          hls:
                            type: integer
                            description: Whether HLS streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 1
                          dash:
                            type: integer
                            description: Whether DASH streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 0
                          rtmpauth:
                            type: boolean
                            description: Whether RTMP publish authentication is required.
                            example: false
                      parts:
                        type: object
                        description: Stream name components.
                        properties:
                          pp:
                            type: string
                            description: Stream name prefix (part 1, before the slash).
                            example: logotest
                          sn:
                            type: string
                            description: Stream name suffix (part 2, after the slash).
                            example: james
                          full:
                            type: string
                            description: Combined full stream name without the slash separator.
                            example: logotestjames
                      restream:
                        type: object
                        description: Restream platform configuration object.
                        properties:
                          type:
                            type: string
                            description: Type identifier for this stream or object.
                            example: mediaserver
                          mode:
                            type: string
                            description: Operating mode for the configuration.
                            example: rtmp
                          urls:
                            type: array
                            items:
                              type: string
                            example:
                            - rtmp://fms-01-01.5centscdn.com
                          staticip:
                            type: string
                            description: Static IP address associated with this server.
                            example: N
                          audiofix:
                            type: string
                            example: Y
                          server:
                            type: object
                            description: Server ID or identifier assigned to the stream.
                            properties:
                              country:
                                type: string
                                description: Geographic region of the ingest server.
                                example: North America
                      playbackurls:
                        type: object
                        description: Playback URL set for all supported protocols and player types.
                        properties:
                          scheme:
                            type: string
                            description: URL scheme used for playback.
                            example: https
                          url_prefix:
                            type: string
                            description: Base CDN hostname URL used as a prefix for playback URLs.
                            example: https://stream-abc12-hls-live.stream.example.com
                          rtmp:
                            type: string
                            description: RTMP playback or destination URL.
                            example: rtmp://rtmp.5centscdn.com:1935/
[...]
