openapi: 3.0.0
info:
  title: 5centsCDN - Livestreams
  description: API for managing Live Streams in 5centsCDN (https://www.5centscdn.net)
  version: 2.0.0
  contact:
    email: help@5centscdn.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.5centscdn.com/v2
  description: 5centsCDN API Server - Production
security:
- ApiKeyAuth: []
tags:
- name: List Streams
  description: list all streams
- name: Push Streams
  description: endpoints related to Push streams
- name: Pull Streams
  description: endpoints related to Pull streams
- name: Multi Bitrate Push Streams
  description: endpoints related to MBR streams
- name: DVR Streams
  description: endpoints related to DVR streams
- name: Delayed Streams
  description: endpoints related to Delayed streams
- name: Scheduled Playlist Streams
  description: endpoints related to Scheduled Playlist streams & Playlist
- name: Multistream Streams
  description: endpoints related to Multistream Streams
- name: Reports - Recording Minutes
  description: Reports for Recording Minutes
- name: Global Settings
  description: Global Stream Settings
- name: Live Transcoding Profiles/Filters
  description: Live stream transcoding profile and filter management
- name: Ad Insertion
  description: Enable, configure and control SCTE-35 ad insertion on a live stream
- name: Ad Server
  description: Configure the upstream ad server (VAST/VMAP URL and query parameters)
- name: Ad Pre-Roll
  description: Configure pre-roll ad settings
- name: Ad Replacement
  description: Configure live ad replacement settings
- name: Schedules
  description: Manage recurring or one-time ad break schedules
- name: Triggers
  description: View and delete queued ad break triggers
- name: Cue Signals
  description: Manually trigger cue-out / cue-in signals on the stream encoder
- name: Consumption
  description: Query ad insertion consumption and billing data
paths:
  /streams:
    get:
      tags:
      - List Streams
      summary: List streams
      description: list streams
      operationId: streamsList
      responses:
        '200':
          description: streams list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
  /streams/push:
    get:
      tags:
      - Push Streams
      summary: Stream
      description: push list
      operationId: streamsPushList
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          example: 1
          description: The page number of the result. One page contains 20 results.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
      deprecated: false
  /streams/push/new:
    post:
      tags:
      - Push Streams
      summary: Create Push
      description: Create a Push stream
      operationId: createPushStreams
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePushStream'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
      deprecated: false
  /streams/push/{streamid}:
    get:
      tags:
      - Push Streams
      summary: Stream
      description: Returns the details of a push stream
      operationId: getStreamsPush
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  stream:
                    type: object
                    properties:
                      monitoring_id:
                        nullable: true
                        example:
                      type:
                        type: string
                        example: push
                      id:
                        type: integer
                        example: 71524
                      serviceid:
                        type: integer
                        example: 103
                      name:
                        type: string
                        example: arti/test23
                      codec:
                        type: string
                        example: h264
                      ingests:
                        type: array
                        items:
                          nullable: true
                          type: array
                          items:
                            type: string
                        example:
                        - []
                        - 
                      protocols:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                        example:
                        - - DASH
                          - HLS
                          - RTMP
                          - RTSP
                        - - DASH
                          - HLS
                          - RTMP
                          - RTSP
                      parentid:
                        nullable: true
                        example:
                      server:
                        type: string
                        example: '11'
                      backup:
                        type: string
                        example: ''
                      dedicatedLTC:
                        type: string
                        example: '1'
                      hasAdvancedFeatures:
                        type: string
                        example: '0'
                      monitoring_triggers:
                        nullable: true
                        example:
                      draft:
                        type: string
                        example: '0'
                      disabled:
                        type: string
                        example: '0'
                      created_at:
                        type: string
                        example: '2026-04-10 05:36:26'
                      updated_at:
                        type: string
                        example: '2026-04-14 08:38:15'
                      lastseen_at:
                        type: boolean
                        example: false
                      deleted:
                        nullable: true
                        example:
                      ingestsLock:
                        type: integer
                        example: 0
                      protocolsLock:
                        type: integer
                        example: 0
                      status:
                        type: string
                        example: Enabled
                      has:
                        type: object
                        properties:
                          rtmp:
                            type: integer
                            example: 1
                          rtsp:
                            type: integer
                            example: 1
                          hls:
                            type: integer
                            example: 1
                          dash:
                            type: integer
                            example: 1
                          rtmpauth:
                            type: boolean
                            example: false
                      fms:
                        type: object
                        properties:
                          server:
                            type: object
                            properties:
                              country:
                                type: string
                                example: North America
                              meta:
                                type: object
                                properties:
                                  fmsUrl:
                                    type: string
                                    example: rtmp://fms-02-01.5centscdn.com
                      parts:
                        type: object
                        properties:
                          pp:
                            type: string
                            example: arti
                          sn:
                            type: string
                            example: test23
                          full:
                            type: string
                            example: artitest23
                      restream:
                        type: object
                      playbackurls:
                        type: object
                        properties:
                          scheme:
                            type: string
                            example: https
                          url_prefix:
                            type: string
                            example: https://woj7lng8dg82-hls-live.5centscdn.com
                          rtmp:
                            type: string
                            example: rtmp://rtmp.5centscdn.com:1935/arti/test23
                          rtsp:
                            type: string
                            example: rtsp://rtsp.5centscdn.com:554/arti/test23
                          hlsManifest:
                            type: string
                            example: playlist.m3u8
                          dashManifest:
                            type: string
                            example: manifest.mpd
                          hls:
                            type: string
                            example: https://woj7lng8dg82-hls-live.5centscdn.com/arti/test23/playlist.m3u8
                          dash:
                            type: string
                            example: https://woj7lng8dg82-hls-live.5centscdn.com/arti/test23/manifest.mpd
                          players:
                            type: object
                            properties:
                              flowplayer:
                                type: object
                                properties:
                                  baseQ:
                                    type: string
                                    example: ''
                                  base:
                                    type: string
                                    example: https://iframes.5centscdn.com/flowplayer/hls/
                                  hls:
                                    type: string
                                    example: https://iframes.5centscdn.com/flowplayer/hls/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS9hcnRpL3Rlc3QyMy9wbGF5bGlzdC5tM3U4
                              videojs:
                                type: object
                                properties:
                                  baseQ:
                                    type: string
                                    example: ''
                                  base:
                                    type: string
                                    example: https://iframes.5centscdn.com/videojs/hls/
                                  hls:
                                    type: string
                                    example: https://iframes.5centscdn.com/videojs/hls/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS9hcnRpL3Rlc3QyMy9wbGF5bGlzdC5tM3U4
                              own:
                                type: object
                                properties:
                                  hashes:
                                    type: object
                                    properties:
                                      woj7lng8dg82-hls-live.5centscdn.com:
                                        type: object
                                        properties:
                                          hash:
                                            type: string
                                            example: 4gpuj6i08q6cvz37
                                          hls:
                                            type: string
                                            example: https://woj7lng8dg82-hls-live.5centscdn.com/arti/test23/playlist.m3u8
                                          base64:
                                            type: string
                                            example: aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS9hcnRpL3Rlc3QyMy9wbGF5bGlzdC5tM3U4
                                          dash:
                                            type: string
                                            example: https://woj7lng8dg82-hls-live.5centscdn.com/arti/test23/manifest.mpd
                                          base64dash:
                                            type: string
                                            example: aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS9hcnRpL3Rlc3QyMy9tYW5pZmVzdC5tcGQ=
                                  baseQ:
                                    type: string
                                    example: ?showcv=true&title=arti/test23
                                  base:
                                    type: string
                                    example: https://iframes.5centscdn.com/5centscdn/hls/skin1/4gpuj6i08q6cvz37/
                                  hls:
                                    type: string
                                    example: https://iframes.5centscdn.com/5centscdn/hls/skin1/4gpuj6i08q6cvz37/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS9hcnRpL3Rlc3QyMy9wbGF5bGlzdC5tM3U4?showcv=true&title=arti/test23
                                  dash:
                                    type: string
                                    example: https://iframes.5centscdn.com/5centscdn/dash/skin1/4gpuj6i08q6cvz37/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS9hcnRpL3Rlc3QyMy9tYW5pZmVzdC5tcGQ=?showcv=true&title=arti/test23
                          tokenized:
                            nullable: true
                            example:
                      platformsCount:
                        type: integer
                        example: 0
                      ssl_enabled:
                        type: boolean
                        example: true
                      hash:
                        type: string
                        example: test23
                      ndvr:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          retention:
                            type: string
                            example: '5'
                      securetoken:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          policy:
                            type: string
                            example: D
                          keyip:
                            type: string
                            example: N
                          list:
                            type: string
                            example: ''
                          timeout:
                            type: integer
                            example: 3600
                          session:
                            type: string
                            example: '0'
                          ips:
                            type: string
                            example: ''
                          dirs:
                            nullable: true
                            example:
                          active:
                            type: string
                            example: N
                      record:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          retention:
                            type: string
                            example: '3'
                          stream:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 71525
                              type:
                                type: string
                                example: record
                      domainlock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          policy:
                            type: string
                            example: Y
                          list:
                            type: string
                            example: test.com,google.com
                          ips:
                            type: string
                            example: ''
                          noreferer:
                            type: string
                            example: N
                          active:
                            type: string
                            example: N
                      geoblock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          policy:
                            type: string
                            example: N
                          list:
                            type: array
                            items:
                              type: string
                            example:
                            - ''
                          ips:
                            type: string
                            example: ''
                          active:
                            type: string
                            example: N
                      ipaccess:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          policy:
                            type: string
                            example: N
                          list:
                            type: string
                            example: ''
                          ips:
                            type: string
                            example: ''
                          active:
                            type: string
                            example: N
                      useragent:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          policy:
                            type: string
                            example: Y
                          list:
                            type: string
                            example: ''
                          ips:
                            type: string
                            example: ''
                          casesensitive:
                            type: string
                            example: N
                          active:
                            type: string
                            example: N
                          listArr:
                            type: array
                            items:
                              type: string
                            example:
                            - ''
                      rtmpauth:
                        type: object
                        properties:
                          password:
                            type: string
                            example: ''
                          active:
                            type: string
                            example: N
                      transcode:
                        type: object
                        properties:
                          ltc:
                            type: integer
                            example: 1
                          type:
                            type: string
                            example: mixed
                          enabled:
                            type: boolean
                            example: true
                          isEditable:
                            type: boolean
                            example: true
                          id:
                            type: integer
                            example: 71524
                          autostop:
                            type: integer
                            example: 0
                          vprofiles:
                            type: array
                            items:
                              type: string
                            example:
                            - '126635'
                          aprofiles:
                            type: array
                            items:
                              type: string
                            example:
                            - '118546'
                          filters:
                            type: array
                            items: {}
                            example: []
                          disabled:
                            type: string
                            example: '0'
                          count:
                            type: integer
                            example: 1
                          countRaw:
                            type: integer
                            example: 1
                          codec:
                            type: string
                            example: h264
                          isRunning:
                            type: boolean
                            example: false
                          profiles:
                            type: object
                            properties:
                              count:
                                type: object
                                properties:
                                  total:
                                    type: integer
                                    example: 1
                                  uhd:
                                    type: integer
                                    example: 1
                      platforms:
                        type: array
                        items: {}
                        example: []
                      messages:
                        type: object
                      adInsertion:
                        nullable: true
                        example:
      deprecated: false
    post:
      tags:
      - Push Streams
      summary: Update Info
      description: Update the information of push stream
      operationId: updateStreamspush
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                server:
                  type: string
                  description: Server ID(s) for the stream. Use comma-separated values for multiple servers.
                  example: '209'
                codec:
                  type: string
                  description: Video codec for the stream. Use h264 or h265.
                  example: h264
                draft:
                  type: number
                  description: Set to 0 to publish the stream, or 1 to save it as a draft.
                  example: 0
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Stream Updated
                  stream:
                    type: object
                    properties:
                      monitoring_id:
                        type: integer
                        example: 277243
                      type:
                        type: string
                        example: push
                      id:
                        type: integer
                        example: 66669
                      serviceid:
                        type: integer
                        example: 103
                      name:
                        type: string
                        example: ahm/test
                      codec:
                        type: string
                        example: h264
                      ingests:
                        type: array
                        items:
                          nullable: true
                          type: array
                          items:
                            type: string
                        example:
                        - 
                        - 
                      protocols:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                        example:
                        - - HLS
                        - - HLS
                      parentid:
                        nullable: true
                        example:
                      server:
                        type: string
                        example: '209'
                      backup:
                        type: string
                        example: ''
                      dedicatedLTC:
                        type: string
                        example: '0'
                      hasAdvancedFeatures:
                        type: string
                        example: '0'
                      monitoring_triggers:
                        type: string
                        example: '[3,1,0]'
                      draft:
                        type: string
                        example: '0'
                      disabled:
                        type: string
                        example: '0'
                      created_at:
                        type: string
                        example: '2025-12-17 11:29:07'
                      updated_at:
                        type: string
                        example: '2026-04-30 11:23:14'
                      lastseen_at:
                        type: boolean
                        example: false
                      deleted:
                        nullable: true
                        example:
                      ingestsLock:
                        type: integer
                        example: 0
                      protocolsLock:
                        type: integer
                        example: 0
                      status:
                        type: string
                        example: Deploying
                      has:
                        type: object
                        properties:
                          rtmp:
                            type: integer
                            example: 0
                          rtsp:
                            type: integer
                            example: 0
                          hls:
                            type: integer
                            example: 1
                          dash:
                            type: integer
                            example: 0
                          rtmpauth:
                            type: boolean
                            example: false
                      fms:
                        type: object
                        properties:
                          server:
                            type: object
                            properties:
                              country:
                                type: string
                                example: Oceania
                              meta:
                                type: object
                                properties:
                                  fmsUrl:
                                    type: string
                                    example: rtmp://fms-04-01.5centscdn.com
                      parts:
                        type: object
                        properties:
                          pp:
                            type: string
                            example: ahm
                          sn:
                            type: string
                            example: test
                          full:
                            type: string
                            example: ahmtest
                      restream:
                        type: object
                      playbackurls:
                        type: object
                        properties:
                          scheme:
                            type: string
                            example: https
                          url_prefix:
                            type: string
                            example: https://woj7lng8dg82-hls-live.5centscdn.com
                          rtmp:
                            type: string
                            example: rtmp://rtmp.5centscdn.com:1935/ahm/test
                          rtsp:
                            type: string
                            example: rtsp://rtsp.5centscdn.com:554/ahm/test
                          hlsManifest:
                            type: string
                            example: playlist.m3u8
                          dashManifest:
                            type: string
                            example: manifest.mpd
                          hls:
                            type: string
                            example: https://woj7lng8dg82-hls-live.5centscdn.com/ahm/test/playlist.m3u8
                          dash:
                            type: string
                            example: https://woj7lng8dg82-hls-live.5centscdn.com/ahm/test/manifest.mpd
                          players:
                            type: object
                            properties:
                              flowplayer:
                                type: object
                                properties:
                                  baseQ:
                                    type: string
                                    example: ''
                                  base:
                                    type: string
                                    example: https://iframes.5centscdn.com/flowplayer/hls/
                                  hls:
                                    type: string
                                    example: https://iframes.5centscdn.com/flowplayer/hls/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS9haG0vdGVzdC9wbGF5bGlzdC5tM3U4
                              videojs:
                                type: object
                                properties:
                                  baseQ:
                                    type: string
                                    example: ''
                                  base:
                                    type: string
                                    example: https://iframes.5centscdn.com/videojs/hls/
                                  hls:
                                    type: string
                                    example: https://iframes.5centscdn.com/videojs/hls/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS9haG0vdGVzdC9wbGF5bGlzdC5tM3U4
                              own:
                                type: object
                                properties:
                                  hashes:
                                    type: object
                                    properties:
                                      woj7lng8dg82-hls-live.5centscdn.com:
                                        type: object
                                        properties:
                                          hash:
                                            type: string
                                            example: 4lpun6iq0o6a0orl
                                          hls:
                                            type: string
                                            example: https://woj7lng8dg82-hls-live.5centscdn.com/ahm/test/playlist.m3u8
                                          base64:
                                            type: string
                                            example: aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS9haG0vdGVzdC9wbGF5bGlzdC5tM3U4
                                          dash:
                                            type: string
                                            example: https://woj7lng8dg82-hls-live.5centscdn.com/ahm/test/manifest.mpd
                                          base64dash:
                                            type: string
                                            example: aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS9haG0vdGVzdC9tYW5pZmVzdC5tcGQ=
                                  baseQ:
                                    type: string
                                    example: ?showcv=true&title=ahm/test
                                  base:
                                    type: string
                                    example: https://iframes.5centscdn.com/5centscdn/hls/skin1/4lpun6iq0o6a0orl/
                                  hls:
                                    type: string
                                    example: https://iframes.5centscdn.com/5centscdn/hls/skin1/4lpun6iq0o6a0orl/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS9haG0vdGVzdC9wbGF5bGlzdC5tM3U4?showcv=true&title=ahm/test
                                  dash:
                                    type: string
                                    example: https://iframes.5centscdn.com/5centscdn/dash/skin1/4lpun6iq0o6a0orl/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS9haG0vdGVzdC9tYW5pZmVzdC5tcGQ=?showcv=true&title=ahm/test
                          tokenized:
                            nullable: true
                            example:
                      platformsCount:
                        type: integer
                        example: 0
                      ssl_enabled:
                        type: boolean
                        example: true
                      hash:
                        type: string
                        example: test
                      ndvr:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          retention:
                            type: string
                            example: '8'
                      securetoken:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          policy:
                            type: string
                            example: D
                          keyip:
                            type: string
                            example: N
                          list:
                            type: string
                            example: ''
                          timeout:
                            type: integer
                            example: 3600
                          session:
                            type: string
                            example: '0'
                          ips:
                            type: string
                            example: ''
                          dirs:
                            nullable: true
                            example:
                          active:
                            type: string
                            example: N
                      record:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          retention:
                            type: string
                            example: '3'
                          stream:
                            nullable: true
                            example:
                      domainlock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          policy:
                            type: string
                            example: Y
                          list:
                            type: string
                            example: test.com,google.com
                          ips:
                            type: string
                            example: ''
                          noreferer:
                            type: string
                            example: N
                          active:
                            type: string
                            example: N
                      geoblock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          policy:
                            type: string
                            example: N
                          list:
                            type: array
                            items:
                              type: string
                            example:
                            - ''
                          ips:
                            type: string
                            example: ''
                          active:
                            type: string
                            example: N
                      ipaccess:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          policy:
                            type: string
                            example: N
                          list:
                            type: string
                            example: ''
                          ips:
                            type: string
                            example: ''
                          active:
                            type: string
                            example: N
                      useragent:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          policy:
                            type: string
                            example: Y
                          list:
                            type: string
                            example: ''
                          ips:
                            type: string
                            example: ''
                          casesensitive:
                            type: string
                            example: N
                          active:
                            type: string
                            example: N
                          listArr:
                            type: array
                            items:
                              type: string
                            example:
                            - ''
                      rtmpauth:
                        type: object
                        properties:
                          password:
                            type: string
                            example: ''
                          active:
                            type: string
                            example: N
                      transcode:
                        type: object
                        properties:
                          ltc:
                            type: integer
                            example: 0
                          type:
                            type: string
                            example: mixed
                          enabled:
                            type: boolean
                            example: false
                          isEditable:
                            type: boolean
                            example: true
                      platforms:
                        type: array
                        items: {}
                        example: []
                      messages:
                        type: object
                      adInsertion:
                        nullable: true
                        example:
                  warnings:
                    nullable: true
                    example:
                  errors:
                    nullable: true
                    example:
      deprecated: false
    delete:
      tags:
      - Push Streams
      summary: Delete Info
      description: Delete the information of push stream. To cast request method POST and parameters _METHOD = DELETE
      operationId: deleteStreamspush
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - _METHOD
              properties:
                _METHOD:
                  type: string
                  description: HTTP method override. Required for delete and update operations.
                  example: DELETE
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Stream Deleted
      deprecated: false
  /streams/push/{streamid}/statistics:
    get:
      tags:
      - Push Streams
      summary: Stream statistics
      description: Returns the details of a push stream statistics
      operationId: getStreamsPushStatistics
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    fs:
                      type: object
                      properties:
                        name:
                          type: string
                          example: test/teste
                        status:
                          type: string
                          example: Alive
                        bitrate:
                          type: string
                          example: 902.76kbps
                        primary:
                          type: boolean
                          example: true
                        time:
                          type: string
                          example: 20573d 07:29:20
                        publish_time:
                          type: string
                          example: 1 hour ago
                        publisher_ip:
                          type: string
                          example: 223.181.15.228
                        video:
                          type: object
                          properties:
                            size:
                              type: string
                              example: 1920x1080
                            bitrate:
                              type: string
                              example: 767.34kbps
                            codec:
                              type: string
                              example: avc1.64002a
                            profile:
                              type: string
                              example: '-'
                            level:
                              type: string
                              example: '-'
                        audio:
                          type: object
                          properties:
                            codec:
                              type: string
                              example: mp4a.40.2
                            bitrate:
                              type: string
                              example: 135.41kbps
                    status:
                      type: string
                      example: Enabled
                    lastseen:
                      type: string
                      example: 8 seconds ago
  /streams/push/{streamid}/status:
    post:
      tags:
      - Push Streams
      summary: Update status of stream
      description: Update status of stream
      operationId: statusStreamsPush
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                disabled:
                  type: boolean
                  description: Set to true to disable the stream, false to enable it.
                  example: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Stream Updated
                  stream:
                    type: object
                    properties:
                      monitoring_id:
                        nullable: true
                        example:
                      type:
                        type: string
                        example: push
                      id:
                        type: integer
                        example: 55794
                      serviceid:
                        type: integer
                        example: 103
                      name:
                        type: string
                        example: testingbug/althaf
                      codec:
                        type: string
                        example: h264
                      ingests:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                        example:
                        - - RTMP
                        - - RTMP
                      protocols:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                        example:
                        - - DASH
                          - HLS
                        - - DASH
                          - HLS
                      parentid:
                        nullable: true
                        example:
                      server:
                        type: string
                        example: '211'
                      backup:
                        type: string
                        example: ''
                      dedicatedLTC:
                        type: string
                        example: '0'
                      hasAdvancedFeatures:
                        type: string
                        example: '0'
                      monitoring_triggers:
                        nullable: true
                        example:
                      draft:
                        type: string
                        example: '0'
                      disabled:
                        type: string
                        example: '0'
                      created_at:
                        type: string
                        example: '2025-04-04 07:00:49'
                      updated_at:
                        type: string
                        example: '2026-04-30 07:37:55'
                      lastseen_at:
                        type: boolean
                        example: false
                      deleted:
                        nullable: true
                        example:
                      ingestsLock:
                        type: integer
                        example: 0
                      protocolsLock:
                        type: integer
                        example: 0
                      status:
                        type: string
                        example: Deploying
                      has:
                        type: object
                        properties:
                          rtmp:
                            type: integer
                            example: 0
                          rtsp:
                            type: integer
                            example: 0
                          hls:
                            type: integer
                            example: 1
                          dash:
                            type: integer
                            example: 1
                          rtmpauth:
                            type: boolean
                            example: false
                      fms:
                        type: object
                        properties:
                          server:
                            type: object
                            properties:
                              country:
                                type: string
                                example: North America
                              meta:
                                type: object
                                properties:
                                  fmsUrl:
                                    type: string
                                    example: rtmp://fms-02-02.5centscdn.com
                      parts:
                        type: object
                        properties:
                          pp:
                            type: string
                            example: testingbug
                          sn:
                            type: string
                            example: althaf
                          full:
                            type: string
                            example: testingbugalthaf
                      restream:
                        type: object
                      playbackurls:
                        type: object
                        properties:
                          scheme:
                            type: string
                            example: https
                          url_prefix:
                            type: string
                            example: https://woj7lng8dg82-hls-live.5centscdn.com
                          rtmp:
                            type: string
                            example: rtmp://rtmp.5centscdn.com:1935/testingbug/althaf
                          rtsp:
                            type: string
                            example: rtsp://rtsp.5centscdn.com:554/testingbug/althaf
                          hlsManifest:
                            type: string
                            example: playlist.m3u8
                          dashManifest:
                            type: string
                            example: manifest.mpd
                          hls:
                            type: string
                            example: https://woj7lng8dg82-hls-live.5centscdn.com/testingbug/althaf/playlist.m3u8
                          dash:
                            type: string
                            example: https://woj7lng8dg82-hls-live.5centscdn.com/testingbug/althaf/manifest.mpd
                          players:
                            type: object
                            properties:
                              flowplayer:
                                type: object
                                properties:
                                  baseQ:
                                    type: string
                                    example: ''
                                  base:
                                    type: string
                                    example: https://iframes.5centscdn.com/flowplayer/hls/
                                  hls:
                                    type: string
                                    example: https://iframes.5centscdn.com/flowplayer/hls/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0aW5nYnVnL2FsdGhhZi9wbGF5bGlzdC5tM3U4
                              videojs:
                                type: object
                                properties:
                                  baseQ:
                                    type: string
                                    example: ''
                                  base:
                                    type: string
                                    example: https://iframes.5centscdn.com/videojs/hls/
                                  hls:
                                    type: string
                                    example: https://iframes.5centscdn.com/videojs/hls/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0aW5nYnVnL2FsdGhhZi9wbGF5bGlzdC5tM3U4
                              own:
                                type: object
                                properties:
                                  hashes:
                                    type: object
                                    properties:
                                      woj7lng8dg82-hls-live.5centscdn.com:
                                        type: object
                                        properties:
                                          hash:
                                            type: string
                                            example: 5o2urlijqj8iyvpe
                                          hls:
                                            type: string
                                            example: https://woj7lng8dg82-hls-live.5centscdn.com/testingbug/althaf/playlist.m3u8
                                          base64:
                                            type: string
                                            example: aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0aW5nYnVnL2FsdGhhZi9wbGF5bGlzdC5tM3U4
                                          dash:
                                            type: string
                                            example: https://woj7lng8dg82-hls-live.5centscdn.com/testingbug/althaf/manifest.mpd
                                          base64dash:
                                            type: string
                                            example: aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0aW5nYnVnL2FsdGhhZi9tYW5pZmVzdC5tcGQ=
                                  baseQ:
                                    type: string
                                    example: ?showcv=true&title=testingbug/althaf
                                  base:
                                    type: string
                                    example: https://iframes.5centscdn.com/5centscdn/hls/skin1/5o2urlijqj8iyvpe/
                                  hls:
                                    type: string
                                    example: https://iframes.5centscdn.com/5centscdn/hls/skin1/5o2urlijqj8iyvpe/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0aW5nYnVnL2FsdGhhZi9wbGF5bGlzdC5tM3U4?showcv=true&title=testingbug/althaf
                                  dash:
                                    type: string
                                    example: https://iframes.5centscdn.com/5centscdn/dash/skin1/5o2urlijqj8iyvpe/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0aW5nYnVnL2FsdGhhZi9tYW5pZmVzdC5tcGQ=?showcv=true&title=testingbug/althaf
                          tokenized:
                            nullable: true
                            example:
                      platformsCount:
                        type: integer
                        example: 0
                      ssl_enabled:
                        type: boolean
                        example: true
                      hash:
                        type: string
                        example: althaf
                      ndvr:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          retention:
                            type: string
                            example: '5'
                      securetoken:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          policy:
                            type: string
                            example: D
                          keyip:
                            type: string
                            example: N
                          list:
                            type: string
                            example: ''
                          timeout:
                            type: integer
                            example: 3600
                          session:
                            type: string
                            example: '0'
                          ips:
                            type: string
                            example: ''
                          dirs:
                            nullable: true
                            example:
                          active:
                            type: string
                            example: N
                      record:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          retention:
                            type: string
                            example: '3'
                          stream:
                            nullable: true
                            example:
                      domainlock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          policy:
                            type: string
                            example: Y
                          list:
                            type: string
                            example: test.com,google.com
                          ips:
                            type: string
                            example: ''
                          noreferer:
                            type: string
                            example: N
                          active:
                            type: string
                            example: N
                      geoblock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          policy:
                            type: string
                            example: N
                          list:
                            type: array
                            items:
                              type: string
                            example:
                            - ''
                          ips:
                            type: string
                            example: ''
                          active:
                            type: string
                            example: N
                      ipaccess:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          policy:
                            type: string
                            example: N
                          list:
                            type: string
                            example: ''
                          ips:
                            type: string
                            example: ''
                          active:
                            type: string
                            example: N
                      useragent:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          policy:
                            type: string
                            example: Y
                          list:
                            type: string
                            example: ''
                          ips:
                            type: string
                            example: ''
                          casesensitive:
                            type: string
                            example: N
                          active:
                            type: string
                            example: N
                          listArr:
                            type: array
                            items:
                              type: string
                            example:
                            - ''
                      rtmpauth:
                        type: object
                        properties:
                          password:
                            type: string
                            example: ''
                          active:
                            type: string
                            example: N
                      transcode:
                        type: object
                        properties:
                          ltc:
                            type: integer
                            example: 0
                          type:
                            type: string
                            example: mixed
                          enabled:
                            type: boolean
                            example: false
                          isEditable:
                            type: boolean
                            example: true
                      platforms:
                        type: array
                        items: {}
                        example: []
                      messages:
                        type: object
                      adInsertion:
                        nullable: true
                        example:
      deprecated: false
  /streams/push/{streamid}/source:
    post:
      tags:
      - Push Streams
      summary: Update Source
      description: Update the source of a Push stream
      operationId: updatesourceStreamsPush
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                server:
                  type: string
                  description: Server ID(s) for the stream. Use comma-separated values for multiple servers.
                  example: '211'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Stream Updated
                  stream:
                    type: object
                    properties:
                      monitoring_id:
                        nullable: true
                        example:
                      type:
                        type: string
                        example: push
                      id:
                        type: integer
                        example: 72199
                      serviceid:
                        type: integer
                        example: 103
                      name:
                        type: string
                        example: test/stream01
                      codec:
                        type: string
                        example: h264
                      ingests:
                        type: array
                        items:
                          nullable: true
                          type: array
                          items:
                            type: string
                        example:
                        - []
                        - 
                      protocols:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                        example:
                        - - HLS
                        - - HLS
                      parentid:
                        nullable: true
                        example:
                      server:
                        type: string
                        example: '211'
                      backup:
                        type: string
                        example: ''
                      dedicatedLTC:
                        type: string
                        example: '0'
                      hasAdvancedFeatures:
                        type: string
                        example: '0'
                      monitoring_triggers:
                        nullable: true
                        example:
                      draft:
                        type: string
                        example: '0'
                      disabled:
                        type: string
                        example: '0'
                      created_at:
                        type: string
                        example: '2026-04-30 07:12:35'
                      updated_at:
                        type: string
                        example: '2026-04-30 07:49:55'
                      lastseen_at:
                        type: boolean
                        example: false
                      deleted:
                        nullable: true
                        example:
                      ingestsLock:
                        type: integer
                        example: 0
                      protocolsLock:
                        type: integer
                        example: 1
                      status:
                        type: string
                        example: Deploying
                      has:
                        type: object
                        properties:
                          rtmp:
                            type: integer
                            example: 0
                          rtsp:
                            type: integer
                            example: 0
                          hls:
                            type: integer
                            example: 1
                          dash:
                            type: integer
                            example: 0
                          rtmpauth:
                            type: boolean
                            example: false
                      fms:
                        type: object
                        properties:
                          server:
                            type: object
                            properties:
                              country:
                                type: string
                                example: North America
                              meta:
                                type: object
                                properties:
                                  fmsUrl:
                                    type: string
                                    example: rtmp://fms-02-02.5centscdn.com
                      parts:
                        type: object
                        properties:
                          pp:
                            type: string
                            example: test
                          sn:
                            type: string
                            example: stream01
                          full:
                            type: string
                            example: teststream01
                      restream:
                        type: object
                      playbackurls:
                        type: object
                        properties:
                          scheme:
                            type: string
                            example: https
                          url_prefix:
                            type: string
                            example: https://woj7lng8dg82-hls-live.5centscdn.com
                          rtmp:
                            type: string
                            example: rtmp://rtmp.5centscdn.com:1935/test/stream01
                          rtsp:
                            type: string
                            example: rtsp://rtsp.5centscdn.com:554/test/stream01
                          hlsManifest:
                            type: string
                            example: playlist_dvr.m3u8
                          dashManifest:
                            type: string
                            example: manifest_dvr.mpd
                          hls:
                            type: string
                            example: https://woj7lng8dg82-hls-live.5centscdn.com/test/stream01/playlist_dvr.m3u8
                          dash:
                            type: string
                            example: https://woj7lng8dg82-hls-live.5centscdn.com/test/stream01/manifest_dvr.mpd
                          players:
                            type: object
                            properties:
                              flowplayer:
                                type: object
                                properties:
                                  baseQ:
                                    type: string
                                    example: ''
                                  base:
                                    type: string
                                    example: https://iframes.5centscdn.com/flowplayer/hls/
                                  hls:
                                    type: string
                                    example: https://iframes.5centscdn.com/flowplayer/hls/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0L3N0cmVhbTAxL3BsYXlsaXN0X2R2ci5tM3U4
                              videojs:
                                type: object
                                properties:
                                  baseQ:
                                    type: string
                                    example: ''
                                  base:
                                    type: string
                                    example: https://iframes.5centscdn.com/videojs/hls/
                                  hls:
                                    type: string
                                    example: https://iframes.5centscdn.com/videojs/hls/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0L3N0cmVhbTAxL3BsYXlsaXN0X2R2ci5tM3U4
                              own:
                                type: object
                                properties:
                                  hashes:
                                    type: object
                                    properties:
                                      woj7lng8dg82-hls-live.5centscdn.com:
                                        type: object
                                        properties:
                                          hash:
                                            type: string
                                            example: ky9u2xulomni6l7m
                                          hls:
                                            type: string
                                            example: https://woj7lng8dg82-hls-live.5centscdn.com/test/stream01/playlist_dvr.m3u8
                                          base64:
                                            type: string
                                            example: aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0L3N0cmVhbTAxL3BsYXlsaXN0X2R2ci5tM3U4
                                          dash:
                                            type: string
                                            example: https://woj7lng8dg82-hls-live.5centscdn.com/test/stream01/manifest_dvr.mpd
                                          base64dash:
                                            type: string
                                            example: aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0L3N0cmVhbTAxL21hbmlmZXN0X2R2ci5tcGQ=
                                  baseQ:
                                    type: string
                                    example: ?showcv=true&title=test/stream01
                                  base:
                                    type: string
                                    example: https://iframes.5centscdn.com/5centscdn/hls/skin1/ky9u2xulomni6l7m/
                                  hls:
                                    type: string
                                    example: https://iframes.5centscdn.com/5centscdn/hls/skin1/ky9u2xulomni6l7m/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0L3N0cmVhbTAxL3BsYXlsaXN0X2R2ci5tM3U4?showcv=true&title=test/stream01
                                  dash:
                                    type: string
                                    example: https://iframes.5centscdn.com/5centscdn/dash/skin1/ky9u2xulomni6l7m/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0L3N0cmVhbTAxL21hbmlmZXN0X2R2ci5tcGQ=?showcv=true&title=test/stream01
                          tokenized:
                            type: object
                            properties:
                              scheme:
                                type: string
                                example: https
                              url_prefix:
                                type: string
                                example: https://woj7lng8dg82-hls-live.5centscdn.com
                              rtmp:
                                type: string
                                example: rtmp://rtmp.5centscdn.com:1935/test/stream01
                              rtsp:
                                type: string
                                example: rtsp://rtsp.5centscdn.com:554/test/stream01
                              hlsManifest:
                                type: string
                                example: playlist_dvr.m3u8
                              dashManifest:
                                type: string
                                example: manifest_dvr.mpd
                              hls:
                                type: string
                                example: https://woj7lng8dg82-hls-live.5centscdn.com/md5=OEojzPOnNxIM3P-XYIVbPg&path=%2Ftest%2Fstream01&expires=1777538995/test/stream01/playlist_dvr.m3u8
                              dash:
                                type: string
                                example: https://woj7lng8dg82-hls-live.5centscdn.com/test/stream01/manifest_dvr.mpd
                              players:
                                type: object
                                properties:
                                  hostname:
                                    type: string
                                    example: iframes.5centscdn.com
                                  flowplayer:
                                    type: object
                                    properties:
                                      baseQ:
                                        type: string
                                        example: ''
                                      base:
                                        type: string
                                        example: https://iframes.5centscdn.com/flowplayer/hls/
                                      hls:
                                        type: string
                                        example: https://iframes.5centscdn.com/flowplayer/hls/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0L3N0cmVhbTAxL3BsYXlsaXN0X2R2ci5tM3U4
                                      dash:
                                        type: string
                                        example: https://iframes.5centscdn.com/flowplayer/dash/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0L3N0cmVhbTAxL21hbmlmZXN0X2R2ci5tcGQ=
                                  videojs:
                                    type: object
                                    properties:
                                      baseQ:
                                        type: string
                                        example: ''
                                      base:
                                        type: string
                                        example: https://iframes.5centscdn.com/videojs/hls/
                                      hls:
                                        type: string
                                        example: https://iframes.5centscdn.com/videojs/hls/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0L3N0cmVhbTAxL3BsYXlsaXN0X2R2ci5tM3U4
                                      dash:
                                        type: string
                                        example: https://iframes.5centscdn.com/videojs/dash/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0L3N0cmVhbTAxL21hbmlmZXN0X2R2ci5tcGQ=
                                  own:
                                    type: object
                                    properties:
                                      hashes:
                                        type: object
                                        properties:
                                          woj7lng8dg82-hls-live.5centscdn.com:
                                            type: object
                                            properties:
                                              hash:
                                                type: string
                                                example: ky9u2xulomni6l7m
                                              hls:
                                                type: string
                                                example: https://woj7lng8dg82-hls-live.5centscdn.com/test/stream01/playlist_dvr.m3u8
                                              base64:
                                                type: string
                                                example: aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0L3N0cmVhbTAxL3BsYXlsaXN0X2R2ci5tM3U4
                                              dash:
                                                type: string
                                                example: https://woj7lng8dg82-hls-live.5centscdn.com/test/stream01/manifest_dvr.mpd
                                              base64dash:
                                                type: string
                                                example: aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0L3N0cmVhbTAxL21hbmlmZXN0X2R2ci5tcGQ=
                                      baseQ:
                                        type: string
                                        example: ?showcv=true&title=test/stream01
                                      base:
                                        type: string
                                        example: https://iframes.5centscdn.com/5centscdn/hls/skin1/ky9u2xulomni6l7m/
                                      hls:
                                        type: string
                                        example: https://iframes.5centscdn.com/5centscdn/hls/skin1/ky9u2xulomni6l7m/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0L3N0cmVhbTAxL3BsYXlsaXN0X2R2ci5tM3U4?showcv=true&title=test/stream01
                                      dash:
                                        type: string
                                        example: https://iframes.5centscdn.com/5centscdn/dash/skin1/ky9u2xulomni6l7m/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0L3N0cmVhbTAxL21hbmlmZXN0X2R2ci5tcGQ=?showcv=true&title=test/stream01
                              path:
                                type: object
                                properties:
                                  hls:
                                    type: string
                                    example: /test/stream01/playlist_dvr.m3u8
                                  dash:
                                    type: string
                                    example: /test/stream01/manifest_dvr.mpd
                              token:
                                type: object
                                properties:
                                  hls:
                                    type: string
                                    example: md5=OEojzPOnNxIM3P-XYIVbPg&path=%2Ftest%2Fstream01&expires=1777538995
                                  dash:
                                    type: string
                                    example: md5=OEojzPOnNxIM3P-XYIVbPg&path=%2Ftest%2Fstream01&expires=1777538995
                      platformsCount:
                        type: integer
                        example: 0
                      ssl_enabled:
                        type: boolean
                        example: true
                      hash:
                        type: string
                        example: stream01
                      ndvr:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: Y
                          retention:
                            type: string
                            example: '5'
                      securetoken:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: Y
                          policy:
                            type: string
                            example: D
                          keyip:
                            type: string
                            example: N
                          list:
                            type: string
                            example: 32862cdb6276e19a
                          timeout:
                            type: integer
                            example: 3600
                          session:
                            type: string
                            example: '0'
                          ips:
                            type: string
                            example: ''
                          dirs:
                            nullable: true
                            example:
                          active:
                            type: string
                            example: Y
                      record:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: N
                          retention:
                            type: string
                            example: '3'
                          stream:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 72200
                              type:
                                type: string
                                example: record
                      domainlock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: Y
                          policy:
                            type: string
                            example: Y
                          list:
                            type: string
                            example: test.com,google.com
                          ips:
                            type: string
                            example: ''
                          noreferer:
                            type: string
                            example: N
                          active:
                            type: string
                            example: Y
                      geoblock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: Y
                          policy:
                            type: string
                            example: Y
                          list:
                            type: array
                            items:
                              type: string
                            example:
                            - ''
                          ips:
                            type: string
                            example: ''
                          active:
                            type: string
                            example: Y
                      ipaccess:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: Y
                          policy:
                            type: string
                            example: N
                          list:
                            type: string
                            example: ''
                          ips:
                            type: string
                            example: ''
                          active:
                            type: string
                            example: N
                      useragent:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: Y
                          policy:
                            type: string
                            example: Y
                          list:
                            type: string
                            example: ''
                          ips:
                            type: string
                            example: ''
                          casesensitive:
                            type: string
                            example: N
                          active:
                            type: string
                            example: N
                          listArr:
                            type: array
                            items:
                              type: string
                            example:
                            - ''
                      rtmpauth:
                        type: object
                        properties:
                          password:
                            type: string
                            example: ''
                          active:
                            type: string
                            example: N
                      transcode:
                        type: object
                        properties:
                          ltc:
                            type: integer
                            example: 0
                          type:
                            type: string
                            example: mixed
                          enabled:
                            type: boolean
                            example: false
                          isEditable:
                            type: boolean
                            example: true
                      platforms:
                        type: array
                        items: {}
                        example: []
                      messages:
                        type: object
                      adInsertion:
                        nullable: true
                        example:
      deprecated: false
  /streams/push/{streamid}/transcode:
    post:
      tags:
      - Push Streams
      summary: Update transcode
      description: Update the transcode of a push stream
      operationId: updatetranscodeStreamsPush
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                vprofiles:
                  type: array
                  description: List of video transcoding profile IDs to apply.
                  items:
                    type: string
                  example:
                  - '115714'
                  - '115715'
                aprofiles:
                  type: array
                  description: List of audio transcoding profile IDs to apply.
                  items:
                    type: string
                  example:
                  - '115714'
                filters:
                  type: array
                  description: List of transcoding filter IDs to apply.
                  items:
                    type: string
                  example:
                  - '3'
                  - '4'
                ltc:
                  type: string
                  description: Number of transcoding profiles assigned. 0 means none.
                  example: '1'
                autostop:
                  type: integer
                  description: Auto-stop the transcoder after inactivity. 0 means disabled.
                  example: 0
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Stream Updated
                  stream:
                    type: object
                    properties:
                      monitoring_id:
                        nullable: true
                        example:
                      type:
                        type: string
                        example: push
                      id:
                        type: integer
                        example: 72199
                      serviceid:
                        type: integer
                        example: 103
                      name:
                        type: string
                        example: test/stream01
                      codec:
                        type: string
                        example: h264
                      ingests:
                        type: array
                        items:
                          nullable: true
                          type: array
                          items:
                            type: string
                        example:
                        - []
                        - 
                      protocols:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                        example:
                        - - HLS
                        - - HLS
                      parentid:
                        nullable: true
                        example:
                      server:
                        type: string
                        example: '211'
                      backup:
                        type: string
                        example: ''
                      dedicatedLTC:
                        type: string
                        example: '0'
                      hasAdvancedFeatures:
                        type: string
                        example: '0'
                      monitoring_triggers:
                        nullable: true
                        example:
                      draft:
                        type: string
                        example: '0'
                      disabled:
                        type: string
                        example: '0'
                      created_at:
                        type: string
                        example: '2026-04-30 07:12:35'
                      updated_at:
                        type: string
                        example: '2026-04-30 08:01:55'
                      lastseen_at:
                        type: boolean
                        example: false
                      deleted:
                        nullable: true
                        example:
                      ingestsLock:
                        type: integer
                        example: 0
                      protocolsLock:
                        type: integer
                        example: 1
                      status:
                        type: string
                        example: Deploying
                      has:
                        type: object
                        properties:
                          rtmp:
                            type: integer
                            example: 0
                          rtsp:
                            type: integer
                            example: 0
                          hls:
                            type: integer
                            example: 1
                          dash:
                            type: integer
                            example: 0
                          rtmpauth:
                            type: boolean
                            example: false
                      fms:
                        type: object
                        properties:
                          server:
                            type: object
                            properties:
                              country:
                                type: string
                                example: North America
                              meta:
                                type: object
                                properties:
                                  fmsUrl:
                                    type: string
                                    example: rtmp://fms-02-02.5centscdn.com
                      parts:
                        type: object
                        properties:
                          pp:
                            type: string
                            example: test
                          sn:
                            type: string
                            example: stream01
                          full:
                            type: string
                            example: teststream01
                      restream:
                        type: object
                      playbackurls:
                        type: object
                        properties:
                          scheme:
                            type: string
                            example: https
                          url_prefix:
                            type: string
                            example: https://woj7lng8dg82-hls-live.5centscdn.com
                          rtmp:
                            type: string
                            example: rtmp://rtmp.5centscdn.com:1935/test/stream01
                          rtsp:
                            type: string
                            example: rtsp://rtsp.5centscdn.com:554/test/stream01
                          hlsManifest:
                            type: string
                            example: playlist_dvr.m3u8
                          dashManifest:
                            type: string
                            example: manifest_dvr.mpd
                          hls:
                            type: string
                            example: https://woj7lng8dg82-hls-live.5centscdn.com/test/stream01/playlist_dvr.m3u8
                          dash:
                            type: string
                            example: https://woj7lng8dg82-hls-live.5centscdn.com/test/stream01/manifest_dvr.mpd
                          players:
                            type: object
                            properties:
                              flowplayer:
                                type: object
                                properties:
                                  baseQ:
                                    type: string
                                    example: ''
                                  base:
                                    type: string
                                    example: https://iframes.5centscdn.com/flowplayer/hls/
                                  hls:
                                    type: string
                                    example: https://iframes.5centscdn.com/flowplayer/hls/aHR0cHM6Ly93b2o3bG5nOGRnODItaGxzLWxpdmUuNWNlbnRzY2RuLmNvbS90ZXN0L3N0cmVhbTAxL3BsYXlsaXN0X2R2ci5tM3U4
                              videojs:
                                type: object
                                properties:
                                  baseQ:
                                    type: string
                                    example: ''
[...]
