openapi: 3.0.0
info:
  title: 5centsCDN - Livestreams
  description: API for managing Live Streams in 5centsCDN (https://www.5centscdn.net)
  version: 2.0.0
  contact:
    email: help@5centscdn.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.5centscdn.com/v2
  description: 5centsCDN API Server - Production
security:
- ApiKeyAuth: []
tags:
- name: List Streams
  description: list all streams
- name: Push Streams
  description: endpoints related to Push streams
- name: Pull Streams
  description: endpoints related to Pull streams
- name: Multi Bitrate Push Streams
  description: endpoints related to MBR streams
- name: DVR Streams
  description: endpoints related to DVR streams
- name: Delayed Streams
  description: endpoints related to Delayed streams
- name: Scheduled Playlist Streams
  description: endpoints related to Scheduled Playlist streams & Playlist
- name: Multistream Streams
  description: endpoints related to Multistream Streams
- name: Global Settings
  description: Global Stream Settings
- name: Live Transcoding Profiles/Filters
  description: Live stream transcoding profile and filter management
paths:
  /streams:
    get:
      tags:
      - List Streams
      summary: List streams
      description: list streams
      operationId: streamsList
      responses:
        '200':
          description: streams list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
  /streams/push:
    get:
      tags:
      - Push Streams
      summary: List Streams
      description: push list
      operationId: streamsPushList
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          example: 1
          description: The page number of the result. One page contains 20 results.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
      deprecated: false
  /streams/push/new:
    post:
      tags:
      - Push Streams
      summary: Create Push
      description: Create a Push stream
      operationId: createPushStreams
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePushStream'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
      deprecated: false
  /streams/push/{streamid}:
    get:
      tags:
      - Push Streams
      summary: Stream
      description: Returns the details of a push stream
      operationId: getStreamsPush
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  stream:
                    type: object
                    description: Stream object containing configuration and status details.
                    properties:
                      monitoring_id:
                        nullable: true
                        description: Unique monitoring identifier for the stream.
                        example:
                      type:
                        type: string
                        description: Type identifier for this stream or object.
                        example: push
                      id:
                        type: integer
                        description: Unique numeric identifier.
                        example: monitor-12345
                      serviceid:
                        type: integer
                        description: Unique identifier of the service this stream belongs to.
                        example: 103
                      name:
                        type: string
                        description: Name of the stream.
                        example: sample/stream
                      codec:
                        type: string
                        description: Video codec used for the stream.
                        example: h264
                      ingests:
                        type: array
                        description: List of active ingest connection details for each server.
                        items:
                          nullable: true
                          type: array
                          items:
                            type: string
                        example:
                        - []
                        - 
                      protocols:
                        type: array
                        description: Supported streaming protocols for each server.
                        items:
                          type: array
                          items:
                            type: string
                        example:
                        - - DASH
                          - HLS
                          - RTMP
                          - RTSP
                        - - DASH
                          - HLS
                          - RTMP
                          - RTSP
                      parentid:
                        nullable: true
                        description: Identifier of the parent stream, if this is a child stream.
                        example:
                      server:
                        type: string
                        description: Server ID or identifier assigned to the stream.
                        example: '201'
                      backup:
                        type: string
                        description: Backup server ID for failover.
                        example: ''
                      dedicatedLTC:
                        type: string
                        description: Whether a dedicated live transcoding server is allocated for this stream.
                        example: '1'
                      hasAdvancedFeatures:
                        type: string
                        description: Whether advanced features are enabled for this stream.
                        example: '0'
                      monitoring_triggers:
                        nullable: true
                        description: Monitoring alert trigger configuration for the stream.
                        example:
                      draft:
                        type: string
                        description: Draft status flag. 0 means published; 1 means unpublished draft.
                        example: '0'
                      disabled:
                        type: string
                        description: Disabled flag. 0 means active; 1 means disabled.
                        example: '0'
                      created_at:
                        type: string
                        description: Timestamp when the stream was created.
                        example: '2026-04-10 05:36:26'
                      updated_at:
                        type: string
                        description: Timestamp when the stream was last updated.
                        example: '2026-04-14 08:38:15'
                      lastseen_at:
                        type: boolean
                        description: Timestamp when the stream was last detected as active.
                        example: false
                      deleted:
                        nullable: true
                        description: Deletion timestamp, or null if the stream is not deleted.
                        example:
                      ingestsLock:
                        type: integer
                        description: Whether the ingest endpoint list is locked from editing.
                        example: 0
                      protocolsLock:
                        type: integer
                        description: Whether the supported protocol list is locked from editing.
                        example: 0
                      status:
                        type: string
                        description: Current deployment or operational status of the stream.
                        example: Enabled
                      has:
                        type: object
                        description: Flags indicating which streaming protocols are active.
                        properties:
                          rtmp:
                            type: integer
                            description: Whether RTMP streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 1
                          rtsp:
                            type: integer
                            description: Whether RTSP streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 1
                          hls:
                            type: integer
                            description: Whether HLS streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 1
                          dash:
                            type: integer
                            description: Whether DASH streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 1
                          rtmpauth:
                            type: boolean
                            description: Whether RTMP publish authentication is required.
                            example: false
                      fms:
                        type: object
                        description: Flash Media Server ingest configuration for the stream.
                        properties:
                          server:
                            type: object
                            description: Server ID or identifier assigned to the stream.
                            properties:
                              country:
                                type: string
                                description: Geographic region of the ingest server.
                                example: North America
                              meta:
                                type: object
                                description: Metadata object for the server.
                                properties:
                                  fmsUrl:
                                    type: string
                                    description: RTMP ingest URL for the assigned FMS server.
                                    example: rtmp://fms-01.stream.example.com
                      parts:
                        type: object
                        description: Stream name components.
                        properties:
                          pp:
                            type: string
                            description: Stream name prefix (part 1, before the slash).
                            example: sample
                          sn:
                            type: string
                            description: Stream name suffix (part 2, after the slash).
                            example: stream
                          full:
                            type: string
                            description: Combined full stream name without the slash separator.
                            example: samplestream
                      restream:
                        type: object
                        description: Restream platform configuration object.
                      playbackurls:
                        type: object
                        description: Playback URL set for all supported protocols and player types.
                        properties:
                          scheme:
                            type: string
                            description: URL scheme used for playback.
                            example: https
                          url_prefix:
                            type: string
                            description: Base CDN hostname URL used as a prefix for playback URLs.
                            example: https://stream-abc12-hls-live.stream.example.com
                          rtmp:
                            type: string
                            description: RTMP playback or destination URL.
                            example: rtmp://rtmp.stream.example.com:1935/sample/stream
                          rtsp:
                            type: string
                            description: RTSP playback URL.
                            example: rtsp://rtsp.stream.example.com:554/sample/stream
                          hlsManifest:
                            type: string
                            description: HLS manifest filename.
                            example: playlist.m3u8
                          dashManifest:
                            type: string
                            description: DASH manifest filename.
                            example: manifest.mpd
                          hls:
                            type: string
                            description: HLS playback or player iframe URL.
                            example: https://stream-abc12-hls-live.stream.example.com/sample/stream/playlist.m3u8
                          dash:
                            type: string
                            description: DASH playback or player iframe URL.
                            example: https://stream-abc12-hls-live.stream.example.com/sample/stream/manifest.mpd
                          players:
                            type: object
                            description: Embedded player iframe URL set for supported player types.
                            properties:
                              flowplayer:
                                type: object
                                description: Flowplayer iframe URL information.
                                properties:
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                    example: ''
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                    example: https://cdn.example.com/flowplayer/hls/
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                    example: https://cdn.example.com/flowplayer/hls/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                              videojs:
                                type: object
                                description: Video.js player iframe URL information.
                                properties:
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                    example: ''
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                    example: https://cdn.example.com/videojs/hls/
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                    example: https://cdn.example.com/videojs/hls/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                              own:
                                type: object
                                description: Native stream player iframe URL information.
                                properties:
                                  hashes:
                                    type: object
                                    description: Map of CDN hostname to stream hashes and playback URLs.
                                    properties:
                                      stream-abc12-hls-live.stream.example.com:
                                        type: object
                                        properties:
                                          hash:
                                            type: string
                                            description: Short hash or slug used in stream URLs.
                                            example: abc12hash
                                          hls:
                                            type: string
                                            description: HLS playback or player iframe URL.
                                            example: https://stream-abc12-hls-live.stream.example.com/sample/stream/playlist.m3u8
                                          base64:
                                            type: string
                                            description: Base64-encoded HLS playback URL for use with iframe players.
                                            example: aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                                          dash:
                                            type: string
                                            description: DASH playback or player iframe URL.
                                            example: https://stream-abc12-hls-live.stream.example.com/sample/stream/manifest.mpd
                                          base64dash:
                                            type: string
                                            description: Base64-encoded DASH playback URL for use with iframe players.
                                            example: aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                    example: ?showcv=true&title=sample/stream
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                    example: https://cdn.example.com/player/hls/skin1/abc12hash/
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                    example: https://cdn.example.com/player/hls/skin1/abc12hash/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4?showcv=true&title=sample/stream
                                  dash:
                                    type: string
                                    description: DASH playback or player iframe URL.
                                    example: https://cdn.example.com/player/dash/skin1/abc12hash/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4?showcv=true&title=sample/stream
                          tokenized:
                            nullable: true
                            description: Tokenized playback URL configuration, or null if disabled.
                            example:
                      platformsCount:
                        type: integer
                        description: Number of external restreaming platforms configured.
                        example: 0
                      ssl_enabled:
                        type: boolean
                        description: Whether HTTPS/SSL is enabled for playback.
                        example: true
                      hash:
                        type: string
                        description: Short hash or slug used in stream URLs.
                        example: stream
                      ndvr:
                        type: object
                        description: Network DVR (nDVR) rewind configuration for the stream.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          retention:
                            type: string
                            description: Retention period in days (record) or minutes (nDVR).
                            example: '5'
                      securetoken:
                        type: object
                        description: Secure token URL signing configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: D
                          keyip:
                            type: string
                            description: Whether the token is bound to the viewer IP address.
                            example: N
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                            example: ''
                          timeout:
                            type: integer
                            description: Token expiry time in seconds.
                            example: 3600
                          session:
                            type: string
                            description: Session-based token mode flag.
                            example: '0'
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          dirs:
                            nullable: true
                            description: URL directory paths restricted by this policy.
                            example:
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                      record:
                        type: object
                        description: Recording (DVR) configuration for the stream.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          retention:
                            type: string
                            description: Retention period in days (record) or minutes (nDVR).
                            example: '3'
                          stream:
                            type: object
                            description: Stream object containing configuration and status details.
                            properties:
                              id:
                                type: integer
                                description: Unique numeric identifier.
                                example: monitor-12346
                              type:
                                type: string
                                description: Type identifier for this stream or object.
                                example: record
                      domainlock:
                        type: object
                        description: Domain lock (hotlink protection) configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: Y
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                            example: example.com,docs.example.com
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          noreferer:
                            type: string
                            description: Whether to allow playback requests with no Referer header.
                            example: N
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                      geoblock:
                        type: object
                        description: Geoblocking access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: N
                          list:
                            type: array
                            description: Comma-separated list of allowed or blocked values.
                            items:
                              type: string
                            example:
                            - ''
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                      ipaccess:
                        type: object
                        description: IP address access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: N
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                            example: ''
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                      useragent:
                        type: object
                        description: User-agent based access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: Y
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                            example: ''
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          casesensitive:
                            type: string
                            description: Whether user-agent pattern matching is case-sensitive.
                            example: N
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                          listArr:
                            type: array
                            description: User-agent filter list as a parsed array.
                            items:
                              type: string
                            example:
                            - ''
                      rtmpauth:
                        type: object
                        description: Whether RTMP publish authentication is required.
                        properties:
                          password:
                            type: string
                            description: Password for RTMP publish authentication.
                            example: ''
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                      transcode:
                        type: object
                        description: Live transcoding configuration for the stream.
                        properties:
                          ltc:
                            type: integer
                            description: Live transcoding server ID assigned to this stream.
                            example: 1
                          type:
                            type: string
                            description: Type identifier for this stream or object.
                            example: mixed
                          enabled:
                            type: boolean
                            description: Enable or disable this feature.
                            example: true
                          isEditable:
                            type: boolean
                            description: Whether the transcoding configuration can be edited.
                            example: true
                          id:
                            type: integer
                            description: Unique numeric identifier.
                            example: monitor-12345
                          autostop:
                            type: integer
                            description: Whether the stream auto-stops when no input is received.
                            example: 0
                          vprofiles:
                            type: array
                            description: List of video transcoding profile IDs applied to this stream.
                            items:
                              type: string
                            example:
                            - '12345'
                          aprofiles:
                            type: array
                            description: List of audio transcoding profile IDs applied to this stream.
                            items:
                              type: string
                            example:
                            - '12346'
                          filters:
                            type: array
                            description: List of transcoding filter IDs applied to this stream.
                            items: {}
                            example: []
                          disabled:
                            type: string
                            description: Disabled flag. 0 means active; 1 means disabled.
                            example: '0'
                          count:
                            type: integer
                            description: Number of active transcoding profiles.
                            example: 1
                          countRaw:
                            type: integer
                            description: Total number of transcoding profiles including inactive.
                            example: 1
                          codec:
                            type: string
                            description: Video codec used for the stream.
                            example: h264
                          isRunning:
                            type: boolean
                            description: Whether live transcoding is currently active on this stream.
                            example: false
                          profiles:
                            type: object
                            description: Transcoding profile count summary.
                            properties:
                              count:
                                type: object
                                description: Number of active transcoding profiles.
                                properties:
                                  total:
                                    type: integer
                                    description: Total number of transcoding profiles.
                                    example: 1
                                  uhd:
                                    type: integer
                                    description: Number of UHD (4K) transcoding profiles.
                                    example: 1
                      platforms:
                        type: array
                        description: List of configured external restreaming platform entries.
                        items: {}
                        example: []
                      messages:
                        type: object
                        description: Informational messages related to the stream state.
                      adInsertion:
                        nullable: true
                        description: Ad insertion configuration for the stream, or null if not configured.
                        example:
      deprecated: false
    post:
      tags:
      - Push Streams
      summary: Update Info
      description: Update the information of push stream
      operationId: updateStreamspush
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                server:
                  type: string
                  description: Server ID(s) for the stream. Use comma-separated values for multiple servers.
                  example: '201'
                codec:
                  type: string
                  description: Video codec for the stream. Use h264 or h265.
                  example: h264
                draft:
                  type: number
                  description: Set to 0 to publish the stream, or 1 to save it as a draft.
                  example: 0
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: Human-readable message describing the result.
                    example: Stream Updated
                  stream:
                    type: object
                    description: Stream object containing configuration and status details.
                    properties:
                      monitoring_id:
                        type: integer
                        description: Unique monitoring identifier for the stream.
                        example: 12345
                      type:
                        type: string
                        description: Type identifier for this stream or object.
                        example: push
                      id:
                        type: integer
                        description: Unique numeric identifier.
                        example: monitor-12345
                      serviceid:
                        type: integer
                        description: Unique identifier of the service this stream belongs to.
                        example: 103
                      name:
                        type: string
                        description: Name of the stream.
                        example: sample/stream
                      codec:
                        type: string
                        description: Video codec used for the stream.
                        example: h264
                      ingests:
                        type: array
                        description: List of active ingest connection details for each server.
                        items:
                          nullable: true
                          type: array
                          items:
                            type: string
                        example:
                        - 
                        - 
                      protocols:
                        type: array
                        description: Supported streaming protocols for each server.
                        items:
                          type: array
                          items:
                            type: string
                        example:
                        - - HLS
                        - - HLS
                      parentid:
                        nullable: true
                        description: Identifier of the parent stream, if this is a child stream.
                        example:
                      server:
                        type: string
                        description: Server ID or identifier assigned to the stream.
                        example: '201'
                      backup:
                        type: string
                        description: Backup server ID for failover.
                        example: ''
                      dedicatedLTC:
                        type: string
                        description: Whether a dedicated live transcoding server is allocated for this stream.
                        example: '0'
                      hasAdvancedFeatures:
                        type: string
                        description: Whether advanced features are enabled for this stream.
                        example: '0'
                      monitoring_triggers:
                        type: string
                        description: Monitoring alert trigger configuration for the stream.
                        example: '[3,1,0]'
                      draft:
                        type: string
                        description: Draft status flag. 0 means published; 1 means unpublished draft.
                        example: '0'
                      disabled:
                        type: string
                        description: Disabled flag. 0 means active; 1 means disabled.
                        example: '0'
                      created_at:
                        type: string
                        description: Timestamp when the stream was created.
                        example: '2026-01-01 00:00:00'
                      updated_at:
                        type: string
                        description: Timestamp when the stream was last updated.
                        example: '2026-04-30 11:23:14'
                      lastseen_at:
                        type: boolean
                        description: Timestamp when the stream was last detected as active.
                        example: false
                      deleted:
                        nullable: true
                        description: Deletion timestamp, or null if the stream is not deleted.
                        example:
                      ingestsLock:
                        type: integer
                        description: Whether the ingest endpoint list is locked from editing.
                        example: 0
                      protocolsLock:
                        type: integer
                        description: Whether the supported protocol list is locked from editing.
                        example: 0
                      status:
                        type: string
                        description: Current deployment or operational status of the stream.
                        example: Deploying
                      has:
                        type: object
                        description: Flags indicating which streaming protocols are active.
                        properties:
                          rtmp:
                            type: integer
                            description: Whether RTMP streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 0
                          rtsp:
                            type: integer
                            description: Whether RTSP streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 0
                          hls:
                            type: integer
                            description: Whether HLS streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 1
                          dash:
                            type: integer
                            description: Whether DASH streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 0
                          rtmpauth:
                            type: boolean
                            description: Whether RTMP publish authentication is required.
                            example: false
                      fms:
                        type: object
                        description: Flash Media Server ingest configuration for the stream.
                        properties:
                          server:
                            type: object
                            description: Server ID or identifier assigned to the stream.
                            properties:
                              country:
                                type: string
                                description: Geographic region of the ingest server.
                                example: Oceania
                              meta:
                                type: object
                                description: Metadata object for the server.
                                properties:
                                  fmsUrl:
                                    type: string
                                    description: RTMP ingest URL for the assigned FMS server.
                                    example: rtmp://fms-01.stream.example.com
                      parts:
                        type: object
                        description: Stream name components.
                        properties:
                          pp:
                            type: string
                            description: Stream name prefix (part 1, before the slash).
                            example: sample
                          sn:
                            type: string
                            description: Stream name suffix (part 2, after the slash).
                            example: test
                          full:
                            type: string
                            description: Combined full stream name without the slash separator.
                            example: samplestream
                      restream:
                        type: object
                        description: Restream platform configuration object.
                      playbackurls:
                        type: object
                        description: Playback URL set for all supported protocols and player types.
                        properties:
                          scheme:
                            type: string
                            description: URL scheme used for playback.
                            example: https
                          url_prefix:
                            type: string
                            description: Base CDN hostname URL used as a prefix for playback URLs.
                            example: https://stream-abc12-hls-live.stream.example.com
                          rtmp:
                            type: string
                            description: RTMP playback or destination URL.
                            example: rtmp://rtmp.stream.example.com:1935/sample/stream
                          rtsp:
                            type: string
                            description: RTSP playback URL.
                            example: rtsp://rtsp.stream.example.com:554/sample/stream
                          hlsManifest:
                            type: string
                            description: HLS manifest filename.
                            example: playlist.m3u8
                          dashManifest:
                            type: string
                            description: DASH manifest filename.
                            example: manifest.mpd
                          hls:
                            type: string
                            description: HLS playback or player iframe URL.
                            example: https://stream-abc12-hls-live.stream.example.com/sample/stream/playlist.m3u8
                          dash:
                            type: string
                            description: DASH playback or player iframe URL.
                            example: https://stream-abc12-hls-live.stream.example.com/sample/stream/manifest.mpd
                          players:
                            type: object
                            description: Embedded player iframe URL set for supported player types.
                            properties:
                              flowplayer:
                                type: object
                                description: Flowplayer iframe URL information.
                                properties:
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                    example: ''
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                    example: https://cdn.example.com/flowplayer/hls/
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                    example: https://cdn.example.com/flowplayer/hls/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                              videojs:
                                type: object
                                description: Video.js player iframe URL information.
                                properties:
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                    example: ''
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                    example: https://cdn.example.com/videojs/hls/
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                    example: https://cdn.example.com/videojs/hls/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                              own:
                                type: object
                                description: Native stream player iframe URL information.
                                properties:
                                  hashes:
                                    type: object
                                    description: Map of CDN hostname to stream hashes and playback URLs.
                                    properties:
                                      stream-abc12-hls-live.stream.example.com:
                                        type: object
                                        properties:
                                          hash:
                                            type: string
                                            description: Short hash or slug used in stream URLs.
                                            example: def34hash
                                          hls:
                                            type: string
                                            description: HLS playback or player iframe URL.
                                            example: https://stream-abc12-hls-live.stream.example.com/sample/stream/playlist.m3u8
                                          base64:
                                            type: string
                                            description: Base64-encoded HLS playback URL for use with iframe players.
                                            example: aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                                          dash:
                                            type: string
                                            description: DASH playback or player iframe URL.
                                            example: https://stream-abc12-hls-live.stream.example.com/sample/stream/manifest.mpd
                                          base64dash:
                                            type: string
                                            description: Base64-encoded DASH playback URL for use with iframe players.
                                            example: aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                    example: ?showcv=true&title=sample/stream
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                    example: https://cdn.example.com/player/hls/skin1/def34hash/
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                    example: https://cdn.example.com/player/hls/skin1/def34hash/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4?showcv=true&title=sample/stream
                                  dash:
                                    type: string
                                    description: DASH playback or player iframe URL.
                                    example: https://cdn.example.com/player/dash/skin1/def34hash/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4?showcv=true&title=sample/stream
                          tokenized:
                            nullable: true
                            description: Tokenized playback URL configuration, or null if disabled.
                            example:
                      platformsCount:
                        type: integer
                        description: Number of external restreaming platforms configured.
                        example: 0
                      ssl_enabled:
                        type: boolean
                        description: Whether HTTPS/SSL is enabled for playback.
                        example: true
                      hash:
                        type: string
                        description: Short hash or slug used in stream URLs.
                        example: test
                      ndvr:
                        type: object
                        description: Network DVR (nDVR) rewind configuration for the stream.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          retention:
                            type: string
                            description: Retention period in days (record) or minutes (nDVR).
                            example: '8'
                      securetoken:
                        type: object
                        description: Secure token URL signing configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: D
                          keyip:
                            type: string
                            description: Whether the token is bound to the viewer IP address.
                            example: N
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                            example: ''
                          timeout:
                            type: integer
                            description: Token expiry time in seconds.
                            example: 3600
                          session:
                            type: string
                            description: Session-based token mode flag.
                            example: '0'
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          dirs:
                            nullable: true
                            description: URL directory paths restricted by this policy.
                            example:
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                      record:
                        type: object
                        description: Recording (DVR) configuration for the stream.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          retention:
                            type: string
                            description: Retention period in days (record) or minutes (nDVR).
                            example: '3'
                          stream:
                            nullable: true
                            description: Stream object containing configuration and status details.
                            example:
                      domainlock:
                        type: object
                        description: Domain lock (hotlink protection) configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: Y
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                            example: example.com,docs.example.com
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          noreferer:
                            type: string
                            description: Whether to allow playback requests with no Referer header.
                            example: N
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                      geoblock:
                        type: object
                        description: Geoblocking access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: N
                          list:
                            type: array
                            description: Comma-separated list of allowed or blocked values.
                            items:
                              type: string
                            example:
                            - ''
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                      ipaccess:
                        type: object
                        description: IP address access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: N
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                            example: ''
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                      useragent:
                        type: object
                        description: User-agent based access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: Y
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                            example: ''
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          casesensitive:
                            type: string
                            description: Whether user-agent pattern matching is case-sensitive.
                            example: N
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                          listArr:
                            type: array
                            description: User-agent filter list as a parsed array.
                            items:
                              type: string
                            example:
                            - ''
                      rtmpauth:
                        type: object
                        description: Whether RTMP publish authentication is required.
                        properties:
                          password:
                            type: string
                            description: Password for RTMP publish authentication.
                            example: ''
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                      transcode:
                        type: object
                        description: Live transcoding configuration for the stream.
                        properties:
                          ltc:
                            type: integer
                            description: Live transcoding server ID assigned to this stream.
                            example: 0
                          type:
                            type: string
                            description: Type identifier for this stream or object.
                            example: mixed
                          enabled:
                            type: boolean
                            description: Enable or disable this feature.
                            example: false
                          isEditable:
                            type: boolean
                            description: Whether the transcoding configuration can be edited.
                            example: true
                      platforms:
                        type: array
                        description: List of configured external restreaming platform entries.
                        items: {}
                        example: []
                      messages:
                        type: object
                        description: Informational messages related to the stream state.
                      adInsertion:
                        nullable: true
                        description: Ad insertion configuration for the stream, or null if not configured.
                        example:
                  warnings:
                    nullable: true
                    description: Non-fatal warnings returned with the response.
                    example:
                  errors:
                    nullable: true
                    description: Errors returned with the response.
                    example:
      deprecated: false
    delete:
      tags:
      - Push Streams
      summary: Delete Info
      description: Delete the information of push stream. To cast request method POST and parameters _METHOD = DELETE
      operationId: deleteStreamspush
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - _METHOD
              properties:
                _METHOD:
                  type: string
                  description: HTTP method override for this request. This endpoint accepts POST, but set this to DELETE to perform a delete operation.
                  example: DELETE
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: Human-readable message describing the result.
                    example: Stream Deleted
      deprecated: false
  /streams/push/{streamid}/statistics:
    get:
      tags:
      - Push Streams
      summary: Stream statistics
      description: Returns the details of a push stream statistics
      operationId: getStreamsPushStatistics
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    fs:
                      type: object
                      description: Live ingest stream statistics from the media server.
                      properties:
                        name:
                          type: string
                          description: Name of the stream.
                          example: sample/stream
                        status:
                          type: string
                          description: Current deployment or operational status of the stream.
                          example: Alive
                        bitrate:
                          type: string
                          description: Current bitrate of the stream.
                          example: 902.76kbps
                        primary:
                          type: boolean
                          description: Whether this is the primary ingest connection.
                          example: true
                        time:
                          type: string
                          description: Total uptime duration of the stream session.
                          example: 20573d 07:29:20
                        publish_time:
                          type: string
                          description: Elapsed time since publishing started.
                          example: 1 hour ago
                        publisher_ip:
                          type: string
                          description: IP address of the stream publisher.
                          example: 203.0.113.1
                        video:
                          type: object
                          description: Video track statistics.
                          properties:
                            size:
                              type: string
                              description: Video resolution in WxH format.
                              example: 1920x1080
                            bitrate:
                              type: string
                              description: Current bitrate of the stream.
                              example: 767.34kbps
                            codec:
                              type: string
                              description: Video codec used for the stream.
                              example: avc1.64002a
                            profile:
                              type: string
                              description: Video codec profile name.
                              example: '-'
                            level:
                              type: string
                              description: Video codec level value.
                              example: '-'
                        audio:
                          type: object
                          description: Audio track statistics.
                          properties:
                            codec:
                              type: string
                              description: Video codec used for the stream.
                              example: mp4a.40.2
                            bitrate:
                              type: string
                              description: Current bitrate of the stream.
                              example: 135.41kbps
                    status:
                      type: string
                      description: Current deployment or operational status of the stream.
                      example: Enabled
                    lastseen:
                      type: string
                      description: Elapsed time since the stream was last detected as active.
                      example: 8 seconds ago
  /streams/push/{streamid}/status:
    post:
      tags:
      - Push Streams
      summary: Update status of stream
      description: Update status of stream
      operationId: statusStreamsPush
      parameters:
      - $ref: '#/components/parameters/streamIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                disabled:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Set to 1 to disable the stream, 0 to enable it.
                  example: 0
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: Human-readable message describing the result.
                    example: Stream Updated
                  stream:
                    type: object
                    description: Stream object containing configuration and status details.
                    properties:
                      monitoring_id:
                        nullable: true
                        description: Unique monitoring identifier for the stream.
                        example:
                      type:
                        type: string
                        description: Type identifier for this stream or object.
                        example: push
                      id:
                        type: integer
                        description: Unique numeric identifier.
                        example: monitor-12345
                      serviceid:
                        type: integer
                        description: Unique identifier of the service this stream belongs to.
                        example: 103
                      name:
                        type: string
                        description: Name of the stream.
                        example: sample/stream
                      codec:
                        type: string
                        description: Video codec used for the stream.
                        example: h264
                      ingests:
                        type: array
                        description: List of active ingest connection details for each server.
                        items:
                          type: array
                          items:
                            type: string
                        example:
                        - - RTMP
                        - - RTMP
                      protocols:
                        type: array
                        description: Supported streaming protocols for each server.
                        items:
                          type: array
                          items:
                            type: string
                        example:
                        - - DASH
                          - HLS
                        - - DASH
                          - HLS
                      parentid:
                        nullable: true
                        description: Identifier of the parent stream, if this is a child stream.
                        example:
                      server:
                        type: string
                        description: Server ID or identifier assigned to the stream.
                        example: '201'
                      backup:
                        type: string
                        description: Backup server ID for failover.
                        example: ''
                      dedicatedLTC:
                        type: string
                        description: Whether a dedicated live transcoding server is allocated for this stream.
                        example: '0'
                      hasAdvancedFeatures:
                        type: string
                        description: Whether advanced features are enabled for this stream.
                        example: '0'
                      monitoring_triggers:
                        nullable: true
                        description: Monitoring alert trigger configuration for the stream.
                        example:
                      draft:
                        type: string
                        description: Draft status flag. 0 means published; 1 means unpublished draft.
                        example: '0'
                      disabled:
                        type: string
                        description: Disabled flag. 0 means active; 1 means disabled.
                        example: '0'
                      created_at:
                        type: string
                        description: Timestamp when the stream was created.
                        example: '2026-01-01 00:00:00'
                      updated_at:
                        type: string
                        description: Timestamp when the stream was last updated.
                        example: '2026-04-30 07:37:55'
                      lastseen_at:
                        type: boolean
                        description: Timestamp when the stream was last detected as active.
                        example: false
                      deleted:
                        nullable: true
                        description: Deletion timestamp, or null if the stream is not deleted.
                        example:
                      ingestsLock:
                        type: integer
                        description: Whether the ingest endpoint list is locked from editing.
                        example: 0
                      protocolsLock:
                        type: integer
                        description: Whether the supported protocol list is locked from editing.
                        example: 0
                      status:
                        type: string
                        description: Current deployment or operational status of the stream.
                        example: Deploying
                      has:
                        type: object
                        description: Flags indicating which streaming protocols are active.
                        properties:
                          rtmp:
                            type: integer
                            description: Whether RTMP streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 0
                          rtsp:
                            type: integer
                            description: Whether RTSP streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 0
                          hls:
                            type: integer
                            description: Whether HLS streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 1
                          dash:
                            type: integer
                            description: Whether DASH streaming is enabled. 1 = enabled, 0 = disabled.
                            example: 1
                          rtmpauth:
                            type: boolean
                            description: Whether RTMP publish authentication is required.
                            example: false
                      fms:
                        type: object
                        description: Flash Media Server ingest configuration for the stream.
                        properties:
                          server:
                            type: object
                            description: Server ID or identifier assigned to the stream.
                            properties:
                              country:
                                type: string
                                description: Geographic region of the ingest server.
                                example: North America
                              meta:
                                type: object
                                description: Metadata object for the server.
                                properties:
                                  fmsUrl:
                                    type: string
                                    description: RTMP ingest URL for the assigned FMS server.
                                    example: rtmp://fms-01.stream.example.com
                      parts:
                        type: object
                        description: Stream name components.
                        properties:
                          pp:
                            type: string
                            description: Stream name prefix (part 1, before the slash).
                            example: sample
                          sn:
                            type: string
                            description: Stream name suffix (part 2, after the slash).
                            example: stream
                          full:
                            type: string
                            description: Combined full stream name without the slash separator.
                            example: samplestream
                      restream:
                        type: object
                        description: Restream platform configuration object.
                      playbackurls:
                        type: object
                        description: Playback URL set for all supported protocols and player types.
                        properties:
                          scheme:
                            type: string
                            description: URL scheme used for playback.
                            example: https
                          url_prefix:
                            type: string
                            description: Base CDN hostname URL used as a prefix for playback URLs.
                            example: https://stream-abc12-hls-live.stream.example.com
                          rtmp:
                            type: string
                            description: RTMP playback or destination URL.
                            example: rtmp://rtmp.stream.example.com:1935/sample/stream
                          rtsp:
                            type: string
                            description: RTSP playback URL.
                            example: rtsp://rtsp.stream.example.com:554/sample/stream
                          hlsManifest:
                            type: string
                            description: HLS manifest filename.
                            example: playlist.m3u8
                          dashManifest:
                            type: string
                            description: DASH manifest filename.
                            example: manifest.mpd
                          hls:
                            type: string
                            description: HLS playback or player iframe URL.
                            example: https://stream-abc12-hls-live.stream.example.com/sample/stream/playlist.m3u8
                          dash:
                            type: string
                            description: DASH playback or player iframe URL.
                            example: https://stream-abc12-hls-live.stream.example.com/sample/stream/manifest.mpd
                          players:
                            type: object
                            description: Embedded player iframe URL set for supported player types.
                            properties:
                              flowplayer:
                                type: object
                                description: Flowplayer iframe URL information.
                                properties:
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                    example: ''
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                    example: https://cdn.example.com/flowplayer/hls/
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                    example: https://cdn.example.com/flowplayer/hls/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                              videojs:
                                type: object
                                description: Video.js player iframe URL information.
                                properties:
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                    example: ''
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                    example: https://cdn.example.com/videojs/hls/
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                    example: https://cdn.example.com/videojs/hls/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                              own:
                                type: object
                                description: Native stream player iframe URL information.
                                properties:
                                  hashes:
                                    type: object
                                    description: Map of CDN hostname to stream hashes and playback URLs.
                                    properties:
                                      stream-abc12-hls-live.stream.example.com:
                                        type: object
                                        properties:
                                          hash:
                                            type: string
                                            description: Short hash or slug used in stream URLs.
                                            example: ghi56hash
                                          hls:
                                            type: string
                                            description: HLS playback or player iframe URL.
                                            example: https://stream-abc12-hls-live.stream.example.com/sample/stream/playlist.m3u8
                                          base64:
                                            type: string
                                            description: Base64-encoded HLS playback URL for use with iframe players.
                                            example: aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                                          dash:
                                            type: string
                                            description: DASH playback or player iframe URL.
                                            example: https://stream-abc12-hls-live.stream.example.com/sample/stream/manifest.mpd
                                          base64dash:
                                            type: string
                                            description: Base64-encoded DASH playback URL for use with iframe players.
                                            example: aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4
                                  baseQ:
                                    type: string
                                    description: Query string appended to the player iframe URL.
                                    example: ?showcv=true&title=sample/stream
                                  base:
                                    type: string
                                    description: Base player iframe URL without the stream path.
                                    example: https://cdn.example.com/player/hls/skin1/ghi56hash/
                                  hls:
                                    type: string
                                    description: HLS playback or player iframe URL.
                                    example: https://cdn.example.com/player/hls/skin1/ghi56hash/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4?showcv=true&title=sample/stream
                                  dash:
                                    type: string
                                    description: DASH playback or player iframe URL.
                                    example: https://cdn.example.com/player/dash/skin1/ghi56hash/aHR0cHM6Ly9zdHJlYW0uZXhhbXBsZS5jb20vc2FtcGxlL3N0cmVhbS9wbGF5bGlzdC5tM3U4?showcv=true&title=sample/stream
                          tokenized:
                            nullable: true
                            description: Tokenized playback URL configuration, or null if disabled.
                            example:
                      platformsCount:
                        type: integer
                        description: Number of external restreaming platforms configured.
                        example: 0
                      ssl_enabled:
                        type: boolean
                        description: Whether HTTPS/SSL is enabled for playback.
                        example: true
                      hash:
                        type: string
                        description: Short hash or slug used in stream URLs.
                        example: stream
                      ndvr:
                        type: object
                        description: Network DVR (nDVR) rewind configuration for the stream.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          retention:
                            type: string
                            description: Retention period in days (record) or minutes (nDVR).
                            example: '5'
                      securetoken:
                        type: object
                        description: Secure token URL signing configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: D
                          keyip:
                            type: string
                            description: Whether the token is bound to the viewer IP address.
                            example: N
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                            example: ''
                          timeout:
                            type: integer
                            description: Token expiry time in seconds.
                            example: 3600
                          session:
                            type: string
                            description: Session-based token mode flag.
                            example: '0'
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          dirs:
                            nullable: true
                            description: URL directory paths restricted by this policy.
                            example:
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                      record:
                        type: object
                        description: Recording (DVR) configuration for the stream.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          retention:
                            type: string
                            description: Retention period in days (record) or minutes (nDVR).
                            example: '3'
                          stream:
                            nullable: true
                            description: Stream object containing configuration and status details.
                            example:
                      domainlock:
                        type: object
                        description: Domain lock (hotlink protection) configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: Y
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                            example: example.com,docs.example.com
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          noreferer:
                            type: string
                            description: Whether to allow playback requests with no Referer header.
                            example: N
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                      geoblock:
                        type: object
                        description: Geoblocking access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: N
                          list:
                            type: array
                            description: Comma-separated list of allowed or blocked values.
                            items:
                              type: string
                            example:
                            - ''
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                      ipaccess:
                        type: object
                        description: IP address access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: N
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                            example: ''
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                      useragent:
                        type: object
                        description: User-agent based access control configuration.
                        properties:
                          enabled:
                            type: string
                            description: Enable or disable this feature.
                            example: N
                          policy:
                            type: string
                            description: Policy mode controlling allow/deny behavior.
                            example: Y
                          list:
                            type: string
                            description: Comma-separated list of allowed or blocked values.
                            example: ''
                          ips:
                            type: string
                            description: IP addresses associated with the access control policy.
                            example: ''
                          casesensitive:
                            type: string
                            description: Whether user-agent pattern matching is case-sensitive.
                            example: N
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                          listArr:
                            type: array
                            description: User-agent filter list as a parsed array.
                            items:
                              type: string
                            example:
                            - ''
                      rtmpauth:
                        type: object
                        description: Whether RTMP publish authentication is required.
                        properties:
                          password:
                            type: string
                            description: Password for RTMP publish authentication.
                            example: ''
                          active:
                            type: string
                            description: Whether this policy is currently enforced.
                            example: N
                      transcode:
                        type: object
                        description: Live transcoding configuration for the stream.
                        properties:
                          ltc:
                            type: integer
                            description: Live transcoding server ID assigned to this stream.
                            example: 0
                          type:
                            type: string
                            description: Type identifier for this stream or object.
                            example: mixed
                          enabled:
                            type: boolean
                            description: Enable or disable this feature.
                            example: false
                          isEditable:
                            type: boolean
                            description: Whether the transcoding configuration can be edited.
                            example: true
                      platforms:
                        type: array
[...]
