openapi: 3.0.3
info:
  title: 5centsCDN - SimpleDNS
  description: >
    API for managing SimpleDNS zones, records, DNSSEC, SOA, statistics,
    zone import/export, and mail forwards in 5centsCDN.
  version: 2.0.0
  contact:
    email: help@5centscdn.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
- url: https://api.5centscdn.com/v2
  description: 5centsCDN API Server - Production
tags:
- name: DNS Zones
  description: DNS zone management (create, list, delete, restore, status)
- name: DNS Records
  description: DNS record management within a zone
- name: DNS Security
  description: DNSSEC and SOA management
- name: DNS Statistics
  description: DNS query statistics
- name: Mail Forwards
  description: Email forwarding rules for DNS zones
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  parameters:
    dnsIdParam:
      name: dnsId
      in: path
      required: true
      description: SimpleDNS zone ID.
      schema:
        type: integer
        example: 42
    recordIdParam:
      name: recordid
      in: path
      required: true
      description: DNS record ID within the zone.
      schema:
        type: integer
        example: 258289692
  schemas:
    StatusResponse:
      type: object
      properties:
        status:
          type: string
          enum: [Success, Error]
          description: Outcome of the operation.
          example: '1'
        statusDescription:
          type: string
          description: Human-readable description of the outcome.
          example: Operation completed successfully.
      required: [status, statusDescription]
    RecordType:
      type: string
      description: DNS record type.
      enum: [A, AAAA, MX, CNAME, TXT, SPF, NS, SRV, WR, ALIAS, RP, SSHFP, NAPTR, CAA, TLSA, DS, CERT, PTR, HINFO, LOC, DNAME, OPENPGPKEY, SMIMEA]
    TtlValue:
      type: integer
      description: TTL value in seconds.
      enum: [60, 300, 900, 1800, 3600, 21600, 43200, 86400, 172800, 259200, 604800, 1209600, 2592000]
security:
- apikeyAuth: []
paths:
  /dns:
    get:
      operationId: listDnsZones
      tags: [DNS Zones]
      summary: List Zones
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: API response status.
                    example: success
                  domains:
                    type: array
                    description: Array of DNS zone objects configured for this service.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Unique identifier.
                          example: 317
                        serviceid:
                          type: integer
                          description: Service account identifier.
                          example: 103
                        domain:
                          type: string
                          description: Domain name configured in the DNS zone.
                          example: example.com
                        meta:
                          type: object
                          description: Metadata about the DNS zone from the provider.
                          properties:
                            name:
                              type: string
                              description: Domain name as stored in the DNS provider.
                              example: example.com
                            id:
                              type: string
                              description: Unique identifier.
                              example: '12345'
                            type:
                              type: string
                              description: Zone type identifier.
                              example: master
                            group:
                              type: string
                              description: Zone group assignment.
                              example: None
                            hasBulk:
                              type: boolean
                              description: Whether bulk record operations are enabled for this zone.
                              example: false
                            is_cloud:
                              type: integer
                              description: Whether the zone is a cloud-based zone (1 = yes, 0 = no).
                              example: 0
                            zone:
                              type: string
                              description: Zone classification type.
                              example: domain
                            status:
                              type: string
                              description: Current status of the zone or record.
                              example: '1'
                            serial:
                              type: string
                              description: SOA serial number for zone change tracking.
                              example: '2026010100'
                            isUpdated:
                              type: integer
                              description: Whether the zone has been updated and propagated (1 = yes, 0 = no).
                              example: 1
                        soa:
                          type: object
                          description: SOA (Start of Authority) record data for the DNS zone.
                          properties:
                            serialNumber:
                              type: string
                              description: SOA serial number used for zone change tracking.
                              example: '2026010100'
                            primaryNS:
                              type: string
                              description: Primary nameserver hostname for the zone.
                              example: ns1.example-dns.com
                            adminMail:
                              type: string
                              description: Administrator email address for the DNS zone.
                              example: admin@example.com
                            refresh:
                              type: string
                              description: Zone refresh interval in seconds.
                              example: '7200'
                            retry:
                              type: string
                              description: Retry interval in seconds after a failed zone refresh.
                              example: '1800'
                            expire:
                              type: string
                              description: Expiry time in seconds for secondary zone data.
                              example: '1209600'
                            defaultTTL:
                              type: string
                              description: Default TTL in seconds for records without an explicit TTL.
                              example: '3600'
                        dnssec:
                          type: object
                          description: DNSSEC configuration and key data for the zone.
                          properties:
                            status:
                              type: string
                              description: Current status of the zone or record.
                              example: '1'
                            ds:
                              type: array
                              description: Array of DS record strings for DNSSEC delegation.
                              items:
                                type: string
                            ds_records:
                              type: array
                              description: Array of parsed DS record objects.
                              items:
                                type: object
                                properties:
                                  digest:
                                    type: string
                                    description: DS record digest hash value.
                                    example: a1b2c3d4e5f6789012345678abcdef12
                                  key_tag:
                                    type: string
                                    description: Key tag value identifying the DNSSEC signing key.
                                    example: '12345'
                                  algorithm:
                                    type: string
                                    description: DNSSEC algorithm identifier.
                                    example: '13'
                                  algorithm_name:
                                    type: string
                                    description: Human-readable DNSSEC algorithm name.
                                    example: ECDSA SHA-256
                                  digest_type:
                                    type: string
                                    description: DS digest type identifier.
                                    example: '2'
                                  digest_type_name:
                                    type: string
                                    description: Human-readable DS digest type name.
                                    example: SHA-256
                            dnskey:
                              type: array
                              description: Array of DNSKEY record strings for the zone.
                              items:
                                type: string
                            optout:
                              type: string
                              description: DNSSEC opt-out flag (1 = enabled, 0 = disabled).
                              example: '1'
                            statusDescription:
                              type: string
                              description: Human-readable description of the operation outcome.
                              example: The DNSSEC is not active.
                        preferredtype:
                          type: string
                          description: Preferred DNS record type filter setting.
                          example: All
                        created_at:
                          type: string
                          description: Timestamp when this record was created.
                          example: '2023-07-04 14:08:59'
                        updated_at:
                          type: string
                          description: Timestamp when this record was last updated.
                          example: '2026-04-20 05:57:57'
                        synced_at:
                          type: string
                          description: Timestamp when the zone was last synced with the provider.
                          example: '2026-04-20 05:57:57'
                        validated_at:
                          type: string
                          description: Timestamp when the zone was last validated.
                          example: '2026-04-17 22:57:53'
                        deleted:
                          nullable: true
                          example:
                        proxied:
                          type: array
                          description: Array of CDN-proxied record configurations for this zone.
                          items: {}
                        linkedZones:
                          type: object
                          description: Map of linked CDN zones keyed by zone ID.
                          additionalProperties:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Unique identifier.
                                example: 12345
                              mode:
                                type: string
                                description: Linked zone or proxy mode type.
                                example: http
                        nameservers:
                          type: array
                          description: Array of authoritative nameserver hostnames for the zone.
                          items:
                            type: string
                          example: [ns1.example-dns.com, ns2.example-dns.com, ns3.example-dns.com, ns4.example-dns.com]
                        stats:
                          type: object
                          description: Query and record statistics for this zone.
                          properties:
                            queries:
                              type: integer
                              description: Total number of DNS queries received for this zone.
                              example: 125000
                            records:
                              type: integer
                              description: Total number of DNS records configured in this zone.
                              example: 16
                  nameservers:
                    type: array
                    description: Array of authoritative nameserver hostnames for the zone.
                    items:
                      type: string
                    example: [ns1.example-dns.com, ns2.example-dns.com, ns3.example-dns.com, ns4.example-dns.com]
    post:
      operationId: createDnsZone
      tags: [DNS Zones]
      summary: Create Zone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain, _METHOD]
              properties:
                domain:
                  type: string
                  description: New DNS Domain
                  example: testdomain.com
                _METHOD:
                  type: string
                  description: HTTP method override for this request. This endpoint accepts POST requests; set _METHOD to PUT in the request body to update an existing resource.
                  example: PUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Operation outcome.
                    example: Success
                  statusDescription:
                    type: string
                    description: Human-readable description of the operation outcome.
                    example: Domain zone example.com was created successfully.
                  dnsid:
                    type: integer
                    description: Unique identifier of the newly created DNS zone. Present on success only.
                    example: 42
              examples:
                example-0:
                  summary: Error
                  value:
                    status: Error
                    statusDescription: Domain Already Exists
                example-1:
                  summary: Success
                  value:
                    status: Success
                    statusDescription: Domain zone example.com was created successfully.
                    dnsid: 42

  /dns/{dnsId}/updated:
    get:
      operationId: getDnsZoneUpdatedStatus
      tags: [DNS Zones]
      summary: Get Updated Status
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
              example: 'true'

  /dns/{dnsId}/status:
    post:
      operationId: enableDisableDnsZone
      tags: [DNS Zones]
      summary: Enable/Disable Zone
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: '1: Enable, 0: Disable'
                  example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Operation outcome.
                    example: Success
                  statusDescription:
                    type: string
                    description: Human-readable description of the operation outcome.
                    example: The zone was activated.
              example:
                status: Success
                statusDescription: The zone was activated.

  /dns/{dnsId}:
    post:
      operationId: deleteDnsZone
      tags: [DNS Zones]
      summary: Delete Zone
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                _METHOD:
                  type: string
                  description: HTTP method override for this request. This endpoint accepts POST requests; set _METHOD to DELETE in the request body to delete an existing resource.
                  example: DELETE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Operation outcome.
                    example: Success
                  statusDescription:
                    type: string
                    description: Human-readable description of the operation outcome.
                    example: Domain zone example.com was disabled. Will be fully removed after usage billing.
              example:
                status: Success
                statusDescription: Domain zone example.com was disabled. Will be fully removed after usage billing.

  /dns/{dnsId}/restore:
    get:
      operationId: restoreDnsZone
      tags: [DNS Zones]
      summary: Restore Zone
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Operation outcome.
                    example: Success
                  statusDescription:
                    type: string
                    description: Human-readable description of the operation outcome.
                    example: Zone Restored
              example:
                status: Success
                statusDescription: Zone Restored

  /dns/{dnsId}/statistics:
    get:
      operationId: getDnsZoneStatistics
      tags: [DNS Statistics]
      summary: Get Zone Statistics
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Map of date keys (YYYY-MM-DD) to DNS query counts for that day.
                    additionalProperties:
                      type: integer
                    example:
                      '2026-01-01': 12500
                      '2026-01-02': 9800
                  options:
                    type: object
                    description: Navigation and filter options for the statistics view.
                    properties:
                      months:
                        type: object
                        description: Map of two-digit month number to abbreviated month name.
                        additionalProperties:
                          type: string
                        example:
                          '01': Jan
                          '02': Feb
                      years:
                        type: array
                        description: Array of years for which statistics are available.
                        items:
                          type: string
                        example: ['2026', '2025']
                  message:
                    type: string
                    nullable: true
                    description: Optional informational message accompanying the response.

  /dns/{dnsId}/statistics/last30:
    get:
      operationId: getDnsZoneStatisticsLast30
      tags: [DNS Statistics]
      summary: Get Zone Statistics (Last 30 Days)
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Map of date keys (YYYY-MM-DD) to DNS query counts for the last 30 days.
                    additionalProperties:
                      type: integer
                    example:
                      '2026-01-01': 12500
                      '2026-01-02': 9800
                  options:
                    type: object
                    description: Navigation and filter options for the statistics view.
                    properties:
                      months:
                        type: object
                        description: Map of two-digit month number to abbreviated month name.
                        additionalProperties:
                          type: string
                        example:
                          '01': Jan
                          '02': Feb
                      years:
                        type: array
                        description: Array of years for which statistics are available.
                        items:
                          type: string
                        example: ['2026', '2025']
                  message:
                    type: string
                    nullable: true
                    description: Optional informational message accompanying the response.

  /dns/{dnsId}/statistics/monthly/{year}:
    get:
      operationId: getDnsZoneStatisticsMonthly
      tags: [DNS Statistics]
      summary: Get Zone Statistics (Monthly)
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: year
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Map of two-digit month number keys to total DNS query counts for that month.
                    additionalProperties:
                      type: integer
                    example:
                      '01': 45200
                      '02': 38900
                  options:
                    type: object
                    description: Navigation and filter options for the statistics view.
                    properties:
                      months:
                        type: object
                        description: Map of two-digit month number to abbreviated month name.
                        additionalProperties:
                          type: string
                        example:
                          '01': Jan
                          '02': Feb
                      years:
                        type: array
                        description: Array of years for which statistics are available.
                        items:
                          type: string
                        example: ['2026', '2025']
                  message:
                    type: string
                    nullable: true
                    description: Optional informational message accompanying the response.

  /dns/{dnsId}/statistics/yearly:
    get:
      operationId: getDnsZoneStatisticsYearly
      tags: [DNS Statistics]
      summary: Get Zone Statistics (Yearly)
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Map of year string keys to total DNS query counts for that year.
                    additionalProperties:
                      type: string
                    example:
                      '2026': '520000'
                      '2025': '487000'
                  options:
                    type: object
                    description: Navigation and filter options for the statistics view.
                    properties:
                      months:
                        type: object
                        description: Map of two-digit month number to abbreviated month name.
                        additionalProperties:
                          type: string
                        example:
                          '01': Jan
                          '02': Feb
                      years:
                        type: array
                        description: Array of years for which statistics are available.
                        items:
                          type: string
                        example: ['2026', '2025']
                  message:
                    type: string
                    nullable: true
                    description: Optional informational message accompanying the response.

  /dns/{dnsId}/statistics/daily/{year}/{month}:
    get:
      operationId: getDnsZoneStatisticsDaily
      tags: [DNS Statistics]
      summary: Get Zone Statistics (Daily)
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: year
        in: path
        schema:
          type: string
        required: true
      - name: month
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Map of two-digit day-of-month keys to DNS query counts for that day.
                    additionalProperties:
                      type: integer
                    example:
                      '01': 15200
                      '02': 18400
                  options:
                    type: object
                    description: Navigation and filter options for the statistics view.
                    properties:
                      months:
                        type: object
                        description: Map of two-digit month number to abbreviated month name.
                        additionalProperties:
                          type: string
                        example:
                          '01': Jan
                          '02': Feb
                      years:
                        type: array
                        description: Array of years for which statistics are available.
                        items:
                          type: string
                        example: ['2026', '2025']
                  message:
                    type: string
                    nullable: true
                    description: Optional informational message accompanying the response.

  /dns/{dnsId}/statistics/hourly/{year}/{month}/{day}:
    get:
      operationId: getDnsZoneStatisticsHourly
      tags: [DNS Statistics]
      summary: Get Zone Statistics (Hourly)
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: year
        in: path
        schema:
          type: string
        required: true
      - name: month
        in: path
        schema:
          type: string
        required: true
      - name: day
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Map of two-digit hour-of-day keys (00-23) to DNS query counts for that hour.
                    additionalProperties:
                      type: integer
                    example:
                      '10': 420
                      '11': 385
                  options:
                    type: object
                    description: Navigation and filter options for the statistics view.
                    properties:
                      months:
                        type: object
                        description: Map of two-digit month number to abbreviated month name.
                        additionalProperties:
                          type: string
                        example:
                          '01': Jan
                          '02': Feb
                      years:
                        type: array
                        description: Array of years for which statistics are available.
                        items:
                          type: string
                        example: ['2026', '2025']
                  message:
                    type: string
                    nullable: true
                    description: Optional informational message accompanying the response.

  /dns/{dnsId}/dnssec:
    get:
      operationId: getDnsZoneDnssec
      tags: [DNS Security]
      summary: Get Zone DNSSEC
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Response data payload.
                    properties:
                      status:
                        type: string
                        description: Current status of the zone or record.
                        example: '1'
                      ds:
                        type: array
                        description: Array of DS record strings for DNSSEC delegation.
                        items:
                          type: string
                        example:
                        - "example.com. 3600 IN DS 12345 13 2 a1b2c3d4e5f6789012345678abcdef1234567890abcdef1234567890abcdef12"
                      ds_records:
                        type: array
                        description: Array of parsed DS record objects.
                        items:
                          type: object
                          properties:
                            digest:
                              type: string
                              description: DS record digest hash value.
                              example: a1b2c3d4e5f6789012345678abcdef1234567890abcdef1234567890abcdef12
                            key_tag:
                              type: string
                              description: Key tag value identifying the DNSSEC signing key.
                              example: '12345'
                            algorithm:
                              type: string
                              description: DNSSEC algorithm identifier.
                              example: '13'
                            algorithm_name:
                              type: string
                              description: Human-readable DNSSEC algorithm name.
                              example: ECDSA SHA-256
                            digest_type:
                              type: string
                              description: DS digest type identifier.
                              example: '2'
                            digest_type_name:
                              type: string
                              description: Human-readable DS digest type name.
                              example: SHA-256
                      dnskey:
                        type: array
                        description: Array of DNSKEY record strings for the zone.
                        items:
                          type: string
                        example:
                        - "example.com. 3600 IN DNSKEY 257 3 13 SampleKSKPublicKeyDataForDocumentationPurposesOnlyABC="
                      optout:
                        type: string
                        description: DNSSEC opt-out flag (1 = enabled, 0 = disabled).
                        example: '1'
    post:
      operationId: activateDnsZoneDnssec
      tags: [DNS Security]
      summary: Activate Zone DNSSEC
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: '1: activate, 0: deactivate'
                  example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Operation outcome.
                    example: Success
                  statusDescription:
                    type: string
                    description: Human-readable description of the operation outcome.
                    example: The DNSSEC is activated for your zone. The keys will be generated soon.
              example:
                status: Success
                statusDescription: The DNSSEC is activated for your zone. The keys will be generated soon.

  /dns/{dnsId}/soa:
    get:
      operationId: getDnsZoneSoa
      tags: [DNS Security]
      summary: Get Zone SOA
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: SOA (Start of Authority) record data for the zone.
                    properties:
                      serialNumber:
                        type: string
                        description: SOA serial number used for zone change tracking.
                        example: '2026010100'
                      primaryNS:
                        type: string
                        description: Primary nameserver hostname for the zone.
                        example: ns1.example-dns.com
                      adminMail:
                        type: string
                        description: Administrator email address for the DNS zone.
                        example: admin@example.com
                      refresh:
                        type: string
                        description: Zone refresh interval in seconds.
                        example: '7200'
                      retry:
                        type: string
                        description: Retry interval in seconds after a failed zone refresh.
                        example: '1800'
                      expire:
                        type: string
                        description: Expiry time in seconds for secondary zone data.
                        example: '1209600'
                      defaultTTL:
                        type: string
                        description: Default TTL in seconds for records without an explicit TTL.
                        example: '3600'
              example:
                data:
                  serialNumber: '2026010100'
                  primaryNS: ns1.example-dns.com
                  adminMail: admin@example.com
                  refresh: '7200'
                  retry: '1800'
                  expire: '1209600'
                  defaultTTL: '3600'
    post:
      operationId: updateDnsZoneSoa
      tags: [DNS Security]
      summary: Update Zone SOA
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                primaryNS:
                  type: string
                  description: Primary nameserver for the zone.
                  example: ns1.example-dns.com
                adminMail:
                  type: string
                  description: Administrator email address for the zone.
                  example: admin@example.com
                refresh:
                  type: string
                  description: How often secondary servers check for updates, in seconds.
                  example: '3600'
                retry:
                  type: string
                  description: How long secondary servers wait before retrying a failed refresh, in seconds.
                  example: '1800'
                expire:
                  type: string
                  description: How long secondary servers keep zone data if they cannot reach the primary, in seconds.
                  example: '1209600'
                defaultTTL:
                  type: string
                  description: Default TTL applied to records without an explicit TTL, in seconds.
                  example: '3600'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Operation outcome.
                    example: Success
                  statusDescription:
                    type: string
                    description: Human-readable description of the operation outcome.
                    example: The SOA record was modified successfully.
              example:
                status: Success
                statusDescription: The SOA record was modified successfully.

  /dns/{dnsId}/export:
    get:
      operationId: exportDnsZone
      tags: [DNS Zones]
      summary: Export Zone
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
              example: "$ORIGIN example.com.\n@ 3600 IN SOA ns1.example-dns.com. admin.example.com. 2026010100 7200 1800 1209600 3600\n@ 3600 IN NS ns1.example-dns.com.\n@ 3600 IN NS ns2.example-dns.com.\n@ 3600 IN A 192.0.2.1\nwww 300 IN CNAME cdn.example.com.\n"

  /dns/{dnsId}/import:
    post:
      operationId: importDnsZone
      tags: [DNS Zones]
      summary: Import Zone
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                format:
                  type: string
                  description: Import file format. bind or tinydns.
                  example: bind
                file:
                  type: string
                  format: binary
                  description: "Zone file to import. Must be a plain-text file with .txt extension."
                  example: zone.txt
                delete-existing-records:
                  type: string
                  description: "Whether to delete all existing DNS records before importing. '0' = keep existing records. '1' = delete all records before import."
                  enum: ['0', '1']
                  example: '1'
                record-types:
                  type: string
                  description: "DNS record types to import as a comma-separated lowercase string. Leave empty to import all types."
                  example: "a,aaaa,mx,cname,txt"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Operation outcome.
                    example: Success
                  statusDescription:
                    type: string
                    description: Human-readable description of the operation outcome.
                    example: The records of example.com were added successfully.
              example:
                status: Success
                statusDescription: The records of example.com were added successfully.

  /dns/{dnsId}/mail:
    get:
      operationId: getMailForwards
      tags: [Mail Forwards]
      summary: Get Mail Forwards
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Response data payload.
                    properties:
                      '1233111':
                        type: object
                        properties:
                          id:
                            type: string
                            description: Unique identifier.
                            example: '12345'
                          domain:
                            type: string
                            description: Domain name configured in the DNS zone.
                            example: example.com
                          source:
                            type: string
                            description: Source email address for this mail forward rule.
                            example: info@example.com
                          destination:
                            type: string
                            description: Destination email address that mail is forwarded to.
                            example: user@example.com
                          status:
                            type: string
                            description: Current status of the zone or record.
                            example: '1'
    put:
      operationId: addMailForward
      tags: [Mail Forwards]
      summary: Add Mail Forward
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                box:
                  type: string
                  description: Email username or mailbox name to forward from.
                  example: admin
                host:
                  type: string
                  description: Subdomain part of the source address. Leave empty for the root domain.
                  example: www
                destination:
                  type: string
                  description: Destination email address to forward messages to.
                  example: noreply@gmail.com
                _METHOD:
                  type: string
                  description: HTTP method override for this request. This endpoint accepts POST requests; set _METHOD to PUT in the request body to update an existing resource.
                  example: PUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Operation outcome.
                    example: Success
                  statusDescription:
                    type: string
                    description: Human-readable description of the operation outcome.
                    example: The mail forward has been added successfully.
                  data:
                    type: object
                    description: Response data payload.
                    properties:
                      id:
                        type: integer
                        description: Unique identifier of the created mail forward rule.
                        example: 12345
              example:
                status: Success
                statusDescription: The mail forward has been added successfully.
                data:
                  id: 12345
    post:
      operationId: updateMailForward
      tags: [Mail Forwards]
      summary: Update Mail Forward
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                box:
                  type: string
                  description: Email username or mailbox name to forward from.
                  example: admin
                host:
                  type: string
                  description: Subdomain part of the source address. Leave empty for the root domain.
                  example: www
                destination:
                  type: string
                  description: Destination email address to forward messages to.
                  example: noreply@gmail.com
                mail-forward-id:
                  type: string
                  description: ID of the mail forward record to update.
                  example: '42'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Operation outcome.
                    example: Success
                  statusDescription:
                    type: string
                    description: Human-readable description of the operation outcome.
                    example: The mail forward has been edited successfully.
              example:
                status: Success
                statusDescription: The mail forward has been edited successfully.
    delete:
      operationId: deleteMailForward
      tags: [Mail Forwards]
      summary: Delete Mail Forward
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - _METHOD
              - mail-forward-id
              properties:
                _METHOD:
                  type: string
                  description: HTTP method override for this request. This endpoint accepts POST requests; set _METHOD to DELETE in the request body to delete an existing resource.
                  enum: [DELETE]
                  example: DELETE
                mail-forward-id:
                  type: string
                  description: ID of the mail forward record to delete.
                  example: '123'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Operation outcome.
                    example: Success
                  statusDescription:
                    type: string
                    description: Human-readable description of the operation outcome.
                    example: The mail forward has been deleted successfully.
              example:
                status: Success
                statusDescription: The mail forward has been deleted successfully.

  /dns/{dnsId}/records:
    get:
      operationId: getDnsRecords
      tags: [DNS Records]
      summary: Get Records
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
        example: 10
      - name: page
        in: query
        schema:
          type: integer
        example: 1
      - name: host
        in: query
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  domain:
                    type: object
                    description: Domain name configured in the DNS zone.
                    example: example.com
                    properties:
                      id:
                        type: integer
                        description: Unique identifier.
                        example: 558
                      serviceid:
                        type: integer
                        description: Service account identifier.
                        example: 103
                      domain:
                        type: string
                        description: Domain name configured in the DNS zone.
                        example: example.com
                  pageMax:
                    type: array
                    description: Total number of pages available for the records listing.
                    items: {}
                  records:
                    type: array
                    description: Total number of DNS records configured in this zone.
                    example: 16
                    items: {}
    post:
      operationId: addDnsRecord
      tags: [DNS Records]
      summary: Add Record
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [_METHOD, type, ttl, host, record]
              properties:
                _METHOD:
                  type: string
                  description: HTTP method override for this request. This endpoint accepts POST requests; set _METHOD to PUT in the request body to update an existing resource.
                  example: PUT
                type:
                  type: string
                  description: DNS record type. A, AAAA, MX, CNAME, TXT, NS, SRV, WR, RP, SSHFP, ALIAS, CAA, TLSA, CERT, DS, NAPTR, PTR, HINFO, LOC, SMIMEA.
                  example: A
                ttl:
                  type: integer
                  description: "Time to live in seconds. Common values: 60, 300, 3600, 86400."
                  example: 3600
                host:
                  type: string
                  description: Hostname or subdomain. Use @ for the root domain.
                  example: www
                record:
                  type: string
                  description: Record value. IP address for A/AAAA, hostname for CNAME/MX/NS, text for TXT.
                  example: 8.8.8.8
                priority:
                  type: string
                  description: Priority for MX or SRV records. Lower value means higher priority.
                  example: '10'
                weight:
                  type: string
                  description: Weight for SRV records. Used to balance load between equal-priority servers.
                  example: '10'
                port:
                  type: string
                  description: Port number for SRV records.
                  example: '443'
                frame:
                  type: string
                  description: Enable iframe redirect for WR records. Y means enabled, N means disabled.
                  example: 'N'
                frame_title:
                  type: string
                  description: HTML page title shown when using iframe redirect.
                  example: My Site
                frame_keywords:
                  type: string
                  description: HTML meta keywords for iframe redirect page.
                  example: cdn, streaming
                frame_description:
                  type: string
                  description: HTML meta description for iframe redirect page.
                  example: My CDN site
                mobile_meta:
                  type: string
                  description: Add a mobile viewport meta tag. Y means enabled, N means disabled.
                  example: 'N'
                save_path:
                  type: string
                  description: Preserve the request path when redirecting. Y means enabled, N means disabled.
                  example: 'N'
                redirect_type:
                  type: string
                  description: HTTP redirect type. 301 means permanent, 302 means temporary.
                  example: '301'
                mail:
                  type: string
                  description: Mail server hostname for MX records.
                  example: mail.example.com
                txt:
                  type: string
                  description: TXT record content string.
                  example: v=spf1 include:example.com ~all
                algorithm:
                  type: string
                  description: "Algorithm identifier. For SSHFP records: 1=RSA, 2=DSA, 3=ECDSA, 4=Ed25519. For DS/CERT records: 2=DH, 3=DSA/SHA1, 4=ECC, 5=RSASHA1, 6=DSA-NSEC3-SHA1, 7=RSASHA1-NSEC3-SHA1, 8=RSASHA256, 10=RSASHA512, 13=ECDSAP256SHA256, 14=ECDSAP384SHA384, 15=Ed25519, 16=Ed448, 252=INDIRECT, 253=PRIVATEDNS, 254=PRIVATEOID."
                  example: '13'
                fptype:
                  type: string
                  description: Fingerprint hash type for SSHFP records. 1 means SHA-1, 2 means SHA-256.
                  example: '2'
                status:
                  type: string
                  description: Record status on creation. 1 means active, 0 means inactive.
                  example: '1'
                caa_flag:
                  type: string
                  description: "CAA record flag controlling certificate authority enforcement. 0 = Non-critical. 28 = Critical."
                  enum: ['0', '28']
                  example: '0'
                caa_type:
                  type: string
                  description: "CAA property tag. Values: issue, issuewild, iodef."
                  example: issue
                caa_value:
                  type: string
                  description: CAA record value. CA domain name or mailto/http URL for iodef.
                  example: letsencrypt.org
                tlsa_usage:
                  type: string
                  description: TLSA certificate usage. 0=PKIX-TA, 1=PKIX-EE, 2=DANE-TA, 3=DANE-EE.
                  example: '3'
                tlsa_selector:
                  type: string
                  description: TLSA selector. 0 means full certificate, 1 means public key only.
                  example: '1'
                tlsa_matching_type:
                  type: string
                  description: TLSA matching type. 0 means full data, 1 means SHA-256, 2 means SHA-512.
                  example: '1'
                key_tag:
                  type: string
                  description: Key tag for DS records. Identifies the referenced DNSKEY record.
                  example: '12345'
                digest_type:
                  type: string
                  description: "DS record digest algorithm. 1 = SHA-1. 2 = SHA-256. 3 = GOST R 34.11-94. 4 = SHA-384."
                  enum: ['1', '2', '3', '4']
                  example: '2'
                order:
                  type: string
                  description: Processing order for NAPTR records. Lower value is processed first.
                  example: '10'
                pref:
                  type: string
                  description: Preference for NAPTR records with equal order. Lower value is preferred.
                  example: '10'
                flag:
                  type: string
                  description: "Flag for NAPTR records. 'Empty Flag' = no replacement (pass to next rule). U = terminal URI. S = terminal SRV lookup. A = terminal A/AAAA lookup. P = provider-specific."
                  enum: ['Empty Flag', U, S, A, P]
                  example: U
                params:
                  type: string
                  description: Service parameters for NAPTR records.
                  example: SIP+D2U
                regexp:
                  type: string
                  description: Regular expression substitution for NAPTR records.
                  example: ''
                replace:
                  type: string
                  description: Replacement FQDN for NAPTR records.
                  example: _sip._udp.example.com
                cert_type:
                  type: string
                  description: "CERT record certificate type. 1=PKIX, 2=SPKI, 3=PGP, 4=IPKIX, 5=ISPKI, 6=IPGP, 7=ACPKIX, 8=IACPKIX, 253=URI, 254=OID."
                  example: '1'
                cert_key_tag:
                  type: string
                  description: Key tag for CERT records.
                  example: '0'
                cert_algorithm:
                  type: string
                  description: "CERT record cryptographic algorithm. 2=DH, 3=DSA/SHA1, 4=ECC, 5=RSASHA1, 6=DSA-NSEC3-SHA1, 7=RSASHA1-NSEC3-SHA1, 8=RSASHA256, 10=RSASHA512, 13=ECDSAP256SHA256, 14=ECDSAP384SHA384, 15=Ed25519, 16=Ed448, 252=INDIRECT, 253=PRIVATEDNS, 254=PRIVATEOID."
                  example: '13'
                cpu:
                  type: string
                  description: CPU type identifier for HINFO records.
                  example: Intel
                os:
                  type: string
                  description: Operating system identifier for HINFO records.
                  example: Linux
                lat_deg:
                  type: string
                  description: Latitude degrees for LOC records. Range 0-90.
                  example: '37'
                lat_min:
                  type: string
                  description: Latitude minutes for LOC records. Range 0-59.
                  example: '46'
                lat_sec:
                  type: string
                  description: Latitude seconds for LOC records. Range 0-59.999.
                  example: '29'
                lat_dir:
                  type: string
                  description: Latitude direction for LOC records. N or S.
                  example: N
                long_deg:
                  type: string
                  description: Longitude degrees for LOC records. Range 0-180.
                  example: '122'
                long_min:
                  type: string
                  description: Longitude minutes for LOC records. Range 0-59.
                  example: '25'
                long_sec:
                  type: string
                  description: Longitude seconds for LOC records. Range 0-59.999.
                  example: '9'
                long_dir:
                  type: string
                  description: Longitude direction for LOC records. E or W.
                  example: W
                altitude:
                  type: string
                  description: Altitude in metres for LOC records.
                  example: '0'
                size:
                  type: string
                  description: Size of the location in metres for LOC records.
                  example: '1'
                h_precision:
                  type: string
                  description: Horizontal precision in metres for LOC records.
                  example: '10000'
                v_precision:
                  type: string
                  description: Vertical precision in metres for LOC records.
                  example: '10'
                smimea_usage:
                  type: string
                  description: S/MIME certificate usage. 0=PKIX-TA, 1=PKIX-EE, 2=DANE-TA, 3=DANE-EE.
                  example: '3'
                smimea_selector:
                  type: string
                  description: S/MIME selector. 0 means full certificate, 1 means public key only.
                  example: '0'
                smimea_matching_type:
                  type: string
                  description: S/MIME matching type. 0 means full data, 1 means SHA-256, 2 means SHA-512.
                  example: '1'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Operation outcome.
                    example: Success
                  statusDescription:
                    type: string
                    description: Human-readable description of the operation outcome.
                    example: The record was added successfully.
                  data:
                    type: object
                    description: Response data payload.
                    properties:
                      id:
                        type: integer
                        description: Unique identifier of the created DNS record.
                        example: 12345
              example:
                status: Success
                statusDescription: The record was added successfully.
                data:
                  id: 12345

  /dns/{dnsId}/records/{recordid}:
    post:
      operationId: updateDnsRecord
      tags: [DNS Records]
      summary: Update Record
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: recordid
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [ttl, host, record]
              properties:
                type:
                  type: string
                  description: DNS record type. A, AAAA, MX, CNAME, TXT, NS, SRV, and others.
                  example: A
                ttl:
                  type: integer
                  description: "Time to live in seconds. Common values: 60, 300, 3600, 86400."
                  example: 3600
                host:
                  type: string
                  description: Hostname or subdomain. Use @ for the root domain.
                  example: www
                record:
                  type: string
                  description: Record value. IP address for A/AAAA, hostname for CNAME/MX/NS, text for TXT.
                  example: 8.8.8.8
                priority:
                  type: string
                  description: Priority for MX or SRV records. Lower value means higher priority.
                  example: '10'
                weight:
                  type: string
                  description: Weight for SRV records. Used to balance load between equal-priority servers.
                  example: '10'
                port:
                  type: string
                  description: Port number for SRV records.
                  example: '443'
                frame:
                  type: string
                  description: Enable iframe redirect for WR records. Y means enabled, N means disabled.
                  example: 'N'
                frame_title:
                  type: string
                  description: HTML page title shown when using iframe redirect.
                  example: My Site
                frame_keywords:
                  type: string
                  description: HTML meta keywords for iframe redirect page.
                  example: cdn, streaming
                frame_description:
                  type: string
                  description: HTML meta description for iframe redirect page.
                  example: My CDN site
                mobile_meta:
                  type: string
                  description: Add a mobile viewport meta tag. Y means enabled, N means disabled.
                  example: 'N'
                save_path:
                  type: string
                  description: Preserve the request path when redirecting. Y means enabled, N means disabled.
                  example: 'N'
                redirect_type:
                  type: string
                  description: HTTP redirect type. 301 means permanent, 302 means temporary.
                  example: '301'
                mail:
                  type: string
                  description: Mail server hostname for MX records.
                  example: mail.example.com
                txt:
                  type: string
                  description: TXT record content string.
                  example: v=spf1 include:example.com ~all
                algorithm:
                  type: string
                  description: "Algorithm identifier. For SSHFP records: 1=RSA, 2=DSA, 3=ECDSA, 4=Ed25519. For DS/CERT records: 2=DH, 3=DSA/SHA1, 4=ECC, 5=RSASHA1, 6=DSA-NSEC3-SHA1, 7=RSASHA1-NSEC3-SHA1, 8=RSASHA256, 10=RSASHA512, 13=ECDSAP256SHA256, 14=ECDSAP384SHA384, 15=Ed25519, 16=Ed448, 252=INDIRECT, 253=PRIVATEDNS, 254=PRIVATEOID."
                  example: '13'
                fptype:
                  type: string
                  description: Fingerprint hash type for SSHFP records. 1 means SHA-1, 2 means SHA-256.
                  example: '2'
                status:
                  type: string
                  description: Record status. 1 means active, 0 means inactive.
                  example: '1'
                caa_flag:
                  type: string
                  description: "CAA record flag controlling certificate authority enforcement. 0 = Non-critical. 28 = Critical."
                  enum: ['0', '28']
                  example: '0'
                caa_type:
                  type: string
                  description: "CAA property tag. Values: issue, issuewild, iodef."
                  example: issue
                caa_value:
                  type: string
                  description: CAA record value. CA domain name or mailto/http URL for iodef.
                  example: letsencrypt.org
                tlsa_usage:
                  type: string
                  description: TLSA certificate usage. 0=PKIX-TA, 1=PKIX-EE, 2=DANE-TA, 3=DANE-EE.
                  example: '3'
                tlsa_selector:
                  type: string
                  description: TLSA selector. 0 means full certificate, 1 means public key only.
                  example: '1'
                tlsa_matching_type:
                  type: string
                  description: TLSA matching type. 0 means full data, 1 means SHA-256, 2 means SHA-512.
                  example: '1'
                key_tag:
                  type: string
                  description: Key tag for DS records. Identifies the referenced DNSKEY record.
                  example: '12345'
                digest_type:
                  type: string
                  description: "DS record digest algorithm. 1 = SHA-1. 2 = SHA-256. 3 = GOST R 34.11-94. 4 = SHA-384."
                  enum: ['1', '2', '3', '4']
                  example: '2'
                order:
                  type: string
                  description: Processing order for NAPTR records. Lower value is processed first.
                  example: '10'
                pref:
                  type: string
                  description: Preference for NAPTR records with equal order. Lower value is preferred.
                  example: '10'
                flag:
                  type: string
                  description: "Flag for NAPTR records. 'Empty Flag' = no replacement (pass to next rule). U = terminal URI. S = terminal SRV lookup. A = terminal A/AAAA lookup. P = provider-specific."
                  enum: ['Empty Flag', U, S, A, P]
                  example: U
                params:
                  type: string
                  description: Service parameters for NAPTR records.
                  example: SIP+D2U
                regexp:
                  type: string
                  description: Regular expression substitution for NAPTR records.
                  example: ''
                replace:
                  type: string
                  description: Replacement FQDN for NAPTR records.
                  example: _sip._udp.example.com
                cert_type:
                  type: string
                  description: "CERT record certificate type. 1=PKIX, 2=SPKI, 3=PGP, 4=IPKIX, 5=ISPKI, 6=IPGP, 7=ACPKIX, 8=IACPKIX, 253=URI, 254=OID."
                  example: '1'
                cert_key_tag:
                  type: string
                  description: Key tag for CERT records.
                  example: '0'
                cert_algorithm:
                  type: string
                  description: "CERT record cryptographic algorithm. 2=DH, 3=DSA/SHA1, 4=ECC, 5=RSASHA1, 6=DSA-NSEC3-SHA1, 7=RSASHA1-NSEC3-SHA1, 8=RSASHA256, 10=RSASHA512, 13=ECDSAP256SHA256, 14=ECDSAP384SHA384, 15=Ed25519, 16=Ed448, 252=INDIRECT, 253=PRIVATEDNS, 254=PRIVATEOID."
                  example: '13'
                cpu:
                  type: string
                  description: CPU type identifier for HINFO records.
                  example: Intel
                os:
                  type: string
                  description: Operating system identifier for HINFO records.
                  example: Linux
                lat_deg:
                  type: string
                  description: Latitude degrees for LOC records. Range 0-90.
                  example: '37'
                lat_min:
                  type: string
                  description: Latitude minutes for LOC records. Range 0-59.
                  example: '46'
                lat_sec:
                  type: string
                  description: Latitude seconds for LOC records. Range 0-59.999.
                  example: '29'
                lat_dir:
                  type: string
                  description: Latitude direction for LOC records. N or S.
                  example: N
                long_deg:
                  type: string
                  description: Longitude degrees for LOC records. Range 0-180.
                  example: '122'
                long_min:
                  type: string
                  description: Longitude minutes for LOC records. Range 0-59.
                  example: '25'
                long_sec:
                  type: string
                  description: Longitude seconds for LOC records. Range 0-59.999.
                  example: '9'
                long_dir:
                  type: string
                  description: Longitude direction for LOC records. E or W.
                  example: W
                altitude:
                  type: string
                  description: Altitude in metres for LOC records.
                  example: '0'
                size:
                  type: string
                  description: Size of the location in metres for LOC records.
                  example: '1'
                h_precision:
                  type: string
                  description: Horizontal precision in metres for LOC records.
                  example: '10000'
                v_precision:
                  type: string
                  description: Vertical precision in metres for LOC records.
                  example: '10'
                smimea_usage:
                  type: string
                  description: S/MIME certificate usage. 0=PKIX-TA, 1=PKIX-EE, 2=DANE-TA, 3=DANE-EE.
                  example: '3'
                smimea_selector:
                  type: string
                  description: S/MIME selector. 0 means full certificate, 1 means public key only.
                  example: '0'
                smimea_matching_type:
                  type: string
                  description: S/MIME matching type. 0 means full data, 1 means SHA-256, 2 means SHA-512.
                  example: '1'
                note:
                  type: string
                  description: Optional free-text note or comment attached to this DNS record.
                  example: My primary web server A record
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Operation outcome.
                    example: Success
                  statusDescription:
                    type: string
                    description: Human-readable description of the operation outcome.
                    example: The record was updated successfully.
                  data:
                    type: object
                    description: Response data payload.
                    properties:
                      id:
                        type: integer
                        description: Unique identifier of the updated DNS record.
                        example: 12345
              example:
                status: Success
                statusDescription: The record was updated successfully.
                data:
                  id: 12345
    delete:
      operationId: deleteDnsRecord
      tags: [DNS Records]
      summary: Delete Record
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: recordid
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Operation outcome.
                    example: Success
                  statusDescription:
                    type: string
                    description: Human-readable description of the operation outcome.
                    example: The record was deleted successfully.
              example:
                status: Success
                statusDescription: The record was deleted successfully.

  /dns/{dnsId}/records/{recordid}/status:
    post:
      operationId: enableDisableDnsRecord
      tags: [DNS Records]
      summary: Enable/Disable Record
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: recordid
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: '1: Enable the record, 0: Disable the record'
                  example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Operation outcome.
                    example: Success
                  statusDescription:
                    type: string
                    description: Human-readable description of the operation outcome.
                    example: Record deactivated
              example:
                status: Success
                statusDescription: Record deactivated

  /dns/{dnsId}/records/{recordid}/proxy:
    post:
      operationId: proxyDnsRecord
      tags: [DNS Records]
      summary: Proxy Record
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: recordid
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                mode:
                  type: string
                  description: Proxy mode. http means enable proxy, disabled means turn it off.
                  example: http
                optimize:
                  type: string
                  description: Performance optimization setting for the proxy.
                  example: http
                ssl:
                  type: string
                  description: "SSL termination mode for CDN proxy to origin. N = HTTP (no SSL). S = HTTPS strict. F = Full SSL strict."
                  enum: [N, S, F]
                  example: N
                cache:
                  type: string
                  description: Cache duration for proxied responses.
                  example: 1d
                expiry:
                  type: string
                  description: "Cache expiry/max-age duration for CDN content. N = no caching."
                  enum: [N, 1h, 2h, 4h, 8h, 12h, 1d, 2d, 3d, 4d, 5d, 6d, 7d]
                  example: 1d
                cachecontrol:
                  type: string
                  description: Respect Cache-Control headers from origin. Y means enabled.
                  example: 'Y'
                usestale:
                  type: string
                  description: Serve stale cache while revalidating in the background. Y means enabled.
                  example: 'Y'
                revalidate:
                  type: string
                  description: Revalidate cached content with the origin server. Y means enabled.
                  example: 'Y'
                querystring:
                  type: string
                  description: "Controls whether query string parameters are forwarded to the origin. Y = pass through. N = strip at edge."
                  enum: [Y, N]
                  example: N
                scheme:
                  type: string
                  description: Protocol to use when connecting to the origin server. http or https.
                  example: http
                port:
                  type: string
                  description: Origin server port number for CDN proxy.
                  example: '80'
                status:
                  type: integer
                  description: Enable or disable the proxy. 1 means enabled, 0 means disabled.
                  example: 1
                type:
                  type: string
                  description: DNS record type being proxied.
                  example: A
                host:
                  type: string
                  description: Hostname or subdomain for the proxied record.
                  example: www
                record:
                  type: number
                  description: IP address of the origin server.
                  example: 1.1.1.1
                ttl:
                  type: integer
                  description: Time to live in seconds for the DNS record.
                  example: 60
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Operation outcome.
                    example: Success
                  statusDescription:
                    type: string
                    description: Human-readable description of the operation outcome.
                    example: CDN Proxy enabled successfully.
              example:
                status: Success
                statusDescription: CDN Proxy enabled successfully.

  /dns/{dnsId}/records/{recordid}/dynamicurl:
    get:
      operationId: getDnsRecordDynamicUrl
      tags: [DNS Records]
      summary: Get/Activate Record DynamicURL
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: recordid
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  host:
                    type: string
                    description: Hostname of the A or AAAA record for which the DynamicURL was activated.
                    example: dynamic.example.com
                  url:
                    type: string
                    description: Dynamic URL endpoint used to update the DNS record IP address.
                    example: "https://api.example.com/dynamicURL/?q=sample-dynamic-token"
                  status:
                    type: string
                    description: Operation outcome on error.
                    example: Failed
                  statusDescription:
                    type: string
                    description: Human-readable description of the error outcome.
                    example: The DynamicURL is only for A and AAAA record types.
              examples:
                example-0:
                  summary: Error
                  value:
                    status: Failed
                    statusDescription: The DynamicURL is only for A and AAAA record types.
                example-1:
                  summary: Success
                  value:
                    host: dynamic.example.com
                    url: "https://api.example.com/dynamicURL/?q=sample-dynamic-token"
    post:
      operationId: deleteDnsRecordDynamicUrl
      tags: [DNS Records]
      summary: Delete/Disable Record DynamicURL
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: recordid
        in: path
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                _METHOD:
                  type: string
                  description: HTTP method override for this request. This endpoint accepts POST requests; set _METHOD to DELETE in the request body to delete an existing resource.
                  example: DELETE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Operation outcome.
                    example: Success
                  statusDescription:
                    type: string
                    description: Human-readable description of the operation outcome.
                    example: The DynamicURL of dynamic.example.com was deactivated.
              example:
                status: Success
                statusDescription: The DynamicURL of dynamic.example.com was deactivated.