openapi: 3.0.0
info:
  title: 5centsCDN - SimpleDNS
  description: API for managing SimpleDNS
  version: 2.0.0
  contact:
    email: help@5centscdn.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.5centscdn.com/v2
  description: 5centsCDN API Server - Production
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
security:
- apikeyAuth: []
paths:
  /dns:
    get:
      tags:
      - default
      summary: List Zones
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                result: success
                domains:
                - id: 1
                  serviceid: 103
                  domain: 5centscdn.dev
                  meta:
                    name: 5centscdn.dev
                    type: master
                    hasBulk: false
                    zone: domain
                    status: '1'
                    serial: '2022040401'
                    isUpdated: 0
                  soa:
                    serialNumber: '2022040401'
                    primaryNS: pns31.5centscdn.com
                    adminMail: support@5centscdn.com
                    refresh: '7200'
                    retry: '1800'
                    expire: '1209600'
                    defaultTTL: '3600'
                  dnssec:
                    status: '1'
                    ds:
                    - 5centscdn.dev. 3600 IN DS 55409 13 2 455B1F2D3A48680339C44740F9C1653B08288733F17E825CE43D2F19E2EE4F00
                    ds_records:
                    - digest: 455B1F2D3A48680339C44740F9C1653B08288733F17E825CE43D2F19E2EE4F00
                      key_tag: '55409'
                      algorithm: '13'
                      algorithm_name: ECDSA SHA-256
                      digest_type: '2'
                      digest_type_name: SHA-256
                    dnskey:
                    - 5centscdn.dev. 3600 IN DNSKEY 257 3 13 tBz7JTvOZiTIHO8tVrDDrCpfxJZHlagtGCnLvAxwSDV8XMIP2QaPcKP1+FjMc6kyR5nRwKOLtz+l6AnRwB/9ag==
                    - 5centscdn.dev. 3600 IN DNSKEY 256 3 13 YHo/N5SC5e8MeU/lI8iT6HaELYacoaNGO4u8FjhS9/hRNB6KdvFIDB+ovT8ipwY1U414RKfmXtciYYnzjrIU7w==
                  created_at: '2021-11-02 16:03:13'
                  updated_at: '2022-04-23 17:40:48'
                  validated_at: '2022-04-23 17:40:48'
                  deleted: null
                  proxied:
                    '245212141': 248085168
                    '245216573': 245711035
                    '245710802': 245715024
                    '250238299': 250353583
                    '250353636': 250353651
                    '258288550': 258288623
                  linkedZones:
                    '258288550':
                      id: 3061
                      mode: http
                  nameservers:
                  - pns31.5centscdn.com
                  - pns32.5centscdn.com
                  - pns33.5centscdn.com
                  - pns34.5centscdn.com
                - id: 91
                  serviceid: 103
                  domain: 5centscdn.dev
                  meta:
                    name: 5centscdn.dev
                    type: master
                    hasBulk: false
                    zone: domain
                    status: '0'
                    serial: '2022042307'
                    isUpdated: 0
                  soa:
                    serialNumber: '2022042307'
                    primaryNS: pns31.5centscdn.com
                    adminMail: support@5centscdn.com
                    refresh: '7200'
                    retry: '1800'
                    expire: '1209600'
                    defaultTTL: '3600'
                  dnssec:
                    status: '1'
                    ds:
                    - 5centscdn.dev. 3600 IN DS 21444 13 2 F9DF2409C400ED44D0793DEE0C26DD3BBF28899A713B483021709F695FAFC304
                    ds_records:
                    - digest: F9DF2409C400ED44D0793DEE0C26DD3BBF28899A713B483021709F695FAFC304
                      key_tag: '21444'
                      algorithm: '13'
                      algorithm_name: ECDSA SHA-256
                      digest_type: '2'
                      digest_type_name: SHA-256
                    dnskey:
                    - 5centscdn.dev. 3600 IN DNSKEY 257 3 13 LGTOfyo/WIGD5xonr2Qz7jVHjEM1Jrv3EYPZx9R9b4LlC3yTu3yNZFNCi29wiGfoXlnXh/5kINUZjeEBr90NkQ==
                    - 5centscdn.dev. 3600 IN DNSKEY 256 3 13 0PCBUj0Q2K8cEMjudGSxVXe1ohH3dhM9JuhRSLddsK/MZWBY483ZrM1dsAgPNQFQoNwfBXXlpdelChwBfn+rbw==
                  created_at: '2022-04-23 14:56:11'
                  updated_at: '2022-04-23 15:19:48'
                  validated_at: null
                  deleted: null
                  proxied: []
                  linkedZones:
                    '258288550':
                      id: 3061
                      mode: http
                  nameservers:
                  - pns31.5centscdn.com
                  - pns32.5centscdn.com
                  - pns33.5centscdn.com
                  - pns34.5centscdn.com
                - id: 92
                  serviceid: 103
                  domain: yourdomainexample.com
                  meta:
                    name: yourdomainexample.com
                    type: master
                    hasBulk: false
                    zone: domain
                    status: '1'
                    serial: '2022042307'
                    isUpdated: 1
                  soa:
                    serialNumber: '2022042307'
                    primaryNS: pns31.5centscdn.com
                    adminMail: support@5centscdn.com
                    refresh: '7200'
                    retry: '1800'
                    expire: '1209600'
                    defaultTTL: '3600'
                  dnssec: null
                  created_at: '2022-04-23 14:57:09'
                  updated_at: '2022-04-23 17:05:00'
                  validated_at: null
                  deleted: null
                  proxied: []
                  linkedZones:
                    '258288550':
                      id: 3061
                      mode: http
                  nameservers:
                  - pns31.5centscdn.com
                  - pns32.5centscdn.com
                  - pns33.5centscdn.com
                  - pns34.5centscdn.com
                nameservers:
                - pns31.5centscdn.com
                - pns32.5centscdn.com
                - pns33.5centscdn.com
                - pns34.5centscdn.com
    post:
      tags:
      - default
      summary: Create Zones
      requestBody:
        content:
          application/json:
            schema:
              properties:
                domain:
                  type: string
                  description: New DNS Domain
                  example: testdomain.com
                _METHOD:
                  type: string
                  description: masking post -> put request
                  example: PUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: Error
                  value:
                    status: Error
                    statusDescription: Domain Already Exists
                example-1:
                  summary: Success
                  value:
                    status: Success
                    statusDescription: Domain zone vivek.com was created successfully.
                    dnsid: 93
  /dns/{dnsId}/updated:
    get:
      tags:
      - default
      summary: Get UpdatedStatus
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
              example: 'true'
  /dns/{dnsId}/status:
    post:
      tags:
      - default
      summary: Enable/Disable Zone
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: '1: Enable, 0: Disable'
                  example: '1'
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: Success
                statusDescription: The zone was activated!
  /dns/{dnsId}:
    post:
      tags:
      - default
      summary: Delete Zone
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                _METHOD:
                  type: string
                  description: casting post -> delete
                  example: delete
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: Success
                statusDescription: Domain zone vivek.com was disabled. Will be fully
                  removed after usage billing.
  /dns/{dnsId}/restore:
    get:
      tags:
      - default
      summary: Restore Zone
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: Success
                statusDescription: Zone Restored
  /dns/{dnsId}/statistics:
    get:
      tags:
      - default
      summary: Get Zone Statistics
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  '2022-03-25': 2339
                  '2022-03-26': 2147
                  '2022-03-27': 1750
                  '2022-03-28': 2031
                  '2022-03-29': 2339
                  '2022-03-30': 2486
                  '2022-03-31': 1517
                  '2022-04-01': 1572
                  '2022-04-02': 1876
                  '2022-04-03': 2120
                  '2022-04-04': 2686
                  '2022-04-05': 1161
                  '2022-04-06': 769
                  '2022-04-07': 824
                  '2022-04-08': 777
                  '2022-04-09': 1013
                  '2022-04-10': 966
                  '2022-04-11': 886
                  '2022-04-12': 709
                  '2022-04-13': 676
                  '2022-04-14': 672
                  '2022-04-15': 685
                  '2022-04-16': 985
                  '2022-04-17': 906
                  '2022-04-18': 794
                  '2022-04-19': 701
                  '2022-04-20': 690
                  '2022-04-21': 671
                  '2022-04-22': 685
                  '2022-04-23': 193
                options:
                  months:
                    '0': '-'
                    '01': Jan
                    '02': Feb
                    '03': Mar
                    '04': Apr
                  hourly:
                    till: '2022-03-24'
                  years:
                  - '2022'
                  - '2021'
                message: null
  /dns/{dnsId}/statistics/last30:
    get:
      tags:
      - default
      summary: Get Zone Statistics (Last 30 Days)
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  '2022-03-25': 2339
                  '2022-03-26': 2147
                  '2022-03-27': 1750
                  '2022-03-28': 2031
                  '2022-03-29': 2339
                  '2022-03-30': 2486
                  '2022-03-31': 1517
                  '2022-04-01': 1572
                  '2022-04-02': 1876
                  '2022-04-03': 2120
                  '2022-04-04': 2686
                  '2022-04-05': 1161
                  '2022-04-06': 769
                  '2022-04-07': 824
                  '2022-04-08': 777
                  '2022-04-09': 1013
                  '2022-04-10': 966
                  '2022-04-11': 886
                  '2022-04-12': 709
                  '2022-04-13': 676
                  '2022-04-14': 672
                  '2022-04-15': 685
                  '2022-04-16': 985
                  '2022-04-17': 906
                  '2022-04-18': 794
                  '2022-04-19': 701
                  '2022-04-20': 690
                  '2022-04-21': 671
                  '2022-04-22': 685
                  '2022-04-23': 193
                options:
                  months:
                    '0': '-'
                    '01': Jan
                    '02': Feb
                    '03': Mar
                    '04': Apr
                  hourly:
                    till: '2022-03-24'
                  years:
                  - '2022'
                  - '2021'
                message: null
  /dns/{dnsId}/statistics/monthly/{year}:
    get:
      tags:
      - default
      summary: Get Zone Statistics (Monthly)
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: year
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  '01': 0
                  '02': 0
                  '03': 53854
                  '04': 23017
                options:
                  months:
                    '0': '-'
                    '01': Jan
                    '02': Feb
                    '03': Mar
                    '04': Apr
                  hourly:
                    till: '2022-03-24'
                  years:
                  - '2022'
                  - '2021'
                message: null
  /dns/{dnsId}/statistics/yearly:
    get:
      tags:
      - default
      summary: Get Zone Statistics (Yearly)
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  '2022': '76871'
                options:
                  months:
                    '0': '-'
                    '01': Jan
                    '02': Feb
                    '03': Mar
                    '04': Apr
                  hourly:
                    till: '2022-03-24'
                  years:
                  - '2022'
                  - '2021'
                message: null
  /dns/{dnsId}/statistics/daily/{year}/{month}:
    get:
      tags:
      - default
      summary: Get Zone Statistics (Daily)
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: year
        in: path
        schema:
          type: string
        required: true
      - name: month
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  '10': 2899
                  '11': 1828
                  '12': 1951
                  '13': 1756
                  '14': 1643
                  '15': 2364
                  '16': 1550
                  '17': 1935
                  '18': 1962
                  '19': 2170
                  '20': 1901
                  '21': 2119
                  '22': 1875
                  '23': 2288
                  '24': 1978
                  '25': 2339
                  '26': 2147
                  '27': 1750
                  '28': 2031
                  '29': 2339
                  '30': 2486
                  '31': 1517
                  '01': 0
                  '02': 0
                  '03': 0
                  '04': 465
                  '05': 1076
                  '06': 1152
                  '07': 1316
                  08: 1000
                  09: 4017
                options:
                  months:
                    '0': '-'
                    '01': Jan
                    '02': Feb
                    '03': Mar
                    '04': Apr
                  hourly:
                    till: '2022-03-24'
                  years:
                  - '2022'
                  - '2021'
                message: null
  /dns/{dnsId}/statistics/hourly/{year}/{month}/{day}:
    get:
      tags:
      - default
      summary: Get Zone Statistics (Hourly)
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: year
        in: path
        schema:
          type: string
        required: true
      - name: month
        in: path
        schema:
          type: string
        required: true
      - name: day
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  '10': 19
                  '11': 19
                  '12': 33
                  '13': 40
                  '14': 23
                  '15': 14
                  '16': 27
                  '17': 19
                  '18': 81
                  '19': 39
                  '20': 19
                  '21': 22
                  '22': 15
                  '23': 34
                  '00': 40
                  '01': 36
                  '02': 9
                  '03': 19
                  '04': 26
                  '05': 27
                  '06': 35
                  '07': 31
                  08: 36
                  09: 22
                options:
                  months:
                    '0': '-'
                    '01': Jan
                    '02': Feb
                    '03': Mar
                    '04': Apr
                  hourly:
                    till: '2022-03-24'
                  years:
                  - '2022'
                  - '2021'
                message: null
  /dns/{dnsId}/dnssec:
    get:
      tags:
      - default
      summary: Get Zone DNSSEC
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  status: '1'
                  ds:
                  - 5centscdn.dev. 3600 IN DS 55409 13 2 455B1F2D3A48680339C44740F9C1653B08288733F17E825CE43D2F19E2EE4F00
                  ds_records:
                  - digest: 455B1F2D3A48680339C44740F9C1653B08288733F17E825CE43D2F19E2EE4F00
                    key_tag: '55409'
                    algorithm: '13'
                    algorithm_name: ECDSA SHA-256
                    digest_type: '2'
                    digest_type_name: SHA-256
                  dnskey:
                  - 5centscdn.dev. 3600 IN DNSKEY 257 3 13 tBz7JTvOZiTIHO8tVrDDrCpfxJZHlagtGCnLvAxwSDV8XMIP2QaPcKP1+FjMc6kyR5nRwKOLtz+l6AnRwB/9ag==
                  - 5centscdn.dev. 3600 IN DNSKEY 256 3 13 YHo/N5SC5e8MeU/lI8iT6HaELYacoaNGO4u8FjhS9/hRNB6KdvFIDB+ovT8ipwY1U414RKfmXtciYYnzjrIU7w==
    post:
      tags:
      - default
      summary: Activate Zone DNSSEC
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: '1: activate, 0: deactivate'
                  example: '1'
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: Success
                statusDescription: The DNSSEC is activated for your zone. The keys
                  will be generated soon.
  /dns/{dnsId}/soa:
    get:
      tags:
      - default
      summary: Get Zone SOA
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  serialNumber: '2022042309'
                  primaryNS: pns31.5centscdn.net
                  adminMail: support@5centscdn.net
                  refresh: '7200'
                  retry: '1800'
                  expire: '1209600'
                  defaultTTL: '3600'
    post:
      tags:
      - default
      summary: Update Zone SOA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                primaryNS: pns31.5centscdn.com
                adminMail: support@5centscdn.com
                refresh: '3600'
                retry: '1800'
                expire: '1209600'
                defaultTTL: '3600'
              properties:
                primaryNS:
                  type: string
                  description: Primary name server for the zone.
                  example: pns31.5centscdn.com
                adminMail:
                  type: string
                  description: Administrator email address for the zone.
                  example: support@5centscdn.com
                refresh:
                  type: string
                  description: How often secondary servers check for updates, in seconds.
                  example: '3600'
                retry:
                  type: string
                  description: How long secondary servers wait before retrying a failed
                    refresh, in seconds.
                  example: '1800'
                expire:
                  type: string
                  description: How long secondary servers keep zone data if they cannot
                    reach the primary, in seconds.
                  example: '1209600'
                defaultTTL:
                  type: string
                  description: Default TTL applied to records without an explicit
                    TTL, in seconds.
                  example: '3600'
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: Success
                statusDescription: The SOA record was modified successfully.
  /dns/{dnsId}/export:
    get:
      tags:
      - default
      summary: Export Zone
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Description:
              schema:
                type: string
                example: File Transfer
            Content-Disposition:
              schema:
                type: string
                example: attachment; filename="5centscdn.dev.txt"
            Connection:
              schema:
                type: string
                example: close
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Content-Type:
              schema:
                type: string
                example: application/octet-stream
          content:
            text/plain:
              schema:
                type: string
              example: "$ORIGIN 5centscdn.dev.\n@\t3600\tIN\tSOA\tpns31.5centscdn.com.\
                \ support.5centscdn.com. 2022042311 3600 1800 1209600 3600\n@\t3600\t\
                IN\tNS\tpns31.5centscdn.com.\n@\t3600\tIN\tNS\tpns32.5centscdn.com.\n\
                @\t3600\tIN\tNS\tpns33.5centscdn.com.\n@\t3600\tIN\tNS\tpns34.5centscdn.com.\n\
                ww3\t60\tIN\tA\t51.222.141.228\nwww\t60\tIN\tA\t51.222.141.228\ncdn\t\
                3600\tIN\tCNAME\tpull-2871.5centscdn.com.\n_acme-challenge.ww3\t3600\t\
                IN\tTXT\t\"fC95Tjct5eB1a4qUe7UpPSt4un6ivngEvJrKABKtm24\"\ntest\t60\t\
                IN\tA\t2.2.2.2\n;@\t60\tIN\tALIAS\tpull-2871.5centscdn.com\n@\t60\t\
                IN\tA\t23.217.99.152\n@\t60\tIN\tA\t23.217.99.162\n@\t60\tIN\tAAAA\t\
                2a02:26f0:d7::17d9:63c0\n@\t60\tIN\tAAAA\t2a02:26f0:d7::17d9:63cb\n\
                vikesh\t60\tIN\tA\t7.8.9.1\ntestt\t60\tIN\tA\t8.8.8.8\ntest2\t60\t\
                IN\tA\t8.8.8.8\n258288550proxy\t60\tIN\tCNAME\twww.google.com.\nproxy\t\
                300\tIN\tCNAME\tpull-3061.5centscdn.com.\n"
  /dns/{dnsId}/import:
    post:
      tags:
      - default
      summary: Import Zone
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                format:
                  type: string
                  description: bind/tinydns
                  example: bind
                file:
                  type: string
                  format: binary
                  description: Zone file content to import.
                  example: example zone file content
                delete-existing-records:
                  type: integer
                  description: '0: No, 1: Yes'
                  example: '0'
                record-types[]:
                  type: string
                  example: AAAA
                  description: DNS record types to import. Leave empty to import all
                    types.
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: Success
                statusDescription: The records of 5centscdn.dev were added successfully.
  /dns/{dnsId}/mail:
    get:
      tags:
      - default
      summary: Get Mail Forwards
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                data:
                  '337734':
                    id: '337734'
                    source: admin@ftp.5centscdn.dev
                    destination: noreply@gmail.com
    put:
      tags:
      - default
      summary: Add Mail Forward
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                box:
                  type: string
                  description: email username
                  example: admin
                host:
                  type: string
                  description: sudomain
                  example: www
                destination:
                  type: string
                  description: forward to email
                  example: noreply@gmail.com
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: Success
                statusDescription: The mail forward has been added successfully.
                data:
                  id: 337734
    post:
      tags:
      - default
      summary: Update Mail Forward
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                box:
                  type: string
                  description: email username
                  example: admin
                host:
                  type: string
                  description: sudomain
                  example: www
                destination:
                  type: string
                  description: forward to email
                  example: noreply@gmail.com
                mail-forward-id:
                  type: string
                  description: mail forward id
                  example: '{{mailForwardId}}'
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: Success
                statusDescription: The mail forward has been edited successfully.
    delete:
      tags:
      - default
      summary: Delete Mail Forward
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: Success
                statusDescription: The mail forward has been deleted successfully.
  /dns/{dnsId}/records:
    get:
      tags:
      - default
      summary: Get Records
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
        example: '10'
      - name: page
        in: query
        schema:
          type: integer
        example: '1'
      - name: host
        in: query
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                domain:
                  id: 1
                  serviceid: 103
                  domain: 5centscdn.dev
                  meta:
                    name: 5centscdn.dev
                    type: master
                    hasBulk: false
                    zone: domain
                    status: '1'
                    serial: '2022040401'
                    isUpdated: 0
                  soa:
                    serialNumber: '2022040401'
                    primaryNS: pns31.5centscdn.com
                    adminMail: support@5centscdn.com
                    refresh: '7200'
                    retry: '1800'
                    expire: '1209600'
                    defaultTTL: '3600'
                  dnssec:
                    status: '1'
                    ds:
                    - 5centscdn.dev. 3600 IN DS 55409 13 2 455B1F2D3A48680339C44740F9C1653B08288733F17E825CE43D2F19E2EE4F00
                    ds_records:
                    - digest: 455B1F2D3A48680339C44740F9C1653B08288733F17E825CE43D2F19E2EE4F00
                      key_tag: '55409'
                      algorithm: '13'
                      algorithm_name: ECDSA SHA-256
                      digest_type: '2'
                      digest_type_name: SHA-256
                    dnskey:
                    - 5centscdn.dev. 3600 IN DNSKEY 257 3 13 tBz7JTvOZiTIHO8tVrDDrCpfxJZHlagtGCnLvAxwSDV8XMIP2QaPcKP1+FjMc6kyR5nRwKOLtz+l6AnRwB/9ag==
                    - 5centscdn.dev. 3600 IN DNSKEY 256 3 13 YHo/N5SC5e8MeU/lI8iT6HaELYacoaNGO4u8FjhS9/hRNB6KdvFIDB+ovT8ipwY1U414RKfmXtciYYnzjrIU7w==
                  created_at: '2021-11-02 16:03:13'
                  updated_at: '2022-04-23 18:04:46'
                  validated_at: '2022-04-23 18:04:46'
                  deleted: null
                  proxied:
                    '245212141': 248085168
                    '245216573': 245711035
                    '245710802': 245715024
                    '250238299': 250353583
                    '250353636': 250353651
                    '258288550': 258288623
                  linkedZones:
                    '258288550':
                      id: 3061
                      mode: http
                  nameservers:
                  - pns31.5centscdn.com
                  - pns32.5centscdn.com
                  - pns33.5centscdn.com
                  - pns34.5centscdn.com
                pageMax: 3
                records:
                  '254429509':
                    id: '254429509'
                    type: NS
                    host: ''
                    record: pns31.5centscdn.com
                    failover: '0'
                    ttl: '3600'
                    status: 1
                  '254429510':
                    id: '254429510'
                    type: NS
                    host: ''
                    record: pns32.5centscdn.com
                    failover: '0'
                    ttl: '3600'
                    status: 1
                  '254429511':
                    id: '254429511'
                    type: NS
                    host: ''
                    record: pns33.5centscdn.com
                    failover: '0'
                    ttl: '3600'
                    status: 1
                  '254429512':
                    id: '254429512'
                    type: NS
                    host: ''
                    record: pns34.5centscdn.com
                    failover: '0'
                    ttl: '3600'
                    status: 1
                  '255553260':
                    id: '255553260'
                    type: CNAME
                    host: cdn
                    record: pull-2871.5centscdn.com
                    failover: '0'
                    ttl: '3600'
                    status: 1
                  '257283319':
                    id: '257283319'
                    type: ALIAS
                    host: ''
                    record: pull-2871.5centscdn.com
                    failover: '0'
                    ttl: '60'
                    status: 1
                  '258289541':
                    id: '258289541'
                    type: A
                    host: ''
                    record: 23.217.99.152
                    dynamicurl_status: 0
                    failover: '0'
                    ttl: '60'
                    status: 1
                  '258289542':
                    id: '258289542'
                    type: A
                    host: ''
                    record: 23.217.99.162
                    dynamicurl_status: 0
                    failover: '0'
                    ttl: '60'
                    status: 1
                  '258289543':
                    id: '258289543'
                    type: AAAA
                    host: ''
                    record: 2a02:26f0:d7::17d9:63c0
                    dynamicurl_status: 0
                    failover: '0'
                    ttl: '60'
                    status: 1
                  '258289544':
                    id: '258289544'
                    type: AAAA
                    host: ''
                    record: 2a02:26f0:d7::17d9:63cb
                    dynamicurl_status: 0
                    failover: '0'
                    ttl: '60'
                    status: 1
    post:
      tags:
      - default
      summary: Add Record
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                _METHOD:
                  type: string
                  description: post -> put
                  example: PUT
                type:
                  type: string
                  description: A, AAAA, MX, CNAME, TXT, NS, SRV, WR, RP, SSHFP, ALIAS,
                    CAA, TLSA, CERT, DS for domain names, NS and PTR for reversed
                    zones, and NAPTR, NS, CNAME for ENUM zones
                  example: A
                ttl:
                  type: integer
                  description: 'Available TTL''s:

                    60 = 1 minute

                    300 = 5 minutes

                    900 = 15 minutes

                    1800 = 30 minutes

                    3600 = 1 hour

                    21600 = 6 hours

                    43200 = 12 hours

                    86400 = 1 day

                    172800 = 2 days

                    259200 = 3 days

                    604800 = 1 week

                    1209600 = 2 weeks

                    2592000 = 1 month'
                  example: '60'
                host:
                  type: string
                  description: host / subdomain
                  example: new
                record:
                  type: string
                  description: Record you want to add. Example 10.10.10.10 or cname.5centscdn.com
                  example: 8.8.8.8
                priority:
                  type: string
                  description: Priority for MX or SRV record
                  example: '10'
                weight:
                  type: string
                  description: Weight for SRV record
                  example: '10'
                port:
                  type: string
                  description: Port for SRV record
                  example: '443'
                frame:
                  type: string
                  description: 0 or 1 for Web redirects to disable or enable frame
                  example: N
                frame_title:
                  type: string
                  description: Title if frame is enabled in Web redirects
                  example: My Site
                frame_keywords:
                  type: string
                  description: Keywords if frame is enabled in Web redirects
                  example: cdn, streaming
                frame_description:
                  type: string
                  description: Description if frame is enabled in Web redirects
                  example: My CDN site
                mobile_meta:
                  type: string
                  description: Mobile responsive meta tags if Web redirects with frame
                    is enabled. Default value - 0.
                  example: N
                save_path:
                  type: string
                  description: 0 or 1 for Web redirects
                  example: N
                redirect_type:
                  type: string
                  description: 301 or 302 for Web redirects if frame is disabled
                  example: '301'
                mail:
                  type: string
                  description: E-mail address for RP records
                  example: mail.example.com
                txt:
                  type: string
                  description: Domain name for TXT record used in RP records
                  example: v=spf1 include:example.com ~all
                algorithm:
                  type: string
                  description: The algorithm of the referenced DS record.
                  example: '2'
                fptype:
                  type: string
                  description: Type of the SSHFP algorithm. Required for SSHFP records
                    only.
                  example: '2'
                status:
                  type: string
                  description: Set to 1 to create the record active or to 0 to create
                    it inactive. If omitted the record will be created active.
                caa_flag:
                  type: string
                  description: 0 - Non critical or 128 - Critical
                  example: '0'
                caa_type:
                  type: string
                  description: Type of CAA record. The available flags are issue,
                    issuewild, iodef.
                  example: issue
                caa_value:
                  type: string
                  description: If caa_type is issue, caa_value can be hostname or
                    ";". If caa_type is issuewild, it can be hostname or ";". If caa_type
                    is iodef, it can be "mailto:someemail@address.tld, http://example.tld
                    or http://example.tld.
                  example: '"letsencrypt.org"'
                tlsa_usage:
                  type: string
                  description: (From 0 to 3) It shows the provided association that
                    will be used.
                  example: '3'
                tlsa_selector:
                  type: string
                  description: (From 0 to 1) It specifies which part of the TLS certificate
                    presented by the server will be matched against the association
                    data
                  example: '1'
                tlsa_matching_type:
                  type: string
                  description: (From 0 to 2) It specifies how the certificate association
                    is presented.
                  example: '1'
                key_tag:
                  type: string
                  description: A numeric value used for identifying the referenced
                    DS record.
                  example: '12345'
                digest_type:
                  type: string
                  description: The cryptographic hash algorithm is used to create
                    the Digest value.
                  example: '2'
                order:
                  type: string
                  description: Specifies the order in which multiple NAPTR records
                    must be processed (low to high).
                  example: '10'
                pref:
                  type: string
                  description: Specifies the order (low to high) in which NAPTR records
                    with equal Order values should be processed.
                  example: '10'
                flag:
                  type: string
                  description: Controls aspects of the rewriting and interpretation
                    of the fields in the record.
                  example: S
                params:
                  type: string
                  description: Specifies the service parameters applicable to this
                    delegation path.
                  example: SIP+D2U
                regexp:
                  type: string
                  description: Contains a substitution expression that is applied
                    to the original string, held by the client in order to construct
                    the next domain name to lookup.
                  example: ''
                replace:
                  type: string
                  description: Specifies the next domain name (fully qualified) to
                    query for depending on the potential values found in the flags
                    field.
                  example: _sip._udp.example.com
                cert_type:
                  type: string
                  description: Type of the Certificate/CRL
                  example: '1'
                cert_key_tag:
                  type: string
                  description: A numeric value (0-65535), used the efficiently pick
                    a CERT record.
                  example: '0'
                cert_algorithm:
                  type: string
                  description: Identifies the algorithm, used to produce a legitimate
                    signature.
                  example: '5'
                cpu:
                  type: string
                  description: Identifiable name of the CPU of the host. Can include
                    only  digits, letters, hyphen and forward slash. Must start with  a
                    letter and end with either letter or digit.
                  example: Intel
                os:
                  type: string
                  description: Name of the Operating System (OS) of the host. Can
                    include  only digits, letters, period, hyphen and forward slash.
                    Must  start with a letter and end with either letter or digit.
                  example: Linux
                lat_deg:
                  type: string
                  description: For type LOC, Latitude's Degrees. 0-90
                  example: '37'
                lat_min:
                  type: string
                  description: For type LOC, Latitude's Minutes. 0-59, if omitted
                    will default to 0
                  example: '46'
                lat_sec:
                  type: string
                  description: For type LOC, Latitude's seconds. 0-59.999, if omitted
                    will default to 0
                  example: '29'
                lat_dir:
                  type: string
                  description: 'For type LOC, Latitude''s Direction. N: North, S:
                    South'
                  example: N
                long_deg:
                  type: string
                  description: For type LOC, Longitude's Degrees. 0-90
                  example: '122'
                long_min:
                  type: string
                  description: For type LOC, Longitude's Minutes. 0-59, if omitted
                    will default to 0
                  example: '25'
                long_sec:
                  type: string
                  description: For type LOC, Longitude's seconds. 0-59.999, if omitted
                    will default to 0
                  example: '9'
                long_dir:
                  type: string
                  description: 'For type LOC, Longitude''s Direction. W: West, E:
                    East'
                  example: W
                altitude:
                  type: string
                  description: 'For type LOC, Precision: Altitude. -100000.00 - 42849672.95'
                  example: '0'
                size:
                  type: string
                  description: 'For type LOC, Precision: Size. 0 - 90000000.00. If
                    omitted, size defaults to 1'
                  example: '1'
                h_precision:
                  type: string
                  description: 'For type LOC, Precision: Horizontal. 0 - 90000000.00.
                    If omitted, horizontal precision defaults to 10000'
                  example: '10000'
                v_precision:
                  type: string
                  description: 'For type LOC, Precision: Vertical. 0 - 90000000.00.
                    If omitted, vertical precision defaults to 10'
                  example: '10'
                smimea_usage:
                  type: string
                  description: 'For type SMIMEA, Usage (0) PKIX-TA: Certificate Authority
                    Constraint (1) PKIX-EE: Service Certificate Constraint (2) DANE-TA:
                    Trust Anchor Assertion (3) DANE-EE: Domain Issued Certificate'
                  example: '3'
                smimea_selector:
                  type: string
                  description: 'For type SMIMEA, Selector (0) Cert: Use full certificate
                    (1) SPKI: Use subject public key'
                  example: '0'
                smimea_matching_type:
                  type: string
                  description: 'For type SMIMEA, Matching Type (0) Full: No Hash (1)
                    SHA-256: SHA-256 hash (2) SHA-512: SHA-512 hash'
                  example: '1'
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: Success
                statusDescription: The record was added successfully.
                data:
                  id: 258289692
  /dns/{dnsId}/records/{recordid}:
    post:
      tags:
      - default
      summary: Update Record
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: A, AAAA, MX, CNAME, TXT, NS, SRV, WR, RP, SSHFP, ALIAS,
                    CAA, TLSA, CERT, DS for domain names, NS and PTR for reversed
                    zones, and NAPTR, NS, CNAME for ENUM zones
                  example: A
                ttl:
                  type: integer
                  description: 'Available TTL''s:

                    60 = 1 minute

                    300 = 5 minutes

                    900 = 15 minutes

                    1800 = 30 minutes

                    3600 = 1 hour

                    21600 = 6 hours

                    43200 = 12 hours

                    86400 = 1 day

                    172800 = 2 days

                    259200 = 3 days

                    604800 = 1 week

                    1209600 = 2 weeks

                    2592000 = 1 month'
                  example: '60'
                host:
                  type: string
                  description: host / subdomain
                  example: new
                record:
                  type: string
                  description: Record you want to add. Example 10.10.10.10 or cname.5centscdn.com
                  example: 8.8.8.8
                priority:
                  type: string
                  description: Priority for MX or SRV record
                  example: '10'
                weight:
                  type: string
                  description: Weight for SRV record
                  example: '10'
                port:
                  type: string
                  description: Port for SRV record
                  example: '443'
                frame:
                  type: string
                  description: 0 or 1 for Web redirects to disable or enable frame
                  example: N
                frame_title:
                  type: string
                  description: Title if frame is enabled in Web redirects
                  example: My Site
                frame_keywords:
                  type: string
                  description: Keywords if frame is enabled in Web redirects
                  example: cdn, streaming
                frame_description:
                  type: string
                  description: Description if frame is enabled in Web redirects
                  example: My CDN site
                mobile_meta:
                  type: string
                  description: Mobile responsive meta tags if Web redirects with frame
                    is enabled. Default value - 0.
                  example: N
                save_path:
                  type: string
                  description: 0 or 1 for Web redirects
                  example: N
                redirect_type:
                  type: string
                  description: 301 or 302 for Web redirects if frame is disabled
                  example: '301'
                mail:
                  type: string
                  description: E-mail address for RP records
                  example: mail.example.com
                txt:
                  type: string
                  description: Domain name for TXT record used in RP records
                  example: v=spf1 include:example.com ~all
                algorithm:
                  type: string
                  description: The algorithm of the referenced DS record.
                  example: '2'
                fptype:
                  type: string
                  description: Type of the SSHFP algorithm. Required for SSHFP records
                    only.
                  example: '2'
                status:
                  type: string
                  description: Set to 1 to create the record active or to 0 to create
                    it inactive. If omitted the record will be created active.
                caa_flag:
                  type: string
                  description: 0 - Non critical or 128 - Critical
                  example: '0'
                caa_type:
                  type: string
                  description: Type of CAA record. The available flags are issue,
                    issuewild, iodef.
                  example: issue
                caa_value:
                  type: string
                  description: If caa_type is issue, caa_value can be hostname or
                    ";". If caa_type is issuewild, it can be hostname or ";". If caa_type
                    is iodef, it can be "mailto:someemail@address.tld, http://example.tld
                    or http://example.tld.
                  example: '"letsencrypt.org"'
                tlsa_usage:
                  type: string
                  description: (From 0 to 3) It shows the provided association that
                    will be used.
                  example: '3'
                tlsa_selector:
                  type: string
                  description: (From 0 to 1) It specifies which part of the TLS certificate
                    presented by the server will be matched against the association
                    data
                  example: '1'
                tlsa_matching_type:
                  type: string
                  description: (From 0 to 2) It specifies how the certificate association
                    is presented.
                  example: '1'
                key_tag:
                  type: string
                  description: A numeric value used for identifying the referenced
                    DS record.
                  example: '12345'
                digest_type:
                  type: string
                  description: The cryptographic hash algorithm is used to create
                    the Digest value.
                  example: '2'
                order:
                  type: string
                  description: Specifies the order in which multiple NAPTR records
                    must be processed (low to high).
                  example: '10'
                pref:
                  type: string
                  description: Specifies the order (low to high) in which NAPTR records
                    with equal Order values should be processed.
                  example: '10'
                flag:
                  type: string
                  description: Controls aspects of the rewriting and interpretation
                    of the fields in the record.
                  example: S
                params:
                  type: string
                  description: Specifies the service parameters applicable to this
                    delegation path.
                  example: SIP+D2U
                regexp:
                  type: string
                  description: Contains a substitution expression that is applied
                    to the original string, held by the client in order to construct
                    the next domain name to lookup.
                  example: ''
                replace:
                  type: string
                  description: Specifies the next domain name (fully qualified) to
                    query for depending on the potential values found in the flags
                    field.
                  example: _sip._udp.example.com
                cert_type:
                  type: string
                  description: Type of the Certificate/CRL
                  example: '1'
                cert_key_tag:
                  type: string
                  description: A numeric value (0-65535), used the efficiently pick
                    a CERT record.
                  example: '0'
                cert_algorithm:
                  type: string
                  description: Identifies the algorithm, used to produce a legitimate
                    signature.
                  example: '5'
                cpu:
                  type: string
                  description: Identifiable name of the CPU of the host. Can include
                    only  digits, letters, hyphen and forward slash. Must start with  a
                    letter and end with either letter or digit.
                  example: Intel
                os:
                  type: string
                  description: Name of the Operating System (OS) of the host. Can
                    include  only digits, letters, period, hyphen and forward slash.
                    Must  start with a letter and end with either letter or digit.
                  example: Linux
                lat_deg:
                  type: string
                  description: For type LOC, Latitude's Degrees. 0-90
                  example: '37'
                lat_min:
                  type: string
                  description: For type LOC, Latitude's Minutes. 0-59, if omitted
                    will default to 0
                  example: '46'
                lat_sec:
                  type: string
                  description: For type LOC, Latitude's seconds. 0-59.999, if omitted
                    will default to 0
                  example: '29'
                lat_dir:
                  type: string
                  description: 'For type LOC, Latitude''s Direction. N: North, S:
                    South'
                  example: N
                long_deg:
                  type: string
                  description: For type LOC, Longitude's Degrees. 0-90
                  example: '122'
                long_min:
                  type: string
                  description: For type LOC, Longitude's Minutes. 0-59, if omitted
                    will default to 0
                  example: '25'
                long_sec:
                  type: string
                  description: For type LOC, Longitude's seconds. 0-59.999, if omitted
                    will default to 0
                  example: '9'
                long_dir:
                  type: string
                  description: 'For type LOC, Longitude''s Direction. W: West, E:
                    East'
                  example: W
                altitude:
                  type: string
                  description: 'For type LOC, Precision: Altitude. -100000.00 - 42849672.95'
                  example: '0'
                size:
                  type: string
                  description: 'For type LOC, Precision: Size. 0 - 90000000.00. If
                    omitted, size defaults to 1'
                  example: '1'
                h_precision:
                  type: string
                  description: 'For type LOC, Precision: Horizontal. 0 - 90000000.00.
                    If omitted, horizontal precision defaults to 10000'
                  example: '10000'
                v_precision:
                  type: string
                  description: 'For type LOC, Precision: Vertical. 0 - 90000000.00.
                    If omitted, vertical precision defaults to 10'
                  example: '10'
                smimea_usage:
                  type: string
                  description: 'For type SMIMEA, Usage (0) PKIX-TA: Certificate Authority
                    Constraint (1) PKIX-EE: Service Certificate Constraint (2) DANE-TA:
                    Trust Anchor Assertion (3) DANE-EE: Domain Issued Certificate'
                  example: '3'
                smimea_selector:
                  type: string
                  description: 'For type SMIMEA, Selector (0) Cert: Use full certificate
                    (1) SPKI: Use subject public key'
                  example: '0'
                smimea_matching_type:
                  type: string
                  description: 'For type SMIMEA, Matching Type (0) Full: No Hash (1)
                    SHA-256: SHA-256 hash (2) SHA-512: SHA-512 hash'
                  example: '1'
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: recordid
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: Success
                statusDescription: The record was added successfully.
                data:
                  id: 258289692
    delete:
      tags:
      - default
      summary: Delete Record
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: recordid
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: Success
                statusDescription: The record was deleted successfully.
  /dns/{dnsId}/records/{recordid}/status:
    post:
      tags:
      - default
      summary: Enable/Disable Record
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: '1: Enable, 0: Disable'
                  example: '0'
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: recordid
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: Success
                statusDescription: Record deactivated
  /dns/{dnsId}/records/{recordid}/proxy:
    post:
      tags:
      - default
      summary: Proxy Record
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                mode:
                  type: string
                  description: '1: Enable, 0: Disable'
                  example: http
                optimize:
                  type: string
                  example: http
                  description: Enable performance optimizations. Y means enabled.
                ssl:
                  type: string
                  example: S
                  description: 'SSL/HTTPS mode. Values: off, flexible, full.'
                cache:
                  type: string
                  example: 1d
                  description: Caching behavior setting.
                expiry:
                  type: string
                  example: 1d
                  description: Cache expiry duration.
                cachecontrol:
                  type: string
                  example: Y
                  description: Cache-Control header handling.
                usestale:
                  type: string
                  example: Y
                  description: Serve stale cache while revalidating. Y means enabled.
                revalidate:
                  type: string
                  example: Y
                  description: Revalidation behavior setting.
                scheme:
                  type: string
                  example: http
                  description: Protocol scheme. http or https.
                port:
                  type: integer
                  example: '80'
                  description: Port number for SRV records.
                status:
                  type: integer
                  example: '1'
                  description: Enable or disable. 1 means enabled, 0 means disabled.
                type:
                  type: string
                  example: A
                  description: 'DNS record type. Examples: A, AAAA, CNAME, MX, TXT,
                    SRV.'
                host:
                  type: string
                  example: new
                  description: Hostname or subdomain for this record. Use @ for root.
                record:
                  type: number
                  example: 1.1.1.1
                  description: The record value. For A records this is an IP address.
                ttl:
                  type: integer
                  example: '60'
                  description: Time to live in seconds. Lower values update faster.
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: recordid
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: Success
                statusDescription: 'CDN Proxy enabled. <a href=''/dashboard/103/zones/http/pull/3062''
                  target=''_blank''>Pull Zone #3062</a>'
  /dns/{dnsId}/records/{recordid}/dynamicurl:
    get:
      tags:
      - default
      summary: Get/Activate Record DynamicURL
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: recordid
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: Error
                  value:
                    status: Failed
                    statusDescription: The DynamicURL is only for A and AAAA record
                      types.
                example-1:
                  summary: Success
                  value:
                    host: ww3.5centscdn.dev
                    url: https://ipv4.5centscdn.com/api/dynamicURL/?q=Mzg5ODM4MToyNTgyODk1Mzg6ODljODE4YWVmN2JhYjdhMjNlYjQ5YzYxMjczOTRmYTllMzMzNDhlN2JkYmE2MDJkYTU2YzQ5Yzk1MmMzMzNkOA
    post:
      tags:
      - default
      summary: Delete/Disable Record DynamicURL
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                _METHOD:
                  type: string
                  example: DELETE
                  description: HTTP method override. Use DELETE to delete, PUT to
                    create.
      parameters:
      - name: dnsId
        in: path
        schema:
          type: string
        required: true
      - name: recordid
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                status: Success
                statusDescription: The DynamicURL of ww3.5centscdn.dev was deactivated.