openapi: 3.0.3
info:
  title: 5centsCDN - Transcoding API
  description: >
    Transcoding management endpoints for the 5centsCDN platform.
    Covers video encoding job management, encoding preset profile management,
    configurable video filters, and encode-completion notification settings.
    Authentication is via API key header (X-API-Key) for the public API, and
    WHMCS session cookie (WHMCSUID) for the dashboard routes.
  version: 2.0.0
  contact:
    email: help@5centscdn.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

servers:
- url: https://api.5centscdn.com/v2
  description: 5centsCDN API Server - Production

security:
- ApiKeyAuth: []

tags:
- name: Video Encoding Jobs
  description: Manage active, pending, and historical video encoding jobs.
- name: Video Encoding Profiles
  description: Manage encoding preset profiles and configurable video filters.
- name: Transcoding Notifications
  description: Email and webhook notification configuration for encode-completion events.

paths:

  /transcoding:
    get:
      tags: [Video Encoding Jobs]
      summary: List All Encoding Jobs (current)
      description: List all encoding jobs for the service. No date filter - returns all.
      operationId: listEncodingJobs
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
    post:
      tags: [Video Encoding Jobs]
      summary: List Jobs / Get Job Details
      description: >
        Multi-purpose POST endpoint. Behaviour depends on body content.
      operationId: postEncodingJobs
      parameters:
      - name: r
        in: query
        required: false
        description: >
          Date range filter. Format: YYYY-MM-DD - YYYY-MM-DD.
        schema:
          type: string
          example: "2025-01-01 - 2025-01-31"
      - name: i
        in: query
        required: false
        description: Zone ID to filter by.
        schema:
          type: integer
          example: 15
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                view:
                  type: string
                  description: "Operation mode: job to fetch a single job, new to poll new jobs."
                  enum: [job, new]
                  example: job
                jobid:
                  type: integer
                  description: Job ID. Required when view=job.
                  example: 12345
                index:
                  type: integer
                  description: Job index. Required when view=job.
                  example: 0
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object

  /transcoding/jobs:
    get:
      tags: [Video Encoding Jobs]
      summary: List Active Video Encoding Jobs
      description: List all active / pending video encoding job queue for the service.
      operationId: getEncodingJobs
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

  /transcoding/jobs/{zoneId}:
    get:
      tags: [Video Encoding Jobs]
      summary: Get Active Jobs for a Zone
      description: List all active encoding jobs for a specific zone.
      operationId: getEncodingJobsByZone
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

  /transcoding/jobs/{profileid}:
    post:
      tags: [Video Encoding Jobs]
      summary: Add Video Encoding Job
      description: Add a file encoding job.
      operationId: addEncodingJob
      parameters:
      - $ref: '#/components/parameters/profileIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: Input file relative path.
                  example: "/uploads/source_clip.mp4"
                priority:
                  type: integer
                  description: "Encode job priority. 0 = High, 100 = Lowest."
                  example: 0
                map:
                  type: string
                  description: Video/Audio/Subtitle stream selection from input source.
                  example: "0:v:0 0:a:0 0:s:0"
      responses:
        '200':
          description: Success or error message.
          content:
            application/json:
              schema:
                type: object

  /transcoding/jobs/retry/{jobid}:
    get:
      tags: [Video Encoding Jobs]
      summary: Retry Encoding Job
      description: Retry an encoding job after fixing issues.
      operationId: retryEncodingJob
      parameters:
      - $ref: '#/components/parameters/jobIdParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

  /transcoding/jobs/cancel/{jobid}:
    get:
      tags: [Video Encoding Jobs]
      summary: Cancel Encoding Job
      description: Cancel an encoding job. Jobs can only be cancelled before they are processed.
      operationId: cancelEncodingJob
      parameters:
      - $ref: '#/components/parameters/jobIdParam'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

  /transcoding/profiles:
    get:
      tags: [Video Encoding Profiles]
      summary: List File Transcoding Profiles
      description: List all file transcoding profiles for the service.
      operationId: ProfilesList
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object

  /transcoding/profiles/defaults:
    post:
      tags: [Video Encoding Profiles]
      summary: Create Global Auto Transcode Preset Profiles
      description: These presets will be automatically added to your new zones.
      operationId: createAutoTranscodeProfiles
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                defaultprofiles:
                  type: array
                  description: Array of profile IDs to set as default auto-apply presets.
                  items:
                    type: string
                  example: ["profileId1", "profileId2"]
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Transcoding Settings Updated

  /transcoding/profiles/new:
    post:
      tags: [Video Encoding Profiles]
      summary: Create Transcoding Profile
      description: Create a new transcoding profile.
      operationId: createTranscodingProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, _METHOD]
              properties:
                _METHOD:
                  type: string
                  description: To cast request method POST to PUT.
                  example: PUT
                name:
                  type: string
                  description: Profile name. Minimum 3 characters.
                  example: My Profile
                cv:
                  type: string
                  description: "Video codec: libx264 | libx265 | vp9 | etc."
                  example: libx264
                ca:
                  type: string
                  description: Audio codec.
                  example: aac
                f:
                  type: string
                  description: Output format.
                  example: mp4
                filemode:
                  type: string
                  description: File mode.
                  example: transcode
                fps:
                  type: string
                  description: Frames per second.
                  example: "30"
                gop:
                  type: string
                  description: Keyframe interval.
                  example: "60"
                preset:
                  type: string
                  description: "Encoder preset: ultrafast | fast | medium | slow."
                  example: medium
                vlevel:
                  type: string
                  description: Video level.
                  example: "4.0"
                vprofile:
                  type: string
                  description: "Video profile: baseline | main | high."
                  example: high
                vpass:
                  type: string
                  description: "Encoding pass: 1 | 2."
                  example: "1"
                bv:
                  type: string
                  description: Enable video bitrate. Y or N.
                  enum: ["Y", "N"]
                  example: "Y"
                bvvalue:
                  type: string
                  description: Video bitrate value.
                  example: 2000k
                ba:
                  type: string
                  description: Enable audio bitrate. Y or N.
                  enum: ["Y", "N"]
                  example: "Y"
                bavalue:
                  type: string
                  description: Audio bitrate value.
                  example: 128k
                sv:
                  type: string
                  description: Enable scale video. Y or N.
                  enum: ["Y", "N"]
                  example: "Y"
                svvalue:
                  type: string
                  description: Output resolution.
                  example: 1280x720
                crfv:
                  type: string
                  description: CRF value (constant rate factor).
                  example: "23"
                ara:
                  type: string
                  description: Audio rate args.
                  example: ""
                aca:
                  type: string
                  description: Audio codec args.
                  example: ""
                bframe:
                  type: integer
                  description: B-frames count.
                  example: 3
                tm:
                  type: string
                  description: Time mode.
                  example: ""
                tv:
                  type: string
                  description: Time value.
                  example: ""
                upscale:
                  type: string
                  description: Allow upscaling. Y or N.
                  enum: ["Y", "N"]
                  example: "N"
                outdir:
                  type: string
                  description: Output directory override.
                  example: ""
                filters:
                  type: array
                  description: Filter IDs to apply.
                  items:
                    type: string
                  example: ["1", "2"]
                profiles:
                  type: array
                  description: Sub-profiles.
                  items:
                    type: string
                  example: []
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  message:
                    type: string
                    example: "Transcoding Settings, New Profile Created"
                  profileid:
                    type: integer
                    example: 129017

  /transcoding/profiles/{profileid}:
    post:
      tags: [Video Encoding Profiles]
      summary: Edit Transcoding Profile
      description: Edit an existing transcoding profile.
      operationId: editTranscodingProfile
      parameters:
      - $ref: '#/components/parameters/profileIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Profile name.
                  example: Updated Profile
                cv:
                  type: string
                  description: "Video codec: libx264 | libx265 | vp9 | etc."
                  example: libx264
                ca:
                  type: string
                  description: Audio codec.
                  example: aac
                f:
                  type: string
                  description: Output format.
                  example: mp4
                filemode:
                  type: string
                  description: File mode.
                  example: transcode
                fps:
                  type: string
                  description: Frames per second.
                  example: "30"
                gop:
                  type: string
                  description: Keyframe interval.
                  example: "60"
                preset:
                  type: string
                  description: "Encoder preset: ultrafast | fast | medium | slow."
                  example: medium
                vlevel:
                  type: string
                  description: Video level.
                  example: "4.0"
                vprofile:
                  type: string
                  description: "Video profile: baseline | main | high."
                  example: high
                vpass:
                  type: string
                  description: "Encoding pass: 1 | 2."
                  example: "1"
                bv:
                  type: string
                  description: Enable video bitrate. Y or N.
                  enum: ["Y", "N"]
                  example: "Y"
                bvvalue:
                  type: string
                  description: Video bitrate value.
                  example: 2000k
                ba:
                  type: string
                  description: Enable audio bitrate. Y or N.
                  enum: ["Y", "N"]
                  example: "Y"
                bavalue:
                  type: string
                  description: Audio bitrate value.
                  example: 128k
                sv:
                  type: string
                  description: Enable scale video. Y or N.
                  enum: ["Y", "N"]
                  example: "Y"
                svvalue:
                  type: string
                  description: Output resolution.
                  example: 1280x720
                crfv:
                  type: string
                  description: CRF value (constant rate factor).
                  example: "23"
                ara:
                  type: string
                  description: Audio rate args.
                  example: ""
                aca:
                  type: string
                  description: Audio codec args.
                  example: ""
                bframe:
                  type: integer
                  description: B-frames count.
                  example: 3
                tm:
                  type: string
                  description: Time mode.
                  example: ""
                tv:
                  type: string
                  description: Time value.
                  example: ""
                upscale:
                  type: string
                  description: Allow upscaling. Y or N.
                  enum: ["Y", "N"]
                  example: "N"
                outdir:
                  type: string
                  description: Output directory override.
                  example: ""
                filters:
                  type: array
                  description: Filter IDs to apply.
                  items:
                    type: string
                  example: ["1"]
                profiles:
                  type: array
                  description: Sub-profiles.
                  items:
                    type: string
                  example: []
                _METHOD:
                  type: string
                  description: Signal DELETE to the backend when deleting.
                  example: DELETE
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Transcoding Settings Updated
    delete:
      tags: [Video Encoding Profiles]
      summary: Delete Transcoding Profile
      description: >
        Delete the information of a transcoding profile.
      operationId: deleteTranscodingProfile
      parameters:
      - $ref: '#/components/parameters/profileIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [_METHOD]
              properties:
                _METHOD:
                  type: string
                  description: Signals DELETE to the backend.
                  enum: [DELETE]
                  example: DELETE
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Transcoding Settings Updated

  /transcoding/filters:
    get:
      tags: [Video Encoding Profiles]
      summary: List File Transcoding Filters
      description: List all file transcoding filters for the service.
      operationId: transcodingFileFilter
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object

  /transcoding/filters/new:
    post:
      tags: [Video Encoding Profiles]
      summary: Create File Transcoding Filter
      description: Create a new file transcoding filter.
      operationId: createFileTranscodingFilter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, filter, _METHOD]
              properties:
                name:
                  type: string
                  description: Filter name.
                  example: flutter
                filter:
                  type: string
                  description: "Filter type: drawtext or overlay."
                  enum: [drawtext, overlay]
                  example: drawtext
                args[overlay][url]:
                  type: string
                  description: Logo image URL for overlay filter.
                  example: "https://example.com/logo.png"
                args[overlay][scale]:
                  type: string
                  description: Scale of the overlay.
                  example: "50%"
                args[overlay][position]:
                  type: string
                  description: Position of the overlay.
                  example: top-right
                args[drawtext][text]:
                  type: string
                  description: Text string to render on the video.
                  example: "Flutter"
                args[drawtext][fontsize]:
                  type: integer
                  description: Font size in pixels.
                  example: 16
                args[drawtext][fontcolor]:
                  type: string
                  description: Font color as hex string.
                  example: "#2599f8"
                args[drawtext][position]:
                  type: string
                  description: Position of the text on the video.
                  example: Top Left
                _METHOD:
                  type: string
                  description: To cast request method POST to PUT.
                  enum: [PUT]
                  example: PUT
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  message:
                    type: string
                    example: "Transcoding Settings, New Filter Created"
                  filterid:
                    type: integer
                    example: 429

  /transcoding/filters/{filterid}:
    post:
      tags: [Video Encoding Profiles]
      summary: Edit Transcoding Profile Filter
      description: Edit an existing transcoding profile filter.
      operationId: editTranscodingProfileFilter
      parameters:
      - $ref: '#/components/parameters/filterIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name associated with the configuration or filter.
                  example: flutter
                args[text]:
                  type: string
                  description: The text to be displayed as part of the filter.
                  example: Flutter
                args[fontsize]:
                  type: integer
                  description: The size of the font for the displayed text.
                  example: 16
                args[fontcolor]:
                  type: string
                  description: The color of the font as a hex code.
                  example: "#2599f8"
                args[position]:
                  type: string
                  description: The position of the text on the screen.
                  example: Top Left
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Transcoding Settings Updated
    delete:
      tags: [Video Encoding Profiles]
      summary: Delete Transcoding Profile Filter
      description: >
        Delete the information of a transcoding profile filter.
      operationId: deleteTranscodingProfileFilter
      parameters:
      - $ref: '#/components/parameters/filterIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [_METHOD]
              properties:
                _METHOD:
                  type: string
                  description: Signals DELETE to the backend.
                  enum: [DELETE]
                  example: DELETE
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Transcoding Filter Deleted

  /transcoding/notifications/defaults:
    post:
      tags: [Transcoding Notifications]
      summary: Save Notification Emails and Webhook URLs
      description: >
        Updates email addresses and webhook URLs for encode-completion notifications.
      operationId: updateNotifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                emails:
                  type: string
                  description: Comma-separated list of email addresses to receive encode-completion notifications.
                  example: "admin@example.com,ops@example.com"
                webhooks:
                  type: string
                  description: Comma-separated list of HTTP/HTTPS URLs to POST encode-completion payloads to.
                  example: "https://hooks.example.com/encode,https://api.example.com/notify"
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Transcoding Settings Updated

  /transcoding/notifications/resend:
    post:
      tags: [Transcoding Notifications]
      summary: Resend Encode-Completion Webhook Notification
      description: >
        Re-POSTs the original completion payload to all configured webhook URLs.
      operationId: resendNotification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [zoneid, index]
              properties:
                zoneid:
                  type: integer
                  description: Zone ID.
                  example: 5394
                index:
                  type: integer
                  description: Job index.
                  example: 3
      responses:
        '200':
          description: Array of webhook call results.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Lookup or configuration error.
          content:
            application/json:
              schema:
                type: object

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    zoneIdParam:
      name: zoneId
      in: path
      description: ID of the Push Zone.
      required: true
      style: simple
      explode: false
      schema:
        type: integer
        example: 15

    jobIdParam:
      name: jobid
      in: path
      description: ID of the Video Encoding job.
      required: true
      style: simple
      explode: false
      schema:
        type: integer
        example: 10042

    profileIdParam:
      name: profileid
      in: path
      description: ID of the Transcode Profile.
      required: true
      style: simple
      explode: false
      schema:
        type: integer
        example: 7

    filterIdParam:
      name: filterid
      in: path
      description: ID of the Transcode Profile filter.
      required: true
      style: simple
      explode: false
      schema:
        type: integer
        example: 3

  schemas:
    createProfileCombined:
      type: object
    editProfileCombined:
      type: object
    createFileTranscodingFilter:
      type: object
    editFileTranscodingFilter:
      type: object