openapi: 3.0.3
info:
  title: 5centsCDN - Transcoding API
  description: >
    Transcoding management endpoints for the 5centsCDN platform.
    Covers video encoding job management, encoding preset profile management,
    configurable video filters, and encode-completion notification settings.
    Authentication is via API key header (X-API-Key) for the public API, and
    WHMCS session cookie (WHMCSUID) for the dashboard routes.
  version: 2.0.0
  contact:
    email: help@5centscdn.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

servers:
- url: https://api.5centscdn.com/v2
  description: 5centsCDN API Server - Production

security:
- ApiKeyAuth: []

tags:
- name: Encoding Profiles
  description: Encoding preset profile management endpoints

paths:
  /transcoding/profiles:
    get:
      tags:
      - Encoding Profiles
      summary: List Encoding Profiles
      description: List all file transcoding profiles for the service.
      operationId: profilesList
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: API response status.
                    example: success
                  profiles:
                    type: object
                    description: Map of transcoding profiles keyed by profile ID string.
                    properties:
                      "114730":
                        type: object
                        properties:
                          id:
                            type: integer
                            description: Unique stream or record identifier.
                            example: 114730
                          serviceid:
                            type: integer
                            description: Service account identifier.
                            example: 103
                          vmid:
                            type: integer
                            description: Video manager zone ID this profile is associated with.
                            example: 242
                          type:
                            type: string
                            description: Record type identifier.
                            example: file
                          name:
                            type: string
                            description: Human-readable name.
                            example: 2160p
                          filemode:
                            type: string
                            description: File encoding mode.
                            example: Single
                          settings:
                            type: object
                            description: Profile settings object containing encoding parameters.
                            properties:
                              name:
                                type: string
                                description: Human-readable name.
                                example: 2160p
                              outdir:
                                type: string
                                description: Output directory path for the encoded file.
                                example: mp4/
                              f:
                                type: string
                                description: Output container format.
                                example: mp4
                              cv:
                                type: string
                                description: Video codec identifier.
                                example: libx264
                              sv:
                                type: string
                                description: Scale video flag.
                                example: 2160p
                              svvalue:
                                type: string
                                description: Target output resolution for video scaling.
                                example: ""
                              crfv:
                                type: string
                                description: Constant rate factor (CRF) for video quality control.
                                example: "24"
                              bv:
                                type: string
                                description: Enable custom video bitrate flag.
                                example: "1"
                              bvvalue:
                                type: integer
                                description: Custom video bitrate value in kbps.
                                example: 12000
                              vpass:
                                type: string
                                description: Encoding pass number.
                                example: "1"
                              vprofile:
                                type: string
                                description: H.264 encoder profile.
                                example: main
                              vlevel:
                                type: string
                                description: H.264 encoder level.
                                example: "3.1"
                              upscale:
                                type: string
                                description: Allow upscaling of video resolution flag.
                                example: "N"
                              ca:
                                type: string
                                description: Audio codec identifier.
                                example: aac
                              aca:
                                type: string
                                description: Number of audio channels.
                                example: "2"
                              ba:
                                type: string
                                description: Enable custom audio bitrate flag.
                                example: "1"
                              bavalue:
                                type: string
                                description: Custom audio bitrate value in kbps.
                                example: "128"
                              ara:
                                type: string
                                description: Audio sample rate in Hz.
                                example: "44100"
                              filemode:
                                type: string
                                description: File encoding mode.
                                example: Single
                              threads:
                                type: integer
                                description: Number of CPU threads used for encoding.
                                example: 2
                              bframe:
                                type: integer
                                description: Number of B-frames in the encoding sequence.
                                example: 1
                              preset:
                                type: string
                                description: Encoder speed or quality preset.
                                example: superfast
                              format:
                                type: string
                                description: Container format metadata from FFprobe.
                                example: mp4
                              weight:
                                type: integer
                                description: Profile resolution weight in pixels.
                                example: 8294400
                          codec:
                            type: string
                            description: Short codec name used for the encoding job.
                            example: h264
                      "115638":
                        type: object
                        properties:
                          id:
                            type: integer
                            description: Unique stream or record identifier.
                            example: 115638
                          serviceid:
                            type: integer
                            description: Service account identifier.
                            example: 103
                          vmid:
                            type: integer
                            description: Video manager zone ID this profile is associated with.
                            example: 347
                          type:
                            type: string
                            description: Record type identifier.
                            example: file
                          name:
                            type: string
                            description: Human-readable name.
                            example: 2160p
                          filemode:
                            type: string
                            description: File encoding mode.
                            example: Single
                          settings:
                            type: object
                            description: Profile settings object containing encoding parameters.
                            properties:
                              name:
                                type: string
                                description: Human-readable name.
                                example: 2160p
                              outdir:
                                type: string
                                description: Output directory path for the encoded file.
                                example: mp4/
                              f:
                                type: string
                                description: Output container format.
                                example: mp4
                              cv:
                                type: string
                                description: Video codec identifier.
                                example: libx264
                              sv:
                                type: string
                                description: Scale video flag.
                                example: 2160p
                              svvalue:
                                type: string
                                description: Target output resolution for video scaling.
                                example: ""
                              crfv:
                                type: string
                                description: Constant rate factor (CRF) for video quality control.
                                example: "24"
                              bv:
                                type: string
                                description: Enable custom video bitrate flag.
                                example: "1"
                              bvvalue:
                                type: integer
                                description: Custom video bitrate value in kbps.
                                example: 12000
                              vpass:
                                type: string
                                description: Encoding pass number.
                                example: "1"
                              vprofile:
                                type: string
                                description: H.264 encoder profile.
                                example: main
                              vlevel:
                                type: string
                                description: H.264 encoder level.
                                example: "3.1"
                              upscale:
                                type: string
                                description: Allow upscaling of video resolution flag.
                                example: "N"
                              ca:
                                type: string
                                description: Audio codec identifier.
                                example: aac
                              aca:
                                type: string
                                description: Number of audio channels.
                                example: "2"
                              ba:
                                type: string
                                description: Enable custom audio bitrate flag.
                                example: "1"
                              bavalue:
                                type: string
                                description: Custom audio bitrate value in kbps.
                                example: "128"
                              ara:
                                type: string
                                description: Audio sample rate in Hz.
                                example: "44100"
                              filemode:
                                type: string
                                description: File encoding mode.
                                example: Single
                              threads:
                                type: integer
                                description: Number of CPU threads used for encoding.
                                example: 2
                              bframe:
                                type: integer
                                description: Number of B-frames in the encoding sequence.
                                example: 1
                              preset:
                                type: string
                                description: Encoder speed or quality preset.
                                example: superfast
                              format:
                                type: string
                                description: Container format metadata from FFprobe.
                                example: mp4
                              weight:
                                type: integer
                                description: Profile resolution weight in pixels.
                                example: 8294400
                          codec:
                            type: string
                            description: Short codec name used for the encoding job.
                            example: h264
                      "114298":
                        type: object
                        properties:
                          id:
                            type: integer
                            description: Unique stream or record identifier.
                            example: 114298
                          serviceid:
                            type: integer
                            description: Service account identifier.
                            example: 103
                          vmid:
                            type: integer
                            description: Video manager zone ID this profile is associated with.
                            example: 151
                          type:
                            type: string
                            description: Record type identifier.
                            example: file
                          name:
                            type: string
                            description: Human-readable name.
                            example: 2160p
                          filemode:
                            type: string
                            description: File encoding mode.
                            example: Single
                          settings:
                            type: object
                            description: Profile settings object containing encoding parameters.
                            properties:
                              name:
                                type: string
                                description: Human-readable name.
                                example: 2160p
                              outdir:
                                type: string
                                description: Output directory path for the encoded file.
                                example: mp4/
                              f:
                                type: string
                                description: Output container format.
                                example: mp4
                              cv:
                                type: string
                                description: Video codec identifier.
                                example: libx264
                              sv:
                                type: string
                                description: Scale video flag.
                                example: 2160p
                              svvalue:
                                type: string
                                description: Target output resolution for video scaling.
                                example: ""
                              crfv:
                                type: string
                                description: Constant rate factor (CRF) for video quality control.
                                example: "24"
                              bv:
                                type: string
                                description: Enable custom video bitrate flag.
                                example: "1"
                              bvvalue:
                                type: integer
                                description: Custom video bitrate value in kbps.
                                example: 12000
                              vpass:
                                type: string
                                description: Encoding pass number.
                                example: "1"
                              vprofile:
                                type: string
                                description: H.264 encoder profile.
                                example: main
                              vlevel:
                                type: string
                                description: H.264 encoder level.
                                example: "3.1"
                              upscale:
                                type: string
                                description: Allow upscaling of video resolution flag.
                                example: "N"
                              ca:
                                type: string
                                description: Audio codec identifier.
                                example: aac
                              aca:
                                type: string
                                description: Number of audio channels.
                                example: "2"
                              ba:
                                type: string
                                description: Enable custom audio bitrate flag.
                                example: "1"
                              bavalue:
                                type: string
                                description: Custom audio bitrate value in kbps.
                                example: "128"
                              ara:
                                type: string
                                description: Audio sample rate in Hz.
                                example: "44100"
                              filemode:
                                type: string
                                description: File encoding mode.
                                example: Single
                              threads:
                                type: integer
                                description: Number of CPU threads used for encoding.
                                example: 2
                              bframe:
                                type: integer
                                description: Number of B-frames in the encoding sequence.
                                example: 1
                              preset:
                                type: string
                                description: Encoder speed or quality preset.
                                example: superfast
                              format:
                                type: string
                                description: Container format metadata from FFprobe.
                                example: mp4
                              weight:
                                type: integer
                                description: Profile resolution weight in pixels.
                                example: 8294400
                          codec:
                            type: string
                            description: Short codec name used for the encoding job.
                            example: h264
                      "117131":
                        type: object
                        properties:
                          id:
                            type: integer
                            description: Unique stream or record identifier.
                            example: 117131
                          serviceid:
                            type: integer
                            description: Service account identifier.
                            example: 103
                          vmid:
                            type: integer
                            description: Video manager zone ID this profile is associated with.
                            example: 397
                          type:
                            type: string
                            description: Record type identifier.
                            example: file
                          name:
                            type: string
                            description: Human-readable name.
                            example: 2160p
                          filemode:
                            type: string
                            description: File encoding mode.
                            example: Single
                          settings:
                            type: object
                            description: Profile settings object containing encoding parameters.
                            properties:
                              name:
                                type: string
                                description: Human-readable name.
                                example: 2160p
                              outdir:
                                type: string
                                description: Output directory path for the encoded file.
                                example: mp4/
                              f:
                                type: string
                                description: Output container format.
                                example: mp4
                              cv:
                                type: string
                                description: Video codec identifier.
                                example: libx264
                              sv:
                                type: string
                                description: Scale video flag.
                                example: 2160p
                              svvalue:
                                type: string
                                description: Target output resolution for video scaling.
                                example: ""
                              crfv:
                                type: string
                                description: Constant rate factor (CRF) for video quality control.
                                example: "24"
                              bv:
                                type: string
                                description: Enable custom video bitrate flag.
                                example: "1"
                              bvvalue:
                                type: integer
                                description: Custom video bitrate value in kbps.
                                example: 12000
                              vpass:
                                type: string
                                description: Encoding pass number.
                                example: "1"
                              vprofile:
                                type: string
                                description: H.264 encoder profile.
                                example: main
                              vlevel:
                                type: string
                                description: H.264 encoder level.
                                example: "3.1"
                              upscale:
                                type: string
                                description: Allow upscaling of video resolution flag.
                                example: "N"
                              ca:
                                type: string
                                description: Audio codec identifier.
                                example: aac
                              aca:
                                type: string
                                description: Number of audio channels.
                                example: "2"
                              ba:
                                type: string
                                description: Enable custom audio bitrate flag.
                                example: "1"
                              bavalue:
                                type: string
                                description: Custom audio bitrate value in kbps.
                                example: "128"
                              ara:
                                type: string
                                description: Audio sample rate in Hz.
                                example: "44100"
                              filemode:
                                type: string
                                description: File encoding mode.
                                example: Single
                              threads:
                                type: integer
                                description: Number of CPU threads used for encoding.
                                example: 2
                              bframe:
                                type: integer
                                description: Number of B-frames in the encoding sequence.
                                example: 1
                              preset:
                                type: string
                                description: Encoder speed or quality preset.
                                example: superfast
                              format:
                                type: string
                                description: Container format metadata from FFprobe.
                                example: mp4
                              weight:
                                type: integer
                                description: Profile resolution weight in pixels.
                                example: 8294400
                          codec:
                            type: string
                            description: Short codec name used for the encoding job.
                            example: h264

  /transcoding/profiles/defaults:
    post:
      tags:
      - Encoding Profiles
      summary: Create Default Preset Profiles
      description: These presets will be automatically added to your new zones.
      operationId: createAutoTranscodeProfiles
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                defaultprofiles:
                  type: array
                  description: >
                    Array of profile IDs to set as default auto-apply presets.
                    Should be profile IDs from GET /transcoding/file/profiles.
                  items:
                    type: string
                  example: ["profileId1", "profileId2"]
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: API response status.
                    example: success
                  message:
                    type: string
                    description: Human-readable result or error message.
                    example: Transcoding Settings Updated

  /transcoding/profiles/new:
    post:
      tags:
      - Encoding Profiles
      summary: Create Encoding Profile
      description: Create a new transcoding profile.
      operationId: createTranscodingProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - _METHOD
              properties:
                _METHOD:
                  type: string
                  description: To cast request method POST to PUT.
                  example: PUT
                name:
                  type: string
                  description: "Profile display name used throughout the encoding UI. Required; cannot be empty or whitespace only."
                  example: HD 720p H.264
                cv:
                  type: string
                  description: "FFmpeg codec identifier for video encoding. libx264 = H.264/AVC. libx265 = H.265/HEVC. libvpx-vp9 = VP9."
                  enum: [libx264, libx265, libvpx-vp9]
                  example: libx264
                ca:
                  type: string
                  description: "Audio codec determined by container format (f). mp4/hls/hlsaes use aac; webm uses opus."
                  enum: [aac, opus]
                  example: aac
                f:
                  type: string
                  description: "Output container format. Selecting this auto-populates codec defaults."
                  enum: [mp4, webm, hls, hlsaes]
                  example: mp4
                filemode:
                  type: string
                  description: "Output file organization. single = one output file per profile. combined = multi-bitrate HLS manifest bundle."
                  enum: [single, combined]
                  example: single
                fps:
                  type: string
                  description: "Target output frame rate as string. 0 copies the source frame rate."
                  enum: ["0", "24", "25", "30", "48", "50", "60"]
                  example: "30"
                gop:
                  type: string
                  description: "Group of Pictures size (frames between keyframes). Smaller values improve seeking accuracy. Typical range 24–300."
                  example: "60"
                preset:
                  type: string
                  description: "Encoding speed preset. Slower presets produce smaller files at the cost of encoding time."
                  enum: [ultrafast, superfast, veryfast, faster, fast, medium, slow, slower, veryslow]
                  example: veryfast
                vlevel:
                  type: string
                  description: "Codec encoding level constraining maximum resolution, frame rate, and bitrate. Valid values depend on cv and vprofile."
                  enum: ["3.0", "3.1", "3.2", "4.0", "4.1", "4.2", "5.0", "5.1", "5.2", "6.0", "6.1", "6.2"]
                  example: "4.1"
                vprofile:
                  type: string
                  description: "Codec-specific encoding profile. H.264 (libx264): baseline, main, high. H.265 (libx265): main, main10. VP9 (libvpx-vp9): profile0, profile2. Available values are constrained by cv."
                  example: high
                vpass:
                  type: string
                  description: "Number of encoding passes. 1 = faster single-pass. 2 = two-pass for more accurate bitrate targeting."
                  enum: ["1", "2"]
                  example: "1"
                tune:
                  type: string
                  description: "H.264 encoding tune preset; only applicable when cv=libx264. disabled = no tune applied."
                  enum: [disabled, film, animation, grain, stillimage, fastdecode]
                  example: film
                bv:
                  type: string
                  description: "Video bitrate mode. 0 = As Source (copies source bitrate). 1 = As Defined (use bvvalue to set target kbps)."
                  enum: ["0", "1"]
                  example: "1"
                bvvalue:
                  type: string
                  description: "Target video bitrate in kilobits per second, sent as a string. Required when bv=1."
                  example: "4000"
                ba:
                  type: string
                  description: "Audio bitrate mode. 0 = As Source (copies source bitrate). 1 = As Defined (use bavalue to set target kbps). Forced to 1 when f=webm."
                  enum: ["0", "1"]
                  example: "1"
                bavalue:
                  type: string
                  description: "Target audio bitrate in kilobits per second, sent as a string. Required when ba=1."
                  example: "128"
                sv:
                  type: string
                  description: "Output resolution. Use as_defined to specify custom dimensions via svvalue. Use 0 to preserve source resolution."
                  enum: ["2160p", "1440p", "1080p", "720p", "576p", "480p", "360p", "240p", "144p", "0", "as_defined"]
                  example: "720p"
                svvalue:
                  type: string
                  description: "Custom output dimensions as a single WIDTHxHEIGHT string. Only used when sv=as_defined. Both dimensions must be divisible by 2."
                  example: "1920x800"
                crfv:
                  type: string
                  description: "Constant Rate Factor for quality-based encoding. Lower value = better quality. Range 0–51; typical H.264 range is 18–28."
                  example: "24"
                ara:
                  type: string
                  description: "Audio sample rate in Hz. 0 preserves the source sample rate."
                  enum: ["0", "44100", "48000"]
                  example: "48000"
                aca:
                  type: string
                  description: "Audio output channel count. 0 = As Source. 1 = Mono. 2 = Stereo."
                  enum: ["0", "1", "2"]
                  example: "2"
                bframe:
                  type: string
                  description: "Number of consecutive B-frames. Higher values improve compression efficiency."
                  enum: ["0", "1", "2", "3", "4"]
                  example: "2"
                tm:
                  type: string
                  description: "Thumbnail generation mode. interval = generate thumbnails at periodic intervals. fixed = generate thumbnail at exact time tv. disabled = no thumbnails."
                  enum: [interval, fixed, disabled]
                  example: interval
                tv:
                  type: string
                  description: "Thumbnail time value in HH:MM:SS format. Required when tm=interval or tm=fixed."
                  example: "0:01:30"
                upscale:
                  type: string
                  description: "Whether to allow upscaling when the target resolution exceeds the source resolution. Y = allow upscaling. N = skip if source is lower resolution."
                  enum: ["Y", "N"]
                  example: "N"
                sourcevideo:
                  type: string
                  description: "Whether to include the video stream in the output. N = creates audio-only output."
                  enum: ["Y", "N"]
                  example: "Y"
                sourceaudio:
                  type: string
                  description: "Whether to include the audio stream in the output. N = creates video-only output."
                  enum: ["Y", "N"]
                  example: "Y"
                hlsUnifiedSegments:
                  type: boolean
                  description: "Enables MPEG-TS segment format for HLS output. Defaults to false."
                  example: false
                hlsfMP4Segments:
                  type: boolean
                  description: "Enables fragmented MP4 format for HLS output; improves seeking. Mutually exclusive with hlsUnifiedSegments."
                  example: false
                outdir:
                  type: string
                  description: "Output directory path relative to the storage root. Empty string stores in root. Characters < > : \\ | ? * are not allowed."
                  example: "output/hd"
                filters:
                  type: array
                  description: Array of filter IDs to apply as video overlays during encoding.
                  items:
                    type: string
                  example: ["1", "2"]
                profiles:
                  type: array
                  description: Sub-profiles.
                  items:
                    type: string
                  example: []
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: API response status.
                    example: success
                  message:
                    type: string
                    description: Human-readable result or error message.
                    example: "Transcoding Settings, New Profile Created"
                  profileid:
                    type: integer
                    description: Transcoding profile identifier used for this job.
                    example: 129017

  /transcoding/profiles/{profileid}:
    post:
      tags:
      - Encoding Profiles
      summary: Update Encoding Profile
      description: Edit an existing transcoding profile.
      operationId: editTranscodingProfile
      parameters:
      - $ref: '#/components/parameters/profileIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Profile display name used throughout the encoding UI. Cannot be empty or whitespace only."
                  example: Updated Profile
                cv:
                  type: string
                  description: "FFmpeg codec identifier for video encoding. libx264 = H.264/AVC. libx265 = H.265/HEVC. libvpx-vp9 = VP9."
                  enum: [libx264, libx265, libvpx-vp9]
                  example: libx264
                ca:
                  type: string
                  description: "Audio codec determined by container format (f). mp4/hls/hlsaes use aac; webm uses opus."
                  enum: [aac, opus]
                  example: aac
                f:
                  type: string
                  description: "Output container format. Selecting this auto-populates codec defaults."
                  enum: [mp4, webm, hls, hlsaes]
                  example: mp4
                filemode:
                  type: string
                  description: "Output file organization. single = one output file per profile. combined = multi-bitrate HLS manifest bundle."
                  enum: [single, combined]
                  example: single
                fps:
                  type: string
                  description: "Target output frame rate as string. 0 copies the source frame rate."
                  enum: ["0", "24", "25", "30", "48", "50", "60"]
                  example: "30"
                gop:
                  type: string
                  description: "Group of Pictures size (frames between keyframes). Smaller values improve seeking accuracy. Typical range 24–300."
                  example: "60"
                preset:
                  type: string
                  description: "Encoding speed preset. Slower presets produce smaller files at the cost of encoding time."
                  enum: [ultrafast, superfast, veryfast, faster, fast, medium, slow, slower, veryslow]
                  example: veryfast
                vlevel:
                  type: string
                  description: "Codec encoding level constraining maximum resolution, frame rate, and bitrate. Valid values depend on cv and vprofile."
                  enum: ["3.0", "3.1", "3.2", "4.0", "4.1", "4.2", "5.0", "5.1", "5.2", "6.0", "6.1", "6.2"]
                  example: "4.1"
                vprofile:
                  type: string
                  description: "Codec-specific encoding profile. H.264 (libx264): baseline, main, high. H.265 (libx265): main, main10. VP9 (libvpx-vp9): profile0, profile2. Available values are constrained by cv."
                  example: high
                vpass:
                  type: string
                  description: "Number of encoding passes. 1 = faster single-pass. 2 = two-pass for more accurate bitrate targeting."
                  enum: ["1", "2"]
                  example: "1"
                tune:
                  type: string
                  description: "H.264 encoding tune preset; only applicable when cv=libx264. disabled = no tune applied."
                  enum: [disabled, film, animation, grain, stillimage, fastdecode]
                  example: film
                bv:
                  type: string
                  description: "Video bitrate mode. 0 = As Source (copies source bitrate). 1 = As Defined (use bvvalue to set target kbps)."
                  enum: ["0", "1"]
                  example: "1"
                bvvalue:
                  type: string
                  description: "Target video bitrate in kilobits per second, sent as a string. Required when bv=1."
                  example: "4000"
                ba:
                  type: string
                  description: "Audio bitrate mode. 0 = As Source (copies source bitrate). 1 = As Defined (use bavalue to set target kbps). Forced to 1 when f=webm."
                  enum: ["0", "1"]
                  example: "1"
                bavalue:
                  type: string
                  description: "Target audio bitrate in kilobits per second, sent as a string. Required when ba=1."
                  example: "128"
                sv:
                  type: string
                  description: "Output resolution. Use as_defined to specify custom dimensions via svvalue. Use 0 to preserve source resolution."
                  enum: ["2160p", "1440p", "1080p", "720p", "576p", "480p", "360p", "240p", "144p", "0", "as_defined"]
                  example: "720p"
                svvalue:
                  type: string
                  description: "Custom output dimensions as a single WIDTHxHEIGHT string. Only used when sv=as_defined. Both dimensions must be divisible by 2."
                  example: "1920x800"
                crfv:
                  type: string
                  description: "Constant Rate Factor for quality-based encoding. Lower value = better quality. Range 0–51; typical H.264 range is 18–28."
                  example: "24"
                ara:
                  type: string
                  description: "Audio sample rate in Hz. 0 preserves the source sample rate."
                  enum: ["0", "44100", "48000"]
                  example: "48000"
                aca:
                  type: string
                  description: "Audio output channel count. 0 = As Source. 1 = Mono. 2 = Stereo."
                  enum: ["0", "1", "2"]
                  example: "2"
                bframe:
                  type: string
                  description: "Number of consecutive B-frames. Higher values improve compression efficiency."
                  enum: ["0", "1", "2", "3", "4"]
                  example: "2"
                tm:
                  type: string
                  description: "Thumbnail generation mode. interval = generate thumbnails at periodic intervals. fixed = generate thumbnail at exact time tv. disabled = no thumbnails."
                  enum: [interval, fixed, disabled]
                  example: interval
                tv:
                  type: string
                  description: "Thumbnail time value in HH:MM:SS format. Required when tm=interval or tm=fixed."
                  example: "0:01:30"
                upscale:
                  type: string
                  description: "Whether to allow upscaling when the target resolution exceeds the source resolution. Y = allow upscaling. N = skip if source is lower resolution."
                  enum: ["Y", "N"]
                  example: "N"
                sourcevideo:
                  type: string
                  description: "Whether to include the video stream in the output. N = creates audio-only output."
                  enum: ["Y", "N"]
                  example: "Y"
                sourceaudio:
                  type: string
                  description: "Whether to include the audio stream in the output. N = creates video-only output."
                  enum: ["Y", "N"]
                  example: "Y"
                hlsUnifiedSegments:
                  type: boolean
                  description: "Enables MPEG-TS segment format for HLS output. Defaults to false."
                  example: false
                hlsfMP4Segments:
                  type: boolean
                  description: "Enables fragmented MP4 format for HLS output; improves seeking. Mutually exclusive with hlsUnifiedSegments."
                  example: false
                outdir:
                  type: string
                  description: "Output directory path relative to the storage root. Empty string stores in root. Characters < > : \\ | ? * are not allowed."
                  example: "output/hd"
                filters:
                  type: array
                  description: Array of filter IDs to apply as video overlays during encoding.
                  items:
                    type: string
                  example: ["1"]
                profiles:
                  type: array
                  description: Sub-profiles.
                  items:
                    type: string
                  example: []
                _METHOD:
                  type: string
                  description: Signal DELETE to the backend when deleting.
                  example: DELETE
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: API response status.
                    example: success
                  message:
                    type: string
                    description: Human-readable result or error message.
                    example: Transcoding Settings Updated
    delete:
      tags:
      - Encoding Profiles
      summary: Delete Encoding Profile
      description: >
        Delete the information of a transcoding profile. To cast request method
        POST, include parameter _METHOD = DELETE.
      operationId: deleteTranscodingProfile
      parameters:
      - $ref: '#/components/parameters/profileIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - _METHOD
              properties:
                _METHOD:
                  type: string
                  description: Signals DELETE to the backend.
                  enum: [DELETE]
                  example: DELETE
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: API response status.
                    example: success
                  message:
                    type: string
                    description: Human-readable result or error message.
                    example: Transcoding Settings Updated

  # ---------------------------------------------------------------------------
  # File Transcoding Filters
  # ---------------------------------------------------------------------------
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    zoneIdParam:
      name: zoneId
      in: path
      description: ID of the Push Zone (`fs_pushzones.id`).
      required: true
      style: simple
      explode: false
      schema:
        type: integer
        example: 15

    jobIdParam:
      name: jobid
      in: path
      description: ID of the Video Encoding job (Beanstalkd job ID stored in `fs_encodejobs.jobid`).
      required: true
      style: simple
      explode: false
      schema:
        type: integer
        example: 10042

    profileIdParam:
      name: profileid
      in: path
      description: ID of the Transcode Profile (`fs_transcodeprofiles.id`).
      required: true
      style: simple
      explode: false
      schema:
        type: integer
        example: 7

    filterIdParam:
      name: filterid
      in: path
      description: ID of the Transcoding Filter (`fs_transcodefilters.id`).
      required: true
      style: simple
      explode: false
      schema:
        type: integer
        example: 3

  schemas:
    createProfileCombined:
      type: object

    editProfileCombined:
      type: object

    createFileTranscodingFilter:
      type: object

    editFileTranscodingFilter:
      type: object
