openapi: 3.0.0
info:
  title: 5centsCDN - Zones
  description: API for managing Zones in 5centsCDN (https://www.5centscdn.net)
  version: 2.0.0
  contact:
    email: help@5centscdn.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
- url: https://api.5centscdn.com/v2
  description: 5centsCDN API Server - Production
security:
- ApiKeyAuth: []
tags:
- name: HTTP Push
  description: Endpoints related to HTTP Push zones
- name: HTTP Pull
  description: Endpoints related to HTTP Pull zones
- name: HTTP Global Settings
  description: Global HTTP zone security settings
- name: VOD Push
  description: Endpoints related to VOD Push zones
- name: VOD Pull
  description: Endpoints related to VOD Pull zones
- name: VOD Global Settings
  description: Global VOD zone security settings
  
paths:
  /zones/http/push:
    get:
      tags:
      - HTTP Push
      summary: Zone
      description: Return  HTTP push zone details
      operationId: zonePushList
      deprecated: false
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          description: The page number of the result. One page contains 20 results.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  zones:
                    type: array
                    description: Array of zone objects returned in this page of results.
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: "Zone type identifier (push or pull)"
                        id:
                          type: integer
                          description: "Unique numeric identifier of the zone"
                        serviceid:
                          type: integer
                          description: "Service account identifier associated with this zone"
                        alias:
                          type: string
                          description: "Primary CDN hostname assigned to the zone"
                        hashid:
                          type: string
                          description: "Unique hash identifier of the zone"
                        mode:
                          type: string
                          description: "Delivery mode of the zone (e.g. http, https)"
                        optimizer:
                          type: string
                          description: "Whether the optimizer feature is enabled for this zone"
                        cnames:
                          type: string
                          nullable: true
                          description: "Comma-separated list of CNAMEs associated with this zone"
                        edgeruleids:
                          type: integer
                          description: "Count of edge rules associated with this zone"
                        rclone:
                          type: integer
                          description: "Whether rclone integration is enabled for this zone"
                        disabled:
                          type: string
                          description: "Whether this zone is currently disabled (0 = active, 1 = disabled)"
                        created_at:
                          type: string
                          description: "ISO 8601 timestamp when this resource was created"
                        updated_at:
                          type: string
                          description: "ISO 8601 timestamp of the most recent update"
                        deleted:
                          nullable: true
                        router:
                          type: string
                          description: "Internal router label for this zone"
                        remaining:
                          type: integer
                          description: "Remaining quota or resource count for this zone"
                        status:
                          type: string
                          description: "Current operational status of the resource"
                        name:
                          type: string
                          description: "Human-readable name of the resource"
                        fqdn:
                          type: string
                          description: "Fully qualified domain name of the CDN zone"
                        ssl:
                          type: object
                          properties:
                            http:
                              type: string
                              description: "Whether plain HTTP delivery is enabled (Y/N)"
                            http2:
                              type: string
                              description: "Whether HTTP/2 is enabled (Y/N)"
                            redirect:
                              type: string
                              description: "Whether HTTP to HTTPS redirect is enabled (Y/N)"
                            mode:
                              type: string
                              description: "SSL mode identifier for this zone"
                            certid:
                              type: string
                              nullable: true
                              description: "SSL certificate identifier, or empty if using default"
                            zerossl:
                              type: object
                              nullable: true
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                            warning:
                              oneOf:
                              - type: boolean
                              - type: string
                              description: "SSL warning flag or message, false if none"
                        cnamesArr:
                          type: array
                          items:
                            type: string
                          description: "Array of CNAMEs for this zone"
                        cnamesArrFqdn:
                          type: array
                          items:
                            type: string
                          description: "Array of FQDN CNAMEs for this zone"
                        waf:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                        defaultBehaviors:
                          type: object
                          additionalProperties:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  description: "Unique numeric identifier of the zone"
                                network:
                                  type: string
                                  description: "Network provider name for this behavior"
                                rule:
                                  type: object
                        edgeRules:
                          type: array
                          items: {}
                          description: "Array of edge rule objects for this zone"
                        cache:
                          type: object
                          properties:
                            smart:
                              type: string
                              description: "Whether smart cache is enabled for this zone"
                            cache:
                              type: string
                              description: "Edge cache TTL duration code"
                            expiry:
                              type: string
                              description: "Browser cache TTL duration code"
                            querystring:
                              type: string
                              description: "Whether query string caching is enabled (Y/N)"
                            cachecontrol:
                              type: string
                              description: "Whether Cache-Control headers are respected (Y/N)"
                            usestale:
                              type: string
                              description: "Whether stale content is served while revalidating (Y/N)"
                            revalidate:
                              type: string
                              description: "Whether content is revalidated after expiry (Y/N)"
                            cacheInSecs:
                              oneOf:
                              - type: integer
                              - type: string
                              description: "Edge cache TTL in seconds"
                            cacheInMins:
                              type: integer
                              description: "Edge cache TTL in minutes"
                            expiryInSecs:
                              oneOf:
                              - type: integer
                              - type: string
                              description: "Browser cache TTL in seconds"
                            expiryInMins:
                              type: integer
                              description: "Browser cache TTL in minutes"
                        edge:
                          type: object
                          properties:
                            compression:
                              type: string
                              description: "Whether gzip/brotli compression is enabled (Y/N)"
                            compressionlevel:
                              type: string
                              description: "Compression level setting (0-9)"
                            disposition:
                              type: string
                              description: "Whether Content-Disposition header is set (Y/N)"
                            stripcookie:
                              type: string
                              description: "Whether cookies are stripped from requests (Y/N)"
                            xff:
                              type: string
                              description: "Whether X-Forwarded-For header is passed (Y/N)"
                            cors:
                              type: string
                              description: "Whether CORS headers are enabled (Y/N)"
                            webp:
                              type: string
                              description: "Whether WebP conversion is enabled (Y/N)"
                            pseudostreaming:
                              type: string
                              description: "Whether pseudo-streaming is enabled (Y/N)"
                            wp:
                              type: string
                              description: "Whether WordPress optimization is enabled (Y/N)"
                            lfo:
                              type: string
                              description: "Whether large file optimization is enabled (Y/N)"
                            prefresh:
                              type: string
                              description: "Whether prefetch refresh is enabled (Y/N)"
                        domainlock:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                            list:
                              type: string
                              description: "Comma-separated list of entries for this security rule"
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                            noreferer:
                              type: string
                              description: "Whether requests with no referrer header are blocked (Y/N)"
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                        geoblock:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                            list:
                              type: array
                              items:
                                type: string
                              description: "Comma-separated list of entries for this security rule"
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                        ipaccess:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                            list:
                              type: string
                              description: "Comma-separated list of entries for this security rule"
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                        useragent:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                            list:
                              type: string
                              description: "Comma-separated list of entries for this security rule"
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                            casesensitive:
                              type: string
                              description: "Whether matching is case-sensitive (Y/N)"
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                            listArr:
                              type: array
                              items:
                                type: string
                              description: "Array of entries for this security rule"
                        securetoken:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                            keyip:
                              type: string
                              description: "Whether IP is included in the secure token key (Y/N)"
                            list:
                              type: string
                              description: "Comma-separated list of entries for this security rule"
                            timeout:
                              type: integer
                              description: "Token expiry timeout in seconds"
                            session:
                              type: string
                              description: "Whether session-based tokens are used (Y/N)"
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                            dirs:
                              type: string
                              description: "Comma-separated directory paths for token restriction"
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                        bwlimit:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                            rate:
                              type: integer
                              description: "Bandwidth rate limit value"
                            rateafter:
                              type: integer
                              description: "Bytes transferred before rate limiting begins"
                            payg:
                              type: string
                              description: "Whether pay-as-you-go billing is enabled (Y/N)"
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                        eac:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                            list:
                              type: string
                              description: "Comma-separated list of entries for this security rule"
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                        behaviorId:
                          type: integer
                          description: "Numeric identifier of the default behavior set"
                        linkedVideoManager:
                          nullable: true
                        hostHeader:
                          type: string
                          description: "Custom host header sent to the origin server"
                        storageHost:
                          type: string
                          description: "Primary object storage hostname"
                        storageHostBackup:
                          type: string
                          description: "Backup object storage hostname"
                        osAuthUrl:
                          type: string
                          description: "OpenStack authentication URL for object storage"
                        horizonUrl:
                          type: string
                          description: "OpenStack Horizon dashboard URL"
                        cdnservice:
                          type: object
                          properties:
                            purgeurls:
                              type: array
                              items:
                                type: string
                              description: "Array of purge endpoint URLs for this zone"
                            purgeurl:
                              type: string
                              description: "JSON-encoded purge URL string"
                            authtoken:
                              type: string
                              description: "Base64-encoded authentication token for CDN service calls"
                            infourl:
                              type: string
                              description: "URL to retrieve info about this zone from the CDN service"
                            listurl:
                              type: string
                              description: "URL to list files in this zone from the CDN service"
                            rawlisturl:
                              type: string
                              description: "URL to retrieve a raw file listing from the CDN service"
                            transcodelisturl:
                              type: string
                              description: "URL to list transcoded files from the CDN service"
                            addurl:
                              type: string
                              description: "URL to add a file via the CDN service"
                            editurl:
                              type: string
                              description: "URL to edit a file via the CDN service"
                            deleteurl:
                              type: string
                              description: "URL to delete a file via the CDN service"
                            uploadurl:
                              type: string
                              description: "URL to upload files via the CDN service"
                            playlisturl:
                              type: string
                              description: "URL to retrieve the playlist via the CDN service"
                        ftpdetails:
                          type: object
                          properties:
                            username:
                              type: string
                              description: "FTP or access username for this zone"
                            password:
                              type: string
                              description: "FTP or access password for this zone"
                        playbackurls:
                          type: object
                          properties:
                            scheme:
                              type: string
                              description: "URL scheme used for playback (http or https)"
                            name:
                              type: string
                              description: "Human-readable name of the resource"
                            url_prefix:
                              type: string
                              description: "Base URL prefix for CDN delivery"
                            http:
                              type: string
                              description: "Whether plain HTTP delivery is enabled (Y/N)"
                            players:
                              type: object
                              properties:
                                hostname:
                                  type: string
                                  description: "Player service hostname"
                                flowplayer:
                                  type: object
                                  properties:
                                    base:
                                      type: string
                                      description: Base URL for the player or stream
                                    hls:
                                      type: string
                                      description: Flowplayer embed URLs for this zone
                                videojs:
                                  type: object
                                  properties:
                                    base:
                                      type: string
                                      description: Base URL for the player or stream
                                    hls:
                                      type: string
                                      description: Video.js player embed URLs for this zone
                                own:
                                  type: object
                                  properties:
                                    hashes:
                                      type: object
                                      additionalProperties:
                                        type: object
                                        properties:
                                          hash:
                                            type: string
                                          hls:
                                            type: string
                                          dash:
                                            type: string
                                    baseQ:
                                      type: string
                                      description: Base URL with query string parameters for player customization
                                    base:
                                      type: string
                                      description: Base URL for the player or stream
                                    hls:
                                      type: string
                                      description: HLS stream playlist URL for this zone
                            tokenized:
                              type: object
                              nullable: true
                        s3details:
                          type: object
                          properties:
                            relid:
                              type: integer
                              description: "Related zone identifier"
                            type:
                              type: string
                              description: "Zone type identifier (push or pull)"
                            projectid:
                              type: string
                              description: "Primary object storage project identifier"
                            token:
                              type: string
                              description: "Primary object storage access token"
                            projectid2:
                              type: string
                              description: "Secondary object storage project identifier"
                            token2:
                              type: string
                              description: "Secondary object storage access token"
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                            updated_at:
                              type: string
                              description: "ISO 8601 timestamp of the most recent update"
                            last_modified:
                              type: string
                              description: "ISO 8601 timestamp of last modification to storage details"
                        transcodefile:
                          type: object
                          properties:
                            profiles:
                              type: array
                              items:
                                type: string
                              description: "Array of transcoding profile IDs applied to uploaded files"
                            emails:
                              type: array
                              items:
                                type: string
                              description: "Array of email addresses notified after transcoding completes"
                            webhooks:
                              type: array
                              items:
                                type: string
                              description: "Array of webhook URLs called after transcoding completes"
                        server:
                          type: object
                          properties:
                            code:
                              type: integer
                              description: "HTTP status code"
                            name:
                              type: string
                              description: "Human-readable name of the resource"
                            country:
                              type: string
                              description: "Two-letter ISO country code or country name"
                            meta:
                              type: object
                              properties:
                                uploadPort:
                                  type: string
                                  description: "FTP upload port number for this server"
                                uploadHost:
                                  type: string
                                  description: "FTP upload hostname for this server"
                        hasEdgeRules:
                          type: boolean
                          description: "Whether this zone has any edge rules configured"
  /zones/http/push/servers:
    get:
      tags:
      - HTTP Push
      summary: Get Servers
      description: HTTP Push Zone Servers
      operationId: HTTPPushZoneServer
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  servers:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: "HTTP status code"
                        name:
                          type: string
                          description: "Human-readable name of the resource"
                        country:
                          type: string
                          description: "Two-letter ISO country code or country name"
  /zones/http/push/new:
    post:
      tags:
      - HTTP Push
      summary: Create Zone
      description: Create a new HTTP Push Zone
      operationId: createZonePush
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - _METHOD
              - alias
              - server
              properties:
                _METHOD:
                  type: string
                  description: Must always be PUT.
                alias:
                  type: string
                  description: Label for the zone.
                server:
                  type: integer
                  format: int32
                  description: Server location code. 30 = North America, 31 = Europe, 206 = SE Asia.
                  enum: [30, 31, 206]
                profiles:
                  type: array
                  items:
                    type: string
                  description: Transcoding profile IDs. Leave empty to disable auto transcoding.
                ssl:
                  type: object
                  properties:
                    http2:
                      type: string
                      enum: [Y, N]
                      description: "Whether HTTP/2 is enabled (Y/N)"
                    redirect:
                      type: string
                      enum: [Y, N]
                      description: HTTP to HTTPS redirect.
                    mode:
                      type: string
                      enum: [N, S, L, C]
                      description: "SSL certificate mode. N = None (no SSL). S = Shared wildcard SSL certificate (default CDN certificate). L = Free SSL via ZeroSSL/Let's Encrypt. C = Custom SSL certificate (requires certid)."
                  description: SSL certificate settings for HTTPS delivery.
                cache:
                  type: object
                  properties:
                    cache:
                      type: string
                      description: Edge cache TTL duration code.
                    expiry:
                      type: string
                      description: Browser cache TTL duration code, or empty string to disable.
                  description: Cache configuration settings for the zone.
                webhook:
                  type: string
                  description: HTTP/HTTPS URL to notify after files are transcoded.
                cnames:
                  type: string
                  description: Comma-separated verified CNAMEs.
                domainlock:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Y, N]
                      description: "Referrer filtering mode. Y = Blacklist mode (block requests with listed referring domains). N = Whitelist mode (allow only requests from listed referring domains, block all others)."
                    list:
                      type: string
                      description: Comma-separated domain names.
                    ips:
                      type: string
                      description: Comma-separated IP addresses or CIDR ranges.
                    noreferer:
                      type: string
                      enum: [Y, N]
                      description: "Controls requests with no Referer header. Y = block requests that have no Referer header. N = allow requests with no Referer header."
                  description: Domain lock / referrer restriction settings.
                geoblock:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Y, N]
                      description: "Country filtering mode. Y = Blacklist mode (block requests from listed countries). N = Whitelist mode (allow only requests from listed countries, block all others)."
                    list:
                      type: array
                      items:
                        type: string
                      description: ISO-3166 country codes.
                    ips:
                      type: string
                  description: Geo-blocking settings to restrict access by country.
                bwlimit:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: ["0", "1"]
                      description: "Rate limiting mode. \"0\" = Static mode (fixed rate applied from the start of the transfer). \"1\" = Dynamic mode (rate limiting activates only after rateafter bytes have been served)."
                    rate:
                      type: number
                      description: Throttle rate in KB/s applied after rateafter threshold is reached.
                    rateafter:
                      type: number
                      description: Amount of data in KB served before the throttle rate kicks in.
                  description: Bandwidth limit settings for the zone.
                ipaccess:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Y, N]
                      description: "IP access filtering mode. Y = Blacklist mode (block listed IPs). N = Whitelist mode (allow only listed IPs, block all others)."
                    list:
                      type: string
                      description: Comma-separated list of allowed or blocked entries.
                    ips:
                      type: string
                  description: IP access control settings to allow or block specific IPs.
                securetoken:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Q, F, D]
                      description: "Defines how the token is computed. Q = Query string mode (token applied per query string parameter). F = Full path mode (token covers the full URL path). D = Directory/path-embedded mode (token is embedded within the URL path)."
                    keyip:
                      type: string
                      enum: [Y, N]
                      description: "Bind token validation to the originating client IP address. Y = token is only valid from the IP that generated it, preventing sharing or theft. N = IP binding is disabled."
                    list:
                      type: string
                      description: 16-character hex secret key.
                    timeout:
                      type: number
                      minimum: 5
                      maximum: 25200
                      description: Token expiry time in seconds. Minimum 5, maximum 25200.
                    session:
                      type: string
                      enum: ["0", "1"]
                      description: "Defines the token expiry behavior. \"0\" = Fixed expiry (token expires at a set time regardless of activity). \"1\" = Rolling/Moving expiry (token timeout resets with each request, suitable for active sessions)."
                    ips:
                      type: string
                  description: Secure token settings for URL authentication.
                useragent:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Y, N]
                      description: "User agent filtering mode. Y = Block mode (block requests from listed user agents). N = Allow mode (allow only requests from listed user agents, block all others)."
                    list:
                      type: string
                      description: Comma-separated list of allowed or blocked entries.
                    ips:
                      type: string
                      description: Comma-separated IP addresses or CIDR ranges.
                    casesensitive:
                      type: string
                      enum: [Y, N]
                      description: "User agent string matching precision. Y = case-sensitive matching. N = case-insensitive matching."
                  description: User-agent filter settings to restrict access by browser/client.
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  message:
                    type: string
                    description: "Human-readable status or result message"
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
                  warnings:
                    type: array
                    nullable: true
                    items:
                      type: string
                      description: Array of warning messages from the operation
  /zones/http/push/{zoneid}:
    get:
      tags:
      - HTTP Push
      summary: Zone
      description: Return  HTTP push zone details
      operationId: getDetailsZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  zone:
                    type: object
                    properties:
                      type:
                        type: string
                        description: "Zone type identifier (push or pull)"
                      id:
                        type: integer
                        description: "Unique numeric identifier of the zone"
                      serviceid:
                        type: integer
                        description: "Service account identifier associated with this zone"
                      alias:
                        type: string
                        description: "Primary CDN hostname assigned to the zone"
                      hashid:
                        type: string
                        description: "Unique hash identifier of the zone"
                      mode:
                        type: string
                        description: "Delivery mode of the zone (e.g. http, https)"
                      optimizer:
                        type: string
                        description: "Whether the optimizer feature is enabled for this zone"
                      cnames:
                        type: string
                        nullable: true
                        description: "Comma-separated list of CNAMEs associated with this zone"
                      edgeruleids:
                        type: integer
                        description: "Count of edge rules associated with this zone"
                      rclone:
                        type: integer
                        description: "Whether rclone integration is enabled for this zone"
                      disabled:
                        type: string
                        description: "Whether this zone is currently disabled (0=active, 1=disabled)"
                      created_at:
                        type: string
                        description: "ISO 8601 timestamp when this resource was created"
                      updated_at:
                        type: string
                        description: "ISO 8601 timestamp of the most recent update"
                      deleted:
                        nullable: true
                      router:
                        type: string
                        description: "Internal router label for this zone"
                      remaining:
                        type: integer
                        description: "Remaining quota or resource count for this zone"
                      status:
                        type: string
                        description: "Current operational status of the resource"
                      name:
                        type: string
                        description: "Human-readable name of the resource"
                      fqdn:
                        type: string
                        description: "Fully qualified domain name of the CDN zone"
                      ssl:
                        type: object
                        properties:
                          http:
                            type: string
                            description: "Whether plain HTTP delivery is enabled (Y/N)"
                          http2:
                            type: string
                            description: "Whether HTTP/2 is enabled (Y/N)"
                          redirect:
                            type: string
                            description: "Whether HTTP to HTTPS redirect is enabled (Y/N)"
                          mode:
                            type: string
                            description: "Delivery mode of the zone (e.g. http, https)"
                          certid:
                            type: string
                            nullable: true
                            description: "SSL certificate identifier, or empty if using default"
                          zerossl:
                            type: object
                            nullable: true
                            properties:
                              logDir:
                                type: string
                                description: Directory path where access logs are stored
                              messages:
                                type: array
                                items:
                                  type: string
                                  description: ZeroSSL certificate provisioning settings
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                          warning:
                            oneOf:
                            - type: boolean
                            - type: string
                            description: "SSL warning flag or message, false if none"
                      cnamesArr:
                        type: array
                        items:
                          type: string
                        description: "Array of CNAMEs for this zone"
                      cnamesArrFqdn:
                        type: array
                        items:
                          type: string
                        description: "Array of FQDN CNAMEs for this zone"
                      waf:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                      defaultBehaviors:
                        type: object
                        additionalProperties:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: "Unique numeric identifier of the zone"
                              network:
                                type: string
                                description: "Network provider name for this behavior"
                              rule:
                                type: object
                                description: Edge rule configuration object for this behavior.
                      edgeRules:
                        type: array
                        items: {}
                        description: "Array of edge rule objects for this zone"
                      cache:
                        type: object
                        properties:
                          smart:
                            type: string
                            description: "Whether smart cache is enabled for this zone"
                          cache:
                            type: string
                            description: "Edge cache TTL duration code"
                          expiry:
                            type: string
                            description: "Browser cache TTL duration code"
                          querystring:
                            type: string
                            description: "Whether query string caching is enabled (Y/N)"
                          cachecontrol:
                            type: string
                            description: "Whether Cache-Control headers are respected (Y/N)"
                          usestale:
                            type: string
                            description: "Whether stale content is served while revalidating (Y/N)"
                          revalidate:
                            type: string
                            description: "Whether content is revalidated after expiry (Y/N)"
                          cacheInSecs:
                            type: integer
                            description: "Edge cache TTL in seconds"
                          cacheInMins:
                            type: integer
                            description: "Edge cache TTL in minutes"
                          expiryInSecs:
                            type: integer
                            description: "Browser cache TTL in seconds"
                          expiryInMins:
                            type: integer
                            description: "Browser cache TTL in minutes"
                      edge:
                        type: object
                        properties:
                          compression:
                            type: string
                            description: "Whether gzip/brotli compression is enabled (Y/N)"
                          compressionlevel:
                            type: string
                            description: "Compression level setting (0-9)"
                          disposition:
                            type: string
                            description: "Whether Content-Disposition header is set (Y/N)"
                          stripcookie:
                            type: string
                            description: "Whether cookies are stripped from requests (Y/N)"
                          xff:
                            type: string
                            description: "Whether X-Forwarded-For header is passed (Y/N)"
                          cors:
                            type: string
                            description: "Whether CORS headers are enabled (Y/N)"
                          webp:
                            type: string
                            description: "Whether WebP conversion is enabled (Y/N)"
                          pseudostreaming:
                            type: string
                            description: "Whether pseudo-streaming is enabled (Y/N)"
                          wp:
                            type: string
                            description: "Whether WordPress optimization is enabled (Y/N)"
                          lfo:
                            type: string
                            description: "Whether large file optimization is enabled (Y/N)"
                          prefresh:
                            type: string
                            description: "Whether prefetch refresh is enabled (Y/N)"
                      securetoken:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                          keyip:
                            type: string
                            description: "Whether IP is included in the secure token key (Y/N)"
                          list:
                            type: string
                            description: "Comma-separated list of entries for this security rule"
                          timeout:
                            type: integer
                            description: "Token expiry timeout in seconds"
                          session:
                            type: string
                            description: "Whether session-based tokens are used (Y/N)"
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                          dirs:
                            type: string
                            description: "Comma-separated directory paths for token restriction"
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                      behaviorId:
                        type: integer
                        description: "Numeric identifier of the default behavior set"
                      linkedVideoManager:
                        nullable: true
                      hostHeader:
                        type: string
                        description: "Custom host header sent to the origin server"
                      storageHost:
                        type: string
                        description: "Primary object storage hostname"
                      storageHostBackup:
                        type: string
                        description: "Backup object storage hostname"
                      osAuthUrl:
                        type: string
                        description: "OpenStack authentication URL for object storage"
                      horizonUrl:
                        type: string
                        description: "OpenStack Horizon dashboard URL"
                      domainlock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                          list:
                            type: string
                            description: "Comma-separated list of entries for this security rule"
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                          noreferer:
                            type: string
                            description: "Whether requests with no referrer header are blocked (Y/N)"
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                      geoblock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                          list:
                            type: array
                            items:
                              type: string
                            description: "Comma-separated list of entries for this security rule"
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                      ipaccess:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                          list:
                            type: string
                            description: "Comma-separated list of entries for this security rule"
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                      useragent:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                          list:
                            type: string
                            description: "Comma-separated list of entries for this security rule"
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                          casesensitive:
                            type: string
                            description: "Whether matching is case-sensitive (Y/N)"
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                          listArr:
                            type: array
                            items:
                              type: string
                            description: "Array of entries for this security rule"
                      eac:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                          list:
                            type: string
                            description: "Comma-separated list of entries for this security rule"
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                      bwlimit:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                          rate:
                            type: integer
                            description: "Bandwidth rate limit value"
                          rateafter:
                            type: integer
                            description: "Bytes transferred before rate limiting begins"
                          payg:
                            type: string
                            description: "Whether pay-as-you-go billing is enabled (Y/N)"
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                      cdnservice:
                        type: object
                        properties:
                          purgeurls:
                            type: array
                            items:
                              type: string
                            description: "Array of purge endpoint URLs for this zone"
                          purgeurl:
                            type: string
                            description: "JSON-encoded purge URL string"
                          authtoken:
                            type: string
                            description: "Base64-encoded authentication token for CDN service calls"
                          infourl:
                            type: string
                            description: "URL to retrieve info about this zone from the CDN service"
                          listurl:
                            type: string
                            description: "URL to list files in this zone from the CDN service"
                          rawlisturl:
                            type: string
                            description: "URL to retrieve a raw file listing from the CDN service"
                          transcodelisturl:
                            type: string
                            description: "URL to list transcoded files from the CDN service"
                          addurl:
                            type: string
                            description: "URL to add a file via the CDN service"
                          editurl:
                            type: string
                            description: "URL to edit a file via the CDN service"
                          deleteurl:
                            type: string
                            description: "URL to delete a file via the CDN service"
                          uploadurl:
                            type: string
                            description: "URL to upload files via the CDN service"
                          playlisturl:
                            type: string
                            description: "URL to retrieve the playlist via the CDN service"
                      ftpdetails:
                        type: object
                        properties:
                          username:
                            type: string
                            description: "FTP or access username for this zone"
                          password:
                            type: string
                            description: "FTP or access password for this zone"
                      playbackurls:
                        type: object
                        properties:
                          scheme:
                            type: string
                            description: "URL scheme used for playback (http or https)"
                          name:
                            type: string
                            description: "Human-readable name of the resource"
                          url_prefix:
                            type: string
                            description: "Base URL prefix for CDN delivery"
                          http:
                            type: string
                            description: "Whether plain HTTP delivery is enabled (Y/N)"
                          players:
                            type: object
                            properties:
                              hostname:
                                type: string
                                description: "Player service hostname"
                              flowplayer:
                                type: object
                                properties:
                                  base:
                                    type: string
                                    description: Base URL for the player or stream
                                  hls:
                                    type: string
                                    description: Flowplayer embed URLs for this zone
                              videojs:
                                type: object
                                properties:
                                  base:
                                    type: string
                                    description: Base URL for the player or stream
                                  hls:
                                    type: string
                                    description: Video.js player embed URLs for this zone
                              own:
                                type: object
                                properties:
                                  hashes:
                                    type: object
                                    additionalProperties:
                                      type: object
                                      properties:
                                        hash:
                                          type: string
                                        hls:
                                          type: string
                                        dash:
                                          type: string
                                  baseQ:
                                    type: string
                                    description: Base URL with query string parameters for player customization
                                  base:
                                    type: string
                                    description: Base URL for the player or stream
                                  hls:
                                    type: string
                                    description: HLS stream playlist URL for this zone
                      s3details:
                        type: object
                        properties:
                          relid:
                            type: integer
                            description: "Related zone identifier"
                          type:
                            type: string
                            description: "Zone type identifier (push or pull)"
                          projectid:
                            type: string
                            description: "Primary object storage project identifier"
                          token:
                            type: string
                            description: "Primary object storage access token"
                          projectid2:
                            type: string
                            description: "Secondary object storage project identifier"
                          token2:
                            type: string
                            description: "Secondary object storage access token"
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                          updated_at:
                            type: string
                            description: "ISO 8601 timestamp of the most recent update"
                          last_modified:
                            type: string
                            description: "ISO 8601 timestamp of last modification to storage details"
                      transcodefile:
                        type: object
                        properties:
                          profiles:
                            type: array
                            items:
                              type: string
                            description: "Array of transcoding profile IDs applied to uploaded files"
                          emails:
                            type: array
                            items:
                              type: string
                            description: "Array of email addresses notified after transcoding completes"
                          webhooks:
                            type: array
                            items:
                              type: string
                            description: "Array of webhook URLs called after transcoding completes"
                      server:
                        type: object
                        properties:
                          code:
                            type: integer
                            description: "HTTP status code"
                          name:
                            type: string
                            description: "Human-readable name of the resource"
                          country:
                            type: string
                            description: "Two-letter ISO country code or country name"
                          meta:
                            type: object
                            properties:
                              uploadPort:
                                type: string
                                description: "FTP upload port number for this server"
                              uploadHost:
                                type: string
                                description: "FTP upload hostname for this server"
                      hasEdgeRules:
                        type: boolean
                        description: "Whether this zone has any edge rules configured"
                  warnings:
                    nullable: true
                    description: Array of non-fatal warning messages, or null if no warnings.
    post:
      tags:
      - HTTP Push
      summary: Update Info
      description: Update the information of HTTP Push Zone
      operationId: updateZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postZone'
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  message:
                    type: string
                    description: Human-readable status message describing the outcome.
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
                  warnings:
                    type: array
                    description: Array of non-fatal warning messages from the operation.
                    items:
                      type: string
    delete:
      tags:
      - HTTP Push
      summary: Delete Info
      description: Delete the information of HTTP Push Zone. To cast request method POST and parameters _METHOD = DELETE
      operationId: deletZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - _METHOD
              properties:
                _METHOD:
                  type: string
                  description: HTTP method override header value (e.g. DELETE)
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  message:
                    type: string
                    description: "Human-readable status or result message"
  /zones/http/push/{zoneid}/ssl:
    post:
      tags:
      - HTTP Push
      summary: Update SSL
      description: Update SSL of HTTP push zone
      operationId: updateSslZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                http2:
                  type: boolean
                  description: Indicates whether HTTP/2 protocol is enabled. Y means HTTP/2 is enabled, while N means it is disabled.
                redirect:
                  type: boolean
                  description: Indicates whether HTTP traffic is automatically redirected to HTTPS. Y means redirection is enabled, while N means it is not.
                mode:
                  type: string
                  description: Specifies the SSL mode used for the server configuration. Typical values include S for strict mode or A for automated.
                certid:
                  type: string
                  nullable: true
                  description: A unique identifier for the SSL certificate used. Optional; can be null if no certificate is assigned.
                enabled:
                  type: string
                  description: Indicates whether SSL is enabled for the zone.
                warning:
                  type: boolean
                  description: Indicates whether there is a warning associated with the SSL configuration.
                name:
                  type: string
                  description: The name associated with the SSL certificate. Typically used to identify the certificate for a specific domain.
                crt:
                  type: string
                  description: The SSL certificate content in PEM format. Required for custom SSL certificates.
                key:
                  type: string
                  description: The private key associated with the SSL certificate in PEM format. Required for setting up custom SSL certificates.
                cabundle:
                  type: string
                  description: The Certificate Authority (CA) bundle content in PEM format. Used to validate the SSL certificate chain.
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  message:
                    type: string
                    description: "Human-readable status or result message"
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
                  warnings:
                    type: array
                    nullable: true
                    items:
                      type: string
                      description: Array of warning messages from the operation
  /zones/http/push/{zoneid}/securetoken:
    post:
      tags:
      - HTTP Push
      summary: Update Secure Token
      description: Update SecureToken of HTTP push zone
      operationId: updateSecureTokenZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable secure token.
                policy:
                  type: string
                  enum: [Q, F, D]
                  description: "Defines how the token is computed. Q = Query string mode (token applied per query string parameter). F = Full path mode (token covers the full URL path). D = Directory/path-embedded mode (token is embedded within the URL path)."
                keyip:
                  type: string
                  enum: [Y, N]
                  description: "Bind token validation to the originating client IP address. Y = token is only valid from the IP that generated it, preventing sharing or theft. N = IP binding is disabled."
                list:
                  type: string
                  pattern: '^[a-fA-F0-9]{16}$'
                  description: Secret token key - 16-character hexadecimal string.
                timeout:
                  type: number
                  minimum: 5
                  maximum: 25200
                  description: Token expiry time in seconds. Minimum 5, maximum 25200.
                session:
                  type: string
                  enum: ["0", "1"]
                  description: "Defines the token expiry behavior. \"0\" = Fixed expiry (token expires at a set time). \"1\" = Rolling/Moving expiry (token timeout resets with each request for active sessions)."
                ips:
                  type: string
                  description: Comma-separated IPs excluded from the secure token check.
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  message:
                    type: string
                    description: "Human-readable status or result message"
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
  /zones/http/push/{zoneid}/geoblock:
    post:
      tags:
      - HTTP Push
      summary: Update Geoblock
      description: Update geblock of HTTP push zone
      operationId: updateGeblockZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable geo-lock.
                policy:
                  type: string
                  enum: [Y, N]
                  description: "Country filtering mode. Y = Blacklist mode (block requests from listed countries). N = Whitelist mode (allow only requests from listed countries, block all others)."
                list:
                  type: array
                  items:
                    type: string
                  description: Array of ISO-3166 country codes to block (Y) or allow (N).
                ips:
                  type: string
                  description: Comma-separated IP addresses excluded from the geo check.
                mode:
                  type: string
                  enum: [save, append, overwrite]
                  description: "Configuration persistence mode. save = replace current list. append = add entries to existing list. overwrite = reset and replace entirely."
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  message:
                    type: string
                    description: "Human-readable status or result message"
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
  /zones/http/push/{zoneid}/domainlock:
    post:
      tags:
      - HTTP Push
      summary: Update Domain Lock
      description: Update domain lock of HTTP push zone
      operationId: updateDomainLockZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable domain lock.
                policy:
                  type: string
                  enum: [Y, N]
                  description: "Referrer filtering mode. Y = Blacklist mode (block requests with listed referring domains). N = Whitelist mode (allow only requests from listed referring domains, block all others)."
                list:
                  type: string
                  description: Comma-separated domain names to block (Y) or allow (N).
                ips:
                  type: string
                  description: Comma-separated IP addresses excluded from domain lock restrictions regardless of the policy.
                noreferer:
                  type: string
                  enum: [Y, N]
                  description: "Controls requests with no Referer header. Y = block requests that have no Referer header. N = allow requests with no Referer header."
                mode:
                  type: string
                  enum: [save, append, overwrite]
                  description: "Configuration persistence mode. save = replace current list. append = add entries to existing list. overwrite = reset and replace entirely."
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  message:
                    type: string
                    description: "Human-readable status or result message"
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
  /zones/http/push/{zoneid}/edge:
    post:
      tags:
      - HTTP Push
      summary: Update Edge Settings
      description: Update Edge settings of HTTP push zone
      operationId: updateEdgeSettingsZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                compression:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable gzip/brotli compression.
                compressionlevel:
                  type: string
                  enum: ["1", "2", "3", "4", "5", "6", "7", "8", "9"]
                  description: Compression level from 1 (fastest) to 9 (best compression).
                disposition:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable Content-Disposition header.
                stripcookie:
                  type: string
                  enum: [Y, N]
                  description: Strip cookies from CDN responses.
                xff:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable X-Forwarded-For header passthrough.
                cors:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable CORS headers.
                webp:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable automatic WebP conversion.
                pseudostreaming:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable pseudo-streaming for video files.
                wp:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable WordPress cache bypass optimisation.
                lfo:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable large file optimisation.
                prefresh:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable cache prefresh on expiry.
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  message:
                    type: string
                    description: "Human-readable status or result message"
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
  /zones/http/push/{zoneid}/cache:
    post:
      tags:
      - HTTP Push
      summary: Update Cache
      description: Update cache of HTTP Push Zone
      operationId: updateCacheZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cache:
                  type: string
                  enum: ["0s", "10s", "1m", "10m", "30m", "1h", "4h", "12h", "1d", "7d", "14d", "1M", "3M", "6M", "1y"]
                  description: Edge cache TTL duration code.
                expiry:
                  type: string
                  description: Browser cache TTL duration code. Same values as cache, or empty string to disable.
                querystring:
                  type: string
                  enum: [Y, N]
                  description: Cache content per unique query string.
                cachecontrol:
                  type: string
                  enum: [Y, N]
                  description: Honour Cache-Control headers from origin.
                usestale:
                  type: string
                  enum: [Y, N]
                  description: Serve stale content while revalidating in the background.
                revalidate:
                  type: string
                  enum: [Y, N]
                  description: Revalidate cached content on expiry.
                cacheInSecs:
                  type: number
                  description: Cache TTL in seconds - computed from cache value.
                cacheInMins:
                  type: number
                  description: Cache TTL in minutes - computed from cache value.
                expiryInSecs:
                  type: number
                  description: Browser cache TTL in seconds - computed from expiry value.
                expiryInMins:
                  type: number
                  description: Browser cache TTL in minutes - computed from expiry value.
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  message:
                    type: string
                    description: "Human-readable status or result message"
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
  /zones/http/push/{zoneid}/restore:
    get:
      tags:
      - HTTP Push
      summary: Restore
      description: Restore HTTP push zone
      operationId: restoreZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                  message:
                    type: string
                    description: "Human-readable status or result message"
                  zone:
                    type: object
                    properties:
                      type:
                        type: string
                        description: "Zone type identifier (push or pull)"
                      id:
                        type: integer
                        description: "Unique numeric identifier of the zone"
                      serviceid:
                        type: integer
                        description: "Service account identifier associated with this zone"
                      alias:
                        type: string
                        description: "Primary CDN hostname assigned to the zone"
                      hashid:
                        type: string
                        description: "Unique hash identifier of the zone"
                      mode:
                        type: string
                        description: "Delivery mode of the zone (e.g. http, https)"
                      optimizer:
                        type: string
                        description: "Whether the optimizer feature is enabled for this zone"
                      cnames:
                        type: string
                        nullable: true
                        description: "Comma-separated list of CNAMEs associated with this zone"
                      edgeruleids:
                        type: integer
                        description: "Count of edge rules associated with this zone"
                      rclone:
                        type: integer
                        description: "Whether rclone integration is enabled for this zone"
                      disabled:
                        type: string
                        description: "Whether this zone is currently disabled (0=active, 1=disabled)"
                      created_at:
                        type: string
                        description: "ISO 8601 timestamp when this resource was created"
                      updated_at:
                        type: string
                        description: "ISO 8601 timestamp of the most recent update"
                      deleted:
                        nullable: true
                      router:
                        type: string
                        description: "Internal router label for this zone"
                      remaining:
                        type: integer
                        description: "Remaining quota or resource count for this zone"
                      status:
                        type: string
                        description: "Current operational status of the resource"
                      name:
                        type: string
                        description: "Human-readable name of the resource"
                      fqdn:
                        type: string
                        description: "Fully qualified domain name of the CDN zone"
                      ssl:
                        type: object
                        properties:
                          http:
                            type: string
                            description: "Whether plain HTTP delivery is enabled (Y/N)"
                          http2:
                            type: string
                            description: "Whether HTTP/2 is enabled (Y/N)"
                          redirect:
                            type: string
                            description: "Whether HTTP to HTTPS redirect is enabled (Y/N)"
                          mode:
                            type: string
                            description: "Delivery mode of the zone (e.g. http, https)"
                          certid:
                            nullable: true
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                          warning:
                            oneOf:
                            - type: boolean
                            - type: string
                            description: "SSL warning flag or message, false if none"
                      cnamesArr:
                        type: array
                        items:
                          type: string
                        description: "Array of CNAMEs for this zone"
                      cnamesArrFqdn:
                        type: array
                        items:
                          type: string
                        description: "Array of FQDN CNAMEs for this zone"
                      waf:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                      defaultBehaviors:
                        type: object
                        additionalProperties:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: "Unique numeric identifier of the zone"
                              network:
                                type: string
                                description: "Network provider name for this behavior"
                              rule:
                                type: object
                                description: Edge rule configuration object for this behavior.
                      edgeRules:
                        type: array
                        items: {}
                        description: "Array of edge rule objects for this zone"
                      behaviorId:
                        type: integer
                        description: "Numeric identifier of the default behavior set"
                      linkedVideoManager:
                        nullable: true
                      hostHeader:
                        type: string
                        description: "Custom host header sent to the origin server"
                      storageHost:
                        type: string
                        description: "Primary object storage hostname"
                      storageHostBackup:
                        type: string
                        description: "Backup object storage hostname"
                      osAuthUrl:
                        type: string
                        description: "OpenStack authentication URL for object storage"
                      horizonUrl:
                        type: string
                        description: "OpenStack Horizon dashboard URL"
                      domainlock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                          list:
                            type: string
                            description: "Comma-separated list of entries for this security rule"
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                          noreferer:
                            type: string
                            description: "Whether requests with no referrer header are blocked (Y/N)"
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                      geoblock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                          list:
                            type: array
                            items:
                              type: string
                            description: "Comma-separated list of entries for this security rule"
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                      securetoken:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
[...]
