openapi: 3.0.0
info:
  title: 5centsCDN - VOD Zones Global Settings
  description: API for managing Zones in 5centsCDN (https://www.5centscdn.net)
  version: 2.0.0
  contact:
    email: help@5centscdn.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
- url: https://api.5centscdn.com/v2
  description: 5centsCDN API Server - Production
security:
- ApiKeyAuth: []
tags:
- name: VOD Global Settings
  description: Global zone security settings

paths:
  /zones/vod/settings/security/domainlock:
    post:
      tags:
      - VOD Global Settings
      summary: update zone vod domain setting
      description: update zone vod domain setting
      operationId: settingsZoneVodDomain
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  enum: [Y, N]
                  example: Y
                  description: Enable or disable this feature. Y means enabled, N means disabled.
                policy:
                  type: string
                  enum: [Y, N]
                  description: "Y = blacklist — blocks the listed domains from accessing content. N = whitelist — allows only the listed domains to access content."
                  example: Y
                list:
                  type: string
                  description: Comma-separated domain names.
                  example: example.com,cdn.example.com
                ips:
                  type: string
                  description: Comma-separated IPs whitelisted regardless of domain lock.
                  example: 1.2.3.4,5.6.7.8
                noreferer:
                  type: string
                  enum: [Y, N]
                  description: "Y=block requests with empty referer header; N=allow them"
                  example: Y
                mode:
                  type: string
                  enum: [save, append, overwrite]
                  description: "Controls how the settings are applied to zones. save — only saves the settings, no changes will be made to existing zone settings. append — appends the values to existing zones data and updates. overwrite — overwrites the existing zones values, replacing them and updates."
                  example: save
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: "Human-readable status or result message"
                    example: Zone Settings Updated
  /zones/vod/settings/security/geoblock:
    post:
      tags:
      - VOD Global Settings
      summary: update zone vod geoblock setting
      description: update zone vod domain setting
      operationId: settingsZoneVodGeoblock
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  enum: [Y, N]
                  example: Y
                  description: Enable or disable this feature. Y means enabled, N means disabled.
                policy:
                  type: string
                  enum: [Y, N]
                  description: "N = Allow listed countries, Y = Block listed countries"
                  example: Y
                list:
                  type: array
                  items:
                    type: string
                  description: Array of ISO-3166 country codes.
                  example: [US, GB, IN]
                ips:
                  type: string
                  description: Comma-separated IPs excluded from geo check.
                  example: 1.2.3.4
                mode:
                  type: string
                  enum: [save, append, overwrite]
                  description: "Controls how the settings are applied to zones. save — only saves the settings, no changes will be made to existing zone settings. append — appends the values to existing zones data and updates. overwrite — overwrites the existing zones values, replacing them and updates."
                  example: save
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: "Human-readable status or result message"
                    example: Zone Settings Updated
  /zones/vod/settings/security/securetoken:
    post:
      tags:
      - VOD Global Settings
      summary: update zone vod securetoken setting
      description: update zone vod securetoken setting
      operationId: settingsZoneVodSecuretoken
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  enum: [Y, N]
                  example: Y
                  description: Enable or disable secure token globally for VOD zones. Y means enabled, N means disabled.
                policy:
                  type: string
                  enum: [Q, F, D]
                  example: Q
                  description: "Defines how the token is computed. Q = Query string mode (token applied per query string parameter). F = Full path mode (token covers the full URL path). D = Directory/path-embedded mode (token is embedded within the URL path)."
                keyip:
                  type: string
                  enum: [Y, N]
                  description: "Bind token validation to the originating client IP address. Y = token is only valid from the IP that generated it, preventing sharing or theft. N = IP binding is disabled."
                  example: N
                list:
                  type: string
                  pattern: '^[a-fA-F0-9]{16}$'
                  description: 16-character hexadecimal secret key used for token generation.
                  example: ab12cd34ef56gh78
                timeout:
                  type: number
                  minimum: 5
                  maximum: 25200
                  description: Token expiry time in seconds. Minimum 5, maximum 25200.
                  example: 3600
                session:
                  type: string
                  enum: ["0", "1"]
                  description: "Defines the token expiry behavior. \"0\" = Fixed expiry (token expires at a set time). \"1\" = Rolling/Moving expiry (token timeout resets with each request for active sessions)."
                  example: "0"
                ips:
                  type: string
                  description: Comma-separated IPs excluded from token check.
                  example: 1.2.3.4
                mode:
                  type: string
                  enum: [save, append, overwrite]
                  description: "Controls how the settings are applied to zones. save — only saves the settings, no changes will be made to existing zone settings. append — appends the values to existing zones data and updates. overwrite — overwrites the existing zones values, replacing them and updates."
                  example: save
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: "Human-readable status or result message"
                    example: Zone Settings Updated
  /zones/vod/settings/security/ipaccess:
    post:
      tags:
      - VOD Global Settings
      summary: update zone vod ipaccess setting
      description: update zone vod ipaccess setting
      operationId: settingsZoneVodIpaccess
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  enum: [Y, N]
                  example: Y
                  description: Enable or disable this feature. Y means enabled, N means disabled.
                policy:
                  type: string
                  enum: [Y, N]
                  description: "Y = Block listed IP addresses, N = Allow only listed IP addresses"
                  example: Y
                list:
                  type: string
                  description: Comma-separated IP addresses or CIDR ranges.
                  example: 1.2.3.4,10.0.0.0/8
                ips:
                  type: string
                  description: Comma-separated IPs excluded from access control.
                  example: 1.1.1.1,192.168.1.10/30
                mode:
                  type: string
                  enum: [save, append, overwrite]
                  description: "Controls how the settings are applied to zones. save — only saves the settings, no changes will be made to existing zone settings. append — appends the values to existing zones data and updates. overwrite — overwrites the existing zones values, replacing them and updates."
                  example: save
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: "Human-readable status or result message"
                    example: Zone Settings Updated
  /zones/vod/settings/security/useragent:
    post:
      tags:
      - VOD Global Settings
      summary: update zone vod useragent setting
      description: update zone vod useragent setting
      operationId: settingsZoneVodUseragent
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  enum: [Y, N]
                  example: Y
                  description: Enable or disable this feature. Y means enabled, N means disabled.
                policy:
                  type: string
                  enum: [Y, N]
                  description: "Y = Block listed user agents, N = Allow listed user agents"
                  example: Y
                list:
                  type: string
                  description: Comma-separated user agent strings.
                  example: Mozilla,Googlebot
                ips:
                  type: string
                  description: Comma-separated IPs excluded from user agent check.
                  example: 1.2.3.4
                casesensitive:
                  type: string
                  enum: [Y, N]
                  example: N
                  description: Whether matching is case-sensitive. Y means enabled, N means disabled.
                listArr:
                  type: array
                  items:
                    type: string
                  description: Optional mirror of list as array.
                  example: [Mozilla, Googlebot]
                mode:
                  type: string
                  enum: [save, append, overwrite]
                  description: "Controls how the settings are applied to zones. save — only saves the settings, no changes will be made to existing zone settings. append — appends the values to existing zones data and updates. overwrite — overwrites the existing zones values, replacing them and updates."
                  example: save
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: "Human-readable status or result message"
                    example: Zone Settings Updated
components:
  parameters:
    zoneIdParam:
      name: zoneid
      in: path
      description: Zone ID
      required: true
      schema:
        type: integer
        example: 42
    modeParam:
      in: query
      name: m
      description: Enter reported by
      required: true
      schema:
        type: string
    typeParam:
      in: query
      name: t
      description: Enter daily or hourly
      required: true
      schema:
        type: string
    rParam:
      in: query
      name: r
      description: Enter value last_24hrs/hourly or last_7days/hourly or last_30days/daily
      required: true
      schema:
        type: string
    rangeParam:
      in: query
      name: r
      description: Enter date range
      explode: false
      schema:
        type: string
    queryParam:
      in: query
      name: query
      description: search by filename
      schema:
        type: string
    markerParam:
      in: query
      name: marker
      description: Set the marker parameter to the name of the last item returned in the previous list.
      schema:
        type: string
    endmarkerParam:
      in: query
      name: end_marker
      description: Limits the result set to names that are less than the end_marker parameter value.
      schema:
        type: string
    dirParam:
      in: query
      name: dir
      description: Enter directory name
      schema:
        type: string
    fileParam:
      in: query
      name: file
      description: Enter file name
      schema:
        type: string
    mediaParam:
      in: query
      name: media
      description: show detailed media info if 1
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    createZonePush:
      required:
      - _METHOD
      - server
      type: object
      properties:
        _METHOD:
          type: string
          description: To cast request method PUT
          example: PUT
        alias:
          type: string
          description: Optional label for the zone
          example: test-zone-001
        server:
          type: integer
          format: int32
          description: server.code, Should be one of the server code from the GET /zones/http/push/servers call
          example: 206
        profiles:
          type: array
          items:
            type: string
          description: Transcoding profile IDs. Leave empty to disable auto file transcoding.
          example: ["1"]
        ssl:
          type: object
          properties:
            http2:
              type: string
              description: "Whether HTTP/2 is enabled (Y/N)"
              example: Y
            redirect:
              type: string
              description: "Whether HTTP to HTTPS redirect is enabled (Y/N)"
              example: N
            mode:
              type: string
              description: 'N = None, S = Shared, L = Let''s Encrypt, C = Custom'
              example: L
        cache:
          type: object
          description: Edge cache TTL duration code, e.g. 4h or 1d.
          properties:
            cache:
              type: string
              description: Edge cache TTL. Values can be 1d, 7d, 14d, 1M, 3M, 6M, or 1y
              example: 1m
            expiry:
              type: string
              description: Browser cache TTL
              example: ""
        webhook:
          type: string
          description: URL to notify after files are transcoded
          example: https://requestbin.com/r/test/123
        cnames:
          type: string
          description: 'Comma-separated custom domains. Eg: cdn.domain.com'
          example: ""
        domainlock:
          type: object
          properties:
            enabled:
              type: string
              description: "Whether this feature is currently enabled (Y/N)"
              example: N
            policy:
              type: string
              description: "Access policy setting for this security feature"
              example: N
            list:
              type: string
              description: "Comma-separated list of entries for this security rule"
              example: ""
            ips:
              type: string
              description: "Comma-separated IP addresses or CIDR ranges"
              example: ""
            noreferer:
              type: string
              description: "Whether requests with no referrer header are blocked (Y/N)"
              example: N
            active:
              type: string
              description: "Whether this security rule is currently active (Y/N)"
              example: N
        geoblock:
          type: object
          properties:
            enabled:
              type: string
              description: "Whether this feature is currently enabled (Y/N)"
              example: Y
            policy:
              type: string
              description: "Access policy setting for this security feature"
              example: N
            list:
              type: array
              items:
                type: string
              description: "Comma-separated list of entries for this security rule"
              example: []
            ips:
              type: string
              description: "Comma-separated IP addresses or CIDR ranges"
              example: ""
            active:
              type: string
              description: "Whether this security rule is currently active (Y/N)"
              example: N
        bwlimit:
          type: object
          properties:
            enabled:
              type: string
              description: "Whether this feature is currently enabled (Y/N)"
              example: Y
            policy:
              type: string
              description: "Access policy setting for this security feature"
              example: "1"
            rate:
              type: integer
              format: int32
              description: "Bandwidth rate limit value"
              example: 30
            rateafter:
              type: integer
              format: int32
              description: "Bytes transferred before rate limiting begins"
              example: 0
            active:
              type: string
              description: "Whether this security rule is currently active (Y/N)"
              example: Y
        ipaccess:
          type: object
          properties:
            enabled:
              type: string
              description: "Whether this feature is currently enabled (Y/N)"
              example: N
            policy:
              type: string
              description: "Access policy setting for this security feature"
              example: N
            list:
              type: string
              description: "Comma-separated list of entries for this security rule"
              example: ""
            ips:
              type: string
              description: "Comma-separated IP addresses or CIDR ranges"
              example: ""
            active:
              type: string
              description: "Whether this security rule is currently active (Y/N)"
              example: N
        securetoken:
          type: object
          properties:
            enabled:
              type: string
              description: "Whether this feature is currently enabled (Y/N)"
              example: N
            policy:
              type: string
              description: "Access policy setting for this security feature"
              example: F
            list:
              type: string
              description: "Comma-separated list of entries for this security rule"
              example: ""
            ips:
              type: string
              description: "Comma-separated IP addresses or CIDR ranges"
              example: ""
            keyip:
              type: string
              description: "Whether IP is included in the secure token key (Y/N)"
              example: N
            session:
              type: string
              description: "Whether session-based tokens are used (Y/N)"
              example: "0"
            timeout:
              type: integer
              format: int32
              description: "Token expiry timeout in seconds"
              example: 5
            active:
              type: string
              description: "Whether this security rule is currently active (Y/N)"
              example: N
        useragent:
          type: object
          properties:
            enabled:
              type: string
              description: "Whether this feature is currently enabled (Y/N)"
              example: N
            policy:
              type: string
              description: "Access policy setting for this security feature"
              example: N
            list:
              type: string
              description: "Comma-separated list of entries for this security rule"
              example: ""
            ips:
              type: string
              description: "Comma-separated IP addresses or CIDR ranges"
              example: ""
            casesensitive:
              type: string
              description: "Whether matching is case-sensitive (Y/N)"
              example: N
            active:
              type: string
              description: "Whether this security rule is currently active (Y/N)"
              example: N
            listArr:
              type: array
              items:
                type: string
              description: "Array of entries for this security rule"
              example: [""]
    zoneshttppushnew_geoblock:
      type: object
      properties:
        enabled:
          type: string
          description: Enable or disable geo-blocking. Y means enabled, N means disabled.
          example: Y
        policy:
          type: string
          description: "Country filtering mode. Y = Blacklist mode (block requests from listed countries). N = Whitelist mode (allow only requests from listed countries, block all others)."
          example: Y
        list:
          type: array
          items:
            type: string
            description: ISO-3166 country code. e.g. AF, DZ, AW, CA
            example: AF
        ips:
          type: string
          description: 'Comma-separated IP addresses excluded from geo-blocking restrictions. e.g. 192.168.0.1, 192.168.0.2'
          example: 192.168.0.1
    zoneshttpsetting_geoblock:
      type: object
      properties:
        enabled:
          type: string
          description: Enable or disable geo-blocking. Y means enabled, N means disabled.
          example: Y
        policy:
          type: string
          description: "Country filtering mode. Y = Blacklist mode (block requests from listed countries). N = Whitelist mode (allow only requests from listed countries, block all others)."
          example: N
        list:
          type: array
          items:
            type: string
            description: Geoblock countries list values can be AF,DZ,AW,CA etc
            example: AF
        ips:
          type: string
          description: 'List of IPs to whitelist when geoblock is enabled. IPs should be separated by comma. Eg: 192.168.0.1, 192.168.0.2'
          example: 192.168.0.1
        mode:
          type: string
          description: The values can be save,append,overwrite
          example: save
    zoneshttpsetting_domainlock:
      type: object
      properties:
        enabled:
          type: string
          enum: [Y]
          description: Enable domain lock (omit to disable).
        policy:
          type: string
          enum: [Y, N]
          description: "Referrer filtering mode. Y = Blacklist mode (block requests with listed referring domains). N = Whitelist mode (allow only requests from listed referring domains, block all others)."
          example: Y
        list:
          type: string
          description: 'Comma-separated domain names to block (Y) or allow (N). e.g. www.domain-one.com, www.domain-two.com'
          example: www.domain-one.com,www.domain-two.com
        type:
          type: string
          description: The values can be whitelist or blacklist.
          example: whitelist
        noreferer:
          type: string
          enum: [Y]
          description: "Controls requests with no Referer header. Y = block requests that have no Referer header."
        ips:
          type: string
          description: 'Comma-separated IP addresses excluded from domain lock restrictions.'
          example: 117.251.60.184
        mode:
          type: string
          description: The values can be save,append,overwrite
          example: save
    zoneshttppushnew_domainlock:
      type: object
      properties:
        enabled:
          type: string
          enum: [Y]
          description: Enable domain lock (omit to disable).
        policy:
          type: string
          enum: [Y, N]
          description: "Referrer filtering mode. Y = Blacklist mode (block requests with listed referring domains). N = Whitelist mode (allow only requests from listed referring domains, block all others)."
          example: Y
        list:
          type: string
          description: 'Comma-separated domain names to block (Y) or allow (N). e.g. www.domain-one.com, www.domain-two.com'
          example: www.domain-one.com
        type:
          type: string
          description: The values can be whitelist or blacklist.
          example: whitelist
        noreferer:
          type: string
          enum: [Y, N]
          description: "Controls requests with no Referer header. Y = block requests that have no Referer header. N = allow requests with no Referer header."
          example: N
        ips:
          type: string
          description: 'Comma-separated IP addresses excluded from domain lock restrictions.'
          example: 117.251.60.184
    zoneshttppushnew_securetoken:
      type: object
      properties:
        policy:
          type: string
          enum: [Q, F, D]
          description: "Defines how the token is computed. Q = Query string mode (token applied per query string parameter). F = Full path mode (token covers the full URL path). D = Directory/path-embedded mode (token is embedded within the URL path)."
          example: Q
        list:
          type: string
          description: 16-character hexadecimal secret key used for token generation.
          example: e49c6d01156bd7c8
        timeout:
          type: string
          description: "Token expiry time in seconds. Minimum 5, maximum 25200."
          example: 300
        keyip:
          type: string
          enum: [Y, N]
          description: "Bind token validation to the originating client IP address. Y = token is only valid from the IP that generated it, preventing sharing or theft. N = IP binding is disabled."
          example: N
    zoneshttpsetting_securetoken:
      type: object
      properties:
        policy:
          type: string
          description: Values Can be Y or N. Set to Y if secure token should be enabled Set to Y if Secure token should be disabled.
          example: Y
        list:
          type: string
          description: The value should be random alpha numeric string, [A-Za-z0-9]
          example: 9466f10285af0011
        timeout:
          type: string
          description: "Secure token link expiration time in seconds \tmin: 5, max: 25200"
          example: 30
        ips:
          type: string
          description: 'List of IPs to whitelist when geoblock is enabled. IPs should be separated by comma. Eg: 192.168.0.1, 192.168.0.2'
          example: 192.168.0.1
        mode:
          type: string
          description: The values can be save,append,overwrite
          example: save
    PostReportTraffic:
      type: object
      properties:
        r:
          type: string
          description: Date range
          example: 2020-08-22 15:23:00 - 2020-08-28 15:23:00
        t:
          type: string
          description: The value should be hourly/daily
          example: daily
        m:
          type: string
          description: The value should be hits/bytes
          example: bytes
    zonessetting_bwlimit:
      type: object
      properties:
        policy:
          type: string
          enum: ["0", "1"]
          description: "Rate limiting mode. \"0\" = Static mode (fixed rate applied from the start of the transfer). \"1\" = Dynamic mode (rate limiting activates only after rateafter bytes have been served)."
          example: "0"
        rate:
          type: integer
          format: int32
          description: The value should be numeric
          example: 0
        rateafter:
          type: integer
          format: int32
          description: The value should be numeric
          example: 0
        mode:
          type: string
          description: The values can be save,append,overwrite
          example: save
    PostSecureToken:
      type: object
      properties:
        policy:
          type: string
          description: Values can be Y or N. Set to Y if secure token should be enabled. Set to N if secure token should be disabled.
          example: Y
        list:
          type: string
          description: List can be a random alpha numeric string, [A-Za-z0-9]
          example: 1ae6ffaa8f17b79c
        keyip:
          type: string
          description: "Whether IP is included in the secure token key (Y/N)"
          example: N
        ips:
          type: string
          description: 'List of IPs to whitelist when secure token is enabled. IPs should be separated by comma. Eg: 192.168.0.1, 192.168.0.2'
          example: 192.168.0.1
        timeout:
          type: integer
          description: "Secure token link expiration time in seconds \tmin: 5, max: 25200"
          format: int32
          example: 300
    postZoneSeo:
      type: object
      properties:
        canonical:
          type: string
          description: Values Can be Y or N. Set to Y if canonical header should be enabled Set to N if canonical header should be disabled.
          example: N
        robots:
          type: string
          description: Values Can be Y or N. Set to Y if robots should be enabled Set to N if robots should be disabled.
          example: N
        robotstxt:
          type: string
          description: Values Can be Y or N. Set to Y if robots.txt should be enabled Set to N if robots.txt should be disabled.
          example: N
        robotstxtcustom:
          type: string
          description: Custom robots.txt content when mode is set to custom.
    postZoneOriginip:
      type: object
      properties:
        dnscheck:
          type: string
          description: Values Can be Y or N. Set to Y if origin IP resolution should be enabled Set to N if origin IP resolution should be disabled.
          example: Y
        ip:
          type: string
          description: 'When origin IP resolution is enabled. Eg: 192.168.0.1, 192.168.0.2'
          example: 192.168.0.1
        customhostheader:
          type: string
          description: 'Eg: www.domain-one.com, www.domain-two.com'
          example: origin2.mydomain.com
    postZoneBwlimit:
      type: object
      properties:
        enabled:
          type: string
          enum: [Y]
          description: Enable bandwidth limiter (omit to disable).
        policy:
          type: integer
          enum: [0, 1]
          description: "Rate limiting mode. 0 = Static mode (fixed rate applied from the start of the transfer). 1 = Dynamic mode (rate limiting activates only after rateafter bytes have been served)."
          example: 0
        rate:
          type: integer
          format: int64
          description: Throttle rate in KB/s applied after rateafter threshold is reached.
          example: 0
        rateafter:
          type: integer
          format: int64
          description: Amount of data in KB served before the throttle rate kicks in.
          example: 0
    postZoneSecureToken:
      type: object
      properties:
        policy:
          type: string
          description: Values Can be Y or N. Set to Y if secure token should be enabled Set to Y if Secure token should be disabled.
          example: Y
        list:
          type: string
          description: Token, The value should be random alpha numeric string, [A-Za-z0-9].
          example: ae5bb53425c607fa
        timeout:
          type: integer
          description: "Secure token link expiration time in seconds \tmin: 5, max: 25200"
          format: int32
          example: 300
        keyip:
          type: string
          description: Values Can be Y or N. Set to Y if Key ip should be enabled Set to Y if key ip should be disabled.
          example: Y
    postDomainLock:
      type: object
      properties:
        enabled:
          type: string
          enum: [Y]
          description: Enable domain lock (omit to disable).
        policy:
          type: string
          enum: [Y, N]
          description: "Referrer filtering mode. Y = Blacklist mode (block requests with listed referring domains). N = Whitelist mode (allow only requests from listed referring domains, block all others)."
          example: Y
        list:
          type: string
          description: 'Comma-separated domain names to block (Y) or allow (N). e.g. www.domain-one.com, www.domain-two.com'
          example: www.domain-one.com
        ips:
          type: string
          description: 'Comma-separated IP addresses excluded from domain lock restrictions regardless of the policy.'
          example: 192.168.0.1
        noreferer:
          type: string
          enum: [Y, N]
          description: "Controls requests with no Referer header. Y = block requests that have no Referer header. N = allow requests with no Referer header."
          example: N
        type:
          type: string
          description: The values can be whitelist or blacklist.
          example: blacklist
    PostGeoBlock:
      type: object
      properties:
        enabled:
          type: string
          description: Enable or disable geo-blocking. Y means enabled, N means disabled.
          example: Y
        policy:
          type: string
          description: "Country filtering mode. Y = Blacklist mode (block requests from listed countries). N = Whitelist mode (allow only requests from listed countries, block all others)."
          example: N
        list:
          type: array
          items:
            $ref: '#/components/schemas/ObjectSchemaDefinition'
        ips:
          type: string
          description: 'List of IPs to whitelist when geoblock is enabled. IPs should be separated by comma. Eg: 192.168.0.1, 192.168.0.2'
          example: 192.168.0.1
    ObjectSchemaDefinition:
      type: string
      description: Geoblock countries list values can be AF,DZ,AW,CA etc
      example: AF
    PostGeoBlockVodPush:
      type: object
      properties:
        enabled:
          type: string
          description: Enable or disable geo-blocking. Y means enabled, N means disabled.
          example: Y
        policy:
          type: string
          description: "Country filtering mode. Y = Blacklist mode (block requests from listed countries). N = Whitelist mode (allow only requests from listed countries, block all others)."
          example: Y
        list:
          type: array
          items:
            type: string
            description: Geoblock countries list values can be AF,DZ,AW,CA etc
            example: AF
        ips:
          type: string
          description: 'List of IPs to whitelist when geoblock is enabled. IPs should be separated by comma. Eg: 192.168.0.1, 192.168.0.2'
          example: 192.168.0.1
    postEac:
      type: object
      properties:
        enabled:
          type: string
          enum: [Y]
          description: Enable External Auth Control (omit to disable)
        policy:
          type: string
          description: Values can be Y or N. Set to Y if External auth control should be enabled Set to N if  External auth control should be disabled.
          example: Y
        authurl:
          type: string
          description: 'Custom script that crosschecks the User/Viewer parameters and determines authorized users Eg: http://example.com/auth.script'
          example: http://example.com/auth.script
        ips:
          type: string
          description: List of Allowed IP's
          example: 117.251.60.184
    PostSummaryReport:
      type: object
      properties:
        range:
          type: string
          description: stats properties keys from /months or ['last_24hrs', 'last_7days', 'last_30days']
          example: last_7days
        type:
          type: string
          description: hourly | daily
          example: daily
    PostCacheReport:
      type: object
      properties:
        frequency:
          type: string
          description: Minute/Hour/Day['0','1','2']
          example: 2
        filter_type:
          type: string
          description: GB/HIT/MISS['0','1']
          example: 0
        start_date:
          type: string
          description: Start date, Y-m-d (e.g. 2012-01-01)
          example: 2012-01-01
        end_date:
          type: string
          description: End date, Y-m-d (e.g. 2012-01-01)
          example: 2012-01-01
    PosttopfilesReport:
      type: object
      properties:
        start_date:
          type: string
          description: Start date, Y-m-d (e.g. 2012-01-01)
          example: 2012-01-01
        end_date:
          type: string
          description: End date, Y-m-d (e.g. 2012-01-01)
          example: 2012-01-01
        type:
          type: string
          description: Enter dynamic/static/notfound
          example: dynamic
    PostTopReferrersReport:
      type: object
      properties:
        start_date:
          type: string
          description: Start date, Y-m-d (e.g. 2012-01-01)
          example: 2012-01-01
        end_date:
          type: string
          description: End date, Y-m-d (e.g. 2012-01-01)
          example: 2012-01-01
    Poststatuscodes:
      type: object
      properties:
        frequency:
          type: string
          description: Minute/Hour/Day['0','1','2']
          example: 2
        start_date:
          type: string
          description: Start date, Y-m-d (e.g. 2012-01-01)
          example: 2012-01-01
        end_date:
          type: string
          description: End date, Y-m-d (e.g. 2012-01-01)
          example: 2012-01-01
    postZoneSSL:
      type: object
      properties:
        http2:
          type: string
          description: Values can be Y or N. Set to Y for enabling HTTP/2. Set to N for disabling HTTP/2.
          example: Y
        redirect:
          type: string
          description: Values can be Y or N. Set to Y for enabling HTTPS Redirect. Set to N for disabling HTTPS Redirect.
          example: Y
        mode:
          type: string
          enum: [N, S, L, C]
          description: "SSL certificate mode. N = None (no SSL). S = Shared wildcard SSL certificate (default CDN certificate). L = Free SSL via ZeroSSL/Let's Encrypt. C = Custom SSL certificate (requires certid)."
          example: N
        certidl:
          type: integer
          description: SSL Certificate ID. It can be set if  ssl[mode] is L The value will be already uploaded SSL Certificate ID
          format: int32
        certid:
          type: integer
          description: SSL Certificate ID. It can be set if  ssl[mode] is C The value will be already uploaded SSL Certificate ID
          format: int32
        name:
          type: string
          description: SSL name . It can be set if  ssl mode is other than C.
          example: example.com
        crt:
          type: string
          description: SSL certificate ID . It can be set if  ssl mode is other than C.
        key:
          type: string
          description: SSL certificate Key. It can be set if  ssl mode  is other than C.
        cabundle:
          type: string
          description: SSL  CA bundle . It can be set if  ssl[mode] is other than C.
    SummaryReportResult:
      type: object
      properties:
        bandwidth:
          description: Bandwidth delivery data over the reporting period.
          $ref: '#/components/schemas/bandwidthList'
        caching:
          description: Cache hit and miss counts over the reporting period.
          $ref: '#/components/schemas/hitsList'
        requests:
          description: Total request counts over the reporting period.
          $ref: '#/components/schemas/requestsList'
        summary:
          description: Aggregated summary totals for the reporting period.
          $ref: '#/components/schemas/summaryList'
    bandwidthList:
      type: object
      properties:
        delivered:
          type: array
          description: Time-series data points of delivered bandwidth.
          example: []
          items:
            $ref: '#/components/schemas/deliveredList'
    requestsList:
      type: object
      properties:
        total:
          type: array
          description: Total number of requests including all cache statuses.
          example: []
          items:
            $ref: '#/components/schemas/deliveredList'
    hitsList:
      type: object
      properties:
        hits:
          type: array
          description: Time-series data points of cache hit counts.
          example: []
          items:
            $ref: '#/components/schemas/deliveredList'
        misses:
          type: array
          description: Time-series data points of cache miss counts.
          example: []
          items:
            $ref: '#/components/schemas/deliveredList'
    summaryList:
      type: object
      properties:
        bandwidth:
          type: object
          description: Summary of bandwidth delivered over the reporting period.
          example: {"delivered": 107374182400}
          properties:
            delivered:
              type: integer
              format: int32
              description: Total bytes delivered over the reporting period.
              example: 107374182400
        requests:
          type: object
          description: Summary of total requests over the reporting period.
          example: {"total": 50000}
          properties:
            total:
              type: integer
              format: int32
              description: Total number of requests including all cache statuses.
              example: 50000
        caching:
          type: object
          description: Summary of cache hit and miss counts over the reporting period.
          example: {"hits": 45000, "misses": 5000}
          properties:
            hits:
              type: integer
              format: int32
              description: Total cache hit count over the reporting period.
              example: 45000
            misses:
              type: integer
              format: int32
              description: Total cache miss count over the reporting period.
              example: 5000
    zoneshttppushnew_edge:
      type: object
      properties:
        compression:
          type: string
          description: The values can be Y or N. Set to Y if edge compression should be enabled. Set to N if edge compression should be disabled.
          example: Y
        compressionlevel:
          type: string
          description: Set the value of edge[compressionlevel] when edge[compression] is enabled. The values can be 1, 2, 3, 4, 5, 6.
          example: 6
        dispositionenabled:
          type: string
          description: The values can be Y or N. Set to Y if content disposition should be enabled. Set to N if content disposition should be disabled.
          example: Y
        disposition:
          type: string
          description: Set the value of edge[disposition] when edge[disposition] is enabled. The values can be Y,D
          example: Y
        cors:
          type: string
          description: The values can be Y or N. Set to Y if add CORS header should be enabled. Set to N if add CORS header should be disabled.
          example: Y
        webp:
          type: string
          description: The values can be Y or N. Set to Y if  WebP should be enabled. Set to N if WebP should be disabled.
          example: N
        lfo:
          type: string
          description: The values can be Y or N. Set to Y if  large file optimization should be enabled. Set to N if large file optimization should be disabled.
          example: N
        prefresh:
          type: string
          description: The values can be Y or N. Set to Y if cache prefreshing should be enabled. Set to N if cache prefreshing should be disabled.
          example: N
        pseudostreaming:
          type: string
          description: The values can be Y or N. Set to Y if  pseudostreaming should be enabled. Set to N if pseudostreaming should be disabled.
          example: N
    postZoneVodPull:
      type: object
      properties:
        origin:
          type: string
          description: Your Origin Server Host Name
          example: https://example.com
        cname:
          type: string
          description: 'Name that points to actual record. Eg: docs.example.com'
          example: docs.example.com
    postZoneEdge:
      type: object
      properties:
        compression:
          type: string
          description: The values can be Y or N. Set to Y if edge compression should be enabled. Set to N if edge compression should be disabled.
          example: Y
        compressionlevel:
          type: string
          description: Set the value of edge[compressionlevel] when edge[compression] is enabled. The values can be 1, 2, 3, 4, 5, 6.
          example: 6
        dispositionenabled:
          type: string
          description: Whether the stream disposition flag is enabled
          example: Y
        disposition:
          type: string
          description: Values can be Y or N Set to Y to enable edge disposition. Set to N  to disable edge disposition.
          example: N
        stripcookie:
          type: string
          description: Values can be Y or N Set to Y to enable. Set to N  to disable.
          example: Y
        xff:
          type: string
          description: Values can be Y or N Set to Y to enable. Set to N  to disable.
          example: Y
        cors:
          type: string
          description: Values can be Y or N Set to Y to enable. Set to N  to disable.
          example: Y
        webp:
          type: string
          description: Values can be Y or N. Set to Y to enable WebP. Set to N to disable WebP.
          example: N
        lfo:
          type: string
          description: Values can be Y or N. Set to Y to enable Large File Optimization . Set to N to disable Large File Optimization .
          example: N
        prefresh:
          type: string
          description: Values can be Y or N. Set to Y to enable Cache Prefreshing  . Set to N to disable Cache Prefreshing .
          example: N
        wp:
          type: string
          description: Values can be Y or N. Set to Y to enable WordPress Bypass Cache for Administration   . Set to N to disable WordPress Bypass Cache for Administration  .
          example: Y
        pseudostreaming:
          type: string
          description: Values can be Y or N. Set to Y to enable pseudo stream seeking. Set to N to disable  pseudo stream seeking.
          example: Y
    postZone:
      type: object
      properties:
        cnames:
          type: string
          description: 'Enter a custom domain. For example: cdn.domain.com, images.domain.com, static.domain.com'
          example: cdn.domain.com
        profiles:
          type: array
          description: Array of transcoding profile IDs to apply automatically.
          items:
            type: integer
            format: int64
            description: 'All file uploaded to /raw folder will be transcoded to selected profiles. Leave empty to disable auto file transcoding. Eg: 7549'
            example: 1
        webhook:
          type: string
          description: Notification will be send every minute after files get transcoded. Enter a valid url where we send the files list as a json raw post data
          example: https://mydomain.com/notify
    postPullZone:
      type: object
      properties:
        origin:
          type: string
          description: Your Origin Server Host Name
          example: https://mydomain.com
        optimize:
          type: string
          enum: [http, live, vod]
          description: "Content delivery optimization mode. http = Standard web content optimization. live = HLS/DASH live streaming optimization. vod = HLS/DASH Video on Demand optimization."
          example: http
        cnames:
          type: string
          description: 'Name that points to actual record. Eg: docs.example.com'
          example: docs.example.com
    postZoneVodPush:
      type: object
      properties:
        cnames:
          type: string
          description: 'Name that points to actual record. Eg: docs.example.com'
          example: docs.example.com
        profiles:
          type: array
          description: Array of transcoding profile IDs to apply automatically.
          items:
            type: integer
            format: int32
            description: 'All file uploaded to /raw folder will be transcoded to selected profiles. Leave empty to disable auto file transcoding. Eg: 7549'
            example: 7549
        webhook:
          type: string
          description: Notification will be send every minute after files get transcoded. Enter a valid url where we send the files list as a json raw post data
          example: https://mydomain.com/notify
    createPullZone:
      required:
      - _METHOD
      type: object
      properties:
        _METHOD:
          type: string
          description: To cast request method POST to PUT
          example: PUT
        origin:
          type: string
          description: Your Origin Server Host Name
          example: https://mydomain.com
        cnames:
          type: string
          description: 'Name that points to actual record. Eg: docs.example.com'
          example: docs.example.com
        cache[cache]:
          type: string
          description: This will be the default cache name.The values can be 1d,7d,14d, 1M, 3M, 6M, or 1y
          example: 1M
        cache[expiry]:
          type: string
          description: This will be the default cache name.The values can be 1d,7d,14d, 1M, 3M, 6M, or 1y
          example: 1M
        cache[querystring]:
          type: string
          description: Values can be Y or N. Set to Y to enable querystring. Set to N to disable querystring.
          example: N
        cache[cachecontrol]:
          type: string
          description: Values can be Y or N. Set to Y to enable cachecontrol. Set to N to disable cachecontrol.
          example: Y
        cache[stale]:
          type: string
          description: Values can be Y or N. Set to Y to enable stale. Set to N to disable stale.
          example: Y
        cache[revalidate]:
          type: string
          description: Values can be Y or N. Set to Y to enable revalidate. Set to N to disable revalidate.
          example: N
        optimize:
          type: string
          enum: [http, live, vod]
          description: "Content delivery optimization mode. http = Standard web content optimization. live = HLS/DASH live streaming optimization. vod = HLS/DASH Video on Demand optimization."
          example: http
        shields:
          type: array
          description: Array of ISO country codes where edge shield nodes are active.
          items:
            type: string
            description: The value should be CA or FR
            example: CA
        originip:
          $ref: '#/components/schemas/postZoneOriginip'
        edge:
          $ref: '#/components/schemas/postZoneEdge'
        seo:
          $ref: '#/components/schemas/postZoneSeo'
        domainlock:
          $ref: '#/components/schemas/zoneshttppushnew_domainlock'
        securetoken:
          $ref: '#/components/schemas/zoneshttppullnew_securetoken'
        geoblock:
          $ref: '#/components/schemas/zoneshttppushnew_geoblock'
        bwlimit:
          $ref: '#/components/schemas/postZoneBwlimit'
        ssl:
          $ref: '#/components/schemas/postZoneSSL'
    createPullvod:
      required:
      - _METHOD
      type: object
      properties:
        _METHOD:
          type: string
          description: To cast request method POST to PUT
          example: PUT
        origin:
          type: string
          description: Your Origin Server Host Name
          example: https://mydomain.com
        cnames:
          type: string
          description: 'Name that points to actual record. Eg: docs.example.com'
          example: docs.example.com
        cache[cache]:
          type: string
          description: This will be the default cache name.The values can be 1d,7d,14d, 1M, 3M, 6M, or 1y
          example: 1M
        shields:
          type: array
          description: Array of ISO country codes where edge shield nodes are active.
          items:
            type: string
            description: The value should be CA or FR
            example: CA
        edge:
          $ref: '#/components/schemas/postEdgePull'
        domainlock:
          $ref: '#/components/schemas/zoneshttppushnew_domainlock'
        securetoken:
          $ref: '#/components/schemas/zoneshttppullnew_securetoken'
        geoblock:
          $ref: '#/components/schemas/zoneshttppushnew_geoblock'
        ssl:
          $ref: '#/components/schemas/postZoneSSL'
    PostPushVod:
      required:
      - _METHOD
      type: object
      properties:
        _METHOD:
          type: string
          description: To cast request method POST to PUT
          example: PUT
        server:
          type: string
          description: server.code, Should be one of the server code from the GET zones/vod/push/servers call
          example: 30
        profiles:
          type: array
          description: Array of transcoding profile IDs to apply automatically.
          items:
            type: integer
            format: int32
            description: 'All file uploaded to /raw folder will be transcoded to selected profiles. Leave empty to disable auto file transcoding. Eg: 7549'
            example: 7549
        webhook:
          type: string
          description: Notification will be send every minute after files get transcoded. Enter a valid url where we send the files list as a json raw post data
          example: https://mydomain.com/notify
        cache[cache]:
          type: string
          description: This will be the default cache name.The values can be 1d,7d,14d, 1M, 3M, 6M, or 1y
          example: 1M
        edge:
          $ref: '#/components/schemas/postEdgePull'
        domainlock:
          $ref: '#/components/schemas/zoneshttppushnew_domainlock'
        geoblock:
          $ref: '#/components/schemas/zonesvodpushnew_geoblock'
        securetoken:
          $ref: '#/components/schemas/zoneshttppullnew_securetoken'
        ssl:
          $ref: '#/components/schemas/postZoneSSL'
    zonesvodpushnew_geoblock:
      type: object
      properties:
        enabled:
          type: string
          description: Enable or disable geo-blocking. Y means enabled, N means disabled.
          example: Y
        policy:
          type: string
          description: "Country filtering mode. Y = Blacklist mode (block requests from listed countries). N = Whitelist mode (allow only requests from listed countries, block all others)."
          example: Y
        list:
          type: array
          items:
            type: string
            description: Geoblock countries list values can be AF,DZ,AW,CA etc
            example: AF
        ips:
          type: string
          description: 'List of IPs to whitelist when geoblock is enabled. IPs should be separated by comma. Eg: 192.168.0.1, 192.168.0.2'
          example: 192.168.0.1
    zoneshttppullnew_securetoken:
      type: object
      properties:
        policy:
          type: string
          enum: [Q, F, D]
          description: "Defines how the token is computed. Q = Query string mode (token applied per query string parameter). F = Full path mode (token covers the full URL path). D = Directory/path-embedded mode (token is embedded within the URL path)."
          example: Q
        list:
          type: string
          description: 16-character hexadecimal secret key used for token generation.
          example: 5f1283ceb939b05c
        timeout:
          type: integer
          description: "Token expiry time in seconds. Minimum 5, maximum 25200."
          format: int32
          example: 300
        keyip:
          type: string
          enum: [Y, N]
          description: "Bind token validation to the originating client IP address. Y = token is only valid from the IP that generated it, preventing sharing or theft. N = IP binding is disabled."
          example: N
        ips:
          type: string
          description: 'Comma-separated IP addresses excluded from secure token validation.'
          example: 117.251.60.184
    postPushZoneSecuretoken:
      type: object
      properties:
        policy:
          type: string
          description: Values Can be Y or N. Set to Y if secure token should be enabled Set to Y if Secure token should be disabled.
          example: Y
        list:
          type: string
          description: Token, The value should be random alpha numeric string, [A-Za-z0-9].
          example: c7d5cfb3212931fa
        timeout:
          type: integer
          description: "Secure token link expiration time in seconds \tmin: 5, max: 25200"
          format: int32
          example: 300
        keyip:
          type: string
          description: Values Can be Y or N. Set to Y if Add Client IP in token generation for added security should be enabled Set to N if Add Client IP in token generation for added security should be disabled.
          example: N
        ips:
          type: string
          description: 'IPs should be separated by comma. Eg: 192.168.0.1, 192.168.0.2'
          example: 117.251.60.184
    postPushZoneImport:
      type: object
      properties:
        id:
          type: integer
          description: Enter numeric value.
          format: int32
        url:
          type: string
          description: Enter url of file
          example: https://cdn.example.com/test.mp4
        filename:
          type: string
          description: Filename must have an extension.
          example: test.mp4
        folder:
          type: string
          description: Enter file upload foler path
          example: mp4
    PostCache:
      type: object
      properties:
        cache:
          type: string
          description: This will be the default cache name. The values can be 1d,7d,14d, 1M, 3M, 6M, or 1y
          example: 7d
        expiry:
          type: string
          description: (Pull HTTP zones) Browser caching TTL
          example: 1M
        querystring:
          type: string
          enum: [Y]
          description: Cache query string as separate cacheable item.
        cachecontrol:
          type: string
          enum: [Y]
          description: Ignore Cache-Control header from origin server.
        usestale:
          type: string
          enum: [Y]
          description: Serve expired content while fetching fresh content or when origin is down
        revalidate:
          type: string
          enum: [Y]
          description: Revalidate expired cache items using conditional requests
    postPurge:
      type: object
      properties:
        _METHOD:
          type: string
          description: To cast request method to DELETE
          example: DELETE
        files:
          type: array
          items:
            type: string
            description: list of files or empty array to purge full zone
          example: ['/one.txt', '/two.txt']
    postEdgePull:
      type: object
      properties:
        pseudostreaming:
          type: string
          description: Values can be Y or N. Set to Y to enable pseudo stream seeking. Set to N to disable  pseudo stream seeking.
          example: Y
    domainlockList:
      type: object
      properties:
        policy:
          type: string
          description: "Referrer filtering mode. Y = Blacklist mode (block requests with listed referring domains). N = Whitelist mode (allow only requests from listed referring domains, block all others)."
          example: "N"
        list:
          type: string
          description: Comma-separated domain names to block (Y) or allow (N).
          example: example.com,cdn.example.com
        ips:
          type: string
          description: Comma-separated IP addresses excluded from domain lock restrictions regardless of the policy.
          example: 203.0.113.10
        noreferer:
          type: string
          description: "Controls requests with no Referer header. Y = block requests that have no Referer header. N = allow requests with no Referer header."
          example: "N"
        type:
          type: string
          description: Zone type identifier, e.g. push or pull.
          example: push
        enabled:
          type: string
          description: Whether domain lock is enabled. Y means enabled, N means disabled.
          example: "N"
        active:
          type: string
          description: Whether domain lock is currently active. Y means active, N means inactive.
          example: "N"
    geoblockList:
      type: object
      properties:
        policy:
          type: string
          description: "Country filtering mode. Y = Blacklist mode (block requests from listed countries). N = Whitelist mode (allow only requests from listed countries, block all others)."
          example: "N"
        list:
          type: array
          items:
            type: string
          description: Array of ISO-3166 country codes to allow or block.
          example: ["US", "GB"]
        ips:
          type: string
          description: Comma-separated IP addresses excluded from geo-blocking restrictions.
          example: 203.0.113.10
        enabled:
          type: string
          description: Whether geo-blocking is enabled. Y means enabled, N means disabled.
          example: "N"
        active:
          type: string
          description: Whether geo-blocking is currently active. Y means active, N means inactive.
          example: "N"
    securetokenList:
      type: object
      properties:
        policy:
          type: string
          description: "Defines how the token is computed. Q = Query string mode (token applied per query string parameter). F = Full path mode (token covers the full URL path). D = Directory/path-embedded mode (token is embedded within the URL path)."
          example: "F"
        keyip:
          type: string
          description: "Whether client IP is bound to the token. Y = token is only valid from the originating client IP. N = IP binding is disabled."
          example: "N"
        list:
          type: string
          description: 16-character hexadecimal secret key used for token generation.
          example: ab12cd34ef56gh78
        timeout:
          type: integer
          format: int32
          description: Token expiry time in seconds. Minimum 5, maximum 25200.
          example: 3600
        session:
          type: string
          description: "Token expiry behavior. \"0\" = Fixed expiry (token expires at a set time). \"1\" = Rolling/Moving expiry (token timeout resets with each request for active sessions)."
          example: "0"
        ips:
          type: string
          description: Comma-separated IP addresses excluded from secure token validation.
          example: ""
        dirs:
          type: string
          description: Optional directory restriction path for secure token enforcement.
          example: ""
        enabled:
          type: string
          description: Whether secure token is enabled. Y means enabled, N means disabled.
          example: "N"
        active:
          type: string
          description: Whether secure token is currently active. Y means active, N means inactive.
          example: "N"
    eacList:
      type: object
      properties:
        policy:
          type: string
          description: Access policy. Y means allow authenticated requests, N means deny.
          example: "N"
        list:
          type: string
          description: Authentication URL for the external access control endpoint.
          example: http://example.com/auth.script
        ips:
          type: string
          description: Comma-separated IP addresses excluded from external access control.
          example: 203.0.113.10
        enabled:
          type: string
          description: Whether external access control is enabled. Y means enabled, N means disabled.
          example: "N"
        active:
          type: string
          description: Whether external access control is currently active. Y means active, N means inactive.
          example: "N"
    serversResult:
      properties:
        code:
          type: integer
          description: Numeric server location code.
          format: int32
          example: 206
        name:
          type: string
          description: Auto-generated system name for the zone.
          example: Singapore
        country:
          type: string
          description: Geographic region or country of the server.
          example: SouthEast Asia
    zonePushResult:
      type: object
      properties:
        type:
          type: string
          description: Zone type identifier, e.g. push or pull.
          example: push
        id:
          type: integer
          description: Unique numeric identifier for the zone.
          format: int32
          example: 12345
        serviceid:
          type: integer
          description: Numeric identifier of the parent CDN service account.
          format: int32
          example: 67890
        alias:
          type: string
          description: User-defined label or alias for the zone.
          example: my-cdn-zone
        hashid:
          type: string
          description: Short alphanumeric hash identifier for the zone.
          example: abc123def456
        mode:
          type: string
          description: Delivery protocol mode for the zone, e.g. http.
          example: http
        optimizer:
          type: string
          description: Optimizer flag. 1 means enabled, 0 means disabled.
          example: "0"
        cnames:
          type: string
          description: Comma-separated list of custom CNAME hostnames mapped to this zone.
          nullable: true
          example: ""
        edgeruleids:
          type: integer
          description: Count of active edge rules assigned to this zone.
          format: int32
          example: 0
        rclone:
          type: integer
          description: Indicates whether rclone sync is enabled. 1 means enabled, 0 means disabled.
          format: int32
          example: 0
        disabled:
          type: string
          description: Indicates whether the zone is disabled. 1 means disabled, 0 means active.
          example: "0"
        created_at:
          type: string
          description: Timestamp when the zone was created (UTC).
          example: "2024-01-15T10:30:00Z"
        updated_at:
          type: string
          description: Timestamp of the most recent zone update (UTC).
          example: "2024-06-01T08:00:00Z"
        deleted:
          type: string
          description: Timestamp when the zone was deleted, or null if not deleted.
          nullable: true
          example: null
        router:
          type: string
          description: Internal routing identifier for the zone edge network.
          example: mycdn
        remaining:
          type: integer
          description: Remaining quota or resource balance for the zone.
          format: int32
          example: 0
        status:
          type: string
          description: Human-readable zone status, e.g. Enabled or Disabled.
          example: active
        name:
          type: string
          description: Auto-generated system name for the zone.
          example: my-cdn-zone
        fqdn:
          type: string
          description: Fully qualified domain name assigned to the zone by the CDN.
          example: cdn.example.com
        ssl:
          $ref: '#/components/schemas/sslList'
        cnamesArr:
          type: array
          description: Array of custom CNAME hostnames for this zone.
          items:
            type: string
          example: ["cdn.example.com"]
        cnamesArrFqdn:
          type: array
          description: Array of fully qualified domain names including zone FQDN and any CNAMEs.
          items:
            type: string
          example: ["cdn.example.com"]
        waf:
          $ref: '#/components/schemas/wafList'
        defaultBehaviors:
          type: object
          description: Map of default traffic behaviors keyed by network name.
          additionalProperties:
            type: array
            items:
              type: object
          example: {}
        edgeRules:
          type: array
          description: Array of edge rule objects configured for this zone.
          items:
            type: object
          example: []
        cache:
          $ref: '#/components/schemas/cacheList'
        edge:
          $ref: '#/components/schemas/edgeList'
        domainlock:
          $ref: '#/components/schemas/domainlockList'
        geoblock:
          $ref: '#/components/schemas/geoblockList'
        ipaccess:
          $ref: '#/components/schemas/IPAccessSettings'
        useragent:
          $ref: '#/components/schemas/UserAgentSettings'
        securetoken:
          $ref: '#/components/schemas/securetokenList'
        bwlimit:
          $ref: '#/components/schemas/postZoneBwlimit'
        eac:
          $ref: '#/components/schemas/eacList'
        behaviorId:
          type: integer
          description: Identifier of the active default behavior configuration for this zone.
          format: int32
          example: 11111
        linkedVideoManager:
          type: string
          description: ID of the linked Video Manager instance, or null if none linked.
          nullable: true
          example: null
        hostHeader:
          type: string
          description: Host header value sent to the origin server for push zones.
          example: cdn.example.com
        storageHost:
          type: string
          description: Primary storage backend hostname for push zone file uploads.
          example: storage.example.com
        storageHostBackup:
          type: string
          description: Backup storage backend hostname used when primary is unavailable.
          example: storage-eu.example.com
        osAuthUrl:
          type: string
          description: OpenStack authentication endpoint URL for the storage backend.
          example: https://storage.example.com/v3/
        horizonUrl:
          type: string
          description: OpenStack Horizon dashboard URL for the storage backend.
          example: https://storage.example.com/horizon/
        cdnservice:
          $ref: '#/components/schemas/cdnserviceList'
        ftpdetails:
          $ref: '#/components/schemas/ftpdetailsList'
        playbackurls:
          type: object
          description: Playback URL set for the zone including HTTP, HLS, and player URLs.
          example: {}
        s3details:
          $ref: '#/components/schemas/s3detailsList'
        transcodefile:
          $ref: '#/components/schemas/transcodefileList'
        server:
          $ref: '#/components/schemas/serverList'
        hasEdgeRules:
          type: boolean
          description: Indicates whether any edge rules are configured for this zone.
          example: false
    zoneVodPushResult:
      type: object
      properties:
        type:
          type: string
          description: Zone type identifier, e.g. push or pull.
          example: push
        id:
          type: integer
          description: Unique numeric identifier for the zone.
          format: int32
          example: 12345
        serviceid:
          type: integer
          description: Numeric identifier of the parent CDN service account.
          format: int32
          example: 67890
        mode:
          type: string
          description: Delivery protocol mode for the zone, e.g. http.
          example: http
        cnames:
          type: string
          description: Comma-separated list of custom CNAME hostnames mapped to this zone.
          example: ""
        edgeruleids:
          type: integer
          description: Count of active edge rules assigned to this zone.
          format: int32
          example: 0
        deleted:
          type: string
          description: Timestamp when the zone was deleted, or null if not deleted.
          example: null
        name:
          type: string
          description: Auto-generated system name for the zone.
          example: my-cdn-zone
        hashid:
          type: string
          description: Short alphanumeric hash identifier for the zone.
          example: abc123def456
        fqdn:
          type: string
          description: Fully qualified domain name assigned to the zone by the CDN.
          example: cdn.example.com
        fqdnVoD:
          type: string
          description: Fully qualified VoD domain name assigned to the zone by the CDN.
          example: vod.example.com
        edgerules:
          $ref: '#/components/schemas/edgerules'
        domainlock:
          $ref: '#/components/schemas/domainlockList'
        geoblock:
          $ref: '#/components/schemas/geoblockList'
        securetoken:
          $ref: '#/components/schemas/securetokenList'
        eac:
          $ref: '#/components/schemas/eacList'
        ssl:
          $ref: '#/components/schemas/sslList'
        cache:
          $ref: '#/components/schemas/cacheList'
        edge:
          $ref: '#/components/schemas/edgeList'
        transcodefile:
          $ref: '#/components/schemas/transcodefileList'
        ftpdetails:
          $ref: '#/components/schemas/ftpdetailsList'
        server:
          $ref: '#/components/schemas/serverList'
        ssl_enabled:
          type: string
          description: Indicates whether SSL is enabled for this zone.
          example: "Y"
    zonePullResult:
      type: object
      properties:
        type:
          type: string
          description: Zone type identifier, e.g. push or pull.
          example: pull
        id:
          type: integer
          description: Unique numeric identifier for the zone.
          format: int32
          example: 12345
        serviceid:
          type: integer
          description: Numeric identifier of the parent CDN service account.
          format: int32
          example: 67890
        mode:
          type: string
          description: Delivery protocol mode for the zone, e.g. http.
          example: http
        cnames:
          type: string
          description: Comma-separated list of custom CNAME hostnames mapped to this zone.
          example: ""
        edgeruleids:
          type: integer
          description: Count of active edge rules assigned to this zone.
          format: int32
          example: 0
        deleted:
          type: string
          description: Timestamp when the zone was deleted, or null if not deleted.
          example: null
        name:
          type: string
          description: Auto-generated system name for the zone.
          example: my-cdn-zone
        hashid:
          type: string
          description: Short alphanumeric hash identifier for the zone.
          example: abc123def456
        fqdn:
          type: string
          description: Fully qualified domain name assigned to the zone by the CDN.
          example: cdn.example.com
        edgerules:
          $ref: '#/components/schemas/edgerules'
        domainlock:
          $ref: '#/components/schemas/domainlockList'
        geoblock:
          $ref: '#/components/schemas/geoblockList'
        securetoken:
          $ref: '#/components/schemas/securetokenList'
        eac:
          $ref: '#/components/schemas/eacList'
        ssl:
          $ref: '#/components/schemas/sslList'
        cache:
          $ref: '#/components/schemas/cacheList'
        edge:
          $ref: '#/components/schemas/edgeList'
        shield:
          $ref: '#/components/schemas/shieldList'
        waf:
          $ref: '#/components/schemas/wafList'
        seo:
          $ref: '#/components/schemas/seoList'
        ftpdetails:
          $ref: '#/components/schemas/ftpdetailsList'
        ssl_enabled:
          type: string
          description: Indicates whether SSL is enabled for this zone.
          example: "Y"
    zoneVodPullResult:
      type: object
      properties:
        type:
          type: string
          description: Zone type identifier, e.g. push or pull.
          example: pull
        id:
          type: integer
          description: Unique numeric identifier for the zone.
          format: int32
          example: 12345
        serviceid:
          type: integer
          description: Numeric identifier of the parent CDN service account.
          format: int32
          example: 67890
        mode:
          type: string
          description: Delivery protocol mode for the zone, e.g. http.
          example: http
        cnames:
          type: string
          description: Comma-separated list of custom CNAME hostnames mapped to this zone.
          example: ""
        edgeruleids:
          type: integer
          description: Count of active edge rules assigned to this zone.
          format: int32
          example: 0
        deleted:
          type: string
          description: Timestamp when the zone was deleted, or null if not deleted.
          example: null
        name:
          type: string
          description: Auto-generated system name for the zone.
          example: my-cdn-zone
        hashid:
          type: string
          description: Short alphanumeric hash identifier for the zone.
          example: abc123def456
        fqdn:
          type: string
          description: Fully qualified domain name assigned to the zone by the CDN.
          example: cdn.example.com
        fqdnVoD:
          type: string
          description: Fully qualified VoD domain name assigned to the zone by the CDN.
          example: vod.example.com
        edgerules:
          $ref: '#/components/schemas/edgerules'
        domainlock:
          $ref: '#/components/schemas/domainlockList'
        geoblock:
          $ref: '#/components/schemas/geoblockList'
        securetoken:
          $ref: '#/components/schemas/securetokenList'
        eac:
          $ref: '#/components/schemas/eacList'
        ssl:
          $ref: '#/components/schemas/sslList'
        cache:
          $ref: '#/components/schemas/cacheList'
        edge:
          $ref: '#/components/schemas/edgeList'
        shield:
          $ref: '#/components/schemas/shieldList'
        waf:
          $ref: '#/components/schemas/wafList'
        seo:
          $ref: '#/components/schemas/seoList'
        ftpdetails:
          $ref: '#/components/schemas/ftpdetailsList'
        ssl_enabled:
          type: string
          description: Indicates whether SSL is enabled for this zone.
          example: "Y"
    transcodefileList:
      type: object
      properties:
        profiles:
          type: array
          description: Array of transcoding profile IDs to apply automatically.
          items:
            type: string
          example: ["1", "2"]
        emails:
          type: array
          description: Array of email addresses to notify on transcoding completion.
          items:
            type: string
          example: ["admin@example.com"]
        webhooks:
          type: array
          description: Array of webhook URLs to call on transcoding completion.
          items:
            type: string
          example: ["https://hooks.example.com/webhook"]
    sslList:
      type: object
      properties:
        http:
          type: string
          description: Whether HTTP delivery is enabled alongside HTTPS. Y means enabled.
          example: "N"
        http2:
          type: string
          description: Whether HTTP/2 protocol is enabled. Y means enabled, N means disabled.
          example: "Y"
        redirect:
          type: string
          description: Whether HTTP traffic is automatically redirected to HTTPS.
          example: "Y"
        mode:
          type: string
          description: SSL mode. S = shared/SNI, L = Lets Encrypt, C = custom certificate.
          example: S
        certid:
          type: string
          description: Identifier of the custom SSL certificate assigned to this zone, or null if none.
          nullable: true
          example: null
        zerossl:
          type: object
          description: ZeroSSL certificate provisioning details, or null if not provisioned.
          nullable: true
          example: null
        enabled:
          type: string
          description: Whether SSL is enabled for this zone. Y means enabled, N means disabled.
          example: "Y"
        warning:
          nullable: true
          description: SSL configuration warning message, or false if no warnings exist.
          example: false
    wafList:
      type: object
      properties:
        enabled:
          type: string
          description: Whether WAF is enabled for this zone. Y means enabled, N means disabled.
          example: "N"
    shieldList:
      type: object
      properties:
        shields:
          type: array
          description: Array of ISO country codes where edge shield nodes are active.
          items:
            type: string
            description: ISO 3166-1 alpha-2 country code of an edge shield node.
          example: ["CA", "FR"]
    visitorsList:
      properties:
        visitor_table:
          type: array
          description: Tabular visitor analytics data sorted by IP address.
          example: []
          items:
            $ref: '#/components/schemas/visitor_tableList'
        visitor_line_chart:
          type: array
          description: Time-series visitor analytics data for line chart visualization.
          example: []
          items:
            $ref: '#/components/schemas/visitor_line_chartList'
    visitor_line_chartList:
      properties:
        date:
          type: string
          description: Date of the analytics data point in YYYY-MM-DD format.
          format: date
          example: "2024-06-01"
        ip:
          type: string
          description: Client IP address recorded in the analytics entry.
          example: 203.0.113.10
        useragent:
          type: string
          description: Browser or client user-agent string.
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64)
        city:
          type: string
          description: City name derived from the client IP address.
          example: Singapore
        country:
          type: string
          description: Geographic region or country of the server.
          example: Singapore
        bytes:
          type: integer
          description: Total bytes transferred for this entry.
          format: int32
          example: 1048576
        request:
          type: integer
          description: Number of requests recorded for this entry.
          format: int32
          example: 50000
    visitor_tableList:
      properties:
        ip:
          type: string
          description: Client IP address recorded in the analytics entry.
          example: 203.0.113.10
        useragent:
          type: string
          description: Browser or client user-agent string.
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64)
        city:
          type: string
          description: City name derived from the client IP address.
          example: Singapore
        country:
          type: string
          description: Geographic region or country of the server.
          example: Singapore
        bytes:
          type: integer
          description: Total bytes transferred for this entry.
          format: int32
          example: 1048576
        request:
          type: integer
          description: Number of requests recorded for this entry.
          format: int32
          example: 50000
    osList:
      properties:
        os_table:
          type: array
          description: Tabular OS analytics data sorted by operating system.
          example: []
          items:
            $ref: '#/components/schemas/os_tableList'
        os_line_chart:
          type: array
          description: Time-series OS analytics data for line chart visualization.
          example: []
          items:
            $ref: '#/components/schemas/os_line_chartList'
    os_line_chartList:
      properties:
        date:
          type: string
          description: Date of the analytics data point in YYYY-MM-DD format.
          format: date
          example: "2024-06-01"
        os:
          type: string
          description: Operating system name derived from the user-agent string.
          example: Windows
        bytes:
          type: integer
          description: Total bytes transferred for this entry.
          format: int32
          example: 1048576
        request:
          type: integer
          description: Number of requests recorded for this entry.
          format: int32
          example: 50000
    os_tableList:
      properties:
        os:
          type: string
          description: Operating system name derived from the user-agent string.
          example: Windows
        bytes:
          type: integer
          description: Total bytes transferred for this entry.
          format: int32
          example: 1048576
        request:
          type: integer
          description: Number of requests recorded for this entry.
          format: int32
          example: 50000
    cache_statistic_List:
      properties:
        cache_statistic_table:
          type: array
          description: Tabular cache statistics data sorted by edge location.
          example: []
          items:
            $ref: '#/components/schemas/cache_statistic_tableList'
        cache_statistic_line_chart:
          type: array
          description: Time-series cache statistics data for line chart visualization.
          example: []
          items:
            $ref: '#/components/schemas/cache_statistic_line_chartList'
    top_filesList:
      properties:
        top_fifty_files_table:
          type: array
          description: Top 50 most-requested files sorted by request count.
          example: []
          items:
            $ref: '#/components/schemas/top_fifty_files_tableList'
    top_referrersList:
      properties:
        top_fifty_referers_table:
          type: array
          description: Top 50 referring sites sorted by request count.
          example: []
          items:
            $ref: '#/components/schemas/top_fifty_referers_tableList'
    browsersList:
      properties:
        browser_table:
          type: array
          description: Tabular browser analytics data sorted by browser name.
          example: []
          items:
            $ref: '#/components/schemas/browser_tableList'
        browser_line_chart:
          type: array
          description: Time-series browser analytics data for line chart visualization.
          example: []
          items:
            $ref: '#/components/schemas/browser_line_chartList'
    browser_line_chartList:
      properties:
        date:
          type: string
          description: Date of the analytics data point in YYYY-MM-DD format.
          format: date
          example: "2024-06-01"
        browser:
          type: string
          description: Browser name derived from the user-agent string.
          example: Chrome
        bytes:
          type: integer
          description: Total bytes transferred for this entry.
          format: int32
          example: 1048576
        request:
          type: integer
          description: Number of requests recorded for this entry.
          format: int32
          example: 50000
    browser_tableList:
      properties:
        browser:
          type: string
          description: Browser name derived from the user-agent string.
          example: Chrome
        bytes:
          type: integer
          description: Total bytes transferred for this entry.
          format: int32
          example: 1048576
        request:
          type: integer
          description: Number of requests recorded for this entry.
          format: int32
          example: 50000
    countriesList:
      properties:
        country_table:
          type: array
          description: Tabular country analytics data sorted by country name.
          example: []
          items:
            $ref: '#/components/schemas/country_tableList'
        country_line_chart:
          type: array
          description: Time-series country analytics data for line chart visualization.
          example: []
          items:
            $ref: '#/components/schemas/country_line_chartList'
    country_line_chartList:
      properties:
        date:
          type: string
          description: Date of the analytics data point in YYYY-MM-DD format.
          format: date
          example: "2024-06-01"
        country:
          type: string
          description: Geographic region or country of the server.
          example: Singapore
        bytes:
          type: integer
          description: Total bytes transferred for this entry.
          format: int32
          example: 1048576
        request:
          type: integer
          description: Number of requests recorded for this entry.
          format: int32
          example: 50000
    country_tableList:
      properties:
        country:
          type: string
          description: Geographic region or country of the server.
          example: Singapore
        bytes:
          type: integer
          description: Total bytes transferred for this entry.
          format: int32
          example: 1048576
        request:
          type: integer
          description: Number of requests recorded for this entry.
          format: int32
          example: 50000
    statusCodesList:
      properties:
        status_code_table:
          type: array
          description: Tabular HTTP status code analytics data.
          example: []
          items:
            $ref: '#/components/schemas/status_code_tableList'
        status_code_line_chart:
          type: array
          description: Time-series HTTP status code analytics data for line chart visualization.
          example: []
          items:
            $ref: '#/components/schemas/status_code_line_chartList'
    status_code_tableList:
      properties:
        code:
          type: integer
          description: HTTP status code returned for the request, e.g. 200, 404, 500.
          format: int32
          example: 200
        bytes:
          type: integer
          description: Total bytes transferred for this entry.
          format: int32
          example: 1048576
        request:
          type: integer
          description: Number of requests recorded for this status code.
          format: int32
          example: 50000
    status_code_line_chartList:
      properties:
        code:
          type: integer
          description: HTTP status code returned for the request, e.g. 200, 404, 500.
          format: int32
          example: 200
        date:
          type: string
          description: Date of the analytics data point in YYYY-MM-DD format.
          format: date
          example: "2024-06-01"
        bytes:
          type: integer
          description: Total bytes transferred for this entry.
          format: int32
          example: 1048576
        request:
          type: integer
          description: Number of requests recorded for this entry.
          format: int32
          example: 50000
    top_fifty_referers_tableList:
      properties:
        site:
          type: string
          description: Referring site domain or URL.
          example: example.com
        bytes:
          type: integer
          description: Total bytes transferred for this entry.
          format: int32
          example: 1048576
        request:
          type: integer
          description: Number of requests recorded for this entry.
          format: int32
          example: 50000
    top_fifty_files_tableList:
      properties:
        method:
          type: string
          description: HTTP method used for the request, e.g. GET or POST.
          example: GET
        url:
          type: string
          description: URL path of the requested file.
          format: url
          example: /path/to/video.mp4
        bytes:
          type: integer
          description: Total bytes transferred for this entry.
          format: int32
          example: 1048576
        request:
          type: string
          description: Number of requests recorded for this file.
          example: "50000"
    cache_statistic_line_chartList:
      properties:
        time:
          type: string
          description: Timestamp of the analytics data point.
          format: date
          example: "2024-06-01T00:00:00Z"
        hit:
          type: integer
          description: Number of cache hit requests.
          format: int32
          example: 45000
        miss:
          type: integer
          description: Number of cache miss requests.
          format: int32
          example: 5000
        bypass:
          type: integer
          description: Number of requests that bypassed the cache.
          format: int32
          example: 100
        others:
          type: string
          description: Number of requests with other cache statuses.
          example: "0"
        total:
          type: integer
          description: Total number of requests including all cache statuses.
          format: int32
          example: 50000
    cache_statistic_tableList:
      properties:
        locationid:
          type: integer
          description: Numeric identifier of the CDN edge location.
          format: int32
          example: 206
        gb:
          type: integer
          description: Total gigabytes of data delivered from this location.
          format: int32
          example: 100
        request:
          type: integer
          description: Number of requests recorded for this entry.
          format: int32
          example: 50000
    deliveredList:
      properties:
        date:
          type: string
          description: Date of the analytics data point in YYYY-MM-DD format.
          format: date
          example: "2024-06-01"
        value:
          type: string
          description: Delivered bandwidth or data value for this period.
          example: "107374182400"
    seoList:
      type: object
      properties:
        id:
          type: integer
          description: Unique numeric identifier for the zone.
          format: int32
          example: 12345
        type:
          type: string
          description: Zone type identifier, e.g. push or pull.
          example: pull
        canonical:
          type: string
          description: Canonical URL setting for SEO optimization.
          example: "N"
        mode:
          type: string
          description: SEO mode setting for this zone.
          example: default
        robots:
          type: string
          description: Robots meta tag value, e.g. index or noindex.
          example: "N"
        robotstxt:
          type: string
          description: Robots.txt mode setting.
          example: "N"
        robotstxtcustom:
          type: string
          description: Custom robots.txt content when mode is set to custom.
          example: ""
    cacheList:
      type: object
      properties:
        smart:
          type: string
          description: Smart cache flag. 1 means enabled, 0 means disabled.
          example: "0"
        cache:
          type: string
          description: Edge cache TTL duration code, e.g. 4h or 1d.
          example: 4h
        expiry:
          type: string
          description: Browser cache TTL duration code, e.g. 1M. Empty string disables it.
          example: 1M
        querystring:
          type: string
          description: Whether query strings are included in cache keys. Y means included.
          example: "N"
        cachecontrol:
          type: string
          description: Whether Cache-Control headers from origin are respected.
          example: "Y"
        usestale:
          type: string
          description: Whether stale cached content is served when origin is unavailable.
          example: "Y"
        revalidate:
          type: string
          description: Whether conditional revalidation is performed before serving cached content.
          example: "Y"
        cacheInSecs:
          type: integer
          description: Edge cache TTL in seconds.
          format: int64
          example: 14400
        cacheInMins:
          type: integer
          description: Edge cache TTL in minutes.
          format: int32
          example: 240
        expiryInSecs:
          type: integer
          description: Browser cache TTL in seconds.
          format: int64
          example: 2592000
        expiryInMins:
          type: integer
          description: Browser cache TTL in minutes.
          format: int32
          example: 43200
    edgeList:
      type: object
      properties:
        compression:
          type: string
[...]
