openapi: 3.0.0
info:
  title: 5centsCDN - HTTP Pull Zones
  description: API for managing Zones in 5centsCDN (https://www.5centscdn.net)
  version: 2.0.0
  contact:
    email: help@5centscdn.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
- url: https://api.5centscdn.com/v2
  description: 5centsCDN API Server - Production
security:
- ApiKeyAuth: []
tags:
- name: Zone Management
  description: Create, list, update, delete, and configure zones
- name: Security
  description: SSL, secure token, geo block, domain lock, bandwidth limit, and access control
- name: Cache
  description: Edge settings, shield, cache configuration, and CDN optimization
- name: Restore & Purge
  description: Content purge and zone restore operations
paths:
  /zones/http/pull:
    get:
      tags:
      - Zone Management
      summary: Zone
      description: Zone HTTP Pull list
      operationId: zonePullList
      deprecated: false
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          description: The page number of the result. One page contains 20 results.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  zones:
                    type: array
                    description: Array of zone objects returned in this page of results.
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: "Zone type identifier (push or pull)"
                          example: pull
                        id:
                          type: integer
                          description: "Unique numeric identifier of the zone"
                          example: 12345
                        serviceid:
                          type: integer
                          description: "Service account identifier associated with this zone"
                          example: 67890
                        alias:
                          type: string
                          description: "Primary CDN hostname assigned to the zone"
                          example: tests
                        hashid:
                          type: string
                          description: "Unique hash identifier of the zone"
                          example: n4zpvl968j5o
                        mode:
                          type: string
                          description: "Delivery mode of the zone (e.g. http, https)"
                          example: http
                        optimize:
                          type: string
                          description: Whether image/content optimization is enabled (Y/N)
                          example: live
                        optimizer:
                          type: string
                          description: "Whether the optimizer feature is enabled for this zone"
                          example: "0"
                        origin:
                          type: string
                          description: "Origin server hostname or URL"
                          example: http://www.jjk.com
                        backup:
                          type: string
                          description: Whether backup origin failover is enabled (Y/N)
                          example: ""
                        cnames:
                          type: string
                          nullable: true
                          description: "Comma-separated list of CNAMEs associated with this zone"
                          example: ""
                        live:
                          type: string
                          description: Whether live streaming is active for this zone
                          example: "N"
                        wafid:
                          nullable: true
                          example:
                        edgeruleids:
                          type: integer
                          description: "Count of edge rules associated with this zone"
                          example: 0
                        dnscheck:
                          type: integer
                          description: Whether DNS propagation check is enabled
                          example: 1
                        ip:
                          type: string
                          nullable: true
                          description: "IP address of the server or origin"
                          example:
                        customhostheader:
                          type: string
                          description: Custom Host header value sent to the origin server
                          example: ""
                        iswordpress:
                          type: string
                          description: Whether WordPress integration mode is enabled (Y/N)
                          example: "0"
                        awsSignatureV4:
                          type: string
                          description: AWS Signature Version 4 authentication configuration
                          nullable: true
                          example: ""
                        disabled:
                          type: string
                          description: "Whether this zone is currently disabled (0=active, 1=disabled)"
                          example: "0"
                        created_at:
                          type: string
                          description: "ISO 8601 timestamp when this resource was created"
                          example: "2026-04-07 05:31:16"
                        updated_at:
                          type: string
                          description: "ISO 8601 timestamp of the most recent update"
                          example: "2026-04-14 12:29:23"
                        deleted:
                          nullable: true
                          example:
                        router:
                          type: string
                          description: "Internal router label for this zone"
                          example: mycdn
                        remaining:
                          type: integer
                          description: "Remaining quota or resource count for this zone"
                          example: 0
                        status:
                          type: string
                          description: "Current operational status of the resource"
                          example: Enabled
                        name:
                          type: string
                          description: "Human-readable name of the resource"
                          example: sample-pull-zone
                        fqdn:
                          type: string
                          description: "Fully qualified domain name of the CDN zone"
                          example: cdn.example.com
                        ssl:
                          type: object
                          properties:
                            http:
                              type: string
                              description: "Whether plain HTTP delivery is enabled (Y/N)"
                              example: "N"
                            http2:
                              type: string
                              description: "Whether HTTP/2 is enabled (Y/N)"
                              example: "Y"
                            redirect:
                              type: string
                              description: "Whether HTTP to HTTPS redirect is enabled (Y/N)"
                              example: "Y"
                            mode:
                              type: string
                              description: "Delivery mode of the zone (e.g. http, https)"
                              example: S
                            certid:
                              type: string
                              nullable: true
                              description: "SSL certificate identifier, or empty if using default"
                              example:
                            zerossl:
                              type: object
                              nullable: true
                              properties:
                                logDir:
                                  type: string
                                  description: Directory path where access logs are stored
                                  example: /var/logs/ssl/2023/sample
                                messages:
                                  type: array
                                  items:
                                    type: string
                                    description: Array of informational messages from the operation
                                  example: ["Subject Altternative Names are Required"]
                                cn:
                                  type: string
                                  description: ZeroSSL certificate provisioning settings
                                  example: cdn.example.com
                                sans:
                                  type: array
                                  items:
                                    type: string
                                    description: Subject Alternative Names (SANs) on the SSL certificate
                                  example: ["ttt.5centscdndemo.ca"]
                                strSans:
                                  type: string
                                  description: Subject Alternative Names as a formatted string
                                  example: ttt.5centscdndemo.ca
                                certDomains:
                                  type: string
                                  description: Array of domain names covered by this certificate
                                  example: cdn.example.com,ttt.5centscdndemo.ca
                                baseDir:
                                  type: string
                                  description: Base directory for ZeroSSL certificate files.
                                  example: /etc/ssl/zerossl/cdn.example.com
                                dbRow:
                                  type: object
                                  description: Database record associated with this ZeroSSL certificate.
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "Y"
                            warning:
                              oneOf:
                              - type: boolean
                              - type: string
                              description: "SSL warning flag or message, false if none"
                              example: false
                        cnamesArr:
                          type: array
                          items:
                            type: string
                          description: "Array of CNAMEs for this zone"
                          example: []
                        cnamesArrFqdn:
                          type: array
                          items:
                            type: string
                          description: "Array of FQDN CNAMEs for this zone"
                          example: ["cdn.example.com"]
                        waf:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "N"
                        defaultBehaviors:
                          type: object
                          additionalProperties:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  description: "Unique numeric identifier of the zone"
                                  example: 11111
                                network:
                                  type: string
                                  description: "Network provider name for this behavior"
                                  example: gcore
                                rule:
                                  type: object
                        edgeRules:
                          type: array
                          items: {}
                          description: "Array of edge rule objects for this zone"
                          example: []
                        behaviorId:
                          type: integer
                          description: "Numeric identifier of the default behavior set"
                          example: 11111
                        modeI:
                          type: string
                          description: Internal delivery mode identifier for this zone
                          example: vod
                        originip:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "N"
                        baseDirectory:
                          type: string
                          description: Base directory path for content delivery
                          example: ""
                        hostHeader:
                          type: string
                          description: "Custom host header sent to the origin server"
                          example: www.jjk.com
                        shield:
                          type: object
                          properties:
                            network:
                              type: string
                              description: "Network provider name for this behavior"
                              example: "0"
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "N"
                            shields:
                              type: array
                              items:
                                type: string
                                description: Whether edge shield / origin shield is enabled
                              example: ["FR"]
                        edge:
                          type: object
                          properties:
                            compression:
                              type: string
                              description: "Whether gzip/brotli compression is enabled (Y/N)"
                              example: "N"
                            compressionlevel:
                              type: string
                              description: "Compression level setting (0-9)"
                              example: "6"
                            disposition:
                              type: string
                              description: "Whether Content-Disposition header is set (Y/N)"
                              example: "N"
                            stripcookie:
                              type: string
                              description: "Whether cookies are stripped from requests (Y/N)"
                              example: "N"
                            xff:
                              type: string
                              description: "Whether X-Forwarded-For header is passed (Y/N)"
                              example: "N"
                            cors:
                              type: string
                              description: "Whether CORS headers are enabled (Y/N)"
                              example: "N"
                            webp:
                              type: string
                              description: "Whether WebP conversion is enabled (Y/N)"
                              example: "N"
                            pseudostreaming:
                              type: string
                              description: "Whether pseudo-streaming is enabled (Y/N)"
                              example: "N"
                            wp:
                              type: string
                              description: "Whether WordPress optimization is enabled (Y/N)"
                              example: "N"
                            lfo:
                              type: string
                              description: "Whether large file optimization is enabled (Y/N)"
                              example: "N"
                            prefresh:
                              type: string
                              description: "Whether prefetch refresh is enabled (Y/N)"
                              example: "N"
                        proxied:
                          type: boolean
                          description: Whether traffic is proxied through an intermediary
                          example: false
                        origin_auth:
                          type: object
                          properties:
                            type:
                              type: string
                              description: "Zone type identifier (push or pull)"
                              example: none
                            s3_midgress_cache_size:
                              type: string
                              description: Midgress cache size in GB for S3-origin zones (requires Advanced Features)
                              example: "1"
                            s3_access_key_id:
                              type: string
                              description: AWS Access Key ID for S3 origin authentication (20 characters, starts with AKIA)
                              example: AKIA************MNBG
                            s3_access_key_secret:
                              type: string
                              description: AWS Secret Access Key for S3 origin authentication (40 characters)
                              example: hhaj********************************kkkk
                        domainlock:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "N"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                              example: "Y"
                            list:
                              type: string
                              description: "Comma-separated list of entries for this security rule"
                              example: ""
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                              example: ""
                            noreferer:
                              type: string
                              description: "Whether requests with no referrer header are blocked (Y/N)"
                              example: "N"
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                              example: "N"
                        geoblock:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "Y"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                              example: "Y"
                            list:
                              type: array
                              items:
                                type: string
                              description: "Comma-separated list of entries for this security rule"
                              example: [""]
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                              example: ""
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                              example: "Y"
                        securetoken:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "N"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                              example: "F"
                            keyip:
                              type: string
                              description: "Whether IP is included in the secure token key (Y/N)"
                              example: "N"
                            list:
                              type: string
                              description: "Comma-separated list of entries for this security rule"
                              example: ""
                            timeout:
                              type: integer
                              description: "Token expiry timeout in seconds"
                              example: 3600
                            session:
                              type: string
                              description: "Whether session-based tokens are used (Y/N)"
                              example: "0"
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                              example: ""
                            dirs:
                              type: string
                              description: "Comma-separated directory paths for token restriction"
                              example: ""
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                              example: "N"
                        ipaccess:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "N"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                              example: "Y"
                            list:
                              type: string
                              description: "Comma-separated list of entries for this security rule"
                              example: ""
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                              example: ""
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                              example: "N"
                        useragent:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "N"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                              example: "Y"
                            list:
                              type: string
                              description: "Comma-separated list of entries for this security rule"
                              example: Array
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                              example: ""
                            casesensitive:
                              type: string
                              description: "Whether matching is case-sensitive (Y/N)"
                              example: "N"
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                              example: "N"
                            listArr:
                              type: array
                              items:
                                type: string
                              description: "Array of entries for this security rule"
                              example: ["Array"]
                        eac:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "N"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                              example: "N"
                            list:
                              type: string
                              description: "Comma-separated list of entries for this security rule"
                              example: ""
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                              example: ""
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                              example: "N"
                        bwlimit:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "Y"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                              example: "1"
                            rate:
                              type: integer
                              description: "Bandwidth rate limit value"
                              example: 0
                            rateafter:
                              type: integer
                              description: "Bytes transferred before rate limiting begins"
                              example: 0
                            payg:
                              type: string
                              description: "Whether pay-as-you-go billing is enabled (Y/N)"
                              example: "N"
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                              example: "Y"
                        cache:
                          type: object
                          properties:
                            smart:
                              type: string
                              description: "Whether smart cache is enabled for this zone"
                              example: "0"
                            cache:
                              type: string
                              description: "Edge cache TTL duration code"
                              example: 2s
                            expiry:
                              type: string
                              description: "Browser cache TTL duration code"
                              example: 1m
                            querystring:
                              type: string
                              description: "Whether query string caching is enabled (Y/N)"
                              example: "Y"
                            cachecontrol:
                              type: string
                              description: "Whether Cache-Control headers are respected (Y/N)"
                              example: "N"
                            usestale:
                              type: string
                              description: "Whether stale content is served while revalidating (Y/N)"
                              example: "N"
                            revalidate:
                              type: string
                              description: "Whether content is revalidated after expiry (Y/N)"
                              example: "N"
                            cacheInSecs:
                              oneOf:
                              - type: integer
                              - type: string
                              description: "Edge cache TTL in seconds"
                              example: "2"
                            cacheInMins:
                              oneOf:
                              - type: number
                              - type: integer
                              description: "Edge cache TTL in minutes"
                              example: 0.03
                            expiryInSecs:
                              type: integer
                              description: "Browser cache TTL in seconds"
                              example: 60
                            expiryInMins:
                              oneOf:
                              - type: integer
                              - type: string
                              description: "Browser cache TTL in minutes"
                              example: "1"
                        cdnservice:
                          type: object
                          properties:
                            purgeurls:
                              type: array
                              items:
                                type: string
                              description: "Array of purge endpoint URLs for this zone"
                              example: ["/dashboard/103/zones/http/pull/5157/purge"]
                            purgeurl:
                              type: string
                              description: "JSON-encoded purge URL string"
                              example: "[\"\\/dashboard\\/103\\/zones\\/http\\/pull\\/5157\\/purge\"]"
                            authtoken:
                              type: string
                              description: "Base64-encoded authentication token for CDN service calls"
                              example: c2FtcGxlLWF1dGh0b2tlbi1oZXJl
                        ftpdetails:
                          type: object
                          properties:
                            username:
                              type: string
                              description: "FTP or access username for this zone"
                              example: user_67890_push_12345
                            password:
                              type: string
                              description: "FTP or access password for this zone"
                              example: WA572y4zss
                        playbackurls:
                          type: object
                          properties:
                            scheme:
                              type: string
                              description: "URL scheme used for playback (http or https)"
                              example: https
                            name:
                              type: string
                              description: "Human-readable name of the resource"
                              example: /path/to/filename.ext
                            url_prefix:
                              type: string
                              description: "Base URL prefix for CDN delivery"
                              example: https://cdn.example.com
                            http:
                              type: string
                              description: "Whether plain HTTP delivery is enabled (Y/N)"
                              example: https://cdn.example.com/path/to/filename.ext
                            players:
                              type: object
                              properties:
                                hostname:
                                  type: string
                                  description: "Player service hostname"
                                  example: player.example.com
                                flowplayer:
                                  type: object
                                  properties:
                                    base:
                                      type: string
                                      description: Base URL for the player or stream
                                      example: https://player.example.com/flowplayer/hls/
                                    hls:
                                      type: string
                                      description: Flowplayer embed URLs for this zone
                                      example: https://player.example.com/flowplayer/hls/
                                videojs:
                                  type: object
                                  properties:
                                    base:
                                      type: string
                                      description: Base URL for the player or stream
                                      example: https://player.example.com/videojs/hls/
                                    hls:
                                      type: string
                                      description: Video.js player embed URLs for this zone
                                      example: https://player.example.com/videojs/hls/
                                own:
                                  type: object
                                  properties:
                                    hashes:
                                      type: object
                                      additionalProperties:
                                        type: object
                                        properties:
                                          hash:
                                            type: string
                                          hls:
                                            type: string
                                          dash:
                                            type: string
                                    baseQ:
                                      type: string
                                      description: Base URL with query string parameters for player customization
                                      example: "?showcv=true&title=[ReplaceWithVideoTitle]"
                                    base:
                                      type: string
                                      description: Base URL for the player or stream
                                      example: https://player.example.com/5centscdn/auto/skin1/sampleplayer1/
                                    hls:
                                      type: string
                                      description: HLS stream playlist URL for this zone
                                      example: https://player.example.com/5centscdn/auto/skin1/sampleplayer1/
                            tokenized:
                              type: object
                              nullable: true
                              properties:
                                scheme:
                                  type: string
                                name:
                                  type: string
                                url_prefix:
                                  type: string
                                http:
                                  type: string
                                players:
                                  type: object
                            hls:
                              type: string
                              description: HLS stream playlist URL for this zone
                              nullable: true
                              example: "?$token"
                        seo:
                          type: object
                          properties:
                            canonical:
                              type: string
                              description: Whether canonical URL enforcement is enabled (Y/N)
                              example: "N"
                            robots:
                              type: string
                              description: Robots.txt handling mode for this zone
                              example: "N"
                            robotstxt:
                              type: string
                              description: Custom robots.txt content for this zone
                              example: "N"
                            robotstxtcustom:
                              type: string
                              description: Whether SEO-friendly URL mode is enabled (Y/N)
                              example: ""
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "Y"
                        hasEdgeRules:
                          type: boolean
                          description: "Whether this zone has any edge rules configured"
                          example: true
    post:
      tags:
      - Zone Management
      summary: Create Zone
      description: Create a new HTTP Pull Zone
      operationId: createZonePull
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - _METHOD
              - alias
              - origin
              properties:
                _METHOD:
                  type: string
                  description: Must always be PUT.
                  example: PUT
                alias:
                  type: string
                  description: Label for the zone.
                  example: my-pull-zone
                origin:
                  type: string
                  description: Origin server URL.
                  example: https://origin.com
                optimize:
                  type: string
                  enum: [http, live, vod]
                  description: "Content delivery optimization mode. http = Standard web content optimization. live = HLS/DASH live streaming optimization. vod = HLS/DASH Video on Demand optimization."
                  example: http
                ssl:
                  type: object
                  properties:
                    http2:
                      type: string
                      enum: [Y, N]
                      description: "Enable HTTP/2 multiplexing. Y = HTTP/2 enabled. N = HTTP/1.1 only."
                      example: Y
                    redirect:
                      type: string
                      enum: [Y, N]
                      description: "Enforce HTTPS via 301 redirect. Y = redirect HTTP to HTTPS. N = allow both HTTP and HTTPS."
                      example: N
                    mode:
                      type: string
                      enum: [N, S, L, C]
                      description: "SSL certificate mode. N = None (no SSL). S = Shared wildcard SSL certificate (default CDN certificate). L = Free SSL via ZeroSSL/Let's Encrypt. C = Custom SSL certificate (requires certid)."
                      example: S
                  description: SSL certificate settings for HTTPS delivery.
                cache:
                  type: object
                  properties:
                    cache:
                      type: string
                      description: Edge cache TTL duration code.
                      example: 1h
                    expiry:
                      type: string
                      description: Browser cache TTL duration code, or empty string to disable.
                      example: ""
                  description: Cache configuration settings for the zone.
                cnames:
                  type: string
                  description: Comma-separated verified CNAMEs.
                  example: cdn.example.com
                origin_auth:
                  type: object
                  description: Optional AWS S3 authentication for private origins.
                  properties:
                    type:
                      type: string
                      enum: [none, awsSignatureV4]
                      example: none
                      description: "Origin authentication method. none = No authentication required for origin access. awsSignatureV4 = AWS Signature Version 4 signing for private S3 bucket origins (requires s3_access_key_id and s3_access_key_secret)."
                    s3_access_key_id:
                      type: string
                      description: AWS Access Key ID. Required when type is awsSignatureV4.
                      example: AKIAXXXXXXXX
                    s3_access_key_secret:
                      type: string
                      description: AWS Secret Access Key, 40 characters. Required when type is awsSignatureV4.
                      example: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    s3_midgress_cache_size:
                      type: string
                      description: Midgress cache size.
                      example: "1"
                domainlock:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Y, N]
                      example: Y
                      description: "Referrer filtering mode. Y = Blacklist mode (block requests with listed referring domains). N = Whitelist mode (allow only requests from listed referring domains, block all others)."
                    list:
                      type: string
                      description: Comma-separated domain names to block (Y) or allow (N).
                      example: ""
                    ips:
                      type: string
                      example: ""
                      description: Comma-separated IP addresses excluded from domain lock restrictions.
                    noreferer:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: "Controls requests with no Referer header. Y = block requests that have no Referer header. N = allow requests with no Referer header."
                  description: Domain lock / referrer restriction settings.
                geoblock:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Y, N]
                      example: Y
                      description: "Country filtering mode. Y = Blacklist mode (block requests from listed countries). N = Whitelist mode (allow only requests from listed countries, block all others)."
                    list:
                      type: array
                      items:
                        type: string
                      description: Array of ISO-3166 country codes to block (Y) or allow (N).
                      example: []
                    ips:
                      type: string
                      example: ""
                  description: Geo-blocking settings to restrict access by country.
                bwlimit:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: ["0", "1"]
                      example: "0"
                      description: "Rate limiting mode. \"0\" = Static mode (fixed rate applied from the start of the transfer). \"1\" = Dynamic mode (rate limiting activates only after rateafter bytes have been served)."
                    rate:
                      type: number
                      example: 0
                      description: Throttle rate in KB/s applied after rateafter threshold is reached.
                    rateafter:
                      type: number
                      example: 0
                      description: Amount of data in KB served before the throttle rate kicks in.
                  description: Bandwidth limit settings for the zone.
                ipaccess:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Y, N]
                      example: Y
                      description: "IP access filtering mode. Y = Blacklist mode (block listed IPs). N = Whitelist mode (allow only listed IPs, block all others)."
                    list:
                      type: string
                      example: ""
                      description: Comma-separated IP addresses to block (Y) or allow (N).
                    ips:
                      type: string
                      example: ""
                  description: IP access control settings to allow or block specific IPs.
                securetoken:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Q, F, D]
                      example: Q
                      description: "Defines how the token is computed. Q = Query string mode (token applied per query string parameter). F = Full path mode (token covers the full URL path). D = Directory/path-embedded mode (token is embedded within the URL path)."
                    keyip:
                      type: string
                      enum: [Y, N]
                      description: "Bind token validation to the originating client IP address. Y = token is only valid from the IP that generated it, preventing sharing or theft. N = IP binding is disabled."
                      example: N
                    list:
                      type: string
                      description: 16-character hex secret key.
                      example: ""
                    timeout:
                      type: number
                      minimum: 5
                      maximum: 25200
                      example: 5
                      description: Token expiry time in seconds. Minimum 5, maximum 25200.
                    session:
                      type: string
                      enum: ["0", "1"]
                      description: "Defines the token expiry behavior. \"0\" = Fixed expiry (token expires at a set time regardless of activity). \"1\" = Rolling/Moving expiry (token timeout resets with each request, suitable for active sessions)."
                      example: "0"
                    ips:
                      type: string
                      example: ""
                  description: Secure token settings for URL authentication.
                useragent:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Y, N]
                      example: Y
                      description: "User agent filtering mode. Y = Block mode (block requests from listed user agents). N = Allow mode (allow only requests from listed user agents, block all others)."
                    list:
                      type: string
                      example: ""
                      description: Comma-separated user agent strings to block (Y) or allow (N).
                    ips:
                      type: string
                      example: ""
                      description: Comma-separated IP addresses excluded from user agent control.
                    casesensitive:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: "User agent string matching precision. Y = case-sensitive matching. N = case-insensitive matching."
                  description: User-agent filter settings to restrict access by browser/client.
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: Human-readable status message describing the outcome.
                    example: Zone updated successfully
                  zone:
                    $ref: '#/components/schemas/zonePullResult'
  /zones/http/pull/{zoneid}:
    get:
      tags:
      - Zone Management
      summary: Zone
      description: Return  HTTP pull zone details
      operationId: getZonePull
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  zone:
                    type: object
                    properties:
                      type:
                        type: string
                        description: "Zone type identifier (push or pull)"
                        example: pull
                      id:
                        type: integer
                        description: "Unique numeric identifier of the zone"
                        example: 12345
                      serviceid:
                        type: integer
                        description: "Service account identifier associated with this zone"
                        example: 67890
                      alias:
                        type: string
                        description: "Primary CDN hostname assigned to the zone"
                        example: tests
                      hashid:
                        type: string
                        description: "Unique hash identifier of the zone"
                        example: n4zpvl968j5o
                      mode:
                        type: string
                        description: "Delivery mode of the zone (e.g. http, https)"
                        example: http
                      optimize:
                        type: string
                        description: Whether image/content optimization is enabled (Y/N)
                        example: live
                      optimizer:
                        type: string
                        description: "Whether the optimizer feature is enabled for this zone"
                        example: "0"
                      origin:
                        type: string
                        description: "Origin server hostname or URL"
                        example: http://www.jjk.com
                      backup:
                        type: string
                        description: Whether backup origin failover is enabled (Y/N)
                        example: ""
                      cnames:
                        type: string
                        description: "Comma-separated list of CNAMEs associated with this zone"
                        example: ""
                      live:
                        type: string
                        description: Whether live streaming is active for this zone
                        example: "N"
                      wafid:
                        nullable: true
                        example:
                      edgeruleids:
                        type: integer
                        description: "Count of edge rules associated with this zone"
                        example: 0
                      dnscheck:
                        type: integer
                        description: Whether DNS propagation check is enabled
                        example: 1
                      ip:
                        nullable: true
                        example:
                      customhostheader:
                        type: string
                        description: Custom Host header value sent to the origin server
                        example: ""
                      iswordpress:
                        type: string
                        description: Whether WordPress integration mode is enabled (Y/N)
                        example: "0"
                      awsSignatureV4:
                        type: string
                        description: AWS Signature Version 4 authentication configuration
                        example: ""
                      disabled:
                        type: string
                        description: "Whether this zone is currently disabled (0=active, 1=disabled)"
                        example: "0"
                      created_at:
                        type: string
                        description: "ISO 8601 timestamp when this resource was created"
                        example: "2026-04-07 05:31:16"
                      updated_at:
                        type: string
                        description: "ISO 8601 timestamp of the most recent update"
                        example: "2026-04-14 12:29:23"
                      deleted:
                        nullable: true
                        example:
                      router:
                        type: string
                        description: "Internal router label for this zone"
                        example: mycdn
                      remaining:
                        type: integer
                        description: "Remaining quota or resource count for this zone"
                        example: 0
                      status:
                        type: string
                        description: "Current operational status of the resource"
                        example: Enabled
                      name:
                        type: string
                        description: "Human-readable name of the resource"
                        example: sample-pull-zone
                      fqdn:
                        type: string
                        description: "Fully qualified domain name of the CDN zone"
                        example: cdn.example.com
                      ssl:
                        type: object
                        properties:
                          http:
                            type: string
                            description: "Whether plain HTTP delivery is enabled (Y/N)"
                            example: "N"
                          http2:
                            type: string
                            description: "Whether HTTP/2 is enabled (Y/N)"
                            example: "Y"
                          redirect:
                            type: string
                            description: "Whether HTTP to HTTPS redirect is enabled (Y/N)"
                            example: "Y"
                          mode:
                            type: string
                            description: "Delivery mode of the zone (e.g. http, https)"
                            example: S
                          certid:
                            nullable: true
                            example:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "Y"
                          warning:
                            oneOf:
                            - type: boolean
                            - type: string
                            description: "SSL warning flag or message, false if none"
                            example: false
                      cnamesArr:
                        type: array
                        items:
                          type: string
                        description: "Array of CNAMEs for this zone"
                        example: []
                      cnamesArrFqdn:
                        type: array
                        items:
                          type: string
                        description: "Array of FQDN CNAMEs for this zone"
                        example: ["cdn.example.com"]
                      waf:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "N"
                      defaultBehaviors:
                        type: object
                        additionalProperties:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: "Unique numeric identifier of the zone"
                                example: 11111
                              network:
                                type: string
                                description: "Network provider name for this behavior"
                                example: gcore
                              rule:
                                type: object
                                description: Edge rule configuration object for this behavior.
                      edgeRules:
                        type: array
                        items: {}
                        description: "Array of edge rule objects for this zone"
                        example: []
                      behaviorId:
                        type: integer
                        description: "Numeric identifier of the default behavior set"
                        example: 11111
                      modeI:
                        type: string
                        description: Internal delivery mode identifier for this zone
                        example: vod
                      originip:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "N"
                      baseDirectory:
                        type: string
                        description: Base directory path for content delivery
                        example: ""
                      hostHeader:
                        type: string
                        description: "Custom host header sent to the origin server"
                        example: www.jjk.com
                      shield:
                        type: object
                        properties:
                          network:
                            type: string
                            description: "Network provider name for this behavior"
                            example: "0"
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "N"
                      edge:
                        type: object
                        properties:
                          compression:
                            type: string
                            description: "Whether gzip/brotli compression is enabled (Y/N)"
                            example: "N"
                          compressionlevel:
                            type: string
                            description: "Compression level setting (0-9)"
                            example: "6"
                          disposition:
                            type: string
                            description: "Whether Content-Disposition header is set (Y/N)"
                            example: "N"
                          stripcookie:
                            type: string
                            description: "Whether cookies are stripped from requests (Y/N)"
                            example: "N"
                          xff:
                            type: string
                            description: "Whether X-Forwarded-For header is passed (Y/N)"
                            example: "N"
                          cors:
                            type: string
                            description: "Whether CORS headers are enabled (Y/N)"
                            example: "N"
                          webp:
                            type: string
                            description: "Whether WebP conversion is enabled (Y/N)"
                            example: "N"
                          pseudostreaming:
                            type: string
                            description: "Whether pseudo-streaming is enabled (Y/N)"
                            example: "N"
                          wp:
                            type: string
                            description: "Whether WordPress optimization is enabled (Y/N)"
                            example: "N"
                          lfo:
                            type: string
                            description: "Whether large file optimization is enabled (Y/N)"
                            example: "N"
                          prefresh:
                            type: string
                            description: "Whether prefetch refresh is enabled (Y/N)"
                            example: "N"
                      proxied:
                        type: boolean
                        description: Whether traffic is proxied through an intermediary
                        example: false
                      origin_auth:
                        type: object
                        properties:
                          type:
                            type: string
                            description: "Zone type identifier (push or pull)"
                            example: none
                      domainlock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "N"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                            example: "Y"
                          list:
                            type: string
                            description: "Comma-separated list of entries for this security rule"
                            example: ""
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                            example: ""
                          noreferer:
                            type: string
                            description: "Whether requests with no referrer header are blocked (Y/N)"
                            example: "N"
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                            example: "N"
                      geoblock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "Y"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                            example: "Y"
                          list:
                            type: array
                            items:
                              type: string
                            description: "Comma-separated list of entries for this security rule"
                            example: [""]
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                            example: ""
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                            example: "Y"
                      securetoken:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "N"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                            example: "F"
                          keyip:
                            type: string
                            description: "Whether IP is included in the secure token key (Y/N)"
                            example: "N"
                          list:
                            type: string
                            description: "Comma-separated list of entries for this security rule"
                            example: ""
                          timeout:
                            type: integer
                            description: "Token expiry timeout in seconds"
                            example: 3600
                          session:
                            type: string
                            description: "Whether session-based tokens are used (Y/N)"
                            example: "0"
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                            example: ""
                          dirs:
                            type: string
                            description: "Comma-separated directory paths for token restriction"
                            example: ""
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                            example: "N"
                      ipaccess:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "N"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                            example: "Y"
                          list:
                            type: string
                            description: "Comma-separated list of entries for this security rule"
                            example: ""
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                            example: ""
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                            example: "N"
                      useragent:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "N"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                            example: "Y"
                          list:
                            type: string
                            description: "Comma-separated list of entries for this security rule"
                            example: Array
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                            example: ""
                          casesensitive:
                            type: string
                            description: "Whether matching is case-sensitive (Y/N)"
                            example: "N"
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                            example: "N"
                          listArr:
                            type: array
                            items:
                              type: string
                            description: "Array of entries for this security rule"
                            example: ["Array"]
                      eac:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "N"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                            example: "N"
                          list:
                            type: string
                            description: "Comma-separated list of entries for this security rule"
                            example: ""
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                            example: ""
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                            example: "N"
                      bwlimit:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "Y"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                            example: "1"
                          rate:
                            type: integer
                            description: "Bandwidth rate limit value"
                            example: 0
                          rateafter:
                            type: integer
                            description: "Bytes transferred before rate limiting begins"
                            example: 0
                          payg:
                            type: string
                            description: "Whether pay-as-you-go billing is enabled (Y/N)"
                            example: "N"
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                            example: "Y"
                      cache:
                        type: object
                        properties:
                          smart:
                            type: string
                            description: "Whether smart cache is enabled for this zone"
                            example: "0"
                          cache:
                            type: string
                            description: "Edge cache TTL duration code"
                            example: 2s
                          expiry:
                            type: string
                            description: "Browser cache TTL duration code"
                            example: 1m
                          querystring:
                            type: string
                            description: "Whether query string caching is enabled (Y/N)"
                            example: "Y"
                          cachecontrol:
                            type: string
                            description: "Whether Cache-Control headers are respected (Y/N)"
                            example: "N"
                          usestale:
                            type: string
                            description: "Whether stale content is served while revalidating (Y/N)"
                            example: "N"
                          revalidate:
                            type: string
                            description: "Whether content is revalidated after expiry (Y/N)"
                            example: "N"
                          cacheInSecs:
                            oneOf:
                            - type: integer
                            - type: string
                            description: "Edge cache TTL in seconds"
                            example: "2"
                          cacheInMins:
                            oneOf:
                            - type: number
                            - type: integer
                            description: "Edge cache TTL in minutes"
                            example: 0.03
                          expiryInSecs:
                            type: integer
                            description: "Browser cache TTL in seconds"
                            example: 60
                          expiryInMins:
                            oneOf:
                            - type: integer
                            - type: string
                            description: "Browser cache TTL in minutes"
                            example: "1"
                      cdnservice:
                        type: object
                        properties:
                          purgeurls:
                            type: array
                            items:
                              type: string
                            description: "Array of purge endpoint URLs for this zone"
                            example: ["/dashboard/103/zones/http/pull/5157/purge"]
                          purgeurl:
                            type: string
                            description: "JSON-encoded purge URL string"
                            example: "[\"\\/dashboard\\/103\\/zones\\/http\\/pull\\/5157\\/purge\"]"
                          authtoken:
                            type: string
                            description: "Base64-encoded authentication token for CDN service calls"
                            example: c2FtcGxlLWF1dGh0b2tlbi1oZXJl
                      ftpdetails:
                        type: object
                        properties:
                          username:
                            type: string
                            description: "FTP or access username for this zone"
                            example: user_67890_push_12345
                          password:
                            type: string
                            description: "FTP or access password for this zone"
                            example: WA572y4zss
                      playbackurls:
                        type: object
                        properties:
                          scheme:
                            type: string
                            description: "URL scheme used for playback (http or https)"
                            example: https
                          name:
                            type: string
                            description: "Human-readable name of the resource"
                            example: /path/to/filename.ext
                          url_prefix:
                            type: string
                            description: "Base URL prefix for CDN delivery"
                            example: https://cdn.example.com
                          http:
                            type: string
                            description: "Whether plain HTTP delivery is enabled (Y/N)"
                            example: https://cdn.example.com/path/to/filename.ext
                          players:
                            type: object
                            properties:
                              hostname:
                                type: string
                                description: "Player service hostname"
                                example: player.example.com
                              flowplayer:
                                type: object
                                properties:
                                  base:
                                    type: string
                                    description: Base URL for the player or stream
                                    example: https://player.example.com/flowplayer/hls/
                                  hls:
                                    type: string
                                    description: Flowplayer embed URLs for this zone
                                    example: https://player.example.com/flowplayer/hls/
                              videojs:
                                type: object
                                properties:
                                  base:
                                    type: string
                                    description: Base URL for the player or stream
                                    example: https://player.example.com/videojs/hls/
                                  hls:
                                    type: string
                                    description: Video.js player embed URLs for this zone
                                    example: https://player.example.com/videojs/hls/
                              own:
                                type: object
                                properties:
                                  hashes:
                                    type: object
                                    additionalProperties:
                                      type: object
                                      properties:
                                        hash:
                                          type: string
                                        hls:
                                          type: string
                                        dash:
                                          type: string
                                  baseQ:
                                    type: string
                                    description: Base URL with query string parameters for player customization
                                    example: "?showcv=true&title=[ReplaceWithVideoTitle]"
                                  base:
                                    type: string
                                    description: Base URL for the player or stream
                                    example: https://player.example.com/5centscdn/auto/skin1/sampleplayer1/
                                  hls:
                                    type: string
                                    description: HLS stream playlist URL for this zone
                                    example: https://player.example.com/5centscdn/auto/skin1/sampleplayer1/
                      seo:
                        type: object
                        properties:
                          canonical:
                            type: string
                            description: Whether canonical URL enforcement is enabled (Y/N)
                            example: "N"
                          robots:
                            type: string
                            description: Robots.txt handling mode for this zone
                            example: "N"
                          robotstxt:
                            type: string
                            description: Custom robots.txt content for this zone
                            example: "N"
                          robotstxtcustom:
                            type: string
                            description: Whether SEO-friendly URL mode is enabled (Y/N)
                            example: ""
                      hasEdgeRules:
                        type: boolean
                        description: "Whether this zone has any edge rules configured"
                        example: true
                  warnings:
                    nullable: true
                    description: Array of non-fatal warning messages, or null if no warnings.
                    example: null
    post:
      tags:
      - Zone Management
      summary: Update Info
      description: update the information of  HTTP pull Zone
      operationId: updateZonePull
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPullZone'
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: Human-readable status message describing the outcome.
                    example: Zone updated successfully
                  zone:
                    $ref: '#/components/schemas/zonePullResult'
                  warnings:
                    type: array
                    description: Array of non-fatal warning messages from the operation.
                    items:
                      type: string
                    example: []
    delete:
      tags:
      - Zone Management
      summary: Delete Info
      description: Delete the information of HTTP pull Zone. To cast request method POST and parameters _METHOD = DELETE
      operationId: deleteZonePull
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: "Human-readable status or result message"
                    example: Zone Deleted
  /zones/http/pull/{zoneid}/seo:
    post:
      tags:
      - Zone Management
      summary: Update Seo
      description: Update Seo of HTTP pull zone
      operationId: updateSeoZonePull
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                canonical:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable canonical headers.
                  example: Y
                robots:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable X-Robots-Tag header.
                  example: Y
                robotstxt:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable serving a robots.txt file.
                  example: Y
                robotstxtcustom:
                  type: string
                  description: Custom robots.txt content.
                  example: "User-agent: *\nDisallow: /private/"
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: Human-readable status message describing the outcome.
                    example: Zone updated successfully
                  zone:
                    $ref: '#/components/schemas/zonePullResult'
  /zones/http/pull/{zoneid}/originip:
    post:
      tags:
      - Zone Management
      summary: Update originip
      description: Update originip of HTTP pull zone
      operationId: updateOriginipZonePull
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ip:
                  type: string
                  description: Origin server IP address or hostname.
                  example: 1.2.3.4
                customhostheader:
                  type: string
                  description: Custom Host header sent to the origin.
                  example: cdn.x.com
                dnscheck:
                  type: string
                  enum: [Y]
                  description: Optional - trigger a DNS check on the origin.
                  example: Y
                enabled:
                  type: string
                  enum: [Y, N]
                  description: Optional - enable or disable origin IP resolution.
                  example: Y
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: Human-readable status message describing the outcome.
                    example: Zone updated successfully
                  zone:
                    $ref: '#/components/schemas/zonePullResult'
  /zones/http/pull/{zoneid}/ssl:
    post:
      tags:
      - Security
      summary: Update SSL
      description: Update SSL of HTTP pull zone
      operationId: updateSslZonePull
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  description: Always sent as empty string. SSL state is determined by the mode field.
                  example: ""
                warning:
                  type: boolean
                  description: SSL configuration warning indicator. Always false in request payloads.
                  example: false
                name:
                  type: string
                  description: Name of the SSL certificate. Only applicable when uploading a new custom certificate.
                  example: ""
                http2:
                  type: boolean
                  description: Enable or disable HTTP/2 protocol. true = HTTP/2 enabled. false = HTTP/1.1 only.
                  example: true
                redirect:
                  type: boolean
                  description: Enable or disable HTTPS redirect. true = all HTTP requests are redirected to HTTPS with a 301 Moved Permanently response. false = allow both HTTP and HTTPS.
                  example: false
                mode:
                  type: string
                  enum: [N, S, L, C]
                  description: "SSL certificate type. N = None (no SSL, HTTP only). S = Shared (5centsCDN shared wildcard certificate). L = Free SSL (auto-provisioned via ZeroSSL/Let's Encrypt, requires at least one CNAME configured). C = Custom (upload your own certificate)."
                  example: S
                certid:
                  type: integer
                  nullable: true
                  description: ID of the custom SSL certificate to use. Required when mode is C. Null for all other modes.
                  example: 42
                crt:
                  type: string
                  nullable: true
                  description: "SSL certificate content in PEM format (CRT). Only applicable when uploading a new custom certificate."
                  example: ""
                key:
                  type: string
                  nullable: true
                  description: "Private key in PEM format. Only applicable when uploading a new custom certificate."
                  example: ""
                cabundle:
                  type: string
                  nullable: true
                  description: "Certificate Authority (CA) bundle in PEM format. Only applicable when uploading a new custom certificate."
                  example: ""
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: Human-readable status message describing the outcome.
                    example: Zone updated successfully
                  zone:
                    $ref: '#/components/schemas/zonePullResult'
                  warnings:
                    type: array
                    description: Array of non-fatal warning messages from the operation.
                    items:
                      type: string
                    example: []
  /zones/http/pull/{zoneid}/securetoken:
    post:
      tags:
      - Security
      summary: Update Secure Token
      description: Update SecureToken of HTTP pull zone
      operationId: updateSecureTokenZonePull
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - list
              properties:
                enabled:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable secure token.
                  example: Y
                policy:
                  type: string
                  enum: [Q, F, D]
                  description: "Defines how the token is computed. Q = Query string mode (token applied per query string parameter). F = Full path mode (token covers the full URL path). D = Directory/path-embedded mode (token is embedded within the URL path)."
                  example: Q
                keyip:
                  type: string
                  enum: [Y, N]
                  description: "Bind token validation to the originating client IP address. Y = token is only valid from the IP that generated it, preventing sharing or theft. N = IP binding is disabled."
                  example: N
                list:
                  type: string
                  pattern: '^[a-fA-F0-9]{16}$'
                  description: Secret token key - 16-character hexadecimal string.
                  example: abcdef0123456789
                timeout:
                  type: number
                  minimum: 5
                  maximum: 25200
                  description: Token expiry time in seconds. Minimum 5, maximum 25200.
                  example: 3600
                session:
                  type: string
                  enum: ["0", "1"]
                  description: "Defines the token expiry behavior. \"0\" = Fixed expiry (token expires at a set time). \"1\" = Rolling/Moving expiry (token timeout resets with each request for active sessions)."
                  example: "0"
                ips:
                  type: string
                  description: Comma-separated IPs excluded from the secure token check.
                  example: 192.168.1.1
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: Human-readable status message describing the outcome.
                    example: Zone updated successfully
                  zone:
                    $ref: '#/components/schemas/zonePullResult'
  /zones/http/pull/{zoneid}/bwlimit:
    post:
      tags:
      - Security
      summary: Update Bandwidth limit
      description: Update Bandwidth limit of HTTP pull zone
      operationId: updateBwLimitZonePull
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable bandwidth limiting.
                  example: Y
                policy:
                  type: string
                  enum: ["0", "1"]
                  description: "Rate limiting mode. \"0\" = Static mode (fixed rate applied from the start of the transfer). \"1\" = Dynamic mode (rate limiting activates only after rateafter bytes have been served)."
                  example: "0"
                rate:
                  type: number
                  description: Throttle rate in KB/s applied after rateafter threshold.
                  example: 1024
                rateafter:
                  type: number
                  description: Amount of data in KB served before throttle kicks in.
                  example: 5120
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: Human-readable status message describing the outcome.
                    example: Zone updated successfully
[...]
