openapi: 3.0.0
info:
  title: 5centsCDN - Zones
  description: API for managing Zones in <a href="https://www.5centscdn.net" target="_blank">5centsCDN</a>
  version: 2.0.0
  contact:
    email: help@5centscdn.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
- url: https://api.5centscdn.com/v2
  description: 5centsCDN API Server - Production
security:
  - ApiKeyAuth: []
tags:
  - name: HTTP Push Zones
    description: endpoints related to  HTTP Push zones
  - name: HTTP Pull Zones
    description: endpoints related to  HTTP Pull zones
  - name: VOD Push Zones
    description: endpoints related to  VOD Push zones
  - name: VOD Pull Zones
    description: endpoints related to  VOD Pull zones
  - name: HTTP Zones Global Settings
    description: Global HTTP Zones Settings
  - name: VOD Zones Global Settings
    description: Global VOD Zones Settings
paths:
  /{id}/zones/http/push/{zoneid}/domainlock:
    post:
      tags:
      - HTTP Push Zones
      summary: Update Domain Lock
      description: Update domain lock of HTTP push zone
      operationId: updateDomainLockZonePush
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable domain lock.
                  example: Y
                policy:
                  type: string
                  enum: [Y, N]
                  description: Y = Whitelist (allow listed domains), N = Blacklist (block listed domains).
                  example: Y
                list:
                  type: string
                  description: Comma-separated domain names to whitelist or blacklist.
                  example: example.com,b.com
                ips:
                  type: string
                  description: Comma-separated IP addresses that are whitelisted regardless of domain lock.
                  example: 192.168.1.1
                noreferer:
                  type: string
                  enum: [Y, N]
                  description: Y = allow requests with no Referer header, N = block them.
                  example: Y
                mode:
                  type: string
                  enum: [save, append, overwrite]
                  description: Update mode — save replaces, append adds to, overwrite replaces entirely.
                  example: save
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                 result:
                  type: string
                  example: success
                 message:
                  type: string
                  example: Zone Updated
                 zone:
                   $ref: '#/components/schemas/zonePushResult'
  /{id}/zones/http/push/{zoneid}/edge:
    post:
      tags: 
      - HTTP Push Zones
      summary: Update Edge Settings
      description: Update Edge settings of HTTP push zone
      operationId: updateEdgeSettingsZonePush
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                compression:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable gzip/brotli compression.
                  example: Y
                compressionlevel:
                  type: string
                  enum: ["1", "2", "3", "4", "5", "6", "7", "8", "9"]
                  description: Compression level from 1 (fastest) to 9 (best compression).
                  example: "6"
                disposition:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable Content-Disposition header.
                  example: Y
                stripcookie:
                  type: string
                  enum: [Y, N]
                  description: Strip cookies from CDN responses.
                  example: Y
                xff:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable X-Forwarded-For header passthrough.
                  example: Y
                cors:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable CORS headers.
                  example: Y
                webp:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable automatic WebP conversion.
                  example: Y
                pseudostreaming:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable pseudo-streaming for video files.
                  example: N
                wp:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable WordPress cache bypass optimisation.
                  example: N
                lfo:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable large file optimisation.
                  example: N
                prefresh:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable cache prefresh on expiry.
                  example: N
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                 result:
                  type: string
                  example: success
                 message:
                  type: string
                  example: Zone Updated
                 zone:
                   $ref: '#/components/schemas/zonePushResult'
  /{id}/zones/http/push/{zoneid}/cache:
    post:
      tags: 
      - HTTP Push Zones
      summary: Update Cache
      description: Update cache of HTTP Push Zone
      operationId: updateCacheZonePush
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                cache:
                  type: string
                  enum: ["0s", "10s", "1m", "10m", "30m", "1h", "4h", "12h", "1d", "7d", "14d", "1M", "3M", "6M", "1y"]
                  description: Edge cache TTL duration code.
                  example: 1h
                expiry:
                  type: string
                  description: Browser cache TTL duration code. Same values as cache, or empty string to disable.
                  example: 1d
                querystring:
                  type: string
                  enum: [Y, N]
                  description: Cache content per unique query string.
                  example: Y
                cachecontrol:
                  type: string
                  enum: [Y, N]
                  description: Honour Cache-Control headers from origin.
                  example: Y
                usestale:
                  type: string
                  enum: [Y, N]
                  description: Serve stale content while revalidating in the background.
                  example: Y
                revalidate:
                  type: string
                  enum: [Y, N]
                  description: Revalidate cached content on expiry.
                  example: Y
                cacheInSecs:
                  type: number
                  description: Cache TTL in seconds — computed from cache value.
                  example: 3600
                cacheInMins:
                  type: number
                  description: Cache TTL in minutes — computed from cache value.
                  example: 60
                expiryInSecs:
                  type: number
                  description: Browser cache TTL in seconds — computed from expiry value.
                  example: 86400
                expiryInMins:
                  type: number
                  description: Browser cache TTL in minutes — computed from expiry value.
                  example: 1440
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                 result:
                  type: string
                  example: success
                 message:
                  type: string
                  example: Zone Updated
                 zone:
                    $ref: '#/components/schemas/zonePushResult'
  /{id}/zones/http/push/{zoneid}/restore:
    get:
      tags: 
      - HTTP Push Zones
      summary: Restore
      description: Restore HTTP push zone
      operationId: restoreZonePush
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/zoneIdParam'
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Zone Updated
                  zone:
                    type: object
                    properties:
                      type:
                        type: string
                        example: push
                      id:
                        type: integer
                        example: 2102
                      serviceid:
                        type: integer
                        example: 103
                      alias:
                        type: string
                        example: NoChangeNDelete
                      hashid:
                        type: string
                        example: 8v4o6qp4awqp
                      mode:
                        type: string
                        example: http
                      optimizer:
                        type: string
                        example: ""
                      cnames:
                        type: string
                        nullable: true
                        example: ""
                      edgeruleids:
                        type: integer
                        example: 0
                      rclone:
                        type: integer
                        example: 0
                      disabled:
                        type: string
                        example: "0"
                      created_at:
                        type: string
                        example: "2021-06-03 21:26:19"
                      updated_at:
                        type: string
                        example: "2025-03-23 05:49:30"
                      deleted:
                        nullable: true
                        example: null
                      router:
                        type: string
                        example: mycdn
                      remaining:
                        type: integer
                        example: 0
                      status:
                        type: string
                        example: Enabled
                      name:
                        type: string
                        example: push-2102
                      fqdn:
                        type: string
                        example: push-2102.5centscdn.com
                      ssl:
                        type: object
                        properties:
                          http:
                            type: string
                            example: "N"
                          http2:
                            type: string
                            example: "N"
                          redirect:
                            type: string
                            example: "N"
                          mode:
                            type: string
                            example: S
                          certid:
                            nullable: true
                            example: null
                          enabled:
                            type: string
                            example: "Y"
                          warning:
                            oneOf:
                              - type: boolean
                              - type: string
                            example: false
                      cnamesArr:
                        type: array
                        items:
                          type: string
                        example: []
                      cnamesArrFqdn:
                        type: array
                        items:
                          type: string
                        example: ["push-2102.5centscdn.com"]
                      waf:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                      defaultBehaviors:
                        type: object
                        additionalProperties:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 2013
                              network:
                                type: string
                                example: gcore
                              rule:
                                type: object
                      edgeRules:
                        type: array
                        items: {}
                        example: []
                      behaviorId:
                        type: integer
                        example: 2013
                      linkedVideoManager:
                        nullable: true
                        example: null
                      hostHeader:
                        type: string
                        example: push-2102.5centscdn.com
                      storageHost:
                        type: string
                        example: storage-na-01.5centscdn.com
                      storageHostBackup:
                        type: string
                        example: storage-eu-01.5centscdn.com
                      osAuthUrl:
                        type: string
                        example: https://storage-na-01.5centscdn.com/v3/
                      horizonUrl:
                        type: string
                        example: https://storage-na-01-01.5centscdn.com/horizon/
                      domainlock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                          policy:
                            type: string
                            example: "N"
                          list:
                            type: string
                            example: ""
                          ips:
                            type: string
                            example: ""
                          noreferer:
                            type: string
                            example: "N"
                          active:
                            type: string
                            example: "N"
                      geoblock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                          policy:
                            type: string
                            example: "Y"
                          list:
                            type: array
                            items:
                              type: string
                            example: [""]
                          ips:
                            type: string
                            example: ""
                          active:
                            type: string
                            example: "N"
                      securetoken:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                          policy:
                            type: string
                            example: "Q"
                          keyip:
                            type: string
                            example: "N"
                          list:
                            type: string
                            example: ""
                          timeout:
                            type: integer
                            example: 300
                          session:
                            type: string
                            example: "0"
                          ips:
                            type: string
                            example: ""
                          dirs:
                            type: string
                            example: ""
                          active:
                            type: string
                            example: "N"
                      ipaccess:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                          policy:
                            type: string
                            example: "Y"
                          list:
                            type: string
                            example: 123.2.2.2
                          ips:
                            type: string
                            example: ""
                          active:
                            type: string
                            example: "N"
                      useragent:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                          policy:
                            type: string
                            example: "Y"
                          list:
                            type: string
                            example: Array
                          ips:
                            type: string
                            example: ""
                          casesensitive:
                            type: string
                            example: "N"
                          active:
                            type: string
                            example: "N"
                          listArr:
                            type: array
                            items:
                              type: string
                            example: ["Array"]
                      eac:
                        type: object
                        properties:
                          active:
                            type: string
                            example: "N"
                      bwlimit:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                          policy:
                            type: string
                            example: "1"
                          rate:
                            type: integer
                            example: 0
                          rateafter:
                            type: integer
                            example: 0
                          payg:
                            type: string
                            example: "N"
                          active:
                            type: string
                            example: "N"
                      cache:
                        type: object
                        properties:
                          smart:
                            type: string
                            example: "0"
                          cache:
                            type: string
                            example: 2592000s
                          expiry:
                            type: string
                            example: "1"
                          querystring:
                            type: string
                            example: "N"
                          cachecontrol:
                            type: string
                            example: "Y"
                          usestale:
                            type: string
                            example: "Y"
                          revalidate:
                            type: string
                            example: "Y"
                          cacheInSecs:
                            oneOf:
                              - type: integer
                              - type: string
                            example: "2592000"
                          cacheInMins:
                            type: integer
                            example: 43200
                          expiryInSecs:
                            type: integer
                            example: 0
                          expiryInMins:
                            type: integer
                            example: 0
                      edge:
                        type: object
                        properties:
                          compression:
                            type: string
                            example: "N"
                          compressionlevel:
                            type: string
                            example: "6"
                          disposition:
                            type: string
                            example: "N"
                          stripcookie:
                            type: string
                            example: "N"
                          xff:
                            type: string
                            example: "N"
                          cors:
                            type: string
                            example: "N"
                          webp:
                            type: string
                            example: "N"
                          pseudostreaming:
                            type: string
                            example: "Y"
                          wp:
                            type: string
                            example: "N"
                          lfo:
                            type: string
                            example: "Y"
                          prefresh:
                            type: string
                            example: "N"
                      cdnservice:
                        type: object
                        properties:
                          purgeurls:
                            type: array
                            items:
                              type: string
                            example: ["/dashboard/103/zones/http/push/2102/purge"]
                          purgeurl:
                            type: string
                            example: "[\"\\/dashboard\\/103\\/zones\\/http\\/push\\/2102\\/purge\"]"
                          authtoken:
                            type: string
                            example: dmluZWV0aF8xMDNfcHVzaF8yMTAyOldBNTcyeTR6c3M=
                          infourl:
                            type: string
                            example: https://fm-us-sj-sl01.cdnized.com:443/service.php/info/5/push/2102
                          listurl:
                            type: string
                            example: https://fm-us-sj-sl01.cdnized.com:443/service.php/list/5/push/2102
                          rawlisturl:
                            type: string
                            example: https://fm-us-sj-sl01.cdnized.com:443/service.php/raw/list/5/push/2102
                          transcodelisturl:
                            type: string
                            example: https://fm-us-sj-sl01.cdnized.com:443/service.php/transcode/list/5/push/2102
                          addurl:
                            type: string
                            example: https://fm-us-sj-sl01.cdnized.com:443/service.php/add/5/push/2102
                          editurl:
                            type: string
                            example: https://fm-us-sj-sl01.cdnized.com:443/service.php/edit/5/push/2102
                          deleteurl:
                            type: string
                            example: https://fm-us-sj-sl01.cdnized.com:443/service.php/delete/5/push/2102
                          uploadurl:
                            type: string
                            example: https://fm-us-sj-sl01.cdnized.com:443/upload.php
                          playlisturl:
                            type: string
                            example: https://fm-us-sj-sl01.cdnized.com:443/service.php/playlist
                      ftpdetails:
                        type: object
                        properties:
                          username:
                            type: string
                            example: vineeth_103_push_2102
                          password:
                            type: string
                            example: WA572y4zss
                      playbackurls:
                        type: object
                        properties:
                          scheme:
                            type: string
                            example: https
                          name:
                            type: string
                            example: /path/to/filename.ext
                          url_prefix:
                            type: string
                            example: https://push-2102.5centscdn.com
                          http:
                            type: string
                            example: https://push-2102.5centscdn.com/path/to/filename.ext
                          players:
                            type: object
                            properties:
                              hostname:
                                type: string
                                example: iframes.5centscdn.com
                              flowplayer:
                                type: object
                                properties:
                                  base:
                                    type: string
                                    example: https://iframes.5centscdn.com/flowplayer/hls/
                                  hls:
                                    type: string
                                    example: https://iframes.5centscdn.com/flowplayer/hls/
                              videojs:
                                type: object
                                properties:
                                  base:
                                    type: string
                                    example: https://iframes.5centscdn.com/videojs/hls/
                                  hls:
                                    type: string
                                    example: https://iframes.5centscdn.com/videojs/hls/
                              own:
                                type: object
                                properties:
                                  hashes:
                                    type: object
                                    additionalProperties:
                                      type: object
                                      properties:
                                        hash:
                                          type: string
                                        hls:
                                          type: string
                                        dash:
                                          type: string
                                  baseQ:
                                    type: string
                                    example: "?showcv=true&title={ReplaceWithVideoTitle}"
                                  base:
                                    type: string
                                    example: https://iframes.5centscdn.com/5centscdn/auto/skin1/5myum2ioqx8i7dlw/
                                  hls:
                                    type: string
                                    example: https://iframes.5centscdn.com/5centscdn/auto/skin1/5myum2ioqx8i7dlw/
                      s3details:
                        type: object
                        properties:
                          relid:
                            type: integer
                            example: 2102
                          type:
                            type: string
                            example: push
                          projectid:
                            type: string
                            example: 68ce813247204a3f8ce1aff33f943773
                          token:
                            type: string
                            example: gAAAAABp7rW5611_sQbqxQTyoxX1EDOJjuci85zKAo4Xi7OGVHXg42BYSqxRluzPfj4F1hFdNdAWk-tIyUbi2Aupo_u904_3JxLazMb2E8ysVv08HfbIK9wVum5MQjngSQPW2iSFawdYgiAokUJiit3D7-8Y4MN5AKBPDr0FE4YfpuiXTGFp8Xo
                          projectid2:
                            type: string
                            example: c36ac3f23bd5445caea9b887d24f024d
                          token2:
                            type: string
                            example: gAAAAABp7rW5prtseuOypMvJQTw45lhneD_wVr_bBTtftIw9kbHtFnDfgdBFQ-8yD6E1MHrjJSgEEVrZ8_h_8Cskwp0aa4tPdB5QaSe-XZ3-k5KXgyatFQDU6Dg4cC8Xk-BThmrFfUyyKF3PIPxJHCrWpJ7DFjIvSpz0xJehlOoJFAbA-I6vGTk
                          active:
                            type: string
                            example: "1"
                          updated_at:
                            type: string
                            example: "2026-04-27 01:02:50"
                          last_modified:
                            type: string
                            example: "2023-11-09T07:51:24.298890"
                      transcodefile:
                        type: object
                        properties:
                          profiles:
                            type: array
                            items:
                              type: string
                            example: [""]
                          emails:
                            type: array
                            items:
                              type: string
                            example: [""]
                          webhooks:
                            type: array
                            items:
                              type: string
                            example: [""]
                      server:
                        type: object
                        properties:
                          code:
                            type: integer
                            example: 30
                          name:
                            type: string
                            example: San Jose City, United States
                          country:
                            type: string
                            example: North America
                          meta:
                            type: object
                            properties:
                              uploadPort:
                                type: string
                                example: "21"
                              uploadHost:
                                type: string
                                example: upload-us.5centscdn.com
                      hasEdgeRules:
                        type: boolean
                        example: true
    post:
      tags: 
      - HTTP Push Zones
      summary: Zone Cache Purge
      description: Purge cache of a HTTP push zone
      operationId: zonePushCachePurge
      parameters:
      - $ref: '#/components/parameters/serviceId'
      - $ref: '#/components/parameters/zoneIdParam'
      - in: query
        name: delete
        schema:
          type: string
          example: true
          description:
            true - delete the cache
            false - invalidate the cache (default)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                  description: List of file paths to purge. Omit this field entirely (send {}) to purge the whole zone.
                  example: ["/videos/file.mp4", "/images/logo.png"]
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                 result:
                  type: string
                  example: success
                 message:
                  type: string
                  example: Zone Purged


components:
  parameters:
    serviceId:
      name: id
      in: path
      required: true
      description: service id
      schema:
        type: integer
        example: 123
    zoneIdParam:
      name: zoneid
      in: path
      description: Zone ID
      required: true
      schema:
        type: integer
        example: 42
    modeParam:
        in: query
        name: m
        description: Enter reported by
        required: true
        schema:
          type: string
    typeParam:
        in: query
        name: t
        description: Enter daily or hourly
        required: true
        schema:
          type: string
    rParam:
        in: query
        name: r
        description: Enter value last_24hrs/hourly or last_7days/hourly or last_30days/daily
        required: true
        schema:
          type: string
    rangeParam:
        in: query
        name: r
        description: Enter date range
        explode: false
        schema:
          type: string
    queryParam:
        in: query
        name: query
        description: search by filename
        schema:
          type: string
    markerParam:
        in: query
        name: marker
        description: Set the marker parameter to the name of the last item returned in the previous list.
        schema:
          type: string
    endmarkerParam:
        in: query
        name: end_marker
        description: Limits the result set to names that are less than the end_marker parameter value.
        schema:
          type: string
    dirParam:
        in: query
        name: dir
        description: Enter directory name
        schema:
          type: string
    fileParam:
        in: query
        name: file
        description: Enter file name
        schema:
          type: string
    mediaParam:
        in: query
        name: media
        description: show detailed media info if 1
        schema:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    createZonePush:
      required:
      - _METHOD
      - server
      type: object
      properties:
        _METHOD:
          type: string
          description: To cast request method PUT
          example: PUT
        alias:
          type: string
          description: Optional label for the zone
          example: test-zone-001
        server:
          type: integer
          format: int32
          description: server.code, Should be one of the server code from the GET /zones/http/push/servers call
          example: 206
        profiles:
          type: array
          items:
            type: string
          description: Transcoding profile IDs. Leave empty to disable auto file transcoding.
          example: ["1"]
        ssl:
          type: object
          properties:
            http2:
              type: string
              example: Y
            redirect:
              type: string
              example: N
            mode:
              type: string
              description: 'N = None, S = Shared, L = Let''s Encrypt, C = Custom'
              example: L
        cache:
          type: object
          properties:
            cache:
              type: string
              description: Edge cache TTL. Values can be 1d, 7d, 14d, 1M, 3M, 6M, or 1y
              example: 1m
            expiry:
              type: string
              description: Browser cache TTL
              example: ""
        webhook:
          type: string
          description: URL to notify after files are transcoded
          example: https://requestbin.com/r/test/123
        cnames:
          type: string
          description: 'Comma-separated custom domains. Eg: cdn.domain.com'
          example: ""
        domainlock:
          type: object
          properties:
            enabled:
              type: string
              example: N
            policy:
              type: string
              example: N
            list:
              type: string
              example: ""
            ips:
              type: string
              example: ""
            noreferer:
              type: string
              example: N
            active:
              type: string
              example: N
        geoblock:
          type: object
          properties:
            enabled:
              type: string
              example: Y
            policy:
              type: string
              example: N
            list:
              type: array
              items:
                type: string
              example: []
            ips:
              type: string
              example: ""
            active:
              type: string
              example: N
        bwlimit:
          type: object
          properties:
            enabled:
              type: string
              example: Y
            policy:
              type: string
              example: "1"
            rate:
              type: integer
              format: int32
              example: 30
            rateafter:
              type: integer
              format: int32
              example: 0
            active:
              type: string
              example: Y
        ipaccess:
          type: object
          properties:
            enabled:
              type: string
              example: N
            policy:
              type: string
              example: N
            list:
              type: string
              example: ""
            ips:
              type: string
              example: ""
            active:
              type: string
              example: N
        securetoken:
          type: object
          properties:
            enabled:
              type: string
              example: N
            policy:
              type: string
              example: F
            list:
              type: string
              example: ""
            ips:
              type: string
              example: ""
            keyip:
              type: string
              example: N
            session:
              type: string
              example: "0"
            timeout:
              type: integer
              format: int32
              example: 5
            active:
              type: string
              example: N
        useragent:
          type: object
          properties:
            enabled:
              type: string
              example: N
            policy:
              type: string
              example: N
            list:
              type: string
              example: ""
            ips:
              type: string
              example: ""
            casesensitive:
              type: string
              example: N
            active:
              type: string
              example: N
            listArr:
              type: array
              items:
                type: string
              example: [""]
    zoneshttppushnew_geoblock:
      type: object
      properties:
       enabled:
        type: string
        description: Values can be Y or N.<br>Set to Y if Geo Block should be enabled.<br> Set to N if Geo Block should not to be enabled.
        example: Y
       policy:
        type: string
        description: Values can be Y or N.<br>Set to Y if geoblock countries list should be allowed.<br> Set to N if geoblock countries list should be blocked
        example: Y
       list:
        type: array
        items:
         type: string
         description: Geoblock countries list values can be AF,DZ,AW,CA etc
         example : AF
       ips:
        type: string
        description: 'List of IPs to whitelist when geoblock is enabled. IPs should be separated by comma. <br>Eg: 192.168.0.1, 192.168.0.2'
        example: 192.168.0.1
    zoneshttpsetting_geoblock:
      type: object
      properties:
       enabled:
        type: string
        description: Values can be Y or N.<br>Set to Y if Geo Block should be enabled.<br> Set to N if Geo Block should not to be enabled.
        example: Y
       policy:
        type: string
        description: Values can be Y or N.<br>Set to Y if geoblock countries list should be allowed.<br> Set to N if geoblock countries list should be blocked
        example: N
       list:
        type: array
        items:
         type: string
         description: Geoblock countries list values can be AF,DZ,AW,CA etc
         example: AF
       ips:
        type: string
        description: 'List of IPs to whitelist when geoblock is enabled. IPs should be separated by comma. <br>Eg: 192.168.0.1, 192.168.0.2'
        example: 192.168.0.1
       mode:
        type: string
        description: The values can be save,append,overwrite
        example: save
    zoneshttpsetting_domainlock:
      type: object
      properties:
        enabled:
          type: string
          enum: [Y]
          description: Enable domain lock (omit to disable)
        policy:
          type: string
          description: Values can be Y or N. <br>Set to Y if domainlock should be enabled.<br> Set to N if domainlock should be disabled.
          example: Y
        list:
          type: string
          description: 'List of domains seperated by comma .<br> Eg: www.domain-one.com, www.domain-two.com'
          example: www.domain-one.com,www.domain-two.com
        type:
          type: string
          description: The values can be whitelist or blacklist.
          example: whitelist
        noreferer:
          type: string
          enum: [Y]
          description: Block requests with empty/missing Referer header
        ips:
         type: string
         description: IP's listed is excluded from any restrictions
         example: 117.251.60.184
        mode:
         type: string
         description: The values can be save,append,overwrite
         example: save
    zoneshttppushnew_domainlock:
      type: object
      properties:
        enabled:
          type: string
          enum: [Y]
          description: Enable domain lock (omit to disable)
        policy:
          type: string
          description: Values can be Y or N. <br>Set to Y if domainlock should be enabled.<br> Set to N if domainlock should be disabled.
          example: Y
        list:
          type: string
          description: 'List of domains seperated by comma .<br> Eg: www.domain-one.com, www.domain-two.com'
          example: www.domain-one.com
        type:
          type: string
          description: The values can be whitelist or blacklist.
          example: whitelist
        noreferer:
          type: string
          description: Block requests with empty referer
          example: N
        ips:
         type: string
         description: IP's listed is excluded from any restrictions
         example: 117.251.60.184
    zoneshttppushnew_securetoken:
      type: object
      properties:
        policy:
          type: string
          description: Values Can be Y or N. <br> Set to Y if secure token should be enabled<br> Set to N if Secure token should be disabled.
          example: Y
        list:
          type: string
          description: The value should be random alpha numeric string, [A-Za-z0-9]
          example: e49c6d01156bd7c8
        timeout:
          type: string
          description: "Secure token link expiration time in seconds \tmin: 5, max: 25200"
          example: 300
        keyip:
          type: string
          description: Values Can be Y or N. <br> Set to Y if keyip should be enabled<br> Set to N if keyip should be disabled.
          example: N
    zoneshttpsetting_securetoken:
      type: object
      properties:
        policy:
          type: string
          description: Values Can be Y or N. <br> Set to Y if secure token should be enabled<br> Set to Y if Secure token should be disabled.
          example: Y
        list:
          type: string
          description: The value should be random alpha numeric string, [A-Za-z0-9]
          example: 9466f10285af0011
        timeout:
          type: string
          description: "Secure token link expiration time in seconds \tmin: 5, max: 25200"
          example: 30
        ips:
         type: string
         description: 'List of IPs to whitelist when geoblock is enabled. IPs should be separated by comma. <br>Eg: 192.168.0.1, 192.168.0.2'
         example: 192.168.0.1
        mode:
         type: string
         description: The values can be save,append,overwrite
         example: save
    PostReportTraffic:
      type: object
      properties:
       r:
        type: string
        description: Date range
        example: 2020-08-22 15:23:00 - 2020-08-28 15:23:00
       t:
        type: string
        description: The value should be hourly/daily
        example: daily
       m:
        type: string
        description: The value should be hits/bytes
        example: bytes
    zonessetting_bwlimit:
      type: object
      properties:
        policy:
          type: string
          description: Values Can be Y or N. <br> Set to Y if secure token should be enabled<br> Set to Y if Secure token should be disabled.
          example: Y
        rate:
         type: integer
         format: int32
         description: The value should be numeric
         example: 0
        rateafter:
         type: integer
         format: int32
         description: The value should be numeric
         example: 0
        mode:
         type: string
         description: The values can be save,append,overwrite
         example: save
    PostSecureToken:
      type: object
      properties:
        policy:
          type: string
          description: Values can be Y or N. <br>Set to Y if secure token should be enabled.<br> Set to N if secure token should be disabled.
          example: Y
        list:
          type: string
          description: List can be a random alpha numeric string, [A-Za-z0-9]
          example: 1ae6ffaa8f17b79c
        keyip:
         type: string
         example: N
        ips:
          type: string
          description: 'List of IPs to whitelist when secure token is enabled. IPs should be separated by comma. <br>Eg: 192.168.0.1, 192.168.0.2'
          example: 192.168.0.1
        timeout:
          type: integer
          description: "Secure token link expiration time in seconds \tmin: 5, max: 25200"
          format: int32
          example: 300
    postZoneSeo:
      type: object
      properties:
        canonical:
          type: string
          description: Values Can be Y or N. <br> Set to Y if canonical header should be enabled<br> Set to N if canonical header should be disabled.
          example: N
        robots:
          type: string
          description: Values Can be Y or N. <br> Set to Y if robots should be enabled<br> Set to N if robots should be disabled.
          example: N
        robotstxt:
          type: string
          description: Values Can be Y or N. <br> Set to Y if robots.txt should be enabled<br> Set to N if robots.txt should be disabled.
          example: N
        robotstxtcustom:
          type: string
    postZoneOriginip:
      type: object
      properties:
       dnscheck:
        type: string
        description: Values Can be Y or N. <br> Set to Y if origin IP resolution should be enabled<br> Set to N if origin IP resolution should be disabled.
        example: Y
       ip:
        type: string
        description: 'When origin IP resolution is enabled.  <br>Eg: 192.168.0.1, 192.168.0.2'
        example: 192.168.0.1
       customhostheader:
        type: string
        description: 'Eg: www.domain-one.com, www.domain-two.com'
        example: origin2.mydomain.com
    postZoneBwlimit:
      type: object
      properties:
       enabled:
        type: string
        enum: [Y]
        description: Enable bandwidth limiter (omit to disable)
       policy:
        type: integer
        enum: [0, 1]
        description: |
          Limiter mode: 0 = Static (fixed rate/rateafter), 1 = Dynamic (rate via query params ?speed=&buffer=)
        example: 0
       rate:
        type: integer
        format: int64
        description: The value should be numeric.
        example: 0
       rateafter:
        type: integer
        format: int64
        description: The value should be numeric.
        example: 0
    postZoneSecureToken:
      type: object
      properties:
        policy:
          type: string
          description: Values Can be Y or N. <br> Set to Y if secure token should be enabled<br> Set to Y if Secure token should be disabled.
          example: Y
        list:
          type: string
          description: Token, The value should be random alpha numeric string, [A-Za-z0-9].
          example: ae5bb53425c607fa
        timeout:
          type: integer
          description: "Secure token link expiration time in seconds \tmin: 5, max: 25200"
          format: int32
          example: 300
        keyip:
          type: string
          description: Values Can be Y or N. <br> Set to Y if Key ip should be enabled<br> Set to Y if key ip should be disabled.
          example: Y
    postDomainLock:
      type: object
      properties:
        enabled:
          type: string
          enum: [Y]
          description: Enable domain lock (omit to disable)
        policy:
          type: string
          description: Values can be Y or N.<br>Set to Y if domainlock should be enabled.<br> Set to N if domainlock should not to be enabled.
          example: Y
        list:
          type: string
          description: 'List of domains seperated by comma.<br>Eg: www.domain-one.com, www.domain-two.com'
          example: www.domain-one.com
        ips:
          type: string
          description: 'List of IPs to whitelist when domain lock is enabled. IPs should be separated by comma. <br>Eg: 192.168.0.1, 192.168.0.2'
          example: 192.168.0.1 
        noreferer:
         type: string
         description: Values can be Y or N.<br>Set to Y if noreferer should be enabled.<br> Set to N if noreferer should not to be enabled.
         example: N
        type:
          type: string
          description: The values can be whitelist or blacklist
          example: blacklist
    PostGeoBlock:
      type: object
      properties:
        enabled:
          type: string
          description: Values can be Y or N.<br>Set to Y if Geo Block should be enabled.<br> Set to N if Geo Block should not to be enabled.
          example: Y
        policy:
          type: string
          description: Values can be Y or N.<br>Set to Y if geoblock countries list should be allowed.<br> Set to N if geoblock countries list should be blocked
          example: N
        list:
          type: array
          items:
           $ref: '#/components/schemas/ObjectSchemaDefinition'
        ips:
          type: string
          description: 'List of IPs to whitelist when geoblock is enabled. IPs should be separated by comma. <br>Eg: 192.168.0.1, 192.168.0.2'
          example: 192.168.0.1
    ObjectSchemaDefinition:
        type: string
        description: Geoblock countries list values can be AF,DZ,AW,CA etc
        example: AF
    PostGeoBlockVodPush:
      type: object
      properties:
        enabled:
          type: string
          description: Values can be Y or N.<br>Set to Y if geoblock countries list should be allowed.<br> Set to N if geoblock countries list should be blocked
          example: Y
        policy:
          type: string
          description: Values can be Y or N.<br>Set to Y if geoblock countries list should be allowed.<br> Set to N if geoblock countries list should be blocked  
          example: Y
        list:
          type: array
          items:
           type: string
           description: Geoblock countries list values can be AF,DZ,AW,CA etc
           example: AF
        ips:
          type: string
          description: 'List of IPs to whitelist when geoblock is enabled. IPs should be separated by comma. <br>Eg: 192.168.0.1, 192.168.0.2'
          example: 192.168.0.1        
    postEac:
      type: object
      properties:
        enabled:
          type: string
          enum: [Y]
          description: Enable External Auth Control (omit to disable)
        policy:
          type: string
          description: Values can be Y or N. <br>Set to Y if External auth control should be enabled<br> Set to N if  External auth control should be disabled.
          example: Y
        authurl:
          type: string
          description: 'Custom script that crosschecks the User/Viewer parameters and determines authorized users<br>Eg: http://example.com/auth.script'
          example: http://example.com/auth.script 
        ips:
          type: string
          description: List of Allowed IP's
          example: 117.251.60.184
    PostSummaryReport:
      type: object
      properties:
       range:
        type: string
        description: stats properties keys from /months or ['last_24hrs', 'last_7days', 'last_30days']
        example: last_7days
       type:
         type: string
         description: hourly | daily
         example: daily
    PostCacheReport:
      type: object
      properties:
        frequency:
         type: string
         description: Minute/Hour/Day['0','1','2']
         example: 2
        filter_type:
         type: string
         description: GB/HIT/MISS['0','1']
         example: 0
        start_date:
          type: string
          description: Start date, Y-m-d (e.g. 2012-01-01)
          example: 2012-01-01
        end_date:
          type: string
          description: End date, Y-m-d (e.g. 2012-01-01)
          example: 2012-01-01
    PosttopfilesReport:
      type: object
      properties:
        start_date:
          type: string
          description: Start date, Y-m-d (e.g. 2012-01-01)
          example: 2012-01-01
        end_date:
          type: string
          description: End date, Y-m-d (e.g. 2012-01-01)
          example: 2012-01-01
        type:
          type: string
          description: Enter dynamic/static/notfound
          example: dynamic
    PostTopReferrersReport:
      type: object
      properties:
        start_date:
          type: string
          description: Start date, Y-m-d (e.g. 2012-01-01)
          example: 2012-01-01
        end_date:
          type: string
          description: End date, Y-m-d (e.g. 2012-01-01)
          example: 2012-01-01
    Poststatuscodes:
      type: object
      properties:
        frequency:
         type: string
         description: Minute/Hour/Day['0','1','2']
         example: 2
        start_date:
          type: string
          description: Start date, Y-m-d (e.g. 2012-01-01)
          example: 2012-01-01
        end_date:
          type: string
          description: End date, Y-m-d (e.g. 2012-01-01)
          example: 2012-01-01
    postZoneSSL:
      type: object
      properties:
        http2:
          type: string
          description: Values can be Y or N.<br> Set to Y for enabling HTTP/2.<br>Set to N for disabling HTTP/2.
          example: Y
        redirect:
         type: string
         description: Values can be Y or N.<br> Set to Y for enabling HTTPS Redirect.<br>Set to N for disabling HTTPS Redirect.
         example: Y
        mode:
          type: string
          description: Select SSL type. <br> The value can be N,S,L or C.<br> Set to N for None<br> Set to S for Shared.<br> Set to L for Let's Encrypt.<br>Set to C for Custom.
          example: N
        certidl:
          type: integer
          description: SSL Certificate ID. It can be set if  ssl[mode] is L <br> The value will be already uploaded SSL Certificate ID
          format: int32
        certid:
          type: integer
          description: SSL Certificate ID. It can be set if  ssl[mode] is C <br> The value will be already uploaded SSL Certificate ID
          format: int32
        name:
          type: string
          description: SSL name . It can be set if  ssl mode is other than C.
          example: example.com
        crt:
          type: string
          description: SSL certificate ID . It can be set if  ssl mode is other than C.
        key:
          type: string
          description: SSL certificate Key. It can be set if  ssl mode  is other than C.
        cabundle:
          type: string
          description: SSL  CA bundle . It can be set if  ssl[mode] is other than C.
    SummaryReportResult:
      type: object
      properties:
       bandwidth:
            $ref: '#/components/schemas/bandwidthList'
       caching :
           $ref: '#/components/schemas/hitsList'   
       requests:
          $ref: '#/components/schemas/requestsList'  
       summary:
           $ref: '#/components/schemas/summaryList'   
    bandwidthList:
      type: object
      properties:
        delivered:
          type: array
          items: 
              $ref: '#/components/schemas/deliveredList'  
    requestsList:
      type: object
      properties:
        total:
          type: array
          items: 
              $ref: '#/components/schemas/deliveredList'
    hitsList:
      type: object
      properties:
          hits:
             type: array
             items: 
               $ref: '#/components/schemas/deliveredList'
          misses:
             type: array
             items: 
               $ref: '#/components/schemas/deliveredList'
    summaryList:
      type: object
      properties:
          bandwidth:
            type: object
            properties:
             delivered:
              type: integer
              format: int32
          requests:
            type: object
            properties:
             total:
              type: integer
              format: int32
          caching:
            type: object
            properties:
             hits:
              type: integer
              format: int32
             misses:
              type: integer
              format: int32
    zoneshttppushnew_edge:
      type: object
      properties:
        compression:
          type: string
          description: The values can be Y or N.<br> Set to Y if edge compression should be enabled.<br> Set to N if edge compression should be disabled.
          example: Y
        compressionlevel:
          type: string
          description: Set the value of edge[compressionlevel] when edge[compression] is enabled. <br>The values can be 1, 2, 3, 4, 5, 6.
          example: 6
        dispositionenabled:
         type: string  
         description: The values can be Y or N.<br> Set to Y if content disposition should be enabled.<br> Set to N if content disposition should be disabled.
         example: Y
        disposition:
          type: string
          description: Set the value of edge[disposition] when edge[disposition] is enabled. <br>The values can be Y,D
          example: Y
        cors:
          type: string
          description: The values can be Y or N.<br> Set to Y if add CORS header should be enabled.<br> Set to N if add CORS header should be disabled.
          example: Y
        webp:
         type: string
         description: The values can be Y or N.<br> Set to Y if  WebP should be enabled.<br> Set to N if WebP should be disabled.
         example: N
        lfo:
         type: string
         description: The values can be Y or N.<br> Set to Y if  large file optimization should be enabled.<br> Set to N if large file optimization should be disabled.
         example: N
        prefresh:
         type: string
         description: The values can be Y or N.<br> Set to Y if cache prefreshing should be enabled.<br> Set to N if cache prefreshing should be disabled.
         example: N
        pseudostreaming:
         type: string
         description: The values can be Y or N.<br> Set to Y if  pseudostreaming should be enabled.<br> Set to N if pseudostreaming should be disabled.
         example: N
    postZoneVodPull:
       type: object 
       properties:
        origin: 
         type: string
         description: Your Origin Server Host Name
         example: https://example.com
        cname:
         type: string
         description: 'Name that points to actual record. <br>Eg: docs.example.com'
         example: docs.example.com
    postZoneEdge:
      type: object
      properties:
        compression:
          type: string
          description: The values can be Y or N.<br> Set to Y if edge compression should be enabled.<br> Set to N if edge compression should be disabled.
          example: Y
        compressionlevel:
          type: string
          description: Set the value of edge[compressionlevel] when edge[compression] is enabled. <br>The values can be 1, 2, 3, 4, 5, 6.
          example: 6
        dispositionenabled:
          type: string 
          example: Y
        disposition:
          type: string
          description: Values can be Y or N<br> Set to Y to enable edge disposition. <br> Set to N  to disable edge disposition.
          example: N
        stripcookie:
          type: string
          description: Values can be Y or N<br> Set to Y to enable. <br> Set to N  to disable.
          example: Y
        xff:
          type: string
          description: Values can be Y or N<br> Set to Y to enable. <br> Set to N  to disable.
          example: Y
        cors:
          type: string
          description: Values can be Y or N<br> Set to Y to enable. <br> Set to N  to disable.
          example: Y
        webp:
          type: string
          description: Values can be Y or N.<br> Set to Y to enable WebP.<br> Set to N to disable WebP.
          example: N
        lfo:
          type: string
          description: Values can be Y or N.<br> Set to Y to enable Large File Optimization .<br> Set to N to disable Large File Optimization .
          example: N
        prefresh:
          type: string
          description: Values can be Y or N.<br> Set to Y to enable Cache Prefreshing  .<br> Set to N to disable Cache Prefreshing .
          example: N
        wp:
          type: string
          description: Values can be Y or N.<br> Set to Y to enable WordPress Bypass Cache for Administration   .<br> Set to N to disable WordPress Bypass Cache for Administration  .
          example: Y
        pseudostreaming:
          type: string
          description: Values can be Y or N.<br> Set to Y to enable pseudo stream seeking.<br> Set to N to disable  pseudo stream seeking.
          example: Y
    postZone:
      type: object
      properties:
        cnames:
          type: string
          description: 'Enter a custom domain. For example: cdn.domain.com, images.domain.com, static.domain.com'
          example: cdn.domain.com
        profiles:
          type: array
          items:
           type: integer
           format: int64
           description: 'All file uploaded to /raw folder will be transcoded to selected profiles. Leave empty to disable auto file transcoding. <br>Eg: 7549'
           example: 1
        webhook:
          type: string
          description: Notification will be send every minute after files get transcoded. Enter a valid url where we send the files list as a json raw post data
          example: https://mydomain.com/notify
    postPullZone:
     type: object
     properties:
      origin:
       type: string
       description: Your Origin Server Host Name
       example: https://mydomain.com
      optimize:
       type: string
       description: Values can be http,live or vod
       example: http
      cnames:
       type: string
       description: 'Name that points to actual record. <br>Eg: docs.example.com'
       example: docs.example.com
    postZoneVodPush:
      type: object
      properties:
        cnames:
         type: string
         description: 'Name that points to actual record. <br>Eg: docs.example.com'
         example: docs.example.com
        profiles:
          type: array
          items:
            type: integer
            format: int32
            description: 'All file uploaded to /raw folder will be transcoded to selected profiles. Leave empty to disable auto file transcoding. <br>Eg: 7549'
            example: 7549
        webhook:
         type: string
         description: Notification will be send every minute after files get transcoded. Enter a valid url where we send the files list as a json raw post data
         example: https://mydomain.com/notify
    createPullZone:
      required:
      - _METHOD
      type: object
      properties:
        _METHOD:
          type: string
          description: To cast request method POST to PUT
          example: PUT
        origin:
          type: string
          description: Your Origin Server Host Name
          example: https://mydomain.com
        cnames:
          type: string
          description: 'Name that points to actual record. <br>Eg: docs.example.com'
          example: docs.example.com
        cache[cache]:
          type: string
          description: This will be the default cache name.The values can be 1d,7d,14d, 1M, 3M, 6M, or 1y
          example: 1M
        cache[expiry]:
          type: string
          description: This will be the default cache name.The values can be 1d,7d,14d, 1M, 3M, 6M, or 1y
          example: 1M
        cache[querystring]:
          type: string
          description: Values can be Y or N.<br> Set to Y to enable querystring.<br> Set to N to disable querystring.
          example: N
        cache[cachecontrol]:
          type: string
          description: Values can be Y or N.<br> Set to Y to enable cachecontrol.<br> Set to N to disable cachecontrol.
          example: Y
        cache[stale]:
          type: string
          description: Values can be Y or N.<br> Set to Y to enable stale.<br> Set to N to disable stale.
          example: Y
        cache[revalidate]:
          type: string
          description: Values can be Y or N.<br> Set to Y to enable revalidate.<br> Set to N to disable revalidate.
          example: N        
        optimize:
          type: string
          description: Values can be http,live or vod
          example: http
        shields:
          type: array
          items:
           type: string
           description: The value should be CA or FR
           example: CA
        originip:
          $ref: '#/components/schemas/postZoneOriginip'
        edge:
          $ref: '#/components/schemas/postZoneEdge'
        seo:
          $ref: '#/components/schemas/postZoneSeo'
        domainlock:
          $ref: '#/components/schemas/zoneshttppushnew_domainlock'
        securetoken:
          $ref: '#/components/schemas/zoneshttppullnew_securetoken'
        geoblock:
          $ref: '#/components/schemas/zoneshttppushnew_geoblock'
        bwlimit:
         $ref: '#/components/schemas/postZoneBwlimit'
        ssl:
          $ref: '#/components/schemas/postZoneSSL'
    createPullvod:
      required:
      - _METHOD
      type: object
      properties:
        _METHOD:
          type: string
          description: To cast request method POST to PUT
          example: PUT
        origin:
          type: string
          description: Your Origin Server Host Name
          example: https://mydomain.com
        cnames:
          type: string
          description: 'Name that points to actual record. <br>Eg: docs.example.com'
          example: docs.example.com
        cache[cache]:
          type: string
          description: This will be the default cache name.The values can be 1d,7d,14d, 1M, 3M, 6M, or 1y
          example: 1M
        shields:
          type: array
          items:
           type: string
           description: The value should be CA or FR
           example: CA
        edge:
          $ref: '#/components/schemas/postEdgePull'
        domainlock:
          $ref: '#/components/schemas/zoneshttppushnew_domainlock'
        securetoken:
          $ref: '#/components/schemas/zoneshttppullnew_securetoken'
        geoblock:
          $ref: '#/components/schemas/zoneshttppushnew_geoblock'
        ssl:
          $ref: '#/components/schemas/postZoneSSL'
    PostPushVod:
      required:
      - _METHOD
      type: object
      properties:
        _METHOD:
          type: string
          description: To cast request method POST to PUT
          example: PUT
        server:
          type: string
          description: server.code, Should be one of the server code from the GET zones/vod/push/servers call
          example: 30
        profiles:
          type: array
          items:
            type: integer
            format: int32
            description: 'All file uploaded to /raw folder will be transcoded to selected profiles. Leave empty to disable auto file transcoding. <br>Eg: 7549'
            example: 7549
        webhook:
         type: string
         description: Notification will be send every minute after files get transcoded. Enter a valid url where we send the files list as a json raw post data
         example: https://mydomain.com/notify
        cache[cache]:
          type: string
          description: This will be the default cache name.The values can be 1d,7d,14d, 1M, 3M, 6M, or 1y
          example: 1M
        edge:
          $ref: '#/components/schemas/postEdgePull'
        domainlock:
          $ref: '#/components/schemas/zoneshttppushnew_domainlock'
        geoblock:
          $ref: '#/components/schemas/zonesvodpushnew_geoblock'
        securetoken:
          $ref: '#/components/schemas/zoneshttppullnew_securetoken'
        ssl:
          $ref: '#/components/schemas/postZoneSSL'
    zonesvodpushnew_geoblock:
      type: object
      properties:
       enabled:
        type: string
        description: Values can be Y or N.<br>Set to Y if Geo Block should be enabled.<br> Set to N if Geo Block should not to be enabled.
        example: Y
       policy:
        type: string
        description: Values can be Y or N.<br>Set to Y if geoblock countries list should be allowed.<br> Set to N if geoblock countries list should be blocked
        example: Y
       list:
        type: array
        items:
         type: string
         description: Geoblock countries list values can be AF,DZ,AW,CA etc
         example: AF
       ips:
        type: string
        description: 'List of IPs to whitelist when geoblock is enabled. IPs should be separated by comma. <br>Eg: 192.168.0.1, 192.168.0.2'
        example: 192.168.0.1
    zoneshttppullnew_securetoken:
      type: object
      properties:
        policy:
          type: string
          description: Values Can be Y or N. <br> Set to Y if secure token should be enabled<br> Set to Y if Secure token should be disabled.
          example: Y
        list:
          type: string
          description: The value should be random alpha numeric string, [A-Za-z0-9]
          example: 5f1283ceb939b05c
        timeout:
          type: integer
          description: "Secure token link expiration time in seconds \tmin: 5, max: 25200"
          format: int32
          example: 300
        keyip:
         type: string
         description: Add Client IP in token generation for added security
         example: N
        ips:
         type: string
         description: IP's listed is excluded from any restrictions
         example: 117.251.60.184
    postPushZoneSecuretoken:
      type: object
      properties:
        policy:
          type: string
          description: Values Can be Y or N. <br> Set to Y if secure token should be enabled<br> Set to Y if Secure token should be disabled.
          example: Y
        list:
          type: string
          description: Token, The value should be random alpha numeric string, [A-Za-z0-9].
          example: c7d5cfb3212931fa
        timeout:
          type: integer
          description: "Secure token link expiration time in seconds \tmin: 5, max: 25200"
          format: int32
          example: 300
        keyip:
         type: string
         description: Values Can be Y or N. <br> Set to Y if Add Client IP in token generation for added security should be enabled<br> Set to N if Add Client IP in token generation for added security should be disabled.
         example: N
        ips:
         type: string
         description: 'IPs should be separated by comma. <br>Eg: 192.168.0.1, 192.168.0.2'
         example: 117.251.60.184
    postPushZoneImport:
      type: object
      properties:
        id:
          type: integer
          description: Enter numeric value.
          format: int32
        url:
          type: string
          description: Enter url of file
          example: https://bz3njd4mn854-hls-push.5centscdn.com/test.mp4
        filename:
          type: string
          description: Filename must have an extension.
          example: test.mp4
        folder:
          type: string
          description: Enter file upload foler path
          example: mp4        
    PostCache:
      type: object
      properties:
        cache:
          type: string
          description: This will be the default cache name.<br> The values can be 1d,7d,14d, 1M, 3M, 6M, or 1y
          example: 7d
        expiry:
          type: string
          description: (Pull HTTP zones) Browser caching TTL
          example: 1M
        querystring:
          type: string
          enum: [Y]
          description: Cache query string as separate cacheable item.
        cachecontrol:
          type: string
          enum: [Y]
          description: Ignore Cache-Control header from origin server.
        usestale:
          type: string
          enum: [Y]
          description: Serve expired content while fetching fresh content or when origin is down
        revalidate:
          type: string
          enum: [Y]
          description: Revalidate expired cache items using conditional requests
    postPurge:
      type: object
      properties:
        _METHOD:
          type: string
          description: To cast request method to DELETE
          example: DELETE
        files:
          type: array
          items:
            type: string
            description: list of files or empty array to purge full zone
          example: ['/one.txt','/two.txt']
    postEdgePull:
      type: object
      properties:
       pseudostreaming:
          type: string
          description: Values can be Y or N.<br> Set to Y to enable pseudo stream seeking.<br> Set to N to disable  pseudo stream seeking.
          example: Y 
    domainlockList:
      properties:
        policy:
          type: string
        list:
          type: string
        ips:
          type: string
        noreferer:
          type : string
        type:
          type: string
        enabled:
          type: string
        active:
          type: string
    geoblockList:
      properties:
        policy: 
         type: string
        list:
         type: array
         items:
          type: string
        ips:
         type: string
        enabled:
         type: string
        active:
         type: string
    securetokenList:
      properties:
        policy: 
         type: string
        keyip:
         type: string
        list:
         type: string 
        timeout:
         type: integer
         format: int32
        session:
         type: string
        ips:
          type: string
        dirs:
          type: string
        enabled:
          type: string
        active:
          type: string
    eacList:
      properties:
        policy: 
         type: string
        list:
         type: string
        ips:
          type: string
        enabled:
          type: string
        active:
          type: string
    serversResult:
     properties:
      code:
       type: integer
       format: int32
      name: 
       type: string
      country:
       type: string
    zonePushResult:
      properties:
        type:
         type: string
        id:
         type: integer
         format: int32
        serviceid:
         type: integer
         format: int32
        alias:
         type: string
        hashid:
         type: string
        mode:
         type: string
        optimizer:
         type: string
        cnames:
         type: string
         nullable: true
        edgeruleids:
         type: integer
         format: int32
        rclone:
         type: integer
         format: int32
        disabled:
         type: string
        created_at:
         type: string
        updated_at:
         type: string
        deleted:
         type: string
         nullable: true
        router:
         type: string
        remaining:
         type: integer
         format: int32
        status:
         type: string
        name:
         type: string
        fqdn:
         type: string
        ssl:
         $ref: '#/components/schemas/sslList'
        cnamesArr:
         type: array
         items:
          type: string
        cnamesArrFqdn:
         type: array
         items:
          type: string
        waf:
         $ref: '#/components/schemas/wafList'
        defaultBehaviors:
         type: object
         additionalProperties:
          type: array
          items:
           type: object
        edgeRules:
         type: array
         items:
          type: object
        cache:
         $ref: '#/components/schemas/cacheList'
        edge:
         $ref: '#/components/schemas/edgeList'
        domainlock:
         $ref: '#/components/schemas/domainlockList'
        geoblock:
         $ref: '#/components/schemas/geoblockList'
        ipaccess:
         $ref: '#/components/schemas/IPAccessSettings'
        useragent:
         $ref: '#/components/schemas/UserAgentSettings'
        securetoken:
         $ref: '#/components/schemas/securetokenList'
        bwlimit:
         $ref: '#/components/schemas/postZoneBwlimit'
        eac:
         $ref: '#/components/schemas/eacList'
        behaviorId:
         type: integer
         format: int32
        linkedVideoManager:
         type: string
         nullable: true
        hostHeader:
         type: string
        storageHost:
         type: string
        storageHostBackup:
         type: string
        osAuthUrl:
         type: string
        horizonUrl:
         type: string
        cdnservice:
         $ref: '#/components/schemas/cdnserviceList'
        ftpdetails:
         $ref: '#/components/schemas/ftpdetailsList'
        playbackurls:
         type: object
        s3details:
         $ref: '#/components/schemas/s3detailsList'
        transcodefile:
         $ref: '#/components/schemas/transcodefileList'
        server:
         $ref: '#/components/schemas/serverList'
        hasEdgeRules:
         type: boolean
    zoneVodPushResult:
      properties:  
        type: 
         type: string
        id:
         type: integer
         format: int32
        serviceid:
         type: integer
         format: int32
        mode:
         type: string
        cnames:
         type: string
        edgeruleids:
         type: integer
         format: int32
        deleted:
         type: string
        name:
         type: string
        hashid: 
         type: string
        fqdn:
         type: string
        fqdnVoD:
         type: string
        edgerules:
         $ref: '#/components/schemas/edgerules'
        domainlock:
         $ref: '#/components/schemas/domainlockList'  
        geoblock:
         $ref: '#/components/schemas/geoblockList'
        securetoken:
         $ref: '#/components/schemas/securetokenList'
        eac:
          $ref: '#/components/schemas/eacList'
        ssl:
           $ref: '#/components/schemas/sslList'
        cache:
          $ref: '#/components/schemas/cacheList'
        edge:
         $ref: '#/components/schemas/edgeList'
        transcodefile:
          $ref: '#/components/schemas/transcodefileList'
        ftpdetails:
         $ref: '#/components/schemas/ftpdetailsList'
        server:
         $ref: '#/components/schemas/serverList'         
        ssl_enabled:
         type: string
    zonePullResult:
      properties:  
        type: 
         type: string
        id:
         type: integer
         format: int32
        serviceid:
         type: integer
         format: int32
        mode:
         type: string
        cnames:
         type: string
        edgeruleids:
         type: integer
         format: int32
        deleted:
         type: string
        name:
         type: string
        hashid: 
         type: string
        fqdn:
         type: string
        edgerules:
         $ref: '#/components/schemas/edgerules'
        domainlock:
         $ref: '#/components/schemas/domainlockList'  
        geoblock:
         $ref: '#/components/schemas/geoblockList'
        securetoken:
         $ref: '#/components/schemas/securetokenList'
        eac:
          $ref: '#/components/schemas/eacList'
        ssl:
           $ref: '#/components/schemas/sslList'
        cache:
          $ref: '#/components/schemas/cacheList'
        edge:
         $ref: '#/components/schemas/edgeList'
        shield:
         $ref: '#/components/schemas/shieldList' 
        waf:
          $ref: '#/components/schemas/wafList'
        seo:
         $ref: '#/components/schemas/seoList'
        ftpdetails:
         $ref: '#/components/schemas/ftpdetailsList'
        ssl_enabled:
         type: string
    zoneVodPullResult:
      properties:  
        type: 
         type: string
        id:
         type: integer
         format: int32
        serviceid:
         type: integer
         format: int32
        mode:
         type: string
        cnames:
         type: string
        edgeruleids:
         type: integer
         format: int32
        deleted:
         type: string
        name:
         type: string
        hashid: 
         type: string
        fqdn:
         type: string
        fqdnVoD: 
         type: string  
        edgerules:
         $ref: '#/components/schemas/edgerules'
        domainlock:
         $ref: '#/components/schemas/domainlockList'  
        geoblock:
         $ref: '#/components/schemas/geoblockList'
        securetoken:
         $ref: '#/components/schemas/securetokenList'
        eac:
          $ref: '#/components/schemas/eacList'
        ssl:
           $ref: '#/components/schemas/sslList'
        cache:
          $ref: '#/components/schemas/cacheList'
        edge:
         $ref: '#/components/schemas/edgeList'
        shield:
         $ref: '#/components/schemas/shieldList' 
        waf:
          $ref: '#/components/schemas/wafList'
        seo:
         $ref: '#/components/schemas/seoList'
        ftpdetails:
         $ref: '#/components/schemas/ftpdetailsList'
        ssl_enabled:
         type: string
    transcodefileList:
     properties:
       profiles:
        type: array
        items:
         type: string
       emails:
        type: array
        items:
         type: string
       webhooks:
        type: array
        items:
         type: string
    sslList:
      properties:  
        http: 
         type: string
        http2:
         type: string
        redirect:
         type: string  
        mode:
         type: string
        certid:
         type: string
         nullable: true
        zerossl:
         type: object
         nullable: true
        enabled:
         type: string
        warning:
         nullable: true
    wafList:
      properties:  
        enabled: 
         type: string
    shieldList:
      properties:  
        shields:
         type: array
         items: 
           type: string
           example: CA
    visitorsList:
      properties:
       visitor_table:
         type: array
         items:
           $ref: '#/components/schemas/visitor_tableList'
       visitor_line_chart:
         type: array
         items:
           $ref: '#/components/schemas/visitor_line_chartList'
    visitor_line_chartList:
      properties:
       date:
        type: string
        format: date
       ip:
        type: string
       useragent:
        type: string
       city:
        type: string
       country:
        type: string
       bytes:
        type: integer
        format: int32
       request:
        type: integer
        format: int32
    visitor_tableList:
      properties:
        ip:
         type: string
        useragent:
         type: string
        city:
         type: string
        country:
         type: string
        bytes:
         type: integer
         format: int32
        request:
         type: integer
         format: int32
    osList:
      properties:
        os_table:
         type: array
         items:
           $ref: '#/components/schemas/os_tableList'
        os_line_chart:
          type: array
          items:
           $ref: '#/components/schemas/os_line_chartList'
    os_line_chartList:
      properties:
       date:
        type: string
        format: date
       os:
        type: string
       bytes:
        type: integer
        format: int32
       request:
        type: integer
        format: int32
    os_tableList:
      properties:
       os:
        type: string
       bytes:
        type: integer
        format: int32
       request:
        type: integer
        format: int32
    cache_statistic_List:
      properties:
        cache_statistic_table:
         type: array
         items: 
           $ref: '#/components/schemas/cache_statistic_tableList'
        cache_statistic_line_chart:
         type: array
         items: 
           $ref: '#/components/schemas/cache_statistic_line_chartList'
    top_filesList:
      properties:
       top_fifty_files_table:
         type: array
         items: 
           $ref: '#/components/schemas/top_fifty_files_tableList'
    top_referrersList:
      properties:
       top_fifty_referers_table:
         type: array
         items: 
           $ref: '#/components/schemas/top_fifty_referers_tableList'
    browsersList:
      properties:
       browser_table:
         type: array
         items: 
           $ref: '#/components/schemas/browser_tableList'
       browser_line_chart:
          type: array
          items: 
             $ref: '#/components/schemas/browser_line_chartList'
    browser_line_chartList:
      properties:
        date:
         type: string
         format: date
        browser:
         type: string
        bytes:
         type: integer
         format: int32
        request:
         type: integer
         format: int32
    browser_tableList:
      properties:
       browser:
        type: string
       bytes:
        type: integer
        format: int32
       request:
        type: integer
        format: int32
    countriesList:
      properties:
       country_table:
         type: array
         items: 
           $ref: '#/components/schemas/country_tableList'
       country_line_chart:
         type: array
         items: 
           $ref: '#/components/schemas/country_line_chartList'
    country_line_chartList:
      properties:
       date:
        type: string
        format: date
       country:
        type: string
       bytes:
        type: integer
        format: int32
       request:
        type: integer
        format: int32
    country_tableList:
      properties:
       country:
        type: string
       bytes:
        type: integer
        format: int32
       request:
        type: integer
        format: int32
    statusCodesList:
      properties:
       status_code_table:
         type: array
         items: 
           $ref: '#/components/schemas/status_code_tableList'
       status_code_line_chart:
         type: array
         items: 
           $ref: '#/components/schemas/status_code_line_chartList'
    status_code_tableList:
      properties:
       code:
        type: integer
        format: int32
       bytes:
        type: integer
        format: int32
       request:
        type: integer
        format: int32
    status_code_line_chartList:
      properties:
       code:
        type: integer
        format: int32
       date:
        type: string
        format: date
       bytes:
        type: integer
        format: int32
       request:
        type: integer
        format: int32
    top_fifty_referers_tableList:
      properties:
       site:
        type: string
       bytes:
        type: integer
        format: int32
       request:
        type: integer
        format: int32
    top_fifty_files_tableList:
      properties:
       method:
        type: string
       url:
        type: string
        format: url
       bytes:
        type: integer
        format: int32
       request:
        type: string
    cache_statistic_line_chartList:
      properties:
       time:
        type: string
        format: date
       hit:
        type: integer
        format: int32
       miss:
        type: integer
        format: int32
       bypass:
        type: integer
        format: int32
       others:
        type: string
       total:
        type: integer
        format: int32
    cache_statistic_tableList:
      properties:
       locationid:
        type: integer
        format: int32
       gb:
        type: integer
        format: int32
       request:
        type: integer
        format: int32
    deliveredList:
      properties:
       date: 
         type: string
         format: date
       value:
         type: string
    seoList:
      properties:  
        id: 
         type: integer
         format: int32
        type:
         type: string
        canonical:
         type: string  
        mode:
         type: string
        robots:
         type: string
        robotstxt:
         type: string
        robotstxtcustom:
         type: string
    cacheList:
      properties:
       smart:
        type: string
       cache:
        type: string
       expiry:
        type: string
       querystring:
        type: string
       cachecontrol:
        type: string
       usestale:
        type: string
       revalidate:
        type: string
       cacheInSecs:
        type: integer
        format: int64
       cacheInMins:
        type: integer
        format: int32
       expiryInSecs:
        type: integer
        format: int64
       expiryInMins:
        type: integer
        format: int32
    edgeList:
      properties:
       compression:
        type: string
       compressionlevel:
        type: integer
       disposition:
        type: string
       stripcookie:
        type: string
       xff:
        type: string
       cors:
        type: string
       webp: 
        type: string
       pseudostreaming: 
        type: string
       wp:
        type: string
       lfo:
        type: string
       prefresh:
        type: string
    edgerules:
      properties:
       enabled:
        type: string
    ftpdetailsList:
      properties:
       username:
        type: string
       password:
        type: string
    serverList:
      properties:
       code:
        type: string
       name:
        type: string
       country:
        type: string
       meta:
        type: object
        properties:
         uploadPort:
          type: string
         uploadHost:
          type: string
      type: object
    OriginAuth:
      type: object
      description: Origin server authentication settings (HTTP Pull zones only)
      properties:
        type:
          type: string
          enum: [none, awsSignatureV4]
          default: none
          description: Authentication type for private origin access
        s3_access_key_id:
          type: string
          minLength: 20
          maxLength: 20
          pattern: '^AKIA[A-Z0-9]{16}$'
          description: AWS Access Key ID (required when type=awsSignatureV4)
        s3_access_key_secret:
          type: string
          minLength: 40
          maxLength: 40
          description: AWS Secret Access Key (required when type=awsSignatureV4)
        s3_midgress_cache_size:
          type: integer
          minimum: 1
          description: Midgress cache size in GB (requires Advanced Features)
    IPAccessSettings:
      type: object
      description: IP address access control settings
      properties:
        enabled:
          type: string
          enum: [Y]
          description: Enable IP access control (omit to disable)
        policy:
          type: string
          enum: [Y, N]
          description: "Y = Block listed IPs, N = Allow only listed IPs"
        list:
          type: string
          description: Comma-separated IP addresses or CIDR ranges to block or allow
        ips:
          type: string
          description: Comma-separated IPs excluded from IP access restrictions
        active:
          type: string
    UserAgentSettings:
      type: object
      description: User-Agent string access control settings
      properties:
        enabled:
          type: string
          enum: [Y]
          description: Enable user agent control (omit to disable)
        policy:
          type: string
          enum: [Y, N]
          description: "Y = Block listed user agents, N = Allow only listed user agents"
        list:
          type: string
          description: |
            Semicolon-separated (;;;) user agent strings.
            Use *wildcard* pattern for partial matching. Example: *Chrome*
        casesensitive:
          type: string
          enum: [Y]
          description: Enable case-sensitive matching
        ips:
          type: string
          description: Comma-separated IPs excluded from user agent restrictions
        active:
          type: string
        listArr:
          type: array
          items:
            type: string
    cdnserviceList:
      type: object
      properties:
        purgeurls:
          type: array
          items:
            type: string
        purgeurl:
          type: string
        authtoken:
          type: string
        infourl:
          type: string
        listurl:
          type: string
        rawlisturl:
          type: string
        transcodelisturl:
          type: string
        addurl:
          type: string
        editurl:
          type: string
        deleteurl:
          type: string
        uploadurl:
          type: string
        playlisturl:
          type: string
    s3detailsList:
      type: object
      properties:
        relid:
          type: integer
          format: int32
        type:
          type: string
        projectid:
          type: string
        token:
          type: string
        projectid2:
          type: string
        token2:
          type: string
        active:
          type: string
        updated_at:
          type: string
        last_modified:
          type: string
  