openapi: 3.0.0
info:
  title: 5centsCDN - Zones
  description: API for managing Zones in 5centsCDN (https://www.5centscdn.net)
  version: 2.0.0
  contact:
    email: help@5centscdn.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
- url: https://api.5centscdn.com/v2
  description: 5centsCDN API Server - Production
security:
- ApiKeyAuth: []
tags:
- name: HTTP Push
  description: Endpoints related to HTTP Push zones
- name: HTTP Pull
  description: Endpoints related to HTTP Pull zones
- name: HTTP Global Settings
  description: Global HTTP zone security settings
- name: VOD Push
  description: Endpoints related to VOD Push zones
- name: VOD Pull
  description: Endpoints related to VOD Pull zones
- name: VOD Global Settings
  description: Global VOD zone security settings
paths:
  /zones/http/push:
    get:
      tags:
      - HTTP Push
      summary: Zone
      description: Return  HTTP push zone details
      operationId: zonePushList
      deprecated: false
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          description: The page number of the result. One page contains 20 results.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  zones:
                    type: array
                    description: Array of zone objects returned in this page of results.
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: push
                        id:
                          type: integer
                          example: 12345
                        serviceid:
                          type: integer
                          example: 67890
                        alias:
                          type: string
                          example: ""
                        hashid:
                          type: string
                          example: abc123def456
                        mode:
                          type: string
                          example: http
                        optimizer:
                          type: string
                          example: "0"
                        cnames:
                          type: string
                          nullable: true
                          example: ""
                        edgeruleids:
                          type: integer
                          example: 0
                        rclone:
                          type: integer
                          example: 0
                        disabled:
                          type: string
                          example: "0"
                        created_at:
                          type: string
                          example: "2023-01-15 10:00:00"
                        updated_at:
                          type: string
                          example: "2023-01-20 12:00:00"
                        deleted:
                          nullable: true
                          example:
                        router:
                          type: string
                          example: mycdn
                        remaining:
                          type: integer
                          example: 0
                        status:
                          type: string
                          example: Enabled
                        name:
                          type: string
                          example: sample-push-zone
                        fqdn:
                          type: string
                          example: cdn.example.com
                        ssl:
                          type: object
                          properties:
                            http:
                              type: string
                              example: "N"
                            http2:
                              type: string
                              example: "Y"
                            redirect:
                              type: string
                              example: "Y"
                            mode:
                              type: string
                              example: S
                            certid:
                              type: string
                              nullable: true
                              example: ""
                            zerossl:
                              type: object
                              nullable: true
                            enabled:
                              type: string
                              example: "Y"
                            warning:
                              oneOf:
                              - type: boolean
                              - type: string
                              example: false
                        cnamesArr:
                          type: array
                          items:
                            type: string
                          example: []
                        cnamesArrFqdn:
                          type: array
                          items:
                            type: string
                          example: ["cdn.example.com"]
                        waf:
                          type: object
                          properties:
                            enabled:
                              type: string
                              example: "N"
                        defaultBehaviors:
                          type: object
                          additionalProperties:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 11111
                                network:
                                  type: string
                                  example: gcore
                                rule:
                                  type: object
                        edgeRules:
                          type: array
                          items: {}
                          example: []
                        cache:
                          type: object
                          properties:
                            smart:
                              type: string
                              example: "0"
                            cache:
                              type: string
                              example: 4h
                            expiry:
                              type: string
                              example: 1M
                            querystring:
                              type: string
                              example: "N"
                            cachecontrol:
                              type: string
                              example: "Y"
                            usestale:
                              type: string
                              example: "Y"
                            revalidate:
                              type: string
                              example: "Y"
                            cacheInSecs:
                              oneOf:
                              - type: integer
                              - type: string
                              example: 14400
                            cacheInMins:
                              type: integer
                              example: 240
                            expiryInSecs:
                              oneOf:
                              - type: integer
                              - type: string
                              example: 2592000
                            expiryInMins:
                              type: integer
                              example: 43200
                        edge:
                          type: object
                          properties:
                            compression:
                              type: string
                              example: "N"
                            compressionlevel:
                              type: string
                              example: "5"
                            disposition:
                              type: string
                              example: "N"
                            stripcookie:
                              type: string
                              example: "N"
                            xff:
                              type: string
                              example: "N"
                            cors:
                              type: string
                              example: "Y"
                            webp:
                              type: string
                              example: "N"
                            pseudostreaming:
                              type: string
                              example: "Y"
                            wp:
                              type: string
                              example: "N"
                            lfo:
                              type: string
                              example: "Y"
                            prefresh:
                              type: string
                              example: "N"
                        domainlock:
                          type: object
                          properties:
                            enabled:
                              type: string
                              example: "N"
                            policy:
                              type: string
                              example: "N"
                            list:
                              type: string
                              example: ""
                            ips:
                              type: string
                              example: ""
                            noreferer:
                              type: string
                              example: "N"
                            active:
                              type: string
                              example: "N"
                        geoblock:
                          type: object
                          properties:
                            enabled:
                              type: string
                              example: "N"
                            policy:
                              type: string
                              example: "N"
                            list:
                              type: array
                              items:
                                type: string
                              example: [""]
                            ips:
                              type: string
                              example: ""
                            active:
                              type: string
                              example: "N"
                        ipaccess:
                          type: object
                          properties:
                            enabled:
                              type: string
                              example: "N"
                            policy:
                              type: string
                              example: "N"
                            list:
                              type: string
                              example: ""
                            ips:
                              type: string
                              example: ""
                            active:
                              type: string
                              example: "N"
                        useragent:
                          type: object
                          properties:
                            enabled:
                              type: string
                              example: "N"
                            policy:
                              type: string
                              example: "N"
                            list:
                              type: string
                              example: ""
                            ips:
                              type: string
                              example: ""
                            casesensitive:
                              type: string
                              example: "N"
                            active:
                              type: string
                              example: "N"
                            listArr:
                              type: array
                              items:
                                type: string
                              example: [""]
                        securetoken:
                          type: object
                          properties:
                            enabled:
                              type: string
                              example: "N"
                            policy:
                              type: string
                              example: "D"
                            keyip:
                              type: string
                              example: "N"
                            list:
                              type: string
                              example: ""
                            timeout:
                              type: integer
                              example: 3600
                            session:
                              type: string
                              example: "0"
                            ips:
                              type: string
                              example: ""
                            dirs:
                              type: string
                              example: ""
                            active:
                              type: string
                              example: "N"
                        bwlimit:
                          type: object
                          properties:
                            enabled:
                              type: string
                              example: "N"
                            policy:
                              type: string
                              example: "0"
                            rate:
                              type: integer
                              example: 0
                            rateafter:
                              type: integer
                              example: 0
                            payg:
                              type: string
                              example: "N"
                            active:
                              type: string
                              example: "N"
                        eac:
                          type: object
                          properties:
                            enabled:
                              type: string
                              example: "N"
                            policy:
                              type: string
                              example: "N"
                            list:
                              type: string
                              example: ""
                            ips:
                              type: string
                              example: ""
                            active:
                              type: string
                              example: "N"
                        behaviorId:
                          type: integer
                          example: 11111
                        linkedVideoManager:
                          nullable: true
                          example:
                        hostHeader:
                          type: string
                          example: cdn.example.com
                        storageHost:
                          type: string
                          example: storage.example.com
                        storageHostBackup:
                          type: string
                          example: storage-eu.example.com
                        osAuthUrl:
                          type: string
                          example: https://storage.example.com/v3/
                        horizonUrl:
                          type: string
                          example: https://storage.example.com/horizon/
                        cdnservice:
                          type: object
                          properties:
                            purgeurls:
                              type: array
                              items:
                                type: string
                              example: ["/dashboard/67890/zones/http/push/12345/purge"]
                            purgeurl:
                              type: string
                              example: "[\"\\/dashboard\\/67890\\/zones\\/http\\/push\\/12345\\/purge\"]"
                            authtoken:
                              type: string
                              example: c2FtcGxlLWF1dGh0b2tlbi1oZXJl
                            infourl:
                              type: string
                              example: https://cdn-service.example.com/service.php/info/5/push/12345
                            listurl:
                              type: string
                              example: https://cdn-service.example.com/service.php/list/5/push/12345
                            rawlisturl:
                              type: string
                              example: https://cdn-service.example.com/service.php/raw/list/5/push/12345
                            transcodelisturl:
                              type: string
                              example: https://cdn-service.example.com/service.php/transcode/list/5/push/12345
                            addurl:
                              type: string
                              example: https://cdn-service.example.com/service.php/add/5/push/12345
                            editurl:
                              type: string
                              example: https://cdn-service.example.com/service.php/edit/5/push/12345
                            deleteurl:
                              type: string
                              example: https://cdn-service.example.com/service.php/delete/5/push/12345
                            uploadurl:
                              type: string
                              example: https://cdn-service.example.com/upload.php
                            playlisturl:
                              type: string
                              example: https://cdn-service.example.com/service.php/playlist
                        ftpdetails:
                          type: object
                          properties:
                            username:
                              type: string
                              example: user_67890_push_12345
                            password:
                              type: string
                              example: samplepasswd01
                        playbackurls:
                          type: object
                          properties:
                            scheme:
                              type: string
                              example: https
                            name:
                              type: string
                              example: /path/to/filename.ext
                            url_prefix:
                              type: string
                              example: https://cdn.example.com
                            http:
                              type: string
                              example: https://cdn.example.com/path/to/filename.ext
                            players:
                              type: object
                              properties:
                                hostname:
                                  type: string
                                  example: player.example.com
                                flowplayer:
                                  type: object
                                  properties:
                                    base:
                                      type: string
                                      example: https://player.example.com/flowplayer/hls/
                                    hls:
                                      type: string
                                      example: https://player.example.com/flowplayer/hls/
                                videojs:
                                  type: object
                                  properties:
                                    base:
                                      type: string
                                      example: https://player.example.com/videojs/hls/
                                    hls:
                                      type: string
                                      example: https://player.example.com/videojs/hls/
                                own:
                                  type: object
                                  properties:
                                    hashes:
                                      type: object
                                      additionalProperties:
                                        type: object
                                        properties:
                                          hash:
                                            type: string
                                          hls:
                                            type: string
                                          dash:
                                            type: string
                                    baseQ:
                                      type: string
                                      example: "?showcv=true&title=[ReplaceWithVideoTitle]"
                                    base:
                                      type: string
                                      example: https://player.example.com/5centscdn/auto/skin1/sampleplayer1/
                                    hls:
                                      type: string
                                      example: https://player.example.com/5centscdn/auto/skin1/sampleplayer1/
                            tokenized:
                              type: object
                              nullable: true
                        s3details:
                          type: object
                          properties:
                            relid:
                              type: integer
                              example: 12345
                            type:
                              type: string
                              example: push
                            projectid:
                              type: string
                              example: abc123def456789012345678abcdef12
                            token:
                              type: string
                              example: sample-access-token
                            projectid2:
                              type: string
                              example: def456abc789012345678901abcdef34
                            token2:
                              type: string
                              example: sample-access-token
                            active:
                              type: string
                              example: "1"
                            updated_at:
                              type: string
                              example: "2023-01-21 08:00:00"
                            last_modified:
                              type: string
                              example: ""
                        transcodefile:
                          type: object
                          properties:
                            profiles:
                              type: array
                              items:
                                type: string
                              example: [""]
                            emails:
                              type: array
                              items:
                                type: string
                              example: [""]
                            webhooks:
                              type: array
                              items:
                                type: string
                              example: [""]
                        server:
                          type: object
                          properties:
                            code:
                              type: integer
                              example: 206
                            name:
                              type: string
                              example: Singapore
                            country:
                              type: string
                              example: SouthEast Asia
                            meta:
                              type: object
                              properties:
                                uploadPort:
                                  type: string
                                  example: "21"
                                uploadHost:
                                  type: string
                                  example: upload.example.com
                        hasEdgeRules:
                          type: boolean
                          example: true
  /zones/http/push/servers:
    get:
      tags:
      - HTTP Push
      summary: Get Servers
      description: HTTP Push Zone Servers
      operationId: HTTPPushZoneServer
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  servers:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          example: 206
                        name:
                          type: string
                          example: Singapore
                        country:
                          type: string
                          example: SouthEast Asia
                    example:
                    - code: 206
                      name: Singapore
                      country: SouthEast Asia
                    - code: 30
                      name: San Jose City, United States
                      country: North America
                    - code: 31
                      name: London, United Kingdom
                      country: Europe
  /zones/http/push/new:
    post:
      tags:
      - HTTP Push
      summary: Create Zone
      description: Create a new HTTP Push Zone
      operationId: createZonePush
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - _METHOD
              - alias
              - server
              properties:
                _METHOD:
                  type: string
                  description: Must always be PUT.
                  example: PUT
                alias:
                  type: string
                  description: Label for the zone.
                  example: my-push-zone
                server:
                  type: integer
                  format: int32
                  description: Server location code. 30 = North America, 31 = Europe, 206 = SE Asia.
                  enum: [30, 31, 206]
                  example: 30
                profiles:
                  type: array
                  items:
                    type: string
                  description: Transcoding profile IDs. Leave empty to disable auto transcoding.
                  example: ["12", "15"]
                ssl:
                  type: object
                  properties:
                    http2:
                      type: string
                      enum: [Y, N]
                      example: Y
                    redirect:
                      type: string
                      enum: [Y, N]
                      description: HTTP to HTTPS redirect.
                      example: N
                    mode:
                      type: string
                      description: SSL mode string.
                      example: S
                  description: SSL certificate settings for HTTPS delivery.
                cache:
                  type: object
                  properties:
                    cache:
                      type: string
                      description: Edge cache TTL duration code.
                      example: 1h
                    expiry:
                      type: string
                      description: Browser cache TTL duration code, or empty string to disable.
                      example: ""
                  description: Cache configuration settings for the zone.
                webhook:
                  type: string
                  description: HTTP/HTTPS URL to notify after files are transcoded.
                  example: https://hooks.example.com/webhook
                cnames:
                  type: string
                  description: Comma-separated verified CNAMEs.
                  example: cdn.example.com
                domainlock:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Y, N]
                      example: Y
                      description: Access policy. Y means allow listed entries only, N means allow all.
                    list:
                      type: string
                      description: Comma-separated domain names.
                      example: ""
                    ips:
                      type: string
                      example: ""
                      description: Comma-separated IP addresses or CIDR ranges.
                    noreferer:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Block requests with no referrer header. Y means block, N means allow.
                  description: Domain lock / referrer restriction settings.
                geoblock:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Y, N]
                      example: Y
                      description: Access policy. Y means allow listed entries only, N means allow all.
                    list:
                      type: array
                      items:
                        type: string
                      description: ISO-3166 country codes.
                      example: []
                    ips:
                      type: string
                      example: ""
                      description: Comma-separated IP addresses or CIDR ranges.
                  description: Geo-blocking settings to restrict access by country.
                bwlimit:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Y, N]
                      example: Y
                      description: Access policy. Y means allow listed entries only, N means allow all.
                    rate:
                      type: number
                      example: 0
                      description: Rate limit value.
                    rateafter:
                      type: number
                      example: 0
                      description: Amount of data delivered before rate limiting begins.
                  description: Bandwidth limit settings for the zone.
                ipaccess:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Y, N]
                      example: Y
                      description: Access policy. Y means allow listed entries only, N means allow all.
                    list:
                      type: string
                      example: ""
                      description: Comma-separated list of allowed or blocked entries.
                    ips:
                      type: string
                      example: ""
                      description: Comma-separated IP addresses or CIDR ranges.
                  description: IP access control settings to allow or block specific IPs.
                securetoken:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Q, F]
                      example: Q
                      description: Access policy. Y means allow listed entries only, N means allow all.
                    keyip:
                      type: string
                      enum: [Y, N]
                      example: N
                    list:
                      type: string
                      description: 16-character hex secret key.
                      example: ""
                    timeout:
                      type: number
                      minimum: 5
                      maximum: 25200
                      example: 5
                      description: Timeout duration in seconds.
                    session:
                      type: string
                      enum: ["0", S]
                      example: "0"
                    ips:
                      type: string
                      example: ""
                      description: Comma-separated IP addresses or CIDR ranges.
                  description: Secure token settings for URL authentication.
                useragent:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Y, N]
                      example: Y
                      description: Access policy. Y means allow listed entries only, N means allow all.
                    list:
                      type: string
                      example: ""
                      description: Comma-separated list of allowed or blocked entries.
                    ips:
                      type: string
                      example: ""
                      description: Comma-separated IP addresses or CIDR ranges.
                    casesensitive:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Whether matching is case-sensitive. Y means enabled, N means disabled.
                  description: User-agent filter settings to restrict access by browser/client.
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    example: Zone Created
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
                  warnings:
                    type: array
                    nullable: true
                    items:
                      type: string
                    example: ["SSL Certificate Create Failed"]
  /zones/http/push/{zoneid}:
    get:
      tags:
      - HTTP Push
      summary: Zone
      description: Return  HTTP push zone details
      operationId: getDetailsZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  zone:
                    type: object
                    properties:
                      type:
                        type: string
                        example: push
                      id:
                        type: integer
                        example: 12345
                      serviceid:
                        type: integer
                        example: 67890
                      alias:
                        type: string
                        example: ahm/test
                      hashid:
                        type: string
                        example: abc123def456
                      mode:
                        type: string
                        example: http
                      optimizer:
                        type: string
                        example: "0"
                      cnames:
                        type: string
                        nullable: true
                        example: ""
                      edgeruleids:
                        type: integer
                        example: 0
                      rclone:
                        type: integer
                        example: 0
                      disabled:
                        type: string
                        example: "0"
                      created_at:
                        type: string
                        example: "2023-01-15 10:00:00"
                      updated_at:
                        type: string
                        example: "2023-01-20 12:00:00"
                      deleted:
                        nullable: true
                        example:
                      router:
                        type: string
                        example: mycdn
                      remaining:
                        type: integer
                        example: 0
                      status:
                        type: string
                        example: Enabled
                      name:
                        type: string
                        example: sample-push-zone
                      fqdn:
                        type: string
                        example: cdn.example.com
                      ssl:
                        type: object
                        properties:
                          http:
                            type: string
                            example: "N"
                          http2:
                            type: string
                            example: "N"
                          redirect:
                            type: string
                            example: "N"
                          mode:
                            type: string
                            example: L
                          certid:
                            type: string
                            nullable: true
                            example: cdn.example.com
                          zerossl:
                            type: object
                            nullable: true
                            properties:
                              logDir:
                                type: string
                                example: /var/logs/ssl/2023/sample
                              messages:
                                type: array
                                items:
                                  type: string
                                example: ["Subject Altternative Names are Required"]
                          enabled:
                            type: string
                            example: "Y"
                          warning:
                            oneOf:
                            - type: boolean
                            - type: string
                            example: "Configured SSL. Please add corresponding Custom CNAME from here"
                      cnamesArr:
                        type: array
                        items:
                          type: string
                        example: []
                      cnamesArrFqdn:
                        type: array
                        items:
                          type: string
                        example: ["cdn.example.com"]
                      waf:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                      defaultBehaviors:
                        type: object
                        additionalProperties:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 11111
                              network:
                                type: string
                                example: gcore
                              rule:
                                type: object
                                description: Edge rule configuration object for this behavior.
                      edgeRules:
                        type: array
                        items: {}
                        example: []
                      cache:
                        type: object
                        properties:
                          smart:
                            type: string
                            example: "0"
                          cache:
                            type: string
                            example: 4h
                          expiry:
                            type: string
                            example: 1M
                          querystring:
                            type: string
                            example: "N"
                          cachecontrol:
                            type: string
                            example: "Y"
                          usestale:
                            type: string
                            example: "Y"
                          revalidate:
                            type: string
                            example: "Y"
                          cacheInSecs:
                            type: integer
                            example: 14400
                          cacheInMins:
                            type: integer
                            example: 240
                          expiryInSecs:
                            type: integer
                            example: 2592000
                          expiryInMins:
                            type: integer
                            example: 43200
                      edge:
                        type: object
                        properties:
                          compression:
                            type: string
                            example: "N"
                          compressionlevel:
                            type: string
                            example: "5"
                          disposition:
                            type: string
                            example: "N"
                          stripcookie:
                            type: string
                            example: "N"
                          xff:
                            type: string
                            example: "N"
                          cors:
                            type: string
                            example: "Y"
                          webp:
                            type: string
                            example: "N"
                          pseudostreaming:
                            type: string
                            example: "N"
                          wp:
                            type: string
                            example: "N"
                          lfo:
                            type: string
                            example: "Y"
                          prefresh:
                            type: string
                            example: "N"
                      securetoken:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                          policy:
                            type: string
                            example: "F"
                          keyip:
                            type: string
                            example: "N"
                          list:
                            type: string
                            example: ""
                          timeout:
                            type: integer
                            example: 5
                          session:
                            type: string
                            example: "0"
                          ips:
                            type: string
                            example: ""
                          dirs:
                            type: string
                            example: ""
                          active:
                            type: string
                            example: "N"
                      behaviorId:
                        type: integer
                        example: 11111
                      linkedVideoManager:
                        nullable: true
                        example:
                      hostHeader:
                        type: string
                        example: cdn.example.com
                      storageHost:
                        type: string
                        example: storage-eu.example.com
                      storageHostBackup:
                        type: string
                        example: storage-na.example.com
                      osAuthUrl:
                        type: string
                        example: https://storage-eu.example.com/v3/
                      horizonUrl:
                        type: string
                        example: https://storage-eu.example.com/horizon/
                      domainlock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                          policy:
                            type: string
                            example: "N"
                          list:
                            type: string
                            example: ""
                          ips:
                            type: string
                            example: 192.168.1.1
                          noreferer:
                            type: string
                            example: "N"
                          active:
                            type: string
                            example: "N"
                      geoblock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                          policy:
                            type: string
                            example: "N"
                          list:
                            type: array
                            items:
                              type: string
                            example: ["AL"]
                          ips:
                            type: string
                            example: ""
                          active:
                            type: string
                            example: "N"
                      ipaccess:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "Y"
                          policy:
                            type: string
                            example: "N"
                          list:
                            type: string
                            example: ""
                          ips:
                            type: string
                            example: ""
                          active:
                            type: string
                            example: "N"
                      useragent:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "Y"
                          policy:
                            type: string
                            example: "N"
                          list:
                            type: string
                            example: ""
                          ips:
                            type: string
                            example: ""
                          casesensitive:
                            type: string
                            example: "N"
                          active:
                            type: string
                            example: "N"
                          listArr:
                            type: array
                            items:
                              type: string
                            example: [""]
                      eac:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                          policy:
                            type: string
                            example: "N"
                          list:
                            type: string
                            example: ""
                          ips:
                            type: string
                            example: ""
                          active:
                            type: string
                            example: "N"
                      bwlimit:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "Y"
                          policy:
                            type: string
                            example: "1"
                          rate:
                            type: integer
                            example: 30
                          rateafter:
                            type: integer
                            example: 0
                          payg:
                            type: string
                            example: "N"
                          active:
                            type: string
                            example: "Y"
                      cdnservice:
                        type: object
                        properties:
                          purgeurls:
                            type: array
                            items:
                              type: string
                            example: ["/dashboard/67890/zones/http/push/12345/purge"]
                          purgeurl:
                            type: string
                            example: "[\"\\/dashboard\\/103\\/zones\\/http\\/push\\/5063\\/purge\"]"
                          authtoken:
                            type: string
                            example: c2FtcGxlLWF1dGh0b2tlbi1oZXJl
                          infourl:
                            type: string
                            example: https://cdn-service.example.com/service.php/info/5/push/12345
                          listurl:
                            type: string
                            example: https://cdn-service.example.com/service.php/list/5/push/12345
                          rawlisturl:
                            type: string
                            example: https://cdn-service.example.com/service.php/raw/list/5/push/12345
                          transcodelisturl:
                            type: string
                            example: https://cdn-service.example.com/service.php/transcode/list/5/push/12345
                          addurl:
                            type: string
                            example: https://cdn-service.example.com/service.php/add/5/push/12345
                          editurl:
                            type: string
                            example: https://cdn-service.example.com/service.php/edit/5/push/12345
                          deleteurl:
                            type: string
                            example: https://cdn-service.example.com/service.php/delete/5/push/12345
                          uploadurl:
                            type: string
                            example: https://cdn-service.example.com/upload.php
                          playlisturl:
                            type: string
                            example: https://cdn-service.example.com/service.php/playlist
                      ftpdetails:
                        type: object
                        properties:
                          username:
                            type: string
                            example: user_67890_push_12345
                          password:
                            type: string
                            example: samplepasswd01
                      playbackurls:
                        type: object
                        properties:
                          scheme:
                            type: string
                            example: http
                          name:
                            type: string
                            example: /path/to/filename.ext
                          url_prefix:
                            type: string
                            example: http://cdn.example.com
                          http:
                            type: string
                            example: http://cdn.example.com/path/to/filename.ext
                          players:
                            type: object
                            properties:
                              hostname:
                                type: string
                                example: player.example.com
                              flowplayer:
                                type: object
                                properties:
                                  base:
                                    type: string
                                    example: http://player.example.com/flowplayer/hls/
                                  hls:
                                    type: string
                                    example: http://player.example.com/flowplayer/hls/
                              videojs:
                                type: object
                                properties:
                                  base:
                                    type: string
                                    example: http://player.example.com/videojs/hls/
                                  hls:
                                    type: string
                                    example: http://player.example.com/videojs/hls/
                              own:
                                type: object
                                properties:
                                  hashes:
                                    type: object
                                    additionalProperties:
                                      type: object
                                      properties:
                                        hash:
                                          type: string
                                        hls:
                                          type: string
                                        dash:
                                          type: string
                                  baseQ:
                                    type: string
                                    example: "?showcv=true&title=[ReplaceWithVideoTitle]"
                                  base:
                                    type: string
                                    example: http://player.example.com/5centscdn/auto/skin1/sampleplayer1/
                                  hls:
                                    type: string
                                    example: http://player.example.com/5centscdn/auto/skin1/sampleplayer1/
                      s3details:
                        type: object
                        properties:
                          relid:
                            type: integer
                            example: 12345
                          type:
                            type: string
                            example: push
                          projectid:
                            type: string
                            example: abc123def456789012345678abcdef12
                          token:
                            type: string
                            example: sample-access-token
                          projectid2:
                            type: string
                            example: def456abc789012345678901abcdef34
                          token2:
                            type: string
                            example: sample-access-token
                          active:
                            type: string
                            example: "1"
                          updated_at:
                            type: string
                            example: "2023-01-21 08:00:00"
                          last_modified:
                            type: string
                            example: ""
                      transcodefile:
                        type: object
                        properties:
                          profiles:
                            type: array
                            items:
                              type: string
                            example: [""]
                          emails:
                            type: array
                            items:
                              type: string
                            example: [""]
                          webhooks:
                            type: array
                            items:
                              type: string
                            example: [""]
                      server:
                        type: object
                        properties:
                          code:
                            type: integer
                            example: 31
                          name:
                            type: string
                            example: London, United Kingdom
                          country:
                            type: string
                            example: Europe
                          meta:
                            type: object
                            properties:
                              uploadPort:
                                type: string
                                example: "21"
                              uploadHost:
                                type: string
                                example: upload.example.com
                      hasEdgeRules:
                        type: boolean
                        example: true
                  warnings:
                    nullable: true
                    description: Array of non-fatal warning messages, or null if no warnings.
                    example: null
    post:
      tags:
      - HTTP Push
      summary: Update Info
      description: Update the information of HTTP Push Zone
      operationId: updateZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postZone'
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: Human-readable status message describing the outcome.
                    example: Zone updated successfully
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
                  warnings:
                    type: array
                    description: Array of non-fatal warning messages from the operation.
                    items:
                      type: string
                    example: []
    delete:
      tags:
      - HTTP Push
      summary: Delete Info
      description: Delete the information of HTTP Push Zone. To cast request method POST and parameters _METHOD = DELETE
      operationId: deletZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - _METHOD
              properties:
                _METHOD:
                  type: string
                  example: DELETE
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    example: Zone Deleted
  /zones/http/push/{zoneid}/ssl:
    post:
      tags:
      - HTTP Push
      summary: Update SSL
      description: Update SSL of HTTP push zone
      operationId: updateSslZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                http2:
                  type: boolean
                  description: Indicates whether HTTP/2 protocol is enabled. Y means HTTP/2 is enabled, while N means it is disabled.
                  example: true
                redirect:
                  type: boolean
                  description: Indicates whether HTTP traffic is automatically redirected to HTTPS. Y means redirection is enabled, while N means it is not.
                  example: true
                mode:
                  type: string
                  description: Specifies the SSL mode used for the server configuration. Typical values include S for strict mode or A for automated.
                  example: S
                certid:
                  type: string
                  nullable: true
                  description: A unique identifier for the SSL certificate used. Optional; can be null if no certificate is assigned.
                  example:
                enabled:
                  type: string
                  description: Indicates whether SSL is enabled for the zone.
                  example: ""
                warning:
                  type: boolean
                  description: Indicates whether there is a warning associated with the SSL configuration.
                  example: false
                name:
                  type: string
                  description: The name associated with the SSL certificate. Typically used to identify the certificate for a specific domain.
                  example: ""
                crt:
                  type: string
                  description: The SSL certificate content in PEM format. Required for custom SSL certificates.
                  example: ""
                key:
                  type: string
                  description: The private key associated with the SSL certificate in PEM format. Required for setting up custom SSL certificates.
                  example: ""
                cabundle:
                  type: string
                  description: The Certificate Authority (CA) bundle content in PEM format. Used to validate the SSL certificate chain.
                  example: ""
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    example: Zone Updated
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
                  warnings:
                    type: array
                    nullable: true
                    items:
                      type: string
                    example: ["SSL Certificate Create Failed"]
  /zones/http/push/{zoneid}/securetoken:
    post:
      tags:
      - HTTP Push
      summary: Update Secure Token
      description: Update SecureToken of HTTP push zone
      operationId: updateSecureTokenZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable secure token.
                  example: Y
                policy:
                  type: string
                  enum: [Q, F]
                  description: Q = Query string mode, F = Full path mode.
                  example: Q
                keyip:
                  type: string
                  enum: [Y, N]
                  description: Include client IP in token generation for added security.
                  example: N
                list:
                  type: string
                  pattern: '^[a-fA-F0-9]{16}$'
                  description: Secret token key - 16-character hexadecimal string.
                  example: ab12cd34ef56gh78
                timeout:
                  type: number
                  minimum: 5
                  maximum: 25200
                  description: Token expiry time in seconds. Min 5, max 25200.
                  example: 3600
                session:
                  type: string
                  enum: ["0", S]
                  description: '"0" = fixed expiry, "S" = session-based.'
                  example: "0"
                ips:
                  type: string
                  description: Comma-separated IPs excluded from the secure token check.
                  example: ""
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    example: Zone Updated
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
  /zones/http/push/{zoneid}/geoblock:
    post:
      tags:
      - HTTP Push
      summary: Update Geoblock
      description: Update geblock of HTTP push zone
      operationId: updateGeblockZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable geo-lock.
                  example: Y
                policy:
                  type: string
                  enum: [Y, N]
                  description: Y = Whitelist (allow listed countries), N = Blacklist (block listed countries).
                  example: N
                list:
                  type: array
                  items:
                    type: string
                  description: Array of ISO-3166 country codes to whitelist or blacklist.
                  example: [IN]
                ips:
                  type: string
                  description: Comma-separated IP addresses excluded from the geo check.
                  example: ""
                mode:
                  type: string
                  enum: [save, append, overwrite]
                  description: Optional update mode - save replaces, append adds to, overwrite replaces entirely.
                  example: save
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    example: Zone Updated
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
  /zones/http/push/{zoneid}/domainlock:
    post:
      tags:
      - HTTP Push
      summary: Update Domain Lock
      description: Update domain lock of HTTP push zone
      operationId: updateDomainLockZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable domain lock.
                  example: Y
                policy:
                  type: string
                  enum: [Y, N]
                  description: Y = Whitelist (allow listed domains), N = Blacklist (block listed domains).
                  example: Y
                list:
                  type: string
                  description: Comma-separated domain names to whitelist or blacklist.
                  example: example.com,b.com
                ips:
                  type: string
                  description: Comma-separated IP addresses that are whitelisted regardless of domain lock.
                  example: 192.168.1.1
                noreferer:
                  type: string
                  enum: [Y, N]
                  description: Y = allow requests with no Referer header, N = block them.
                  example: Y
                mode:
                  type: string
                  enum: [save, append, overwrite]
                  description: Update mode - save replaces, append adds to, overwrite replaces entirely.
                  example: save
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    example: Zone Updated
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
  /zones/http/push/{zoneid}/edge:
    post:
      tags:
      - HTTP Push
      summary: Update Edge Settings
      description: Update Edge settings of HTTP push zone
      operationId: updateEdgeSettingsZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                compression:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable gzip/brotli compression.
                  example: Y
                compressionlevel:
                  type: string
                  enum: ["1", "2", "3", "4", "5", "6", "7", "8", "9"]
                  description: Compression level from 1 (fastest) to 9 (best compression).
                  example: "6"
                disposition:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable Content-Disposition header.
                  example: Y
                stripcookie:
                  type: string
                  enum: [Y, N]
                  description: Strip cookies from CDN responses.
                  example: Y
                xff:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable X-Forwarded-For header passthrough.
                  example: Y
                cors:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable CORS headers.
                  example: Y
                webp:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable automatic WebP conversion.
                  example: Y
                pseudostreaming:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable pseudo-streaming for video files.
                  example: N
                wp:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable WordPress cache bypass optimisation.
                  example: N
                lfo:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable large file optimisation.
                  example: N
                prefresh:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable cache prefresh on expiry.
                  example: N
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    example: Zone Updated
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
  /zones/http/push/{zoneid}/cache:
    post:
      tags:
      - HTTP Push
      summary: Update Cache
      description: Update cache of HTTP Push Zone
      operationId: updateCacheZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cache:
                  type: string
                  enum: ["0s", "10s", "1m", "10m", "30m", "1h", "4h", "12h", "1d", "7d", "14d", "1M", "3M", "6M", "1y"]
                  description: Edge cache TTL duration code.
                  example: 1h
                expiry:
                  type: string
                  description: Browser cache TTL duration code. Same values as cache, or empty string to disable.
                  example: 1d
                querystring:
                  type: string
                  enum: [Y, N]
                  description: Cache content per unique query string.
                  example: Y
                cachecontrol:
                  type: string
                  enum: [Y, N]
                  description: Honour Cache-Control headers from origin.
                  example: Y
                usestale:
                  type: string
                  enum: [Y, N]
                  description: Serve stale content while revalidating in the background.
                  example: Y
                revalidate:
                  type: string
                  enum: [Y, N]
                  description: Revalidate cached content on expiry.
                  example: Y
                cacheInSecs:
                  type: number
                  description: Cache TTL in seconds - computed from cache value.
                  example: 3600
                cacheInMins:
                  type: number
                  description: Cache TTL in minutes - computed from cache value.
                  example: 60
                expiryInSecs:
                  type: number
                  description: Browser cache TTL in seconds - computed from expiry value.
                  example: 86400
                expiryInMins:
                  type: number
                  description: Browser cache TTL in minutes - computed from expiry value.
                  example: 1440
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    example: Zone Updated
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
  /zones/http/push/{zoneid}/restore:
    get:
      tags:
      - HTTP Push
      summary: Restore
      description: Restore HTTP push zone
      operationId: restoreZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    example: Zone Updated
                  zone:
                    type: object
                    properties:
                      type:
                        type: string
                        example: push
                      id:
                        type: integer
                        example: 12345
                      serviceid:
                        type: integer
                        example: 67890
                      alias:
                        type: string
                        example: NoChangeNDelete
                      hashid:
                        type: string
                        example: 8v4o6qp4awqp
                      mode:
                        type: string
                        example: http
                      optimizer:
                        type: string
                        example: ""
                      cnames:
                        type: string
                        nullable: true
                        example: ""
                      edgeruleids:
                        type: integer
                        example: 0
                      rclone:
                        type: integer
                        example: 0
                      disabled:
                        type: string
                        example: "0"
                      created_at:
                        type: string
                        example: "2021-06-03 21:26:19"
                      updated_at:
                        type: string
                        example: "2025-03-23 05:49:30"
                      deleted:
                        nullable: true
                        example:
                      router:
                        type: string
                        example: mycdn
                      remaining:
                        type: integer
                        example: 0
                      status:
                        type: string
                        example: Enabled
                      name:
                        type: string
                        example: sample-push-zone
                      fqdn:
                        type: string
                        example: cdn.example.com
                      ssl:
                        type: object
                        properties:
                          http:
                            type: string
                            example: "N"
                          http2:
                            type: string
                            example: "N"
                          redirect:
                            type: string
                            example: "N"
                          mode:
                            type: string
                            example: S
                          certid:
                            nullable: true
                            example:
                          enabled:
                            type: string
                            example: "Y"
                          warning:
                            oneOf:
                            - type: boolean
                            - type: string
                            example: false
                      cnamesArr:
                        type: array
                        items:
                          type: string
                        example: []
                      cnamesArrFqdn:
                        type: array
                        items:
                          type: string
                        example: ["cdn.example.com"]
                      waf:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                      defaultBehaviors:
                        type: object
                        additionalProperties:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 11111
                              network:
                                type: string
                                example: gcore
                              rule:
                                type: object
                                description: Edge rule configuration object for this behavior.
                      edgeRules:
                        type: array
                        items: {}
                        example: []
                      behaviorId:
                        type: integer
                        example: 11111
                      linkedVideoManager:
                        nullable: true
                        example:
                      hostHeader:
                        type: string
                        example: cdn.example.com
                      storageHost:
                        type: string
                        example: storage-na.example.com
                      storageHostBackup:
                        type: string
                        example: storage-eu.example.com
                      osAuthUrl:
                        type: string
                        example: https://storage-na.example.com/v3/
                      horizonUrl:
                        type: string
                        example: https://storage-na-cdn.example.com/horizon/
                      domainlock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                          policy:
                            type: string
                            example: "N"
                          list:
                            type: string
                            example: ""
                          ips:
                            type: string
                            example: ""
                          noreferer:
                            type: string
                            example: "N"
                          active:
                            type: string
                            example: "N"
                      geoblock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                          policy:
                            type: string
                            example: "Y"
                          list:
                            type: array
                            items:
                              type: string
                            example: [""]
                          ips:
                            type: string
                            example: ""
                          active:
                            type: string
                            example: "N"
                      securetoken:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                          policy:
                            type: string
                            example: "Q"
                          keyip:
                            type: string
                            example: "N"
                          list:
                            type: string
                            example: ""
                          timeout:
                            type: integer
                            example: 300
                          session:
                            type: string
                            example: "0"
                          ips:
                            type: string
                            example: ""
                          dirs:
                            type: string
                            example: ""
                          active:
                            type: string
                            example: "N"
                      ipaccess:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                          policy:
                            type: string
                            example: "Y"
                          list:
                            type: string
                            example: 123.2.2.2
                          ips:
                            type: string
                            example: ""
                          active:
                            type: string
                            example: "N"
                      useragent:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                          policy:
                            type: string
                            example: "Y"
                          list:
                            type: string
                            example: Array
                          ips:
                            type: string
                            example: ""
                          casesensitive:
                            type: string
                            example: "N"
                          active:
                            type: string
                            example: "N"
                          listArr:
                            type: array
                            items:
                              type: string
                            example: ["Array"]
                      eac:
                        type: object
                        properties:
                          active:
                            type: string
                            example: "N"
                      bwlimit:
                        type: object
                        properties:
                          enabled:
                            type: string
                            example: "N"
                          policy:
                            type: string
                            example: "1"
                          rate:
                            type: integer
                            example: 0
                          rateafter:
                            type: integer
                            example: 0
                          payg:
                            type: string
                            example: "N"
                          active:
                            type: string
                            example: "N"
                      cache:
                        type: object
                        properties:
                          smart:
                            type: string
                            example: "0"
                          cache:
                            type: string
                            example: 2592000s
                          expiry:
                            type: string
                            example: "1"
                          querystring:
                            type: string
                            example: "N"
                          cachecontrol:
                            type: string
                            example: "Y"
                          usestale:
                            type: string
                            example: "Y"
                          revalidate:
                            type: string
                            example: "Y"
                          cacheInSecs:
                            oneOf:
                            - type: integer
                            - type: string
                            example: "2592000"
                          cacheInMins:
                            type: integer
                            example: 43200
                          expiryInSecs:
                            type: integer
                            example: 0
                          expiryInMins:
                            type: integer
                            example: 0
                      edge:
                        type: object
                        properties:
                          compression:
                            type: string
                            example: "N"
                          compressionlevel:
                            type: string
                            example: "6"
                          disposition:
                            type: string
                            example: "N"
                          stripcookie:
                            type: string
                            example: "N"
                          xff:
                            type: string
                            example: "N"
                          cors:
                            type: string
                            example: "N"
                          webp:
                            type: string
                            example: "N"
                          pseudostreaming:
                            type: string
                            example: "Y"
                          wp:
                            type: string
                            example: "N"
                          lfo:
                            type: string
                            example: "Y"
                          prefresh:
                            type: string
                            example: "N"
                      cdnservice:
                        type: object
                        properties:
                          purgeurls:
                            type: array
                            items:
                              type: string
                            example: ["/dashboard/67890/zones/http/push/12345/purge"]
                          purgeurl:
                            type: string
                            example: "[\"\\/dashboard\\/103\\/zones\\/http\\/push\\/2102\\/purge\"]"
                          authtoken:
                            type: string
                            example: c2FtcGxlLWF1dGh0b2tlbi1oZXJl
                          infourl:
                            type: string
                            example: https://cdn-service.example.com/service.php/info/5/push/12345
                          listurl:
                            type: string
                            example: https://cdn-service.example.com/service.php/list/5/push/12345
                          rawlisturl:
                            type: string
                            example: https://cdn-service.example.com/service.php/raw/list/5/push/12345
                          transcodelisturl:
                            type: string
                            example: https://cdn-service.example.com/service.php/transcode/list/5/push/12345
                          addurl:
                            type: string
                            example: https://cdn-service.example.com/service.php/add/5/push/12345
                          editurl:
                            type: string
                            example: https://cdn-service.example.com/service.php/edit/5/push/12345
                          deleteurl:
                            type: string
                            example: https://cdn-service.example.com/service.php/delete/5/push/12345
                          uploadurl:
                            type: string
                            example: https://cdn-service.example.com/upload.php
                          playlisturl:
                            type: string
                            example: https://cdn-service.example.com/service.php/playlist
                      ftpdetails:
                        type: object
                        properties:
                          username:
                            type: string
                            example: user_67890_push_12345
                          password:
                            type: string
                            example: WA572y4zss
                      playbackurls:
                        type: object
                        properties:
                          scheme:
                            type: string
                            example: https
                          name:
                            type: string
                            example: /path/to/filename.ext
                          url_prefix:
                            type: string
                            example: https://cdn.example.com
                          http:
                            type: string
                            example: https://cdn.example.com/path/to/filename.ext
                          players:
                            type: object
                            properties:
                              hostname:
                                type: string
                                example: player.example.com
                              flowplayer:
                                type: object
                                properties:
                                  base:
                                    type: string
                                    example: https://player.example.com/flowplayer/hls/
                                  hls:
                                    type: string
                                    example: https://player.example.com/flowplayer/hls/
                              videojs:
                                type: object
                                properties:
                                  base:
                                    type: string
                                    example: https://player.example.com/videojs/hls/
                                  hls:
                                    type: string
                                    example: https://player.example.com/videojs/hls/
                              own:
                                type: object
                                properties:
                                  hashes:
                                    type: object
                                    additionalProperties:
[...]
