openapi: 3.0.0
info:
  title: 5centsCDN - Zones
  description: API for managing Zones in 5centsCDN (https://www.5centscdn.net)
  version: 2.0.0
  contact:
    email: help@5centscdn.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
- url: https://api.5centscdn.com/v2
  description: 5centsCDN API Server - Production
security:
- ApiKeyAuth: []
tags:
- name: HTTP Push
  description: Endpoints related to HTTP Push zones
- name: HTTP Pull
  description: Endpoints related to HTTP Pull zones
- name: HTTP Global Settings
  description: Global HTTP zone security settings
- name: VOD Push
  description: Endpoints related to VOD Push zones
- name: VOD Pull
  description: Endpoints related to VOD Pull zones
- name: VOD Global Settings
  description: Global VOD zone security settings
  
paths:
  /zones/http/push:
    get:
      tags:
      - HTTP Push
      summary: Zone
      description: Return  HTTP push zone details
      operationId: zonePushList
      deprecated: false
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          description: The page number of the result. One page contains 20 results.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  zones:
                    type: array
                    description: Array of zone objects returned in this page of results.
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: "Zone type identifier (push or pull)"
                          example: push
                        id:
                          type: integer
                          description: "Unique numeric identifier of the zone"
                          example: 12345
                        serviceid:
                          type: integer
                          description: "Service account identifier associated with this zone"
                          example: 67890
                        alias:
                          type: string
                          description: "Primary CDN hostname assigned to the zone"
                          example: ""
                        hashid:
                          type: string
                          description: "Unique hash identifier of the zone"
                          example: abc123def456
                        mode:
                          type: string
                          description: "Delivery mode of the zone (e.g. http, https)"
                          example: http
                        optimizer:
                          type: string
                          description: "Whether the optimizer feature is enabled for this zone"
                          example: "0"
                        cnames:
                          type: string
                          nullable: true
                          description: "Comma-separated list of CNAMEs associated with this zone"
                          example: ""
                        edgeruleids:
                          type: integer
                          description: "Count of edge rules associated with this zone"
                          example: 0
                        rclone:
                          type: integer
                          description: "Whether rclone integration is enabled for this zone"
                          example: 0
                        disabled:
                          type: string
                          description: "Whether this zone is currently disabled (0 = active, 1 = disabled)"
                          example: "0"
                        created_at:
                          type: string
                          description: "ISO 8601 timestamp when this resource was created"
                          example: "2023-01-15 10:00:00"
                        updated_at:
                          type: string
                          description: "ISO 8601 timestamp of the most recent update"
                          example: "2023-01-20 12:00:00"
                        deleted:
                          nullable: true
                          example:
                        router:
                          type: string
                          description: "Internal router label for this zone"
                          example: mycdn
                        remaining:
                          type: integer
                          description: "Remaining quota or resource count for this zone"
                          example: 0
                        status:
                          type: string
                          description: "Current operational status of the resource"
                          example: Enabled
                        name:
                          type: string
                          description: "Human-readable name of the resource"
                          example: sample-push-zone
                        fqdn:
                          type: string
                          description: "Fully qualified domain name of the CDN zone"
                          example: cdn.example.com
                        ssl:
                          type: object
                          properties:
                            http:
                              type: string
                              description: "Whether plain HTTP delivery is enabled (Y/N)"
                              example: "N"
                            http2:
                              type: string
                              description: "Whether HTTP/2 is enabled (Y/N)"
                              example: "Y"
                            redirect:
                              type: string
                              description: "Whether HTTP to HTTPS redirect is enabled (Y/N)"
                              example: "Y"
                            mode:
                              type: string
                              description: "SSL mode identifier for this zone"
                              example: S
                            certid:
                              type: string
                              nullable: true
                              description: "SSL certificate identifier, or empty if using default"
                              example: ""
                            zerossl:
                              type: object
                              nullable: true
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "Y"
                            warning:
                              oneOf:
                              - type: boolean
                              - type: string
                              description: "SSL warning flag or message, false if none"
                              example: false
                        cnamesArr:
                          type: array
                          items:
                            type: string
                          description: "Array of CNAMEs for this zone"
                          example: []
                        cnamesArrFqdn:
                          type: array
                          items:
                            type: string
                          description: "Array of FQDN CNAMEs for this zone"
                          example: ["cdn.example.com"]
                        waf:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "N"
                        defaultBehaviors:
                          type: object
                          additionalProperties:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  description: "Unique numeric identifier of the zone"
                                  example: 11111
                                network:
                                  type: string
                                  description: "Network provider name for this behavior"
                                  example: gcore
                                rule:
                                  type: object
                        edgeRules:
                          type: array
                          items: {}
                          description: "Array of edge rule objects for this zone"
                          example: []
                        cache:
                          type: object
                          properties:
                            smart:
                              type: string
                              description: "Whether smart cache is enabled for this zone"
                              example: "0"
                            cache:
                              type: string
                              description: "Edge cache TTL duration code"
                              example: 4h
                            expiry:
                              type: string
                              description: "Browser cache TTL duration code"
                              example: 1M
                            querystring:
                              type: string
                              description: "Whether query string caching is enabled (Y/N)"
                              example: "N"
                            cachecontrol:
                              type: string
                              description: "Whether Cache-Control headers are respected (Y/N)"
                              example: "Y"
                            usestale:
                              type: string
                              description: "Whether stale content is served while revalidating (Y/N)"
                              example: "Y"
                            revalidate:
                              type: string
                              description: "Whether content is revalidated after expiry (Y/N)"
                              example: "Y"
                            cacheInSecs:
                              oneOf:
                              - type: integer
                              - type: string
                              description: "Edge cache TTL in seconds"
                              example: 14400
                            cacheInMins:
                              type: integer
                              description: "Edge cache TTL in minutes"
                              example: 240
                            expiryInSecs:
                              oneOf:
                              - type: integer
                              - type: string
                              description: "Browser cache TTL in seconds"
                              example: 2592000
                            expiryInMins:
                              type: integer
                              description: "Browser cache TTL in minutes"
                              example: 43200
                        edge:
                          type: object
                          properties:
                            compression:
                              type: string
                              description: "Whether gzip/brotli compression is enabled (Y/N)"
                              example: "N"
                            compressionlevel:
                              type: string
                              description: "Compression level setting (0-9)"
                              example: "5"
                            disposition:
                              type: string
                              description: "Whether Content-Disposition header is set (Y/N)"
                              example: "N"
                            stripcookie:
                              type: string
                              description: "Whether cookies are stripped from requests (Y/N)"
                              example: "N"
                            xff:
                              type: string
                              description: "Whether X-Forwarded-For header is passed (Y/N)"
                              example: "N"
                            cors:
                              type: string
                              description: "Whether CORS headers are enabled (Y/N)"
                              example: "Y"
                            webp:
                              type: string
                              description: "Whether WebP conversion is enabled (Y/N)"
                              example: "N"
                            pseudostreaming:
                              type: string
                              description: "Whether pseudo-streaming is enabled (Y/N)"
                              example: "Y"
                            wp:
                              type: string
                              description: "Whether WordPress optimization is enabled (Y/N)"
                              example: "N"
                            lfo:
                              type: string
                              description: "Whether large file optimization is enabled (Y/N)"
                              example: "Y"
                            prefresh:
                              type: string
                              description: "Whether prefetch refresh is enabled (Y/N)"
                              example: "N"
                        domainlock:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "N"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                              example: "N"
                            list:
                              type: string
                              description: "Comma-separated list of entries for this security rule"
                              example: ""
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                              example: ""
                            noreferer:
                              type: string
                              description: "Whether requests with no referrer header are blocked (Y/N)"
                              example: "N"
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                              example: "N"
                        geoblock:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "N"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                              example: "N"
                            list:
                              type: array
                              items:
                                type: string
                              description: "Comma-separated list of entries for this security rule"
                              example: [""]
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                              example: ""
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                              example: "N"
                        ipaccess:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "N"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                              example: "N"
                            list:
                              type: string
                              description: "Comma-separated list of entries for this security rule"
                              example: ""
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                              example: ""
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                              example: "N"
                        useragent:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "N"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                              example: "N"
                            list:
                              type: string
                              description: "Comma-separated list of entries for this security rule"
                              example: ""
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                              example: ""
                            casesensitive:
                              type: string
                              description: "Whether matching is case-sensitive (Y/N)"
                              example: "N"
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                              example: "N"
                            listArr:
                              type: array
                              items:
                                type: string
                              description: "Array of entries for this security rule"
                              example: [""]
                        securetoken:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "N"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                              example: "D"
                            keyip:
                              type: string
                              description: "Whether IP is included in the secure token key (Y/N)"
                              example: "N"
                            list:
                              type: string
                              description: "Comma-separated list of entries for this security rule"
                              example: ""
                            timeout:
                              type: integer
                              description: "Token expiry timeout in seconds"
                              example: 3600
                            session:
                              type: string
                              description: "Whether session-based tokens are used (Y/N)"
                              example: "0"
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                              example: ""
                            dirs:
                              type: string
                              description: "Comma-separated directory paths for token restriction"
                              example: ""
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                              example: "N"
                        bwlimit:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "N"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                              example: "0"
                            rate:
                              type: integer
                              description: "Bandwidth rate limit value"
                              example: 0
                            rateafter:
                              type: integer
                              description: "Bytes transferred before rate limiting begins"
                              example: 0
                            payg:
                              type: string
                              description: "Whether pay-as-you-go billing is enabled (Y/N)"
                              example: "N"
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                              example: "N"
                        eac:
                          type: object
                          properties:
                            enabled:
                              type: string
                              description: "Whether this feature is currently enabled (Y/N)"
                              example: "N"
                            policy:
                              type: string
                              description: "Access policy setting for this security feature"
                              example: "N"
                            list:
                              type: string
                              description: "Comma-separated list of entries for this security rule"
                              example: ""
                            ips:
                              type: string
                              description: "Comma-separated IP addresses or CIDR ranges"
                              example: ""
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                              example: "N"
                        behaviorId:
                          type: integer
                          description: "Numeric identifier of the default behavior set"
                          example: 11111
                        linkedVideoManager:
                          nullable: true
                          example:
                        hostHeader:
                          type: string
                          description: "Custom host header sent to the origin server"
                          example: cdn.example.com
                        storageHost:
                          type: string
                          description: "Primary object storage hostname"
                          example: storage.example.com
                        storageHostBackup:
                          type: string
                          description: "Backup object storage hostname"
                          example: storage-eu.example.com
                        osAuthUrl:
                          type: string
                          description: "OpenStack authentication URL for object storage"
                          example: https://storage.example.com/v3/
                        horizonUrl:
                          type: string
                          description: "OpenStack Horizon dashboard URL"
                          example: https://storage.example.com/horizon/
                        cdnservice:
                          type: object
                          properties:
                            purgeurls:
                              type: array
                              items:
                                type: string
                              description: "Array of purge endpoint URLs for this zone"
                              example: ["/dashboard/67890/zones/http/push/12345/purge"]
                            purgeurl:
                              type: string
                              description: "JSON-encoded purge URL string"
                              example: "[\"\\/dashboard\\/67890\\/zones\\/http\\/push\\/12345\\/purge\"]"
                            authtoken:
                              type: string
                              description: "Base64-encoded authentication token for CDN service calls"
                              example: c2FtcGxlLWF1dGh0b2tlbi1oZXJl
                            infourl:
                              type: string
                              description: "URL to retrieve info about this zone from the CDN service"
                              example: https://cdn-service.example.com/service.php/info/5/push/12345
                            listurl:
                              type: string
                              description: "URL to list files in this zone from the CDN service"
                              example: https://cdn-service.example.com/service.php/list/5/push/12345
                            rawlisturl:
                              type: string
                              description: "URL to retrieve a raw file listing from the CDN service"
                              example: https://cdn-service.example.com/service.php/raw/list/5/push/12345
                            transcodelisturl:
                              type: string
                              description: "URL to list transcoded files from the CDN service"
                              example: https://cdn-service.example.com/service.php/transcode/list/5/push/12345
                            addurl:
                              type: string
                              description: "URL to add a file via the CDN service"
                              example: https://cdn-service.example.com/service.php/add/5/push/12345
                            editurl:
                              type: string
                              description: "URL to edit a file via the CDN service"
                              example: https://cdn-service.example.com/service.php/edit/5/push/12345
                            deleteurl:
                              type: string
                              description: "URL to delete a file via the CDN service"
                              example: https://cdn-service.example.com/service.php/delete/5/push/12345
                            uploadurl:
                              type: string
                              description: "URL to upload files via the CDN service"
                              example: https://cdn-service.example.com/upload.php
                            playlisturl:
                              type: string
                              description: "URL to retrieve the playlist via the CDN service"
                              example: https://cdn-service.example.com/service.php/playlist
                        ftpdetails:
                          type: object
                          properties:
                            username:
                              type: string
                              description: "FTP or access username for this zone"
                              example: user_67890_push_12345
                            password:
                              type: string
                              description: "FTP or access password for this zone"
                              example: samplepasswd01
                        playbackurls:
                          type: object
                          properties:
                            scheme:
                              type: string
                              description: "URL scheme used for playback (http or https)"
                              example: https
                            name:
                              type: string
                              description: "Human-readable name of the resource"
                              example: /path/to/filename.ext
                            url_prefix:
                              type: string
                              description: "Base URL prefix for CDN delivery"
                              example: https://cdn.example.com
                            http:
                              type: string
                              description: "Whether plain HTTP delivery is enabled (Y/N)"
                              example: https://cdn.example.com/path/to/filename.ext
                            players:
                              type: object
                              properties:
                                hostname:
                                  type: string
                                  description: "Player service hostname"
                                  example: player.example.com
                                flowplayer:
                                  type: object
                                  properties:
                                    base:
                                      type: string
                                      description: Base URL for the player or stream
                                      example: https://player.example.com/flowplayer/hls/
                                    hls:
                                      type: string
                                      description: Flowplayer embed URLs for this zone
                                      example: https://player.example.com/flowplayer/hls/
                                videojs:
                                  type: object
                                  properties:
                                    base:
                                      type: string
                                      description: Base URL for the player or stream
                                      example: https://player.example.com/videojs/hls/
                                    hls:
                                      type: string
                                      description: Video.js player embed URLs for this zone
                                      example: https://player.example.com/videojs/hls/
                                own:
                                  type: object
                                  properties:
                                    hashes:
                                      type: object
                                      additionalProperties:
                                        type: object
                                        properties:
                                          hash:
                                            type: string
                                          hls:
                                            type: string
                                          dash:
                                            type: string
                                    baseQ:
                                      type: string
                                      description: Base URL with query string parameters for player customization
                                      example: "?showcv=true&title=[ReplaceWithVideoTitle]"
                                    base:
                                      type: string
                                      description: Base URL for the player or stream
                                      example: https://player.example.com/5centscdn/auto/skin1/sampleplayer1/
                                    hls:
                                      type: string
                                      description: HLS stream playlist URL for this zone
                                      example: https://player.example.com/5centscdn/auto/skin1/sampleplayer1/
                            tokenized:
                              type: object
                              nullable: true
                        s3details:
                          type: object
                          properties:
                            relid:
                              type: integer
                              description: "Related zone identifier"
                              example: 12345
                            type:
                              type: string
                              description: "Zone type identifier (push or pull)"
                              example: push
                            projectid:
                              type: string
                              description: "Primary object storage project identifier"
                              example: abc123def456789012345678abcdef12
                            token:
                              type: string
                              description: "Primary object storage access token"
                              example: sample-access-token
                            projectid2:
                              type: string
                              description: "Secondary object storage project identifier"
                              example: def456abc789012345678901abcdef34
                            token2:
                              type: string
                              description: "Secondary object storage access token"
                              example: sample-access-token
                            active:
                              type: string
                              description: "Whether this security rule is currently active (Y/N)"
                              example: "1"
                            updated_at:
                              type: string
                              description: "ISO 8601 timestamp of the most recent update"
                              example: "2023-01-21 08:00:00"
                            last_modified:
                              type: string
                              description: "ISO 8601 timestamp of last modification to storage details"
                              example: ""
                        transcodefile:
                          type: object
                          properties:
                            profiles:
                              type: array
                              items:
                                type: string
                              description: "Array of transcoding profile IDs applied to uploaded files"
                              example: [""]
                            emails:
                              type: array
                              items:
                                type: string
                              description: "Array of email addresses notified after transcoding completes"
                              example: [""]
                            webhooks:
                              type: array
                              items:
                                type: string
                              description: "Array of webhook URLs called after transcoding completes"
                              example: [""]
                        server:
                          type: object
                          properties:
                            code:
                              type: integer
                              description: "HTTP status code"
                              example: 206
                            name:
                              type: string
                              description: "Human-readable name of the resource"
                              example: Singapore
                            country:
                              type: string
                              description: "Two-letter ISO country code or country name"
                              example: SouthEast Asia
                            meta:
                              type: object
                              properties:
                                uploadPort:
                                  type: string
                                  description: "FTP upload port number for this server"
                                  example: "21"
                                uploadHost:
                                  type: string
                                  description: "FTP upload hostname for this server"
                                  example: upload.example.com
                        hasEdgeRules:
                          type: boolean
                          description: "Whether this zone has any edge rules configured"
                          example: true
  /zones/http/push/servers:
    get:
      tags:
      - HTTP Push
      summary: Get Servers
      description: HTTP Push Zone Servers
      operationId: HTTPPushZoneServer
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  servers:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: "HTTP status code"
                          example: 206
                        name:
                          type: string
                          description: "Human-readable name of the resource"
                          example: Singapore
                        country:
                          type: string
                          description: "Two-letter ISO country code or country name"
                    example:
                    - code: 206
                      name: Singapore
                      country: SouthEast Asia
                    - code: 30
                      name: San Jose City, United States
                      country: North America
                    - code: 31
                      name: London, United Kingdom
                      country: Europe
  /zones/http/push/new:
    post:
      tags:
      - HTTP Push
      summary: Create Zone
      description: Create a new HTTP Push Zone
      operationId: createZonePush
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - _METHOD
              - alias
              - server
              properties:
                _METHOD:
                  type: string
                  description: Must always be PUT.
                  example: PUT
                alias:
                  type: string
                  description: Label for the zone.
                  example: my-push-zone
                server:
                  type: integer
                  format: int32
                  description: Server location code. 30 = North America, 31 = Europe, 206 = SE Asia.
                  enum: [30, 31, 206]
                  example: 30
                profiles:
                  type: array
                  items:
                    type: string
                  description: Transcoding profile IDs. Leave empty to disable auto transcoding.
                  example: ["12", "15"]
                ssl:
                  type: object
                  properties:
                    http2:
                      type: string
                      enum: [Y, N]
                      description: "Whether HTTP/2 is enabled (Y/N)"
                      example: Y
                    redirect:
                      type: string
                      enum: [Y, N]
                      description: HTTP to HTTPS redirect.
                      example: N
                    mode:
                      type: string
                      enum: [N, S, L, C]
                      description: "SSL certificate mode. N = None (no SSL). S = Shared wildcard SSL certificate (default CDN certificate). L = Free SSL via ZeroSSL/Let's Encrypt. C = Custom SSL certificate (requires certid)."
                      example: S
                  description: SSL certificate settings for HTTPS delivery.
                cache:
                  type: object
                  properties:
                    cache:
                      type: string
                      description: Edge cache TTL duration code.
                      example: 1h
                    expiry:
                      type: string
                      description: Browser cache TTL duration code, or empty string to disable.
                      example: ""
                  description: Cache configuration settings for the zone.
                webhook:
                  type: string
                  description: HTTP/HTTPS URL to notify after files are transcoded.
                  example: https://hooks.example.com/webhook
                cnames:
                  type: string
                  description: Comma-separated verified CNAMEs.
                  example: cdn.example.com
                domainlock:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Y, N]
                      example: Y
                      description: "Referrer filtering mode. Y = Blacklist mode (block requests with listed referring domains). N = Whitelist mode (allow only requests from listed referring domains, block all others)."
                    list:
                      type: string
                      description: Comma-separated domain names.
                      example: ""
                    ips:
                      type: string
                      example: ""
                      description: Comma-separated IP addresses or CIDR ranges.
                    noreferer:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: "Controls requests with no Referer header. Y = block requests that have no Referer header. N = allow requests with no Referer header."
                  description: Domain lock / referrer restriction settings.
                geoblock:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Y, N]
                      example: Y
                      description: "Country filtering mode. Y = Blacklist mode (block requests from listed countries). N = Whitelist mode (allow only requests from listed countries, block all others)."
                    list:
                      type: array
                      items:
                        type: string
                      description: ISO-3166 country codes.
                      example: []
                    ips:
                      type: string
                      example: ""
                  description: Geo-blocking settings to restrict access by country.
                bwlimit:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: ["0", "1"]
                      example: "0"
                      description: "Rate limiting mode. \"0\" = Static mode (fixed rate applied from the start of the transfer). \"1\" = Dynamic mode (rate limiting activates only after rateafter bytes have been served)."
                    rate:
                      type: number
                      example: 0
                      description: Throttle rate in KB/s applied after rateafter threshold is reached.
                    rateafter:
                      type: number
                      example: 0
                      description: Amount of data in KB served before the throttle rate kicks in.
                  description: Bandwidth limit settings for the zone.
                ipaccess:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Y, N]
                      example: Y
                      description: "IP access filtering mode. Y = Blacklist mode (block listed IPs). N = Whitelist mode (allow only listed IPs, block all others)."
                    list:
                      type: string
                      example: ""
                      description: Comma-separated list of allowed or blocked entries.
                    ips:
                      type: string
                      example: ""
                  description: IP access control settings to allow or block specific IPs.
                securetoken:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Q, F, D]
                      example: Q
                      description: "Defines how the token is computed. Q = Query string mode (token applied per query string parameter). F = Full path mode (token covers the full URL path). D = Directory/path-embedded mode (token is embedded within the URL path)."
                    keyip:
                      type: string
                      enum: [Y, N]
                      description: "Bind token validation to the originating client IP address. Y = token is only valid from the IP that generated it, preventing sharing or theft. N = IP binding is disabled."
                      example: N
                    list:
                      type: string
                      description: 16-character hex secret key.
                      example: ""
                    timeout:
                      type: number
                      minimum: 5
                      maximum: 25200
                      example: 5
                      description: Token expiry time in seconds. Minimum 5, maximum 25200.
                    session:
                      type: string
                      enum: ["0", "1"]
                      description: "Defines the token expiry behavior. \"0\" = Fixed expiry (token expires at a set time regardless of activity). \"1\" = Rolling/Moving expiry (token timeout resets with each request, suitable for active sessions)."
                      example: "0"
                    ips:
                      type: string
                      example: ""
                  description: Secure token settings for URL authentication.
                useragent:
                  type: object
                  properties:
                    enabled:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: Enable or disable this feature. Y means enabled, N means disabled.
                    policy:
                      type: string
                      enum: [Y, N]
                      example: Y
                      description: "User agent filtering mode. Y = Block mode (block requests from listed user agents). N = Allow mode (allow only requests from listed user agents, block all others)."
                    list:
                      type: string
                      example: ""
                      description: Comma-separated list of allowed or blocked entries.
                    ips:
                      type: string
                      example: ""
                      description: Comma-separated IP addresses or CIDR ranges.
                    casesensitive:
                      type: string
                      enum: [Y, N]
                      example: N
                      description: "User agent string matching precision. Y = case-sensitive matching. N = case-insensitive matching."
                  description: User-agent filter settings to restrict access by browser/client.
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: "Human-readable status or result message"
                    example: Zone Created
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
                  warnings:
                    type: array
                    nullable: true
                    items:
                      type: string
                      description: Array of warning messages from the operation
                    example: ["SSL Certificate Create Failed"]
  /zones/http/push/{zoneid}:
    get:
      tags:
      - HTTP Push
      summary: Zone
      description: Return  HTTP push zone details
      operationId: getDetailsZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  zone:
                    type: object
                    properties:
                      type:
                        type: string
                        description: "Zone type identifier (push or pull)"
                        example: push
                      id:
                        type: integer
                        description: "Unique numeric identifier of the zone"
                        example: 12345
                      serviceid:
                        type: integer
                        description: "Service account identifier associated with this zone"
                        example: 67890
                      alias:
                        type: string
                        description: "Primary CDN hostname assigned to the zone"
                        example: ahm/test
                      hashid:
                        type: string
                        description: "Unique hash identifier of the zone"
                        example: abc123def456
                      mode:
                        type: string
                        description: "Delivery mode of the zone (e.g. http, https)"
                        example: http
                      optimizer:
                        type: string
                        description: "Whether the optimizer feature is enabled for this zone"
                        example: "0"
                      cnames:
                        type: string
                        nullable: true
                        description: "Comma-separated list of CNAMEs associated with this zone"
                        example: ""
                      edgeruleids:
                        type: integer
                        description: "Count of edge rules associated with this zone"
                        example: 0
                      rclone:
                        type: integer
                        description: "Whether rclone integration is enabled for this zone"
                        example: 0
                      disabled:
                        type: string
                        description: "Whether this zone is currently disabled (0=active, 1=disabled)"
                        example: "0"
                      created_at:
                        type: string
                        description: "ISO 8601 timestamp when this resource was created"
                        example: "2023-01-15 10:00:00"
                      updated_at:
                        type: string
                        description: "ISO 8601 timestamp of the most recent update"
                        example: "2023-01-20 12:00:00"
                      deleted:
                        nullable: true
                        example:
                      router:
                        type: string
                        description: "Internal router label for this zone"
                        example: mycdn
                      remaining:
                        type: integer
                        description: "Remaining quota or resource count for this zone"
                        example: 0
                      status:
                        type: string
                        description: "Current operational status of the resource"
                        example: Enabled
                      name:
                        type: string
                        description: "Human-readable name of the resource"
                        example: sample-push-zone
                      fqdn:
                        type: string
                        description: "Fully qualified domain name of the CDN zone"
                        example: cdn.example.com
                      ssl:
                        type: object
                        properties:
                          http:
                            type: string
                            description: "Whether plain HTTP delivery is enabled (Y/N)"
                            example: "N"
                          http2:
                            type: string
                            description: "Whether HTTP/2 is enabled (Y/N)"
                            example: "N"
                          redirect:
                            type: string
                            description: "Whether HTTP to HTTPS redirect is enabled (Y/N)"
                            example: "N"
                          mode:
                            type: string
                            description: "Delivery mode of the zone (e.g. http, https)"
                            example: L
                          certid:
                            type: string
                            nullable: true
                            description: "SSL certificate identifier, or empty if using default"
                            example: cdn.example.com
                          zerossl:
                            type: object
                            nullable: true
                            properties:
                              logDir:
                                type: string
                                description: Directory path where access logs are stored
                                example: /var/logs/ssl/2023/sample
                              messages:
                                type: array
                                items:
                                  type: string
                                  description: ZeroSSL certificate provisioning settings
                                example: ["Subject Altternative Names are Required"]
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "Y"
                          warning:
                            oneOf:
                            - type: boolean
                            - type: string
                            description: "SSL warning flag or message, false if none"
                            example: "Configured SSL. Please add corresponding Custom CNAME from here"
                      cnamesArr:
                        type: array
                        items:
                          type: string
                        description: "Array of CNAMEs for this zone"
                        example: []
                      cnamesArrFqdn:
                        type: array
                        items:
                          type: string
                        description: "Array of FQDN CNAMEs for this zone"
                        example: ["cdn.example.com"]
                      waf:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "N"
                      defaultBehaviors:
                        type: object
                        additionalProperties:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: "Unique numeric identifier of the zone"
                                example: 11111
                              network:
                                type: string
                                description: "Network provider name for this behavior"
                                example: gcore
                              rule:
                                type: object
                                description: Edge rule configuration object for this behavior.
                      edgeRules:
                        type: array
                        items: {}
                        description: "Array of edge rule objects for this zone"
                        example: []
                      cache:
                        type: object
                        properties:
                          smart:
                            type: string
                            description: "Whether smart cache is enabled for this zone"
                            example: "0"
                          cache:
                            type: string
                            description: "Edge cache TTL duration code"
                            example: 4h
                          expiry:
                            type: string
                            description: "Browser cache TTL duration code"
                            example: 1M
                          querystring:
                            type: string
                            description: "Whether query string caching is enabled (Y/N)"
                            example: "N"
                          cachecontrol:
                            type: string
                            description: "Whether Cache-Control headers are respected (Y/N)"
                            example: "Y"
                          usestale:
                            type: string
                            description: "Whether stale content is served while revalidating (Y/N)"
                            example: "Y"
                          revalidate:
                            type: string
                            description: "Whether content is revalidated after expiry (Y/N)"
                            example: "Y"
                          cacheInSecs:
                            type: integer
                            description: "Edge cache TTL in seconds"
                            example: 14400
                          cacheInMins:
                            type: integer
                            description: "Edge cache TTL in minutes"
                            example: 240
                          expiryInSecs:
                            type: integer
                            description: "Browser cache TTL in seconds"
                            example: 2592000
                          expiryInMins:
                            type: integer
                            description: "Browser cache TTL in minutes"
                            example: 43200
                      edge:
                        type: object
                        properties:
                          compression:
                            type: string
                            description: "Whether gzip/brotli compression is enabled (Y/N)"
                            example: "N"
                          compressionlevel:
                            type: string
                            description: "Compression level setting (0-9)"
                            example: "5"
                          disposition:
                            type: string
                            description: "Whether Content-Disposition header is set (Y/N)"
                            example: "N"
                          stripcookie:
                            type: string
                            description: "Whether cookies are stripped from requests (Y/N)"
                            example: "N"
                          xff:
                            type: string
                            description: "Whether X-Forwarded-For header is passed (Y/N)"
                            example: "N"
                          cors:
                            type: string
                            description: "Whether CORS headers are enabled (Y/N)"
                            example: "Y"
                          webp:
                            type: string
                            description: "Whether WebP conversion is enabled (Y/N)"
                            example: "N"
                          pseudostreaming:
                            type: string
                            description: "Whether pseudo-streaming is enabled (Y/N)"
                            example: "N"
                          wp:
                            type: string
                            description: "Whether WordPress optimization is enabled (Y/N)"
                            example: "N"
                          lfo:
                            type: string
                            description: "Whether large file optimization is enabled (Y/N)"
                            example: "Y"
                          prefresh:
                            type: string
                            description: "Whether prefetch refresh is enabled (Y/N)"
                            example: "N"
                      securetoken:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "N"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                            example: "F"
                          keyip:
                            type: string
                            description: "Whether IP is included in the secure token key (Y/N)"
                            example: "N"
                          list:
                            type: string
                            description: "Comma-separated list of entries for this security rule"
                            example: ""
                          timeout:
                            type: integer
                            description: "Token expiry timeout in seconds"
                            example: 5
                          session:
                            type: string
                            description: "Whether session-based tokens are used (Y/N)"
                            example: "0"
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                            example: ""
                          dirs:
                            type: string
                            description: "Comma-separated directory paths for token restriction"
                            example: ""
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                            example: "N"
                      behaviorId:
                        type: integer
                        description: "Numeric identifier of the default behavior set"
                        example: 11111
                      linkedVideoManager:
                        nullable: true
                        example:
                      hostHeader:
                        type: string
                        description: "Custom host header sent to the origin server"
                        example: cdn.example.com
                      storageHost:
                        type: string
                        description: "Primary object storage hostname"
                        example: storage-eu.example.com
                      storageHostBackup:
                        type: string
                        description: "Backup object storage hostname"
                        example: storage-na.example.com
                      osAuthUrl:
                        type: string
                        description: "OpenStack authentication URL for object storage"
                        example: https://storage-eu.example.com/v3/
                      horizonUrl:
                        type: string
                        description: "OpenStack Horizon dashboard URL"
                        example: https://storage-eu.example.com/horizon/
                      domainlock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "N"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                            example: "N"
                          list:
                            type: string
                            description: "Comma-separated list of entries for this security rule"
                            example: ""
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                            example: 192.168.1.1
                          noreferer:
                            type: string
                            description: "Whether requests with no referrer header are blocked (Y/N)"
                            example: "N"
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                            example: "N"
                      geoblock:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "N"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                            example: "N"
                          list:
                            type: array
                            items:
                              type: string
                            description: "Comma-separated list of entries for this security rule"
                            example: ["AL"]
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                            example: ""
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                            example: "N"
                      ipaccess:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "Y"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                            example: "N"
                          list:
                            type: string
                            description: "Comma-separated list of entries for this security rule"
                            example: ""
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                            example: ""
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                            example: "N"
                      useragent:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "Y"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                            example: "N"
                          list:
                            type: string
                            description: "Comma-separated list of entries for this security rule"
                            example: ""
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                            example: ""
                          casesensitive:
                            type: string
                            description: "Whether matching is case-sensitive (Y/N)"
                            example: "N"
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                            example: "N"
                          listArr:
                            type: array
                            items:
                              type: string
                            description: "Array of entries for this security rule"
                            example: [""]
                      eac:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "N"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                            example: "N"
                          list:
                            type: string
                            description: "Comma-separated list of entries for this security rule"
                            example: ""
                          ips:
                            type: string
                            description: "Comma-separated IP addresses or CIDR ranges"
                            example: ""
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                            example: "N"
                      bwlimit:
                        type: object
                        properties:
                          enabled:
                            type: string
                            description: "Whether this feature is currently enabled (Y/N)"
                            example: "Y"
                          policy:
                            type: string
                            description: "Access policy setting for this security feature"
                            example: "1"
                          rate:
                            type: integer
                            description: "Bandwidth rate limit value"
                            example: 30
                          rateafter:
                            type: integer
                            description: "Bytes transferred before rate limiting begins"
                            example: 0
                          payg:
                            type: string
                            description: "Whether pay-as-you-go billing is enabled (Y/N)"
                            example: "N"
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                            example: "Y"
                      cdnservice:
                        type: object
                        properties:
                          purgeurls:
                            type: array
                            items:
                              type: string
                            description: "Array of purge endpoint URLs for this zone"
                            example: ["/dashboard/67890/zones/http/push/12345/purge"]
                          purgeurl:
                            type: string
                            description: "JSON-encoded purge URL string"
                            example: "[\"\\/dashboard\\/103\\/zones\\/http\\/push\\/5063\\/purge\"]"
                          authtoken:
                            type: string
                            description: "Base64-encoded authentication token for CDN service calls"
                            example: c2FtcGxlLWF1dGh0b2tlbi1oZXJl
                          infourl:
                            type: string
                            description: "URL to retrieve info about this zone from the CDN service"
                            example: https://cdn-service.example.com/service.php/info/5/push/12345
                          listurl:
                            type: string
                            description: "URL to list files in this zone from the CDN service"
                            example: https://cdn-service.example.com/service.php/list/5/push/12345
                          rawlisturl:
                            type: string
                            description: "URL to retrieve a raw file listing from the CDN service"
                            example: https://cdn-service.example.com/service.php/raw/list/5/push/12345
                          transcodelisturl:
                            type: string
                            description: "URL to list transcoded files from the CDN service"
                            example: https://cdn-service.example.com/service.php/transcode/list/5/push/12345
                          addurl:
                            type: string
                            description: "URL to add a file via the CDN service"
                            example: https://cdn-service.example.com/service.php/add/5/push/12345
                          editurl:
                            type: string
                            description: "URL to edit a file via the CDN service"
                            example: https://cdn-service.example.com/service.php/edit/5/push/12345
                          deleteurl:
                            type: string
                            description: "URL to delete a file via the CDN service"
                            example: https://cdn-service.example.com/service.php/delete/5/push/12345
                          uploadurl:
                            type: string
                            description: "URL to upload files via the CDN service"
                            example: https://cdn-service.example.com/upload.php
                          playlisturl:
                            type: string
                            description: "URL to retrieve the playlist via the CDN service"
                            example: https://cdn-service.example.com/service.php/playlist
                      ftpdetails:
                        type: object
                        properties:
                          username:
                            type: string
                            description: "FTP or access username for this zone"
                            example: user_67890_push_12345
                          password:
                            type: string
                            description: "FTP or access password for this zone"
                            example: samplepasswd01
                      playbackurls:
                        type: object
                        properties:
                          scheme:
                            type: string
                            description: "URL scheme used for playback (http or https)"
                            example: http
                          name:
                            type: string
                            description: "Human-readable name of the resource"
                            example: /path/to/filename.ext
                          url_prefix:
                            type: string
                            description: "Base URL prefix for CDN delivery"
                            example: http://cdn.example.com
                          http:
                            type: string
                            description: "Whether plain HTTP delivery is enabled (Y/N)"
                            example: http://cdn.example.com/path/to/filename.ext
                          players:
                            type: object
                            properties:
                              hostname:
                                type: string
                                description: "Player service hostname"
                                example: player.example.com
                              flowplayer:
                                type: object
                                properties:
                                  base:
                                    type: string
                                    description: Base URL for the player or stream
                                    example: http://player.example.com/flowplayer/hls/
                                  hls:
                                    type: string
                                    description: Flowplayer embed URLs for this zone
                                    example: http://player.example.com/flowplayer/hls/
                              videojs:
                                type: object
                                properties:
                                  base:
                                    type: string
                                    description: Base URL for the player or stream
                                    example: http://player.example.com/videojs/hls/
                                  hls:
                                    type: string
                                    description: Video.js player embed URLs for this zone
                                    example: http://player.example.com/videojs/hls/
                              own:
                                type: object
                                properties:
                                  hashes:
                                    type: object
                                    additionalProperties:
                                      type: object
                                      properties:
                                        hash:
                                          type: string
                                        hls:
                                          type: string
                                        dash:
                                          type: string
                                  baseQ:
                                    type: string
                                    description: Base URL with query string parameters for player customization
                                    example: "?showcv=true&title=[ReplaceWithVideoTitle]"
                                  base:
                                    type: string
                                    description: Base URL for the player or stream
                                    example: http://player.example.com/5centscdn/auto/skin1/sampleplayer1/
                                  hls:
                                    type: string
                                    description: HLS stream playlist URL for this zone
                                    example: http://player.example.com/5centscdn/auto/skin1/sampleplayer1/
                      s3details:
                        type: object
                        properties:
                          relid:
                            type: integer
                            description: "Related zone identifier"
                            example: 12345
                          type:
                            type: string
                            description: "Zone type identifier (push or pull)"
                            example: push
                          projectid:
                            type: string
                            description: "Primary object storage project identifier"
                            example: abc123def456789012345678abcdef12
                          token:
                            type: string
                            description: "Primary object storage access token"
                            example: sample-access-token
                          projectid2:
                            type: string
                            description: "Secondary object storage project identifier"
                            example: def456abc789012345678901abcdef34
                          token2:
                            type: string
                            description: "Secondary object storage access token"
                            example: sample-access-token
                          active:
                            type: string
                            description: "Whether this security rule is currently active (Y/N)"
                            example: "1"
                          updated_at:
                            type: string
                            description: "ISO 8601 timestamp of the most recent update"
                            example: "2023-01-21 08:00:00"
                          last_modified:
                            type: string
                            description: "ISO 8601 timestamp of last modification to storage details"
                            example: ""
                      transcodefile:
                        type: object
                        properties:
                          profiles:
                            type: array
                            items:
                              type: string
                            description: "Array of transcoding profile IDs applied to uploaded files"
                            example: [""]
                          emails:
                            type: array
                            items:
                              type: string
                            description: "Array of email addresses notified after transcoding completes"
                            example: [""]
                          webhooks:
                            type: array
                            items:
                              type: string
                            description: "Array of webhook URLs called after transcoding completes"
                            example: [""]
                      server:
                        type: object
                        properties:
                          code:
                            type: integer
                            description: "HTTP status code"
                            example: 31
                          name:
                            type: string
                            description: "Human-readable name of the resource"
                            example: London, United Kingdom
                          country:
                            type: string
                            description: "Two-letter ISO country code or country name"
                            example: Europe
                          meta:
                            type: object
                            properties:
                              uploadPort:
                                type: string
                                description: "FTP upload port number for this server"
                                example: "21"
                              uploadHost:
                                type: string
                                description: "FTP upload hostname for this server"
                                example: upload.example.com
                      hasEdgeRules:
                        type: boolean
                        description: "Whether this zone has any edge rules configured"
                        example: true
                  warnings:
                    nullable: true
                    description: Array of non-fatal warning messages, or null if no warnings.
                    example: null
    post:
      tags:
      - HTTP Push
      summary: Update Info
      description: Update the information of HTTP Push Zone
      operationId: updateZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postZone'
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: Human-readable status message describing the outcome.
                    example: Zone updated successfully
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
                  warnings:
                    type: array
                    description: Array of non-fatal warning messages from the operation.
                    items:
                      type: string
                    example: []
    delete:
      tags:
      - HTTP Push
      summary: Delete Info
      description: Delete the information of HTTP Push Zone. To cast request method POST and parameters _METHOD = DELETE
      operationId: deletZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - _METHOD
              properties:
                _METHOD:
                  type: string
                  description: HTTP method override header value (e.g. DELETE)
                  example: DELETE
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: "Human-readable status or result message"
                    example: Zone Deleted
  /zones/http/push/{zoneid}/ssl:
    post:
      tags:
      - HTTP Push
      summary: Update SSL
      description: Update SSL of HTTP push zone
      operationId: updateSslZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                http2:
                  type: boolean
                  description: Indicates whether HTTP/2 protocol is enabled. Y means HTTP/2 is enabled, while N means it is disabled.
                  example: true
                redirect:
                  type: boolean
                  description: Indicates whether HTTP traffic is automatically redirected to HTTPS. Y means redirection is enabled, while N means it is not.
                  example: true
                mode:
                  type: string
                  description: Specifies the SSL mode used for the server configuration. Typical values include S for strict mode or A for automated.
                  example: S
                certid:
                  type: string
                  nullable: true
                  description: A unique identifier for the SSL certificate used. Optional; can be null if no certificate is assigned.
                  example:
                enabled:
                  type: string
                  description: Indicates whether SSL is enabled for the zone.
                  example: ""
                warning:
                  type: boolean
                  description: Indicates whether there is a warning associated with the SSL configuration.
                  example: false
                name:
                  type: string
                  description: The name associated with the SSL certificate. Typically used to identify the certificate for a specific domain.
                  example: ""
                crt:
                  type: string
                  description: The SSL certificate content in PEM format. Required for custom SSL certificates.
                  example: ""
                key:
                  type: string
                  description: The private key associated with the SSL certificate in PEM format. Required for setting up custom SSL certificates.
                  example: ""
                cabundle:
                  type: string
                  description: The Certificate Authority (CA) bundle content in PEM format. Used to validate the SSL certificate chain.
                  example: ""
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: "Human-readable status or result message"
                    example: Zone Updated
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
                  warnings:
                    type: array
                    nullable: true
                    items:
                      type: string
                      description: Array of warning messages from the operation
                    example: ["SSL Certificate Create Failed"]
  /zones/http/push/{zoneid}/securetoken:
    post:
      tags:
      - HTTP Push
      summary: Update Secure Token
      description: Update SecureToken of HTTP push zone
      operationId: updateSecureTokenZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable secure token.
                  example: Y
                policy:
                  type: string
                  enum: [Q, F, D]
                  description: "Defines how the token is computed. Q = Query string mode (token applied per query string parameter). F = Full path mode (token covers the full URL path). D = Directory/path-embedded mode (token is embedded within the URL path)."
                  example: Q
                keyip:
                  type: string
                  enum: [Y, N]
                  description: "Bind token validation to the originating client IP address. Y = token is only valid from the IP that generated it, preventing sharing or theft. N = IP binding is disabled."
                  example: N
                list:
                  type: string
                  pattern: '^[a-fA-F0-9]{16}$'
                  description: Secret token key - 16-character hexadecimal string.
                  example: ab12cd34ef56gh78
                timeout:
                  type: number
                  minimum: 5
                  maximum: 25200
                  description: Token expiry time in seconds. Minimum 5, maximum 25200.
                  example: 3600
                session:
                  type: string
                  enum: ["0", "1"]
                  description: "Defines the token expiry behavior. \"0\" = Fixed expiry (token expires at a set time). \"1\" = Rolling/Moving expiry (token timeout resets with each request for active sessions)."
                  example: "0"
                ips:
                  type: string
                  description: Comma-separated IPs excluded from the secure token check.
                  example: ""
      deprecated: false
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Status of the API response.
                    example: success
                  message:
                    type: string
                    description: "Human-readable status or result message"
                    example: Zone Updated
                  zone:
                    $ref: '#/components/schemas/zonePushResult'
  /zones/http/push/{zoneid}/geoblock:
    post:
      tags:
      - HTTP Push
      summary: Update Geoblock
      description: Update geblock of HTTP push zone
      operationId: updateGeblockZonePush
      parameters:
      - $ref: '#/components/parameters/zoneIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: string
                  enum: [Y, N]
                  description: Enable or disable geo-lock.
                  example: Y
                policy:
                  type: string
                  enum: [Y, N]
                  description: "Country filtering mode. Y = Blacklist mode (block requests from listed countries). N = Whitelist mode (allow only requests from listed countries, block all others)."
                  example: N
                list:
                  type: array
                  items:
                    type: string
                  description: Array of ISO-3166 country codes to block (Y) or allow (N).
                  example: [IN]
                ips:
                  type: string
                  description: Comma-separated IP addresses excluded from the geo check.
                  example: ""
                mode:
[...]
